Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

Fax machines, wooden TVs, laptops, library computers can pass over tables
  code/WorkInProgress/kilakk/fax.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/computer/medical.dm
  code/modules/library/computers/base.dm
  code/modules/library/computers/checkout.dm
Owners: none

You can set nibbas to High Threat using the records console
  code/game/machinery/computer/security.dm
Owners: none

pixels
  code/game/objects/structures/mouse_cage.dm
Owners: none

boombox
  code/modules/media/broadcast/receivers/radio.dm
Owners: none

You can no longer decapitate slimepeople, to avoid the fuckery that is their unique functionality of dropping their brain.
  code/modules/organs/organ_external.dm
  code/modules/surgery/generic.dm
Owners: none

fixing retardation
  code/game/machinery/computer/medical.dm
  code/modules/virus2/disease2.dm
Owners: none

srccccccccc
  code/game/machinery/computer/medical.dm
Owners: none

modified: code/modules/power/singularity/singularity.dm
  code/modules/power/singularity/singularity.dm
Owners: none

I went in intending to fix robot heads not being maintained post-surgery, and I ended up rewriting a lot of organ code.
  code/modules/organs/organ_external.dm
  code/modules/surgery/headreattach.dm
Owners: none

please avoid null species
  code/modules/organs/organ_external.dm
Owners: none

meme mouse subtype
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  icons/mob/animal.dmi
Owners: @ShizCalev, @WJohn

makes mouse ops immune to shock when biting cables
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Owners: none

code
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

Update borer.dm
  code/modules/mob/living/simple_animal/borer.dm
Owners: none

Update borer.dm
  code/modules/mob/living/simple_animal/borer.dm
Owners: none

Update borer.dm
  code/modules/mob/living/simple_animal/borer.dm
Owners: none

Box execution chamber take II (#23313)
  code/game/area/Space Station 13 areas.dm
  icons/turf/areas.dmi
Owners: @ShizCalev, @WJohn

Crawling touchup (#23317)
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/life.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

geh
  code/datums/datumvars.dm
  code/modules/mob/living/carbon/complex/martian/martian.dm
  code/modules/mob/living/carbon/human/life/handle_virus_updates.dm
  code/modules/mob/living/carbon/monkey/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/virus2/effect/stage_4.dm
  code/modules/virus2/helpers.dm
  code/modules/virus2/immune_system.dm
  vgstation13.dme
Owners: none

ahh
  code/datums/datumvars.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/virus2/disease2.dm
  code/modules/virus2/items_devices.dm
Owners: none

improved icon by plosky
  icons/mob/animal.dmi
Owners: @ShizCalev, @WJohn

You can set nibbas to High Threat using the records console (#23350)
  code/game/machinery/computer/security.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Limb stuff (#23354)
  code/modules/organs/organ_external.dm
  code/modules/surgery/headreattach.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Detective's wooden TV has its own circuit board (#23348)
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/computer/camera.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Bring back the worms (#23314)
  code/modules/mob/living/living.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

beep
  code/datums/wires/airlock.dm
  sound/machines/airlock_beep.ogg
Owners: @ShizCalev

makes the source the door, not (You)
  code/datums/wires/airlock.dm
Owners: none

Update borer.dm
  code/modules/mob/living/simple_animal/borer.dm
Owners: none

Re-adds the code that actually adds the brain of the head you're attaching
  code/modules/surgery/headreattach.dm
Owners: none

Bear pun
  code/game/machinery/vending.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  icons/obj/drinks.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

untested consistency THANKS BYOND
  code/datums/wires/airlock.dm
Owners: none

fix cult sac convert
  __DEFINES/role_datums_defines.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_buildings.dm
  code/datums/gamemode/role/cultist.dm
Owners: none

Update borer.dm
  code/modules/mob/living/simple_animal/borer.dm
Owners: none

Economy 2019 Part C Branch A (#22306)
  code/game/machinery/vending.dm
  code/modules/mining/materials.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
