Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Wall Climate Computers
  code/game/machinery/computer/climate.dm
  icons/obj/computer.dmi
Owners: @ShizCalev, @WJohn

Blizzard Bugfix
  code/datums/helper_datums/command_alerts.dm
  code/modules/events/blizzard.dm
Owners: none

Reduce Blizzards
  code/datums/climate.dm
  code/modules/events/blizzard.dm
Owners: none

the alien
  __DEFINES/_macros.dm
  __DEFINES/role_datums_defines.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
  code/datums/gamemode/dynamic/dynamic_stats.dm
  code/datums/gamemode/factions/xenos.dm
  code/datums/gamemode/role/alien.dm
  code/datums/helper_datums/command_alerts.dm
  code/game/striketeams/striketeam_datums.dm
  code/modules/admin/topic.dm
  code/modules/events/alien_infestation.dm
  icons/logos.dmi
  sound/AI/directive710_generic.ogg
Owners: @ShizCalev, @WJohn

haha nice one
  code/datums/gamemode/dynamic/dynamic_rulesets.dm
  maps/tgstation-sec.dm
Owners: none

haha nice one (#28390)
  code/datums/gamemode/dynamic/dynamic_rulesets.dm
  maps/tgstation-sec.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

extended
  maps/tgstation-sec.dm
Owners: none

Blizzard Bugfix (#28385)
  code/datums/helper_datums/command_alerts.dm
  code/modules/events/blizzard.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Borg Voices
  code/game/sound.dm
  code/modules/client/client procs.dm
  sound/misc/silicon-vocal1.ogg
  sound/misc/silicon-vocal2.ogg
  sound/misc/silicon-vocal3.ogg
  sound/misc/silicon-vocal4.ogg
  sound/misc/silicon-vocal5.ogg
Owners: @ShizCalev

fixes deskbell wrenching
  code/game/objects/items/devices/deskbell.dm
Owners: none

add proc
  code/game/objects/items/devices/deskbell.dm
Owners: none

Fix battering door text
  code/game/machinery/doors/airlock.dm
Owners: none

Slice Doors
  code/game/machinery/doors/airlock.dm
Owners: none

Playlist on Juke
  code/modules/media/jukebox.dm
Owners: none

Teleport Not Wearing Tinfoil
  code/datums/helper_datums/teleport.dm
Owners: none

error message if isolation centrifuge is unpowered
  code/modules/virus2/centrifuge.dm
Owners: none

oops, bad error message
  code/modules/virus2/centrifuge.dm
Owners: none

Waterballoons can be filled by the sink
  code/game/objects/items/toys.dm
  code/game/objects/structures/watercloset.dm
Owners: none

Removed ! for farmbot ignoreEmpty
  code/game/machinery/bots/farmbot.dm
Owners: none

pAIs cannot request the dead's DNA
  code/modules/mob/living/silicon/pai/software.dm
Owners: none

the possesive versus the plural, oops
  code/modules/mob/living/silicon/pai/software.dm
Owners: none

remove not needed intialize in closets
  code/game/objects/structures/crates_lockers/closets.dm
Owners: none

No more supermatter skin prejudice
  code/modules/supermatter/supermatter.dm
Owners: none

www.wetskrell.nt for d3athrow
  code/modules/events/money_spam.dm
Owners: none

Supermatter Consume() tweaks
  code/modules/supermatter/supermatter.dm
Owners: none

www.wetskrell.nt for d3athrow (#28405)
  code/modules/events/money_spam.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

pAI's cannot sample dead DNA (#28402)
  code/modules/mob/living/silicon/pai/software.dm
Owners: none

Teleport Not Wearing Tinfoil (#28398)
  code/datums/helper_datums/teleport.dm
Owners: none

Fix battering door text (#28395)
  code/game/machinery/doors/airlock.dm
Owners: none

Fixes Deskbell Wrenching (#28394)
  code/game/objects/items/devices/deskbell.dm
Owners: none

Playlist on Juke (#28397)
  code/modules/media/jukebox.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fixes missing pear tree sprite
  icons/obj/hydroponics/pear.dmi
Owners: @ShizCalev, @WJohn

Wall Climate Computers (#28383)
  code/game/machinery/computer/climate.dm
  icons/obj/computer.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Brig Parking
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/vehicles/snowmobile.dm
Owners: none
