Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

much better looking
  code/modules/mob/living/living.dm
Owners: none

silicon consistency, also makes it reset as it should
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/silicon.dm
Owners: none

some sanity and code cleanup
  code/modules/mob/living/carbon/alien/humanoid/life.dm
  code/modules/mob/living/carbon/alien/larva/life.dm
  code/modules/mob/living/carbon/brain/life.dm
  code/modules/mob/living/carbon/complex/life.dm
  code/modules/mob/living/carbon/human/life/handle_chemicals_in_body.dm
  code/modules/mob/living/carbon/monkey/life.dm
  code/modules/mob/mob.dm
  code/modules/reagents/reagents/reagents_drink.dm
  code/modules/reagents/reagents/reagents_ethanol.dm
  code/modules/reagents/reagents/reagents_material.dm
  code/modules/reagents/reagents/reagents_medical.dm
Owners: none

handled here instead
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
Owners: none

gets most away missions done
  maps/RandomZLevels/Academy.dmm
  maps/RandomZLevels/blackmarketpackers.dmm
  maps/RandomZLevels/challenge.dmm
  maps/RandomZLevels/example.dmm
  maps/RandomZLevels/leviathan.dmm
Owners: none

last one
  maps/RandomZLevels/stationCollision.dmm
Owners: none

typofix
  code/game/objects/items/devices/modkit.dm
Owners: none

.
  code/game/objects/structures/girders.dm
Owners: none

i hate copilot
  code/modules/mecha/combat/combat.dm
Owners: none

Update machinery.dm
  code/game/machinery/machinery.dm
Owners: none

cleans these files up
  __DEFINES/obj_defines.dm
  code/_hooks/events.dm
  code/_onclick/hud/screen_alarms.dm
  code/controllers/subsystem/air.dm
  code/datums/wires/jukebox.dm
  code/game/machinery/alarm.dm
  code/modules/media/jukebox.dm
Owners: @duncathan, @MrStonedOne

a
  code/game/objects/items/stacks/nanopaste.dm
Owners: none

g
  code/game/objects/items/weapons/cigs_lighters.dm
Owners: none

a
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
Owners: none

as
  code/game/machinery/newscaster.dm
Owners: none

a
  code/modules/reagents/machinery/chem_master.dm
Owners: none

tweak
  maps/misc/hoboshack_spaceranch.dmm
Owners: none

revert ash
  __DEFINES/_macros.dm
  code/game/atoms.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/trader.dm
  code/game/objects/objs.dm
  code/game/turfs/turf.dm
  code/modules/ZAS/Fire.dm
Owners: none

Fixes turf edges
  code/game/turfs/turf.dm
  code/game/turfs/unsimulated/walls.dm
  code/modules/mining/mine_turfs.dm
  icons/turf/rock_overlay.dmi
Owners: @ShizCalev, @WJohn

Update feathers.dm
  code/game/objects/items/stacks/feathers.dm
Owners: none

makes odd coins always lucky
  code/modules/mining/ores_coins.dm
Owners: none

yes
  code/modules/mecha/combat/durand.dm
  code/modules/mecha/combat/gygax.dm
  code/modules/mecha/combat/phazon.dm
  code/modules/mecha/equipment/tools/sec_tools.dm
  code/modules/mecha/equipment/tools/tools.dm
  code/modules/mecha/equipment/weapons/mecha_ballistic.dm
  code/modules/mecha/equipment/weapons/weapons.dm
  code/modules/mecha/mecha.dm
  code/modules/mecha/working/ripley.dm
  code/modules/projectiles/ammunition/bullets.dm
Owners: none

Update tgstation.dmm
  maps/tgstation.dmm
Owners: none

Fixes IB
  code/datums/diseases/appendicitis.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life/handle_mutations_and_radiation.dm
  code/modules/organs/organ_external.dm
  code/modules/surgery/implant.dm
Owners: none

stop it
  code/game/machinery/ATMOSPHERICS/atmospherics.dm
Owners: none

alt fried egg recipe
  code/modules/food/recipes_microwave.dm
Owners: none

Revert "revert ash (#38575)"
  __DEFINES/_macros.dm
  code/game/atoms.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/trader.dm
  code/game/objects/objs.dm
  code/game/turfs/turf.dm
  code/modules/ZAS/Fire.dm
Owners: none

Revert "Fixes bricked pipenets (#38527)"
  code/game/machinery/ATMOSPHERICS/atmospherics.dm
Owners: none

Revert "Makes pipes on edges of binary/trinary devices affected by alpha too, if painted (#38522)"
  code/game/machinery/ATMOSPHERICS/atmospherics.dm
  code/game/machinery/ATMOSPHERICS/components/binary_devices/binary_atmos_base.dm
  code/game/machinery/ATMOSPHERICS/pipes.dm
  code/modules/RCD/schematics/pipe.dm
Owners: none

Revert "Transparent pipe painting (#38226)"
  __DEFINES/setup.dm
  code/game/machinery/ATMOSPHERICS/atmospherics.dm
  code/game/machinery/ATMOSPHERICS/components/unary/cap.dm
  code/game/machinery/ATMOSPHERICS/datum_pipe_network.dm
  code/game/machinery/ATMOSPHERICS/datum_pipeline.dm
  code/game/machinery/ATMOSPHERICS/pipes.dm
  code/modules/RCD/schematics/pipe.dm
  icons/obj/atmospherics/gas_overlays.dmi
Owners: @ShizCalev, @WJohn

Update thestranger.dmm
  maps/randomvaults/thestranger.dmm
Owners: none

update
  maps/randomvaults/dungeons/habitation.dmm
  maps/randomvaults/dungeons/research.dmm
Owners: none

tweaks to the mothership hobo vault
  maps/randomvaults/dungeons/habitation.dmm
Owners: none

i hate external cycle airlocks
  maps/RoidStation.dmm
  maps/bagelstation.dmm
  maps/defficiency.dmm
  maps/horizon.dmm
  maps/lowfatbagel.dmm
  maps/metaclub.dmm
  maps/packedstation.dmm
  maps/snaxi.dmm
  maps/synergy.dmm
  maps/tgstation-sec.dmm
  maps/tgstation-snow.dmm
  maps/tgstation.dmm
  maps/waystation.dmm
  maps/wheelstation.dmm
Owners: none

missed some wheel tanks
  maps/wheelstation.dmm
Owners: none

correct access on deff
  maps/defficiency.dmm
Owners: none

actually lets make them *either* exterior airlock or science access
  maps/defficiency.dmm
Owners: none

first pass
  code/game/machinery/ATMOSPHERICS/datum_pipeline.dm
Owners: none

edges
  __DEFINES/_macros.dm
  __DEFINES/setup.dm
  code/datums/climate.dm
  code/game/turfs/simulated/floor_types.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/space/space.dm
  code/game/turfs/space/transit.dm
  code/game/turfs/turf.dm
  code/game/turfs/turf_edges.dm
  code/game/turfs/unsimulated/floor.dm
  code/game/turfs/unsimulated/jungle.dm
  code/game/turfs/unsimulated/snow.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mining/minerals.dm
  code/modules/multiz/turfs.dm
  code/modules/procedural mapping/planetGenerator/biome.dm
  code/modules/procedural mapping/planetGenerator/generators/desert.dm
  code/modules/procedural mapping/planetGenerator/generators/snow.dm
  code/modules/procedural mapping/planetGenerator/turf.dm
  icons/turf/edges_corners.dmi
  icons/turf/planetary/grass.dmi
  icons/turf/planetary/lava.dmi
  icons/turf/planetary/lava_moss.dmi
  icons/turf/planetary/redgrass.dmi
  icons/turf/planetary/volcanicsand.dmi
  icons/turf/planetary/whitesands.dmi
  maps/randomvaults/mothership_lab.dm
Owners: @ShizCalev, @WJohn

fuggin nano
  code/game/machinery/embedded_controller/airlock_controllers.dm
  nano/templates/simple_airlock_console.tmpl
Owners: none
