Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

better
  code/game/gamemodes/blob/blobs/core.dm
  maps/randomvaults/amelab.dmm
Owners: @ChangelingRain

actually nah this shouldnt be in here
  code/game/gamemodes/meteor/meteors.dm
Owners: none

Fixes some Blob Meteor sanity
  code/game/gamemodes/meteor/meteors.dm
Owners: none

Changes some values to make ghoulification viable.
  code/modules/mob/living/carbon/human/life/handle_mutations_and_radiation.dm
Owners: none

some more changes
  code/modules/mob/living/carbon/human/life/handle_mutations_and_radiation.dm
Owners: none

Awakens Packed
  code/datums/next_map.dm
Owners: none

disk duplicator
  code/defines/obj/weapon.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/disk_duplicator.dm
  code/modules/research/designs/boards/machine_misc.dm
  icons/obj/datadisks.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

moved upgrades to exofab
  code/game/objects/items/devices/rigbuilding.dm
  nano/templates/exofab.tmpl
Owners: none

blank disks and fixes
  code/game/machinery/autolathe.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/disk_duplicator.dm
Owners: none

fix crowbarDestroy
  code/game/machinery/disk_duplicator.dm
Owners: none

I sure hope nobody ever tried to put an HDD inside a diskette box
  code/game/objects/items/weapons/storage/lockbox.dm
Owners: none

godfuckingdammit
  code/game/machinery/disk_duplicator.dm
Owners: none

fdhsojjhsqdqsdqs
  code/game/machinery/disk_duplicator.dm
Owners: none

alright fuck that
  code/game/machinery/disk_duplicator.dm
Owners: none

hardsuit kit designs
  code/game/objects/items/devices/rigbuilding.dm
  code/modules/research/designs/boards/misc.dm
  code/modules/research/designs/hardsuit_kits.dm
  vgstation13.dme
Owners: none

wall and floor and overlay icons
  icons/480x480.dmi
  icons/effects/effects.dmi
  icons/mob/screen1_full.dmi
  icons/turf/floors.dmi
  icons/turf/walls.dmi
Owners: @ShizCalev, @WJohn

yet another commit message
  code/game/machinery/disk_duplicator.dm
Owners: none

rigframe icons & feedback
  code/game/objects/items/devices/rigbuilding.dm
  icons/obj/device.dmi
Owners: @ShizCalev, @WJohn

added suit mod station to maps
  code/datums/supplypacks.dm
Owners: none

Update code/defines/obj/weapon.dm
  code/defines/obj/weapon.dm
Owners: none

Xenobiology Scoreboard
  __DEFINES/global.dm
  code/game/gamemodes/scoreboard.dm
  code/game/machinery/kitchen/processor.dm
Owners: none

custom cyanide pill suicide
  code/modules/reagents/reagent_containers/pill.dm
Owners: none

HOLY SHIT PLANEMASTERS ARE AMAZING <3 LUMMOX
  __DEFINES/planes+layers.dm
  code/datums/gamemode/role/malf.dm
  code/datums/gamemode/role/role.dm
  code/game/smoothwall.dm
  code/game/turfs/simulated/floor.dm
  code/modules/client/client defines.dm
  code/modules/mob/login.dm
  vgstation13.dme
Owners: none

fixed type path
  code/modules/reagents/reagent_containers/pill.dm
Owners: none

nevermind shit is fucked i hate byond
  __DEFINES/planes+layers.dm
  code/datums/gamemode/role/malf/hackerview.dm
  code/datums/gamemode/role/malf/malf.dm
  code/game/objects/structures/fullwindow.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/window.dm
  code/game/smoothwall.dm
  code/game/turfs/simulated/floor.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/freelook/update_triggers.dm
  icons/mob/screen_spells.dmi
  icons/obj/structures.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

Update next_map.dm
  code/datums/next_map.dm
Owners: none

preliminary work
  code/_onclick/mindUI/mindUI.dm
  code/datums/mind.dm
  icons/ui/192x192.dmi
  icons/ui/32x32.dmi
  icons/ui/480x480.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

duh
  code/modules/clothing/accessories/accessory.dm
Owners: none

apc hackin tweaks start now
  __DEFINES/planes+layers.dm
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/screen_alarms.dm
  code/datums/gamemode/role/malf/hackerview.dm
  code/datums/gamemode/role/malf/malf.dm
  code/game/smoothwall.dm
  code/modules/client/client defines.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/power/apc.dm
  icons/mob/screen1_full.dmi
Owners: @ShizCalev, @WJohn

The suit modification thingy can now recolor plasmaman and vox suits
  code/game/machinery/suit_modifier.dm
  icons/obj/stationobjs.dmi
Owners: @ShizCalev, @WJohn

removes infinite loot
  code/game/objects/items/devices/uplinks.dm
Owners: none

removes infinite loot (#30067)
  code/game/objects/items/devices/uplinks.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

fixes a manual's title var
  code/game/objects/items/weapons/manuals.dm
Owners: none

Fix update_canmove() during TimeStop
  code/modules/mob/mob.dm
  code/modules/spells/aoe_turf/fall.dm
Owners: none

FixZASsplatterNoBlood
  code/ZAS/Airflow.dm
Owners: none

Magnitis buff (#30027)
  code/modules/virus2/effect/stage_4.dm
Owners: none

Wizarditis buff (#30028)
  code/modules/virus2/effect/stage_4.dm
Owners: none

Cabinets & Weights (#30031)
  code/game/machinery/computer/HolodeckControl.dm
  code/game/objects/items/stacks/stack_recipes.dm
  code/game/objects/items/trader.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/crates_lockers/closets/secure/bar.dm
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/fitness.dm
  code/modules/paperwork/filingcabinet.dm
  icons/obj/closet.dmi
  maps/misc/holodeck.dmm
  maps/misc/holodeck_3x3.dmm
Owners: @ShizCalev, @WJohn

Refactored job preferences (#30034)
  SQL/players2.sql
  __DEFINES/preferences.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
  code/defines/obj.dm
  code/game/jobs/job/assistant.dm
  code/game/jobs/job/captain.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job/silicon.dm
  code/game/jobs/job/whitelisted.dm
  code/game/jobs/job_controller.dm
  code/game/jobs/jobs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/migrations/SS13_Prefs/027-refactor-jobs.dm
  code/modules/mob/new_player/preferences_setup.dm
  vgstation13.dme
Owners: @Jordie0608

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
