Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

whoops
  code/names.dm
Owners: none

cancel, logging, message, more text
  code/game/objects/items/weapons/gift_wrappaper.dm
Owners: none

FINALLY (#25162)
  code/modules/mob/mob.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

28 is better.
  code/_onclick/hud/_defines.dm
Owners: none

snaxi stuff
  code/game/area/Space Station 13 areas.dm
  maps/snaxi.dmm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Displays icons in chat for the different awards, but not for observers yet
  code/modules/admin/admin_verbs.dm
Owners: none

starts porting stuff from riri's 2015 hardsuit port
  code/modules/clothing/spacesuits/rig.dm
  code/modules/clothing/spacesuits/rig_subtypes.dm
  code/modules/mob/living/carbon/human/life/handle_breath.dm
  code/modules/mob/living/carbon/internals.dm
  vgstation13.dme
Owners: none

You can now equip magboots over other shoes
  code/modules/clothing/shoes/magboots.dm
Owners: none

remove_from_mob
  code/modules/clothing/shoes/magboots.dm
Owners: none

FALSE
  code/modules/clothing/shoes/magboots.dm
Owners: none

desc
  code/modules/clothing/shoes/magboots.dm
Owners: none

XOQ
  maps/xoq.dm
Owners: none

fixes and stuff
  code/modules/mob/mob.dm
Owners: none

makes everything better and adds dunce caps
  code/game/gamemodes/gameticker.dm
  code/modules/admin/admin_verbs.dm
Owners: none

capital
  code/modules/admin/admin_verbs.dm
Owners: none

Adds MASKHEADHAIR flag, changes HIDEHEADHAIR to its own bit rather than being a composite
  __DEFINES/setup.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/tactical.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Owners: none

Adds a new protoaccelerator noise for miners
  code/modules/projectiles/guns/energy/special.dm
  sound/weapons/kinetic_accelerator.ogg
Owners: @ShizCalev

Adds the staff of swapping
  code/game/gamemodes/wizard/artifacts.dm
Owners: none

Mirrors and urinals can be deconstructed. Urinals have a behind sprite.
  code/game/objects/structures/mirror.dm
  code/game/objects/structures/watercloset.dm
  icons/obj/watercloset.dmi
Owners: @ShizCalev, @WJohn

Xenos can no longer be autotraitored
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
Owners: none

Remove she'll until I can fix the escaping.
  code/defines/vox_sounds.dm
Owners: none

Add sharpness_flags to swiss army knife. Fix kitchen knife overlay not showing when switching to the Kitchen Knife module on swiss army knife
  code/game/objects/items/weapons/switchtool.dm
  vgstation13.dme
Owners: none

lol
  vgstation13.dme
Owners: none

snaxi stuff (#25175)
  code/game/area/Space Station 13 areas.dm
  maps/snaxi.dmm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Swiss Army Knife fixes. (#25185)
  code/game/objects/items/weapons/switchtool.dm
Owners: none

Xenos can no longer be autotraitored (#25184)
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Update emote.dm (#25161)
  code/modules/mob/living/carbon/emote.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

W_CLASS
  code/modules/clothing/shoes/magboots.dm
Owners: none

more sanity
  code/modules/clothing/shoes/magboots.dm
Owners: none

Namepick alarm now lasts twice as long
  code/_onclick/hud/screen_alarms.dm
Owners: none

fix door control specilafunctions
  code/game/machinery/door_control.dm
Owners: none

better put this at the end
  code/game/machinery/door_control.dm
Owners: none

Fixed #15833 Added options to set starting wage and hide the account.
  code/modules/Economy/AdminTools.dm
Owners: none

Fixes atmos pipe painter/RPD ignoring can_ne_coloured
  code/ATMOSPHERICS/pipes.dm
  code/game/objects/items/devices/pipe_painter.dm
  code/modules/RCD/schematics/pipe.dm
Owners: none

Ports HE piping heat glow from Bay
  code/ATMOSPHERICS/he_pipes.dm
  code/__HELPERS/type2type.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
