Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

I shouldn't be allowed to code anymore really
  code/modules/mob/living/say.dm
Owners: none

I shouldn't be allowed to code anymore really (#21322)
  code/modules/mob/living/say.dm
Owners: none

peer reviewin' so slow noone will notice I'm hitlering
  code/modules/credits/episode_name.dm
Owners: none

silky doors
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/game/objects/objs.dm
Owners: none

Adds a pre-warning message to the immovable rod random event, alerting the crew a few seconds before disaster.
  code/datums/helper_datums/command_alerts.dm
  code/modules/events/immovablerod.dm
Owners: none

Update code/datums/helper_datums/command_alerts.dm
  code/datums/helper_datums/command_alerts.dm
Owners: none

redundant check, but a check nonetheless
  code/modules/admin/verbs/mapping.dm
Owners: none

Adds mapping debug to check for disconnected wires (#21308)
  code/modules/admin/verbs/mapping.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Added *dab.
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
Owners: none

Return Of The Crossbow
  code/game/objects/items/stacks/stack_recipes.dm
Owners: none

Mid round rulesets refactor (#21259)
  code/datums/gamemode/dynamic/dynamic.dm
  code/datums/gamemode/dynamic/dynamic_rulesets.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
  code/datums/gamemode/gamemode.dm
  code/datums/gamemode/role/syndicate.dm
  code/modules/mob/mob.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fixes Hitler
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
Owners: none

Fixes Hitler (#21334)
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
Owners: none

Update emote.dm
  code/modules/mob/living/carbon/human/emote.dm
Owners: none

Adds pre-warning to immovable rod event (#21326)
  code/datums/helper_datums/command_alerts.dm
  code/modules/events/immovablerod.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Gives paramedics full morgue access
  code/game/jobs/job/paramedic.dm
Owners: none

Decreases deflection chance of gygax and phazon
  code/game/mecha/combat/gygax.dm
  code/game/mecha/combat/phazon.dm
Owners: none

nerfs cooldown
  code/modules/spells/targeted/retard.dm
Owners: none

fixes conflict
  icons/mob/screen_spells.dmi
Owners: @ShizCalev, @WJohn

1
  icons/mob/fuck.dmi
  icons/mob/screen_spells.dmi
Owners: @ShizCalev, @WJohn

2
  icons/mob/screen_spells.dmi
Owners: @ShizCalev, @WJohn

3
  icons/mob/screen_spells.dmi
Owners: @ShizCalev, @WJohn

Revert "3"
  icons/mob/screen_spells.dmi
Owners: @ShizCalev, @WJohn

YOU SHIT
  icons/mob/screen_spells.dmi
Owners: @ShizCalev, @WJohn

GITHUB YOU FUCK IT'S NOT A CONFLICT IF IT CHANGES THE FILE AND EVERYTHING STILL EXISTS
  icons/mob/screen_spells.dmi
Owners: @ShizCalev, @WJohn

4
  icons/mob/fuck.dmi
  icons/mob/screen_spells.dmi
Owners: @ShizCalev, @WJohn

Revert "4"
  icons/mob/fuck.dmi
  icons/mob/screen_spells.dmi
Owners: @ShizCalev, @WJohn

5
  icons/mob/screen_spells.dmi
Owners: @ShizCalev, @WJohn

forgot this one
  icons/mob/fuck.dmi
Owners: @ShizCalev, @WJohn

This makes plantpots make a rustling sound when you interact with them or see someone else doing it.
  code/game/objects/structures/flora/flora.dm
  sound/effects/plant_rustle.ogg
Owners: @ShizCalev

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Box Armoury ungunking
  code/game/machinery/door_control.dm
Owners: none

This gives door bolting and unbolting some sounds. Works for silicons and carbon hackers. Tested automated doors on box and it works wonderfully.
  code/datums/wires/airlock.dm
  code/game/machinery/airlock_control.dm
  code/game/machinery/doors/airlock.dm
  sound/machines/door_bolt.ogg
  sound/machines/door_unbolt.ogg
Owners: @ShizCalev

Delete flora.dm
  code/game/objects/structures/flora/flora.dm
Owners: none

Reworking Boxstation Security
  code/game/area/Space Station 13 areas.dm
  icons/turf/areas.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Adds door bolts sounds.
  code/datums/wires/airlock.dm
  code/game/machinery/airlock_control.dm
  code/game/machinery/doors/airlock.dm
  sound/machines/door_bolt.ogg
  sound/machines/door_unbolt.ogg
Owners: @ShizCalev
