Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

aaaaagh
  maps/RoidStation.dmm
  maps/bagelstation.dmm
  maps/defficiency.dmm
  maps/horizon.dmm
  maps/lowfatbagel.dmm
  maps/metaclub.dmm
  maps/packedstation.dmm
  maps/snaxi.dmm
  maps/synergy.dmm
  maps/tgstation-sec.dmm
  maps/tgstation-snow.dmm
  maps/tgstation.dmm
  maps/waystation.dmm
  maps/wheelstation.dmm
Owners: none

Revert "fuggin nano"
  code/game/machinery/embedded_controller/airlock_controllers.dm
  nano/templates/simple_airlock_console.tmpl
Owners: none

oops wall in packed
  maps/packedstation.dmm
Owners: none

wheel pipes
  maps/wheelstation.dmm
Owners: none

this is why i check diffbot
  maps/bagelstation.dmm
  maps/tgstation-snow.dmm
Owners: none

improve sounds
  code/datums/climate.dm
  code/modules/mob/living/carbon/human/life/handle_weather.dm
  code/modules/procedural mapping/planetGenerator/area.dm
  code/modules/procedural mapping/planetGenerator/generators/urban.dm
  code/modules/procedural mapping/planetGenerator/planet.dm
Owners: none

mimics
  code/modules/procedural mapping/loot.dm
  code/modules/procedural mapping/planetGenerator/generators/beach.dm
  code/modules/procedural mapping/planetGenerator/generators/desert.dm
  code/modules/procedural mapping/planetGenerator/generators/grass.dm
  code/modules/procedural mapping/planetGenerator/generators/jungle.dm
  code/modules/procedural mapping/planetGenerator/generators/lava.dm
  code/modules/procedural mapping/planetGenerator/generators/snow.dm
  code/modules/procedural mapping/planetGenerator/generators/xeno.dm
Owners: none

event
  code/_hooks/events.dm
  code/game/area/areas.dm
  code/modules/procedural mapping/planetGenerator/planet_types.dm
Owners: none

yes
  code/modules/mecha/combat/durand.dm
  code/modules/mecha/combat/gygax.dm
  code/modules/mecha/combat/honker.dm
  code/modules/mecha/combat/marauder.dm
  code/modules/mecha/equipment/weapons/mecha_ballistic.dm
Owners: none

Update mecha.dm
  code/modules/mecha/mecha.dm
Owners: none

blob
  code/modules/mecha/equipment/weapons/weapons.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
Owners: none

fixes
  code/controllers/subsystem/daynightcycle.dm
  code/datums/shuttle.dm
  code/game/objects/structures/flora/flora.dm
  code/game/turfs/turf.dm
  code/modules/mob/death.dm
  code/modules/mob/mob.dm
  maps/snaxi.dm
Owners: none

fix corners
  code/datums/shuttle.dm
Owners: none

pass two, refactor, less list bloat, can actually check more cases now
  code/game/machinery/ATMOSPHERICS/datum_pipeline.dm
Owners: none

dudebombs_ihategitwithavengeance
  code/game/objects/items/weapons/grenades/dudebomb.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/modules/procedural mapping/loot.dm
  icons/mob/in-hand/left/items_lefthand.dmi
  icons/mob/in-hand/right/items_righthand.dmi
  icons/obj/grenade.dmi
  sound/weapons/dudebomb.ogg
  vgstation13.dme
Owners: @ShizCalev, @WJohn

simultaneous scan fix
  code/controllers/subsystem/mapping.dm
  code/game/machinery/planet_scanner.dm
  tgui/packages/tgui/interfaces/PlanetScanner.tsx
  tgui/public/tgui.bundle.js
Owners: @Cyberboss

priority
  __DEFINES/subsystem.dm
Owners: none

does this
  code/modules/RCD/RPD.dm
Owners: none

Update PlanetScanner.tsx
  tgui/packages/tgui/interfaces/PlanetScanner.tsx
Owners: none

door fix
  code/datums/shuttle.dm
  code/game/machinery/computer/shuttle_computers.dm
Owners: none

holy water also makes puddles if splashed
  code/modules/reagents/reagents/reagents_religious.dm
Owners: none

gun
  code/modules/mecha/equipment/weapons/mecha_ballistic.dm
  code/modules/mecha/equipment/weapons/weapons.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/research/designs/mecha/weapons.dm
  vgstation13.dme
Owners: none

yes
  code/modules/mecha/equipment/weapons/mecha_ballistic.dm
  code/modules/mecha/mecha_ammo.dm
  vgstation13.dme
Owners: none

Urinal runtime fix
  code/game/objects/structures/watercloset.dm
Owners: none

Update profound_peace.dm
  code/modules/events/profound_peace.dm
Owners: none

moving(?) autoclose here
  maps/RoidStation.dmm
  maps/bagelstation.dmm
  maps/defficiency.dmm
  maps/metaclub.dmm
  maps/packedstation.dmm
  maps/snaxi.dmm
  maps/synergy.dmm
  maps/tgstation-sec.dmm
  maps/tgstation-snow.dmm
  maps/tgstation.dmm
  maps/waystation.dmm
  maps/wheelstation.dmm
Owners: none

fixes
  code/controllers/subsystem/daynightcycle.dm
  code/datums/shuttle.dm
  code/modules/mecha/combat/phazon.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/procedural mapping/planetGenerator/generators/beach.dm
  code/modules/procedural mapping/planetGenerator/generators/desert.dm
  code/modules/procedural mapping/planetGenerator/generators/grass.dm
  code/modules/procedural mapping/planetGenerator/generators/jungle.dm
  code/modules/procedural mapping/planetGenerator/generators/snow.dm
  code/modules/procedural mapping/planetGenerator/planet_types.dm
Owners: none

tgui fix
  tgui/packages/tgui/interfaces/PlanetScanner.tsx
  tgui/public/tgui.bundle.js
Owners: none

shuttle enhancements
  code/controllers/subsystem/mapping.dm
  code/datums/shuttle.dm
  code/game/area/Space Station 13 areas.dm
  code/game/machinery/computer/shuttle_computers.dm
  code/game/objects/effects/effect_system.dm
  code/game/objects/structures/shuttle_engines.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  code/modules/shuttles/misc.dm
  icons/effects/effects.dmi
  icons/turf/shuttle.dmi
  maps/RoidStation.dmm
  maps/packedstation.dmm
  maps/tgstation.dmm
  tgui/public/tgui.bundle.js
Owners: @Cyberboss, @ShizCalev, @WJohn

yeah, gal o sengen
  code/game/objects/items/weapons/grenades/dudebomb.dm
Owners: none

manual
  code/datums/shuttle.dm
  code/game/objects/items/weapons/manuals.dm
  code/modules/shuttles/misc.dm
  icons/obj/library.dmi
Owners: @ShizCalev, @WJohn

yeah, gal-o sengen
  code/game/objects/items/weapons/grenades/dudebomb.dm
Owners: none

YEAH, GAL-O SENGEN
  code/game/objects/items/weapons/grenades/dudebomb.dm
Owners: none

mapping
  maps/RoidStation.dmm
  maps/defficiency.dmm
  maps/lowfatbagel.dmm
  maps/packedstation.dmm
  maps/synergy.dmm
  maps/waystation.dmm
Owners: none

fix maps
  maps/RoidStation.dmm
  maps/lowfatbagel.dmm
  maps/synergy.dmm
  maps/waystation.dmm
Owners: none

brings back rotate chair verb
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
Owners: none

lz refactor
  code/controllers/subsystem/mapping.dm
  code/datums/shuttle.dm
  code/game/machinery/computer/shuttle_computers.dm
  code/modules/admin/admin.dm
  code/modules/shuttles/misc.dm
  maps/RoidStation.dmm
Owners: @Cyberboss

Check wire connection verb now shows direction
  code/modules/admin/verbs/mapping.dm
Owners: none

Update mapping.dm
  code/modules/admin/verbs/mapping.dm
Owners: none

Update mapping.dm
  code/modules/admin/verbs/mapping.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
