Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

re-implemented kanef's changes
  maps/defficiency.dmm
Owners: none

testing updates
  code/game/machinery/computer/bhangmeter.dm
  code/game/objects/items/weapons/implants/types/exile_implant.dm
  code/modules/admin/climate_panel.dm
  code/modules/reagents/reagent_containers/food/snacks/grown.dm
  code/modules/spells/targeted/recall.dm
  maps/_map.dm
  maps/virtual_z.dm
  tgui/packages/tgui/interfaces/LevelManager.tsx
  tgui/public/tgui.bundle.js
Owners: none

snaxi/jungle fixes
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/weather.dm
  code/game/machinery/computer/bhangmeter.dm
  maps/junglestation.dm
  maps/virtual_z.dm
Owners: @Cyberboss

first pass, looks class
  code/modules/library/lib_items.dm
  icons/obj/library.dmi
Owners: @ShizCalev, @WJohn

manual spines
  code/game/objects/items/weapons/manuals.dm
  code/modules/library/lib_items.dm
Owners: none

fixes the sprite not updating right.
  code/modules/library/lib_items.dm
Owners: none

cleaner system
  code/modules/library/lib_items.dm
Owners: none

Update lib_items.dm
  code/modules/library/lib_items.dm
Owners: none

Update lib_items.dm
  code/modules/library/lib_items.dm
Owners: none

just access it like this i guess
  code/game/gamemodes/wizard/spellbook.dm
  code/game/objects/items/weapons/storage/bible.dm
  code/modules/library/lib_items.dm
Owners: none

covers these manuals too
  code/modules/research/xenoarchaeology/manuals.dm
  code/modules/research/xenoarchaeology/misc.dm
Owners: none

refreshing deff - part 2: polishing a medical turd
  code/game/area/Space Station 13 areas.dm
  icons/turf/areas.dmi
  maps/defficiency.dmm
Owners: @ShizCalev, @WJohn

whoops
  maps/defficiency.dmm
Owners: none

minor aesthetic things that bother me becuase im autistic
  maps/defficiency.dmm
Owners: none

evil nefarious fucking shuttle bug quashed once more
  code/_hooks/events.dm
  code/controllers/subsystem/daynightcycle.dm
  code/datums/shuttle.dm
  code/game/machinery/computer/shuttle_computers.dm
  code/modules/admin/admin.dm
  maps/virtual_z.dm
Owners: none

variables renamed
  __DEFINES/planes+masters.dm
Owners: none

bonus bugfix because unit tests fired for some reason
  code/modules/clothing/spacesuits/time.dm
Owners: none

broke brig's pipes whoops
  maps/defficiency.dmm
Owners: none

some more pipes
  maps/defficiency.dmm
Owners: none

moves sprite over a bit
  icons/obj/library.dmi
Owners: @ShizCalev, @WJohn

bible spine colors
  code/datums/religions.dm
Owners: none

spellbook spine colors, just because
  code/game/gamemodes/wizard/spellbook_oneuse.dm
Owners: none

just so it appears right
  code/modules/trader/trade_gear.dm
Owners: none

hotfixs nearsightedness and blurriness not being properly disabled when the status effects expire
  __DEFINES/planes+masters.dm
Owners: none

added a cautery in surgery
  maps/defficiency.dmm
Owners: none

some small medbay changes
  maps/defficiency.dmm
Owners: none

fixed some issues with the last commit
  maps/defficiency.dmm
Owners: none

LAST one
  maps/defficiency.dmm
Owners: none

basic stuff down
  code/modules/library/lib_machines.dm
Owners: none

author
  code/modules/library/lib_machines.dm
Owners: none

Update lib_machines.dm
  code/modules/library/lib_machines.dm
Owners: none

Update lib_machines.dm
  code/modules/library/lib_machines.dm
Owners: none

book icon
  code/modules/library/lib_machines.dm
Owners: none

scanner stuff
  code/modules/library/lib_items.dm
Owners: none

Update lib_items.dm
  code/modules/library/lib_items.dm
Owners: none

spine color, stock parts to upgrade
  code/modules/library/lib_machines.dm
Owners: none

board
  code/game/machinery/constructable_frame.dm
  code/modules/library/lib_machines.dm
  code/modules/research/designs/boards/machine_misc.dm
Owners: none

Update constructable_frame.dm
  code/game/machinery/constructable_frame.dm
Owners: none

Update constructable_frame.dm
  code/game/machinery/constructable_frame.dm
Owners: none

Update lib_machines.dm
  code/modules/library/lib_machines.dm
Owners: none
