Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Hallucinations no longer make you say beep boop if you're fucking DEAD
  code/modules/flufftext/Hallucination.dm
Owners: none

You can now perform autopsy on skinless human species
  code/modules/medical/autopsy.dm
Owners: none

eh
  code/modules/flufftext/Hallucination.dm
Owners: none

this time that should be it
  code/modules/flufftext/Hallucination.dm
Owners: none

Added the Mind Machine's tech requirements to the Nanotrasen Tech Disk paper
  code/modules/research/research.dm
Owners: none

Fixed a bug where supermatter crystals and shards could explode perpetually
  code/modules/supermatter/supermatter.dm
Owners: none

Rainbow Gun
  code/__HELPERS/math/ray/ray.dm
  code/game/objects/effects/overlays.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/beams.dm
  icons/obj/projectiles.dmi
Owners: @ShizCalev, @WJohn

Fixed Ninja Posters becoming unusable after getting ripped out
  code/datums/gamemode/role/ninja.dm
Owners: none

The Give Achievement button now provides players' real_name and key vars
  code/modules/admin/admin_verbs.dm
Owners: none

stack_trace()
  code/modules/supermatter/supermatter.dm
Owners: none

fix
  code/modules/supermatter/supermatter.dm
Owners: none

Updated descs
  code/modules/multiz/structures.dm
Owners: none

Fixing observer non-standards in file
  code/modules/multiz/movement.dm
  code/modules/multiz/structures.dm
Owners: none

More file cleanup
  code/modules/multiz/fall_hit.dm
  code/modules/multiz/falling.dm
  code/modules/multiz/movement.dm
  vgstation13.dme
Owners: none

Jetpacks allow z-travelling
  code/modules/multiz/movement.dm
Owners: none

Now they really do
  code/modules/multiz/movement.dm
Owners: none

Robots too
  code/modules/multiz/movement.dm
Owners: none

Updating docs
  code/modules/multiz/_docs.dm
Owners: none

Code cleanup
  code/modules/multiz/movement.dm
Owners: none

Catch one
  code/modules/multiz/movement.dm
Owners: none

Indent fix
  code/modules/multiz/movement.dm
Owners: none

Not sure what that even is
  code/modules/multiz/movement.dm
Owners: none

Catching these
  code/modules/multiz/movement.dm
Owners: none

Fixed Summon Snacks interaction with mobs who have more than 2 hands (#30325)
  code/modules/spells/targeted/summon_snacks.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Added the Mind Machine's tech requirements to the Nanotrasen Tech Disk paper (#30329)
  code/modules/research/research.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

You can now perform autopsy on skinless human species (#30327)
  code/modules/medical/autopsy.dm
Owners: none

Adds some missing periods to the rig descriptions. (#30322)
  code/modules/reagents/reagent_dispenser.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

The Give Achievement button now provides players' real_name and key vars (#30333)
  code/modules/admin/admin_verbs.dm
Owners: none

Fixed Ninja Posters becoming unusable after getting ripped out (#30332)
  code/datums/gamemode/role/ninja.dm
Owners: none

Fixed Blob Overminds getting thrown by explosions (#30283)
  code/game/gamemodes/blob/overmind.dm
Owners: @ChangelingRain

Grayy_Greens_and_Stuffed_Pitcher_Tweak (#30297)
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

Avocado_Soup_Tweaks_and_Fixes (#30298)
  code/modules/food/recipes_microwave.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

sacid tanks (#30312)
  code/datums/supplypacks.dm
  code/modules/reagents/reagent_dispenser.dm
  icons/obj/objects.dmi
Owners: @ShizCalev, @WJohn

Plasmamen_Are_More_In_Touch_With_Their_Human_Origins (#30299)
  code/modules/mob/living/carbon/human/plasmaman/species.dm
Owners: none

Supply Forms now display your alt title properly if you chose one (#30313)
  code/game/machinery/computer/cargo.dm
Owners: none

Fixed items slowing you down when worn on the back but not when wielded (#30285)
  code/game/objects/items/weapons/shields.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/projectiles/guns/projectile/sniper.dm
Owners: none
