Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Uncopy() that. Made it directly refer to the lists.
  code/game/machinery/washing_machine.dm
Owners: none

Revert "chickens are monkeys my life is a lie"
  code/modules/maps/spawners/spawners.dm
Owners: none

Added a button to general settings, allowing players to chose their preferred objective type
  SQL/players2.sql
  code/datums/gamemode/role/changeling.dm
  code/datums/gamemode/role/syndicate.dm
  code/datums/gamemode/role/vampire_role.dm
  code/datums/gamemode/role/wizard.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/migrations/SS13_Prefs/021-antag_objectives.dm
  vgstation13.dme
Owners: @Jordie0608

Initial Commit
  code/datums/shuttle.dm
  code/game/machinery/computer/fluff.dm
  code/game/machinery/computer/shuttle.dm
  code/game/machinery/computer/shuttle_computers.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/structures/docking_port.dm
  code/game/shuttle_engines.dm
  code/game/shuttles/cargo.dm
  code/game/shuttles/emergency.dm
  code/game/shuttles/mining.dm
  code/game/shuttles/misc.dm
  code/game/shuttles/research.dm
  code/game/shuttles/salvage.dm
  code/game/shuttles/security.dm
  code/game/shuttles/syndicate.dm
  code/game/shuttles/trade.dm
  code/game/shuttles/vox.dm
  code/game/turfs/simulated/shuttle.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  code/modules/spaceships/spaceship.dm
Owners: none

B
  vgstation13.dme
Owners: none

modified: code/modules/mob/living/simple_animal/friendly/corgi.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
Owners: none

Set freeform objectives as the default option
  code/modules/client/preferences.dm
Owners: none

Added admin log stuff.
  code/game/machinery/washing_machine.dm
Owners: none

fixes supply_console.tmpl
  nano/templates/supply_console.tmpl
Owners: none

modified: code/game/machinery/computer/robot.dm
  code/game/machinery/computer/robot.dm
Owners: none

Reorganization
  code/modules/shuttles/docking_port.dm
  code/modules/shuttles/item/shuttle_permit.dm
  code/modules/shuttles/object/shuttle_engines.dm
  code/modules/shuttles/presets/cargo.dm
  code/modules/shuttles/presets/emergency.dm
  code/modules/shuttles/presets/mining.dm
  code/modules/shuttles/presets/misc.dm
  code/modules/shuttles/presets/research.dm
  code/modules/shuttles/presets/salvage.dm
  code/modules/shuttles/presets/security.dm
  code/modules/shuttles/presets/syndicate.dm
  code/modules/shuttles/presets/trade.dm
  code/modules/shuttles/presets/vox.dm
  code/modules/shuttles/shuttle.dm
  code/modules/shuttles/shuttle_computers.dm
  code/modules/shuttles/shuttle_control_computer.dm
  code/modules/shuttles/shuttle_fluff.dm
  code/modules/shuttles/turfs/shuttle_turfs.dm
Owners: none

More Cleanup
  __DEFINES/game.dm
  code/controllers/shuttle_controller.dm
  code/controllers/subsystem/supply_shuttle.dm
  code/modules/admin/topic.dm
  code/modules/shuttles/shuttle.dm
  code/modules/shuttles/shuttle_fluff.dm
  code/modules/shuttles/transit.dm
  vgstation13.dme
Owners: none

Nerfs/Buffs
  code/modules/mob/living/silicon/robot/robot_subtypes/starman.dm
Owners: none

Fits in excav belts
  code/modules/research/xenoarchaeology/tools/gearbelt.dm
Owners: none

Set freeform objectives as the default option, but for real this time.
  code/modules/migrations/SS13_Prefs/021-antag_objectives.dm
Owners: none

Probably fixes telesci mapping
  code/modules/telesci/telesci_computer.dm
Owners: none

adds overflow to statusDisplay
  nano/css/shared.css
Owners: none

Spell Optimizations/Minor Changes
  code/modules/mob/living/silicon/robot/robot_subtypes/starman.dm
Owners: none

stuff
  code/modules/telesci/telepad.dm
  code/modules/telesci/telesci_computer.dm
Owners: none

adds overflow to statusDisplay (#24011)
  nano/css/shared.css
Owners: none

Hotfixes for Snaxi (#23981)
  code/game/area/Space Station 13 areas.dm
  icons/turf/areas.dmi
Owners: @ShizCalev, @WJohn

Revert "Remove solo antag objectives part 55: electric boogaloo (#23476)"
  __DEFINES/setup.dm
Owners: none

fixes supply_console.tmpl (#24003)
  nano/templates/supply_console.tmpl
Owners: none

Removes SOLO_ANTAG_OBJECTIVES define, as it's no longer used anywhere.
  __DEFINES/setup.dm
Owners: none

doesnt remove lootbox
  code/datums/black_market_item.dm
Owners: none

moves dorkcubes up
  code/datums/black_market_item.dm
Owners: none

Fixes responsive reagent for stock parts, and prevents the error from ever happening again
  code/modules/mining/mine_turfs.dm
  code/modules/research/xenoarchaeology/finds/finds.dm
  code/modules/research/xenoarchaeology/finds/finds_defines.dm
  code/modules/research/xenoarchaeology/tools/tools_depthscanner.dm
Owners: none

always remember to update your branches
  code/modules/research/xenoarchaeology/tools/tools_depthscanner.dm
Owners: none

fixes backpacks not being properly filled
  code/game/objects/items.dm
  code/modules/mob/mob.dm
Owners: none

fixes backpacks not being properly filled (#24024)
  code/game/objects/items.dm
  code/modules/mob/mob.dm
Owners: none

Adds verbs for removing IDs and removing papers from fax machines
  code/WorkInProgress/kilakk/fax.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/PR-23862-temp.yml
  html/changelogs/PR-23932-temp.yml
  html/changelogs/PR-23935-temp.yml
  html/changelogs/PR-23944-temp.yml
  html/changelogs/PR-23950-temp.yml
  html/changelogs/PR-23981-temp.yml
  html/changelogs/PR-24003-temp.yml
  html/changelogs/PR-24007-temp.yml
  html/changelogs/PR-24008-temp.yml
  html/changelogs/PR-24024-temp.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/PR-23862-temp.yml
  html/changelogs/PR-23932-temp.yml
  html/changelogs/PR-23935-temp.yml
  html/changelogs/PR-23944-temp.yml
  html/changelogs/PR-23950-temp.yml
  html/changelogs/PR-23981-temp.yml
  html/changelogs/PR-24003-temp.yml
  html/changelogs/PR-24007-temp.yml
  html/changelogs/PR-24008-temp.yml
  html/changelogs/PR-24024-temp.yml
Owners: none

ismalf() and issilicon()
  code/game/machinery/computer/robot.dm
Owners: none

Fixes ATMs putting money in windows, now they either try to put it in the direction they're not facing, or throw it away from themselves
  code/WorkInProgress/Mini/ATM.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/weapons/cash.dm
Owners: none

update comment
  code/WorkInProgress/Mini/ATM.dm
Owners: none

Use the proper macro
  code/WorkInProgress/Mini/ATM.dm
Owners: none

Fixes being able to givebomb somebody, through removing the verb, and having a lock for when somebody is being offered something
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/give.dm
Owners: none

Changes
  code/modules/mob/living/carbon/give.dm
  code/modules/mob/living/silicon/robot/robot_subtypes/starman.dm
Owners: none

Nukes point code, as it was being abused to point at the invisible
  code/_onclick/click.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
Owners: none
