Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

baseline
  __DEFINES/map.dm
  code/controllers/subsystem/daynightcycle.dm
  code/controllers/subsystem/mapping.dm
  code/game/atoms.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/game/objects/objs.dm
  maps/_map.dm
  maps/virtual_z.dm
Owners: @Cyberboss

initial, mostly nothing
  code/game/verbs/notes.dm
Owners: none

Makes forensic computer much easier to use.
  code/modules/detectivework/detective_scanner.dm
  code/modules/detectivework/detective_work.dm
Owners: none

login needed
  code/modules/detectivework/detective_work.dm
Owners: none

better link look for these bits
  code/modules/detectivework/detective_work.dm
Owners: none

just to make this look cleaner
  code/modules/detectivework/detective_work.dm
Owners: none

cleanup of this proc
  code/modules/detectivework/detective_work.dm
Owners: none

control flow to stop this showing up too
  code/modules/detectivework/detective_work.dm
Owners: none

Update detective_work.dm
  code/modules/detectivework/detective_work.dm
Owners: none

begone, dummy
  code/game/machinery/bots/draculabot.dm
  code/modules/food/recipes_microwave.dm
Owners: none

yes it is
  code/modules/unit_tests/icons.dm
Owners: none

fix
  code/modules/assembly/timer.dm
Owners: none

normal RCD's shouldn't have infinite fuel
  code/modules/RCD/engie.dm
Owners: none

Update messenger.dm
  code/game/objects/items/devices/PDA/apps/messenger.dm
Owners: none

Update messenger.dm
  code/game/objects/items/devices/PDA/apps/messenger.dm
Owners: none

Update messenger.dm
  code/game/objects/items/devices/PDA/apps/messenger.dm
Owners: none

stops research loss spam
  code/modules/research/server.dm
Owners: none

it floods the admins not the logs
  code/modules/research/server.dm
Owners: none

table door updates
  code/game/machinery/OpTable.dm
  code/game/machinery/doors/table.dm
  code/game/objects/structures/tables_racks.dm
Owners: none

lil animation for em
  code/game/machinery/doors/table.dm
Owners: none

new icons and desc
  code/modules/reagents/reagent_containers/glass.dm
  icons/obj/chemical.dmi
Owners: @ShizCalev, @WJohn

so it doesnt show liquids
  code/modules/reagents/reagent_containers/glass.dm
Owners: none

Update reagents_medical.dm
  code/modules/reagents/reagents/reagents_medical.dm
Owners: none

Update reagents_medical.dm
  code/modules/reagents/reagents/reagents_medical.dm
Owners: none

makes emag work
  code/game/machinery/doors/table.dm
Owners: none

Stops wallrot from appearing on shuttle walls.
  code/modules/events/wallrot.dm
Owners: none

WHAT IM RUINING TODAY
  maps/defficiency.dmm
Owners: none

WHAT IM RUINING TODAY
  maps/defficiency.dmm
Owners: none

FIXED the screwy disaposl pipes (thats what i get for not keeping track of the latest prs)
  maps/defficiency.dmm
Owners: none

fireball
  code/modules/spells/targeted/projectile/fireball.dm
Owners: none

sanity for href inject
  code/game/objects/items/devices/PDA/apps/messenger.dm
Owners: none

redefines here
  code/game/objects/items/devices/PDA/apps/messenger.dm
Owners: none

right name
  code/game/objects/items/devices/PDA/apps/messenger.dm
Owners: none

dimensional
  code/__HELPERS/game.dm
  code/controllers/subsystem/mapping.dm
  code/datums/shuttle.dm
  code/game/atoms.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/modules/admin/level_manager.dm
  code/modules/admin/topic.dm
  maps/_map.dm
  maps/virtual_z.dm
Owners: @Cyberboss

FREE GIBS FOR GOOD BOY FAUCISTS!
  maps/RoidStation.dmm
  maps/defficiency.dmm
  maps/lowfatbagel.dmm
  maps/metaclub.dmm
  maps/packedstation.dmm
  maps/snaxi.dmm
  maps/synergy.dmm
  maps/tgstation.dmm
  maps/waystation.dmm
Owners: none

transit areas
  code/datums/shuttle.dm
  code/modules/randomMaps/transit.dm
  maps/_map.dm
  maps/virtual_z.dm
Owners: none

simplify
  code/controllers/subsystem/daynightcycle.dm
  code/controllers/subsystem/mapping.dm
  code/datums/shuttle.dm
  code/game/atoms.dm
  code/modules/admin/level_manager.dm
  code/modules/admin/topic.dm
  code/modules/procedural mapping/planetGenerator/generators/urban.dm
  code/modules/randomMaps/transit.dm
  maps/_map.dm
  maps/virtual_z.dm
Owners: @Cyberboss

daynight refactor
  code/controllers/subsystem/daynightcycle.dm
  code/controllers/subsystem/mapping.dm
  code/datums/climate.dm
  code/datums/shuttle.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  code/modules/procedural mapping/planetGenerator/planet_types.dm
  maps/_map.dm
  maps/junglestation.dm
  maps/snaxi.dm
  maps/virtual_z.dm
Owners: @Cyberboss

weather refactor
  code/controllers/subsystem/weather.dm
  maps/snaxi.dm
Owners: none

Adds an LC13-inspired vault
  code/modules/maps/spawners/spawners.dm
  code/modules/randomMaps/vault_definitions.dm
  maps/randomvaults/scp_asteroid.dmm
  maps/randomvaults/scp_space.dmm
Owners: none
