Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

scanner altclick
  code/modules/mining/mine_items.dm
Owners: none

Refactored dropper attacks slightly.
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/dropper.dm
Owners: none

Removed changes from another commit.
  code/game/jobs/job/security.dm
  code/game/objects/items/weapons/stunbaton.dm
Owners: none

I hate git
  code/game/jobs/job/security.dm
Owners: none

Removed merge changes
  icons/obj/weapons.dmi
Owners: @ShizCalev, @WJohn

Removed old changes
  code/game/jobs/job/security.dm
  code/game/objects/items/weapons/stunbaton.dm
Owners: none

Removed
  code/game/jobs/job/security.dm
Owners: none

Parity with Bleeding-Edge
  icons/obj/weapons.dmi
Owners: @ShizCalev, @WJohn

Removes BSQL, implements RUST SQL
  BSQL.dll
  __DEFINES/BSQL.dm
  __DEFINES/global.dm
  __DEFINES/rust_g.dm
  code/__HELPERS/logging.dm
  code/__HELPERS/text.dm
  code/controllers/configuration.dm
  code/controllers/subsystem/dbcore.dm
  code/datums/feedback.dm
  code/defines/procs/statistics.dm
  code/libs/BSQL/LICENSE
  code/libs/BSQL/core/connection.dm
  code/libs/BSQL/core/library.dm
  code/libs/BSQL/core/operation.dm
  code/libs/BSQL/core/query.dm
  code/libs/BSQL/includes.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/banappearance.dm
  code/modules/admin/banjob.dm
  code/modules/admin/banooc.dm
  code/modules/admin/create_poll.dm
  code/modules/admin/permissionverbs/permissionedit.dm
  code/modules/admin/verbs/check_customitem_activity.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/client/client procs.dm
  code/modules/customitems/item_spawning.dm
  code/modules/library/computers/checkout.dm
  code/modules/library/lib_machines.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/new_player/poll.dm
  data/ban_unban_log.txt
  libmariadb.dll
  vgstation13.dme
Owners: @Jordie0608

Travis
  .travis.yml
  tools/travis/build_bsql.sh
  tools/travis/install_libmariadb.sh
  tools/travis/install_rust_g.sh
Owners: none

Fixed human screen object hard dels
  code/modules/mob/mob.dm
Owners: none

deh
  tools/travis/install_rust_g.sh
Owners: none

Fixed mob transformation hard dels
  code/datums/gamemode/factions/wizard.dm
  code/datums/gamemode/misc_gamemode_procs.dm
  code/datums/gamemode/objectives/die.dm
  code/datums/mind.dm
  code/game/machinery/computer/message.dm
  code/game/machinery/computer/robot.dm
  code/game/striketeams/emergency_response_team.dm
  code/game/striketeams/striketeam_datums.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/mob/living/carbon/species.dm
  code/modules/mob/living/silicon/robot/laws.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/transform_procs.dm
Owners: none

love you travis
  tools/travis/install_rust_g.sh
Owners: none

Fixed vampires accidentally blinking into chapel.
  code/modules/spells/aoe_turf/blink.dm
Owners: none

Fixed human screen object hard dels (#27121)
  code/modules/mob/mob.dm
Owners: none

Fixed mob transformation hard dels (#27122)
  code/datums/gamemode/factions/wizard.dm
  code/datums/gamemode/misc_gamemode_procs.dm
  code/datums/gamemode/objectives/die.dm
  code/datums/mind.dm
  code/game/machinery/computer/message.dm
  code/game/machinery/computer/robot.dm
  code/game/striketeams/emergency_response_team.dm
  code/game/striketeams/striketeam_datums.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/mob/living/carbon/species.dm
  code/modules/mob/living/silicon/robot/laws.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/transform_procs.dm
Owners: none

Fixed two minor fuck ups
  code/datums/mind.dm
  code/modules/mob/living/carbon/species.dm
Owners: none

Fixed two minor fuck ups (#27124)
  code/datums/mind.dm
  code/modules/mob/living/carbon/species.dm
Owners: none

Farmbot will actually do things now.
  code/game/machinery/bots/farmbot.dm
Owners: none

Add Absorb
  code/game/gamemodes/wizard/spellbook_oneuse.dm
  code/modules/spells/targeted/absorb.dm
  vgstation13.dme
Owners: none

changes
  code/datums/gamemode/dynamic/dynamic_rulesets_latejoin.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

Update code/modules/spells/targeted/absorb.dm
  code/modules/spells/targeted/absorb.dm
Owners: none

removes extra bracket
  code/modules/spells/targeted/absorb.dm
Owners: none

Requested changes
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
Owners: none

Revert "removes extra bracket"
  code/modules/spells/targeted/absorb.dm
Owners: none

remove bracket (for real)
  .gitignore
  code/modules/spells/targeted/absorb.dm
Owners: none

replaces is_type_in_list
  code/modules/spells/targeted/absorb.dm
Owners: none

switch to visible_message and fix indentation
  code/modules/spells/targeted/absorb.dm
Owners: none

addressed review
  code/datums/gamemode/dynamic/dynamic_rulesets.dm
Owners: none

remove unecessary to_chat's, remove testing message
  code/modules/spells/targeted/absorb.dm
Owners: none

known spells that are absorbed will now upgrade speed and power by one, instead of doing nothing
  code/modules/spells/targeted/absorb.dm
Owners: none

whoops
  .gitignore
Owners: none

allows firedoor frame deconstruction
  code/game/machinery/doors/firedoor.dm
Owners: none

comment out empowering spells, add user turf flag
  code/modules/spells/targeted/absorb.dm
Owners: none

fixes what I assume was a typo in the hacky ass way assistants are assigned.
  code/game/jobs/job_controller.dm
Owners: none

fixes what I assume was a typo in the hacky ass way assistants are assigned. (#27131)
  code/game/jobs/job_controller.dm
Owners: none

Added emag behavior for the janicart.
  code/game/objects/structures/vehicles/janicart.dm
Owners: none

fixes kurfurstens suggestions
  code/game/machinery/doors/firedoor.dm
Owners: none

removed SVN stuff (#27065)
  code/datums/gamemode/gamemode.dm
  code/datums/helper_datums/getrev.dm
  code/world.dm
  config/svndir.txt
Owners: @Cyberboss

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
