Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

i prefer this
  code/modules/RCD/engie.dm
Owners: none

typo
  code/modules/RCD/engie.dm
Owners: none

fixes all occurances of this
  code/datums/datumvars.dm
  code/game/machinery/syndicate_beacon.dm
  code/game/objects/items/devices/hologram_projector.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/items/weapons/stock_parts.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/paperwork/papers_preformatted.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagents/reagents_tools.dm
  code/modules/research/designs/AI_modules.dm
  code/modules/research/designs/boards/machine_science.dm
  code/modules/research/designs/borg_upgrades.dm
  code/modules/research/designs/mecha/odysseus.dm
  code/modules/telesci/telesci_computer.dm
  maps/lampreystation/lamprey.dm
Owners: none

OH this is how it was, tested like this by the way only change is the tweak to the admin one
  code/modules/RCD/engie.dm
Owners: none

cleanup of scoreboard
  code/datums/ai_laws.dm
  code/datums/gamemode/role/wrong_lawset.dm
Owners: none

suit modifier fixes (#37258)
  code/game/machinery/suit_modifier.dm
Owners: none

Automatic changelog generation for PR #37258 [ci skip]
  html/changelogs/AutoChangeLog-pr-37258.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-37258.yml
Owners: none

Makes sheet snatchers actually accept sheets
  code/game/objects/items/weapons/storage/bags.dm
Owners: none

Makes sheet snatchers actually accept sheets (#37267)
  code/game/objects/items/weapons/storage/bags.dm
Owners: none

Automatic changelog generation for PR #37267 [ci skip]
  html/changelogs/AutoChangeLog-pr-37267.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-37267.yml
Owners: none

not all basilisks lmao
  code/game/objects/items/trader.dm
Owners: none

directional skullbot laughs
  icons/mecha/mecha.dmi
Owners: @ShizCalev, @WJohn

some more cutdown
  code/game/objects/effects/landmarks.dm
  maps/fixedvaults/deepspaceruinsdoom.dmm
  maps/fixedvaults/fixedvaults.dm
  maps/fixedvaults/salvage_shuttle_skrites.dmm
Owners: none

cuts this down too
  code/game/objects/effects/landmarks.dm
  maps/fixedvaults/deepspaceruindoom.dmm
  maps/fixedvaults/deepspaceruinsdoom.dmm
  maps/fixedvaults/djsat.dmm
  maps/fixedvaults/djsat_notail.dmm
  maps/fixedvaults/fixedvaults.dm
  maps/randomvaults/spacegym.dmm
Owners: none

map can be smaller and still load everything, disambiguates this element name for similar reasons
  maps/fixedvaults/djsat.dmm
  maps/fixedvaults/fixedvaults.dm
Owners: none

KITCHEN GUN!
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/projectile/bullets.dm
  sound/weapons/kitchengun.ogg
Owners: @ShizCalev

fix
  code/modules/projectiles/projectile/bullets.dm
Owners: none

sure, they can have it too
  code/datums/uplink_item.dm
Owners: none

possible fix, also nicer message
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/projectile/bullets.dm
Owners: none

now actually cleans!
  code/modules/projectiles/projectile/bullets.dm
Owners: none

intense cleaning
  code/modules/projectiles/projectile/bullets.dm
Owners: none

final thing that makes it work
  code/modules/projectiles/projectile/bullets.dm
Owners: none

HI I'M DEREK BAUM
  code/modules/projectiles/guns/projectile/pistol.dm
Owners: none

fixes all occurances of this (#37268)
  code/datums/datumvars.dm
  code/game/machinery/syndicate_beacon.dm
  code/game/objects/items/devices/hologram_projector.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/items/weapons/stock_parts.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/paperwork/papers_preformatted.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagents/reagents_tools.dm
  code/modules/research/designs/AI_modules.dm
  code/modules/research/designs/boards/machine_science.dm
  code/modules/research/designs/borg_upgrades.dm
  code/modules/research/designs/mecha/odysseus.dm
  code/modules/telesci/telesci_computer.dm
  maps/lampreystation/lamprey.dm
Owners: none

Automatic changelog generation for PR #37268 [ci skip]
  html/changelogs/AutoChangeLog-pr-37268.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-37268.yml
Owners: none

Update code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/debug.dm
Owners: none

type filter
  code/modules/admin/verbs/debug.dm
Owners: none

brings back client search, now disambiguates the list by atom ref
  code/modules/admin/verbs/debug.dm
Owners: none

Makes plastic crates actually a crate type (#37261)
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/structures/crates_lockers/crates.dm
Owners: none

Automatic changelog generation for PR #37261 [ci skip]
  html/changelogs/AutoChangeLog-pr-37261.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-37261.yml
Owners: none

should clear this runtime
  code/game/machinery/hologram.dm
Owners: none

less istype
  code/game/machinery/hologram.dm
Owners: none

makes this update properly
  code/game/machinery/hologram.dm
Owners: none

updates
  code/game/machinery/hologram.dm
Owners: none

lol this was turning the hologram into the item
  code/game/machinery/hologram.dm
Owners: none

nifty lil thing
  code/game/machinery/hologram.dm
Owners: none
