Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Fix greeting
  code/datums/gamemode/role/wizard_apprentice.dm
Owners: none

Only forge jecties once
  code/game/gamemodes/wizard/apprentice_contract.dm
Owners: none

remove alien code
  code/datums/gamemode/role/wizard_apprentice.dm
Owners: none

stripped_input already does this
  code/game/gamemodes/wizard/apprentice_contract.dm
Owners: none

Fix jectie
  code/datums/gamemode/factions/wizard_apprenticeship.dm
  code/datums/gamemode/objectives/target/protection.dm
  code/datums/gamemode/objectives/target/target.dm
  code/game/gamemodes/wizard/apprentice_contract.dm
Owners: none

fuck
  code/modules/power/singularity/singularity.dm
Owners: none

trim debug
  code/datums/gamemode/dynamic/dynamic_rulesets.dm
Owners: none

ahhh
  code/modules/virus2/effect/stage_1.dm
Owners: none

AHHHHHHHH (#23623)
  code/datums/gamemode/dynamic/dynamic_rulesets.dm
  code/modules/virus2/effect/stage_1.dm
Owners: none

fix
  code/datums/gamemode/dynamic/dynamic.dm
  code/datums/gamemode/dynamic/dynamic_rulesets.dm
Owners: none

fix (#23626)
  code/datums/gamemode/dynamic/dynamic.dm
  code/datums/gamemode/dynamic/dynamic_rulesets.dm
Owners: none

deadmice
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Owners: none

vehicles and galoshes
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Owners: none

Lich reworks
  code/modules/mob/living/simple_animal/hostile/human/_humanoid.dm
  code/modules/mob/living/simple_animal/hostile/human/halloween.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/projectiles/projectile.dm
  sound/misc/lich_cast.ogg
  sound/weapons/magic_blast.ogg
Owners: @ShizCalev

Personally not a fan of the mass of popups at round end that take away focus from the main game window
  code/game/gamemodes/scoreboard.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/migrations/SS13_Prefs/021-show-round-end-info.dm
  vgstation13.dme
Owners: none

fix
  code/modules/virus2/centrifuge.dm
Owners: none

lowercase
  code/game/machinery/Sleeper.dm
Owners: none

Phazon phasing can no longer enter telejammed, no_teleport, or otherwise jammed areas/z_levels
  code/game/mecha/combat/phazon.dm
Owners: none

Removes some unused bullets, and some partial pathing.
  code/modules/projectiles/projectile/bullets.dm
Owners: none

Why are these strings?
  code/game/objects/items.dm
  code/game/objects/items/weapons/kitchen.dm
  code/game/objects/items/weapons/shard.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets.dm
Owners: none

Allicin now works are botany anti-toxin again.
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

box sprites
  code/game/objects/items/trader.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/mob/living/holders.dm
  icons/mob/in-hand/left/mob_holders.dmi
  icons/mob/in-hand/right/mob_holders.dmi
  icons/obj/vialbox.dmi
Owners: @ShizCalev, @WJohn

new sprites
  icons/mob/in-hand/left/boxes_and_storage.dmi
  icons/mob/in-hand/right/boxes_and_storage.dmi
Owners: @ShizCalev, @WJohn

reagent change in storage
  code/modules/reagents/reagent_containers/glass.dm
Owners: none

diskette
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  icons/mob/in-hand/left/boxes_and_storage.dmi
  icons/mob/in-hand/right/boxes_and_storage.dmi
  icons/obj/storage/datadisks.dmi
Owners: @ShizCalev, @WJohn

Standardizes reagent examine code
  __DEFINES/reagents.dm
  code/game/atoms.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/modules/projectiles/guns/projectile/constructable/swords.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/dartgun.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  code/modules/reagents/reagent_containers/chempack.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/research/xenoarchaeology/tools/bunsen_burner.dm
Owners: none

missing icon
  icons/obj/hydroponics.dmi
Owners: @ShizCalev, @WJohn

debugaccess
  code/modules/admin/topic.dm
Owners: none

Optimizes powercreeeper's growth. It now only tries to grow in the directions it knows are clear, and doesn't try to grow if there's no growth dirs remaining.
  code/game/gamemodes/events/powercreeper.dm
Owners: none

time to get lynched
  code/game/gamemodes/steal_items.dm
Owners: none

duh
  code/world.dm
Owners: none

mechanic and paramed
  code/game/gamemodes/steal_items.dm
Owners: none

added diskette boxes to maps
  code/datums/supplypacks.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  code/modules/store/items.dm
  maps/test_box.dmm
Owners: none

modified: code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot.dm
Owners: none

Update hypospray.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Owners: none

Update hypospray.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Owners: none

better
  code/datums/gamemode/role/catbeast.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_pathogen.dm
  code/modules/research/xenoarchaeology/finds/finds_special.dm
Owners: none

dummies
  code/modules/virus2/centrifuge.dm
Owners: none

cat immunity
  code/modules/virus2/disease2.dm
  code/modules/virus2/effect/stage_2.dm
Owners: none

modified: code/game/objects/items/devices/illegalradio.dm
  code/game/objects/items/devices/illegalradio.dm
Owners: none
