Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Formatting
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/projectiles/guns/energy/tag.dm
Owners: none

Fixes rocknuts potency not scalling
  code/modules/reagents/reagent_containers/food/snacks/grown.dm
Owners: none

Fixes
  code/modules/reagents/reagent_containers/food/snacks/grown.dm
Owners: none

DOH
  code/modules/reagents/reagent_containers/food/snacks/grown.dm
Owners: none

Made the .dm file readable in VSCode
  code/game/machinery/computer/medical.dm
Owners: none

Format
  code/game/machinery/computer/medical.dm
Owners: none

Actually fixes it
  code/game/machinery/computer/medical.dm
  code/modules/virus2/disease2.dm
Owners: none

thing
  code/WorkInProgress/MadmanMartian/blacksmithing/blacksmithing.dm
Owners: none

hammer
  code/WorkInProgress/MadmanMartian/blacksmithing/blacksmithing.dm
Owners: none

Laser tag custom games! (#25806)
  __DEFINES/clothing.dm
  code/datums/laser_tag_game.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/projectiles/guns/energy/tag.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/energy.dm
  vgstation13.dme
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Closes issues #22549 & #25799
  maps/backup/Dorfstation.dmm
Owners: none

Security Bolas now has a 100% chance to trip instead of 90% (#25855)
  code/defines/obj/weapon.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Revert "Closes issues #22549 & #25799"
  maps/backup/Dorfstation.dmm
Owners: none

The Fattening (#25874)
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/utility.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/suit_fat.dmi
  icons/mob/uniform_fat.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

More PAI foods (#25865)
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/food2.dmi
Owners: @ShizCalev, @WJohn

Fixes corn oil and makes robotic hearts immune to it (#25889)
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

smoking IN SPACE (#25869)
  code/game/objects/items/weapons/cigs_lighters.dm
Owners: none

Adds a cassock to the chaplain vending machine
  code/game/machinery/vending.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/suit.dmi
  icons/mob/suit_fat.dmi
  icons/obj/clothing/suits.dmi
Owners: @ShizCalev, @WJohn

should fix conflicting files with the fat sprites
  icons/mob/suit_fat.dmi
Owners: @ShizCalev, @WJohn

disabled cult
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

What could go wrong
  code/modules/reagents/reagent_containers/food/snacks/grown.dm
Owners: none

more cult
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

burp, cargo is rent free reeeeeee, more gimmicky now
  code/datums/supplypacks.dm
  code/game/machinery/ammolathe.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/research/designs.dm
  code/modules/research/designs/weapons.dm
  maps/snaxi.dmm
Owners: none

damian
  __DEFINES/_macros.dm
  __DEFINES/role_datums_defines.dm
  code/_onclick/hud/human.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
  code/datums/gamemode/factions/malf.dm
  code/datums/gamemode/malf.dm
  code/datums/helper_datums/getrev.dm
  code/datums/religions.dm
  code/game/verbs/ooc.dm
  code/game/verbs/who.dm
  code/modules/admin/verbs/custom_event.dm
  code/modules/client/client procs.dm
  code/modules/html_interface/voting/voting.dm
  code/modules/media/mediamanager.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/mommi/mommi.dm
  code/modules/mob/mob.dm
  code/modules/nano/nanoui.dm
  code/modules/paperwork/pen.dm
  html/changelogs/damian.yml
  interface/interface.dm
Owners: @Cyberboss

Makes polls marked as hidden not show up in game.
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/new_player/poll.dm
Owners: none

nymphtide worldwide
  __DEFINES/setup.dm
  code/modules/admin/topic.dm
  code/modules/events/infestation.dm
Owners: none

Update blastcannon.dm
  code/modules/projectiles/guns/projectile/constructable/blastcannon.dm
Owners: none

TEC stuff again
  code/ATMOSPHERICS/components/binary_devices/heat_pump.dm
  code/modules/atmos_automation/implementation/heat_pumps.dm
  icons/obj/atmospherics/heat_pump.dmi
  icons/obj/pipe-item.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

dumb idiot, you removed didn't remove it completely, reeeeeeeeeee
  code/game/machinery/ammolathe.dm
Owners: none

Make the blast cannon a bit better (#25800)
  code/modules/projectiles/guns/projectile/constructable/blastcannon.dm
Owners: none

Thermoelectric Coolers (#25837)
  code/ATMOSPHERICS/components/binary_devices/heat_pump.dm
  code/ATMOSPHERICS/pipe/construction.dm
  code/ZAS/_gas_mixture.dm
  code/modules/RCD/RPD.dm
  code/modules/RCD/schematics/pipe.dm
  code/modules/atmos_automation/implementation/heat_pumps.dm
  icons/obj/atmospherics/heat_pump.dmi
  icons/obj/pipe-item.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

Adds cassocks to the chapel vendor (#25911)
  code/game/machinery/vending.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/suit.dmi
  icons/mob/suit_fat.dmi
  icons/obj/clothing/suits.dmi
Owners: @ShizCalev, @WJohn

hammer (#25907)
  code/WorkInProgress/MadmanMartian/blacksmithing/blacksmithing.dm
Owners: none

Fixes rocknuts potency not scalling (#25904)
  code/modules/reagents/reagent_containers/food/snacks/grown.dm
Owners: none

Fixes sleepers bugging after jaunt/blink/teleport (#25903)
  code/game/machinery/Sleeper.dm
Owners: none

Fixes centcomm HR faxes going into the void (#25901)
  code/WorkInProgress/kilakk/fax.dm
Owners: none

fixes bedsheet layering when buckling to beds (#25868)
  code/modules/mob/living/carbon/human/human.dm
Owners: none
