Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

oh lawd there's DB stuff
  code/modules/client/client procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/migrations/SS13_Prefs/016-add-voice.dm
  code/modules/mob/living/carbon/human/say.dm
  vgstation13.dme
Owners: none

Oh boy, minigames!
  code/WorkInProgress/pomf/spacepods/equipment.dm
  code/WorkInProgress/pomf/spacepods/spacepods.dm
  code/__HELPERS/text.dm
Owners: none

Terminate => High Threat
  code/game/data_huds.dm
  code/game/machinery/bots/ed209bot.dm
  code/game/machinery/bots/secbot.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/metaldetector.dm
  code/game/machinery/portable_turret.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life/handle_hud_list.dm
Owners: none

Cleaned Up Survivor Scoreboard (#21963)
  code/datums/gamemode/role/role.dm
  code/datums/gamemode/role/summonsurvivors.dm
  code/datums/gamemode/role/syndicate.dm
  code/game/gamemodes/wizard/rightandwrong.dm
  vgstation13.dme
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Adds a locking system for spacepods. (#21892)
  code/WorkInProgress/pomf/spacepods/actions.dm
  code/WorkInProgress/pomf/spacepods/equipment.dm
  code/WorkInProgress/pomf/spacepods/pod_fabricator.dm
  code/WorkInProgress/pomf/spacepods/spacepods.dm
  code/__HELPERS/text.dm
  code/modules/research/designs/spacepod/weapons.dm
  icons/pods/ship.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Blob is less likely to roll at roundstart (#21955)
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

Midround Blobstorm is now less likely to roll. (#21965)
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
Owners: none

*TERMINATE* arrest setting. (#21943)
  __DEFINES/security.dm
  code/game/data_huds.dm
  code/game/machinery/bots/ed209bot.dm
  code/game/machinery/bots/secbot.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/metaldetector.dm
  code/game/machinery/portable_turret.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life/handle_hud_list.dm
  icons/mob/hud.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Hulks and xenomorphs can unbuckle faster from being cuffed and buckled (#21896)
  code/modules/mob/living/living.dm
Owners: none

Weeb to Ninja
  __DEFINES/_macros.dm
  __DEFINES/role_datums_defines.dm
  __DEFINES/setup.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_latejoin.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
  code/datums/gamemode/misc_gamemode_procs.dm
  code/datums/gamemode/role/ninja.dm
  code/datums/gamemode/role/weeaboo.dm
  code/game/objects/items/mountable_frames/posters/poster.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/client/preferences.dm
  code/modules/credits/episode_name.dm
  code/modules/mob/mob_helpers.dm
  code/modules/projectiles/gun.dm
  icons/logos.dmi
  icons/mob/AI.dmi
  icons/obj/posters.dmi
  icons/obj/weapons.dmi
  icons/role_HUD_icons.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

HRP record autism
  code/game/machinery/computer/medical.dm
Owners: none

HRP record autism (#21987)
  code/game/machinery/computer/medical.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Summon spells
  __DEFINES/_macros.dm
  __DEFINES/role_datums_defines.dm
  code/datums/gamemode/objectives/survive.dm
  code/datums/gamemode/role/summonsurvivors.dm
  code/game/gamemodes/wizard/artifacts.dm
  code/game/gamemodes/wizard/rightandwrong.dm
  code/game/mecha/combat/durand.dm
  code/game/mecha/combat/gygax.dm
  code/game/mecha/medical/odysseus.dm
  code/game/mecha/working/clarke.dm
Owners: none

abort
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
Owners: none

ied-beartrap overlay and bugfix (#21974)
  code/defines/obj/weapon.dm
  code/game/objects/items/weapons/grenades/ghettobomb.dm
  icons/obj/grenade.dmi
  icons/obj/items.dmi
Owners: @ShizCalev, @WJohn

Adds tractor and carts to cargo (#21967)
  code/datums/supplypacks.dm
Owners: none

MALF AIs now have a chance to roll midround, but they're rare. (#21962)
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

disregard laws
  code/datums/gamemode/factions/blob.dm
Owners: none

station Z
  code/datums/gamemode/factions/blob.dm
Owners: none

Increase fire_fuel_energy_release again (#21980)
  code/ZAS/NewSettings.dm
  code/game/objects/effects/spawners/bombspawner.dm
  config-example/ZAS.txt
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Blob tweaks eternal. (#21938)
  code/datums/gamemode/factions/blob.dm
  code/datums/gamemode/objectives/invade.dm
  code/datums/helper_datums/command_alerts.dm
  code/game/gamemodes/blob/blobs/core.dm
Owners: @ChangelingRain

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

ahhhhh
  code/datums/gamemode/dynamic/dynamic.dm
Owners: none

ahhhhh (#21989)
  code/datums/gamemode/dynamic/dynamic.dm
Owners: none

Add the full Inquisitor set to the Chap's vending machine
  code/game/machinery/vending.dm
Owners: none

PermagunkRevival
  __DEFINES/areas.dm
  __DEFINES/subsystem.dm
  code/__HELPERS/icons.dm
  code/controllers/subsystem/init/persistence_map.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_buildings.dm
  code/game/area/Space Station 13 areas.dm
  code/game/atoms.dm
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/game/gamemodes/nuclear/nuclearbomb.dm
  code/game/objects/effects/decals/Cleanable/fuel.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/effects/decals/Cleanable/tracks.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/effects/decals/crayon.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/trash.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/persistence/map_persistence_blood.dm
  code/modules/persistence/map_persistence_cleanable.dm
  code/modules/persistence/map_persistence_gibs.dm
  code/modules/persistence/map_persistence_tracks.dm
  code/modules/persistence/map_persistence_trash.dm
  code/modules/persistence/map_persistence_type.dm
  code/modules/randomMaps/vaults.dm
  vgstation13.dme
Owners: none

remove old
  icons/obj/plants.dmi
Owners: @ShizCalev, @WJohn

in with the new
  icons/obj/plants.dmi
Owners: @ShizCalev, @WJohn

updates the random part
  code/game/objects/structures/flora/flora.dm
Owners: none

black catbeast
  __DEFINES/mobs.dm
  code/__HELPERS/mobs.dm
  code/datums/gamemode/objectives/catbeast.dm
  code/datums/gamemode/role/catbeast.dm
  code/modules/mob/living/carbon/species.dm
  code/modules/mob/new_player/preferences_setup.dm
  icons/mob/human_face.dmi
  icons/mob/human_races/catbeast/r_def_tajaran.dmi
  icons/mob/human_races/catbeast/r_def_tajaranblack.dmi
  icons/mob/human_races/catbeast/r_tajaran.dmi
  icons/mob/human_races/catbeast/r_tajaranblack.dmi
Owners: @ShizCalev, @WJohn

The character preference window will now tell you what color your skin tone is instead of just a numerical value
  code/modules/client/preferences.dm
Owners: none

oops
  code/__HELPERS/mobs.dm
Owners: none

/catbeast/
  code/modules/mob/living/carbon/species.dm
  code/modules/mob/new_player/sprite_accessories.dm
Owners: none

PermagunkRevival (#21993)
  __DEFINES/areas.dm
  __DEFINES/subsystem.dm
  code/__HELPERS/icons.dm
  code/controllers/subsystem/init/persistence_map.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_buildings.dm
  code/game/area/Space Station 13 areas.dm
  code/game/atoms.dm
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/game/gamemodes/nuclear/nuclearbomb.dm
  code/game/objects/effects/decals/Cleanable/fuel.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/effects/decals/Cleanable/tracks.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/effects/decals/crayon.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/trash.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/persistence/map_persistence_blood.dm
  code/modules/persistence/map_persistence_cleanable.dm
  code/modules/persistence/map_persistence_gibs.dm
  code/modules/persistence/map_persistence_tracks.dm
  code/modules/persistence/map_persistence_trash.dm
  code/modules/persistence/map_persistence_type.dm
  code/modules/randomMaps/vaults.dm
  vgstation13.dme
Owners: none
