Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

requested hcanges
  __DEFINES/global.dm
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/game/machinery/telecomms/broadcaster.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/RCD/engie.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/death.dm
Owners: none

fix typos
  code/game/machinery/telecomms/broadcaster.dm
  code/modules/RCD/engie.dm
  code/modules/mob/living/silicon/ai/death.dm
Owners: none

Shift/Alt/Ctrl clicking the turf below an airlock Shift/Alt/Ctrl clicks the airlock. AI camera will not jump on double shift/alt/ctrl click (only regular double click) (#27715)
  code/_onclick/ai.dm
  code/game/machinery/doors/airlock.dm
Owners: none

Malfunctioning AI Blackout + RCD Disable Ability Tweaks (#27844)
  __DEFINES/global.dm
  code/__HELPERS/global_lists.dm
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/game/machinery/telecomms/broadcaster.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/say.dm
  code/modules/RCD/engie.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/death.dm
  code/modules/power/apc.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

framework
  code/datums/gamemode/powers/changeling.dm
  code/datums/gamemode/powers/powers.dm
  code/datums/gamemode/powers/vampire.dm
  code/datums/gamemode/role/changeling.dm
  code/datums/gamemode/role/role.dm
  code/datums/gamemode/role/vampire_role.dm
  code/datums/gamemode/vampire_gamemode.dm
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/objects/items/weapons/cosmetics.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life/handle_regular_hud_updates.dm
  code/modules/spells/vampire_helpers.dm
  vgstation13.dme
Owners: none

add remove all admin verbs
  code/modules/admin/admin_verbs.dm
Owners: none

Fixes re-admining not restoring the AntagHUD verb (#27953)
  code/modules/admin/admin_verbs.dm
Owners: none

language fixes
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
Owners: none

DNA modifiers and injectors properly transfer unique enzymes
  code/game/dna/dna_modifier.dm
  code/game/objects/items/weapons/dna_injector.dm
Owners: none

Cult 2020 Rework #1: Seer (#27950)
  __DEFINES/role_datums_defines.dm
  __DEFINES/setup.dm
  code/datums/gamemode/factions/bloodcult/bloodcult.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  icons/mob/hud.dmi
Owners: @ShizCalev, @WJohn

Bagelstation episode two maybe? (#27989)
  .travis.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Bagel Voting Requirement
  code/__HELPERS/files.dm
  code/modules/food/recipes_microwave.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/food.dmi
Owners: @ShizCalev, @WJohn

seer fixes
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/datums/gamemode/role/cultist.dm
Owners: none

Added client FPS preference
  __DEFINES/setup.dm
  code/modules/client/client procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/migrations/SS13_Prefs/026-add-fps.dm
  vgstation13.dme
Owners: none

ugh
  SQL/players2.sql
Owners: @Jordie0608

Added warning for old versions
  code/modules/client/preferences.dm
Owners: none

oops
  code/modules/client/preferences.dm
Owners: none

AHHHH
  code/datums/gamemode/role/catbeast.dm
  code/modules/virus2/predefined.dm
Owners: none

Ae
  code/datums/gamemode/role/catbeast.dm
Owners: none

please wooork
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/suits.dmi
Owners: @ShizCalev, @WJohn

Update code/datums/gamemode/role/catbeast.dm
  code/datums/gamemode/role/catbeast.dm
Owners: none

FUCK
  code/datums/gamemode/role/catbeast.dm
Owners: none

remove overlays
  code/game/machinery/computer/law.dm
Owners: none

more worky
  __DEFINES/spell_defines.dm
  code/datums/gamemode/powers/vampire.dm
  code/datums/gamemode/role/changeling.dm
  code/datums/gamemode/role/vampire_role.dm
  code/datums/gamemode/vampire_gamemode.dm
  code/game/gamemodes/changeling/changeling_powers.dm
  code/modules/spells/changeling/changeling_spell.dm
  code/modules/spells/changeling/lesser_form.dm
  icons/mob/screen_spells.dmi
Owners: @ShizCalev, @WJohn

Gas overlays no longer capture clicks
  code/ZAS/XGM_gases.dm
Owners: none

warning -> stack_trace
  code/controllers/subsystem/garbage.dm
Owners: none

Even better
  code/controllers/subsystem/garbage.dm
Owners: none

ffff
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
Owners: none

remove special harmbaton name for stealth
  code/game/objects/items/weapons/stunbaton.dm
Owners: none

Areas without APCs can no longer have overlays
  code/game/area/areas.dm
Owners: none

Update stunbaton.dm
  code/game/objects/items/weapons/stunbaton.dm
Owners: none

*fix fleshshot runtime error
  code/modules/mob/living/simple_animal/borer/fleshshot.dm
Owners: none

spooky sanities
  code/game/objects/structures/candybucket.dm
  code/modules/mob/living/simple_animal/hostile/skeletonjack.dm
Owners: none

fixes a lot more silencer related stuff
  code/modules/mob/living/simple_animal/borer/fleshshot.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/lawgiver.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/constructable/blastcannon.dm
  code/modules/projectiles/guns/projectile/pistol.dm
Owners: none

fix
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
Owners: none

ohfuck
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
Owners: none

Can no longer salt walls
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Wait no this is less stupid
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
