Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

typofix
  code/modules/hydroponics/hydro_tools.dm
Owners: none

Fixes gold slime extract mimic behaviour in grenades
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

Makes "on station" a bit more literal for scoreboards
  code/game/gamemodes/endgame/scoreboard/department_score.dm
  code/game/objects/effects/decals/cleanable.dm
Owners: none

comment
  code/game/gamemodes/endgame/scoreboard/department_score.dm
Owners: none

comment
  code/game/gamemodes/endgame/scoreboard/department_score.dm
Owners: none

dynamically updates these verbs
  code/modules/mob/mob.dm
  code/modules/multiz/movement.dm
Owners: none

fixes this
  code/game/gamemodes/endgame/scoreboard/department_score.dm
Owners: none

removes this from info if nothing shows up
  code/game/gamemodes/endgame/scoreboard/scoreboard.dm
Owners: none

if nothing bad, show this
  code/game/gamemodes/endgame/scoreboard/scoreboard.dm
Owners: none

removed abstract obj overlays, replaced all uses with /mutable_appearance, improved update_icons() for multiple mobs, removed overlays_lying, monkeys rest and get up like humans
  __DEFINES/setup.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_mobs_and_constructs.dm
  code/game/objects/items/weapons/storage/briefcase.dm
  code/game/objects/items/weapons/storage/secure.dm
  code/game/objects/structures/mannequin.dm
  code/game/objects/structures/window.dm
  code/libs/Get Flat Icon/Get Flat Icon Deluxe.dm
  code/modules/clothing/accessories/accessory.dm
  code/modules/clothing/accessories/tactical_light.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/dead/death.dm
  code/modules/mob/living/carbon/alien/humanoid/queen.dm
  code/modules/mob/living/carbon/alien/humanoid/update_icons.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/complex/martian/update_icons.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/monkey/inventory.dm
  code/modules/mob/living/carbon/monkey/update_icons.dm
  code/modules/mob/living/carbon/update_icons.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/mommi/update_icons.dm
  code/modules/mob/living/simple_animal/hologram/hologram.dm
  code/modules/mob/living/simple_animal/hologram/hologram_inventory.dm
  code/modules/mob/living/simple_animal/hostile/grinch.dm
  code/modules/overlays/mobs.dm
  code/modules/reagents/reagents/reagents_paint.dm
  code/modules/reagents/reagents/reagents_tools.dm
  icons/mob/OnFire.dmi
  icons/mob/horror.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

Signed-off-by: faggot <janezivan@cock.li>
  code/game/objects/items/movable_dispenser.dm
  code/modules/reagents/machinery/chem_dispenser.dm
  sound/items/dispenser_explode.wav
  sound/items/dispenser_generate_metal.wav
  sound/items/wrench_hit_build_success2.wav
  vgstation13.dme
Owners: @ShizCalev

fix greytide implant working in spite of failure to inject
  code/game/objects/items/weapons/implants/types/greytide_implant.dm
Owners: none

this fix actually works, plus fix not being able to reinsert implants
  code/game/objects/items/weapons/implants/implant.dm
  code/game/objects/items/weapons/implants/implanter.dm
  code/game/objects/items/weapons/implants/types/greytide_implant.dm
Owners: none

announce objectives too
  code/game/objects/items/weapons/implants/types/greytide_implant.dm
Owners: none

announce objectives to only the implanted
  code/game/objects/items/weapons/implants/types/greytide_implant.dm
Owners: none

better conversion message
  code/game/objects/items/weapons/implants/types/greytide_implant.dm
Owners: none

more april fools per april
  code/game/gamemodes/events/holidays/Holidays.dm
Owners: none

only sundays
  code/game/gamemodes/events/holidays/Holidays.dm
Owners: none

grammar check
  code/modules/hydroponics/hydro_tools.dm
Owners: none

change to byond pronoun macros
  code/game/objects/items/weapons/implants/types/greytide_implant.dm
Owners: none

message admins if shit gets fucked
  code/game/objects/items/movable_dispenser.dm
Owners: none

Update religions.dm
  code/datums/religions.dm
Owners: none

Update religions.dm
  code/datums/religions.dm
Owners: none

Circulator Crate Description Fix
  code/datums/supply_packs/engineering.dm
Owners: none

Initial pass on crab hands
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/species.dm
  icons/mob/human_races/r_crab.dmi
Owners: @ShizCalev, @WJohn

Mass driver construction fixes
  code/datums/helper_datums/construction_datum.dm
  code/game/machinery/mass_driver.dm
Owners: none

cleaner decon system
  code/datums/helper_datums/construction_datum.dm
  code/game/machinery/cell_charger.dm
  code/game/machinery/mass_driver.dm
  code/game/objects/items/mountable_frames/apc_frame.dm
Owners: none

makes anchoring work normally now
  code/game/machinery/mass_driver.dm
Owners: none

hotfix to keep eye damage from welding in
  code/game/machinery/mass_driver.dm
Owners: none

Addressing PR feedback.
  code/ATMOSPHERICS/components/unary/vent_scrubber.dm
  code/ATMOSPHERICS/hvac/cryotheum_resonator.dm
  code/ZAS/XGM_reactions.dm
  code/ZAS/Zone.dm
  code/ZAS/_gas_mixture.dm
  code/datums/supply_packs/engineering.dm
  code/game/machinery/alarm.dm
  code/game/machinery/atmo_control.dm
  code/game/machinery/atmoalter/scrubber.dm
  code/game/machinery/computer/atmos_control.dm
  code/game/objects/effects/overlays.dm
  code/modules/atmos_automation/implementation/scrubbers.dm
  code/modules/mob/living/carbon/carbon.dm
  maps/randomvaults/mining/mining_surprise_items.dm
  maps/randomvaults/objects.dm
Owners: none

formatting returns
  code/game/machinery/mass_driver.dm
Owners: none

more details
  code/modules/hydroponics/hydro_tools.dm
Owners: none

plural check
  code/modules/hydroponics/hydro_tools.dm
Owners: none

.
  code/modules/hydroponics/hydro_tools.dm
Owners: none

Wiz card descriptions now only show when flipped
  code/modules/games/cards/wizard_cards.dm
Owners: none

Fixes human cube interaction with ez bake machines
  code/modules/food/cooking_machines.dm
Owners: none

Shields now properly block stun batons
  code/game/objects/items/weapons/stunbaton.dm
Owners: none

oops
  code/game/objects/items/weapons/stunbaton.dm
Owners: none

haha containted
  code/modules/food/cooking_machines.dm
Owners: none

haha indent
  code/game/objects/items/weapons/stunbaton.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
