Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Removes a particularily annoying instance of text()
  code/game/gamemodes/nuclear/nuclearbomb.dm
  code/game/objects/items/weapons/storage/secure.dm
Owners: none

panic more
  icons/barsigns.dmi
Owners: @ShizCalev, @WJohn

put it back in the holster
  icons/barsigns.dmi
Owners: @ShizCalev, @WJohn

i can do this
  icons/obj/barsigns.dmi
Owners: @ShizCalev, @WJohn

i had to commit this three times to make it work
  code/game/objects/structures/barsigns/bay.dm
Owners: none

Fixes linter problems
  code/datums/shuttle.dm
  code/game/gamemodes/events/dust.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/martian_printer.dm
  code/game/machinery/mommi_spawner.dm
  code/game/objects/items/weapons/kitchen.dm
  code/game/objects/items/weapons/storage/bible.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/admin/ToRban.dm
  code/modules/admin/verbs/debug.dm
  code/modules/awaymissions/maploader/writer.dm
  code/modules/flufftext/Dreaming.dm
  code/modules/projectiles/guns/projectile/rocketlauncher.dm
  code/modules/spells/general/undeath.dm
Owners: none

Fixes mice being able to interact with fire alarms
  code/game/machinery/alarm.dm
Owners: none

Juke Examine
  code/modules/media/jukebox.dm
Owners: none

Pass song info around for receiver examine
  code/modules/media/broadcast/receiver.dm
  code/modules/media/broadcast/transmitter.dm
  code/modules/media/jukebox.dm
  code/modules/media/machinery.dm
Owners: none

...whoops
  code/modules/media/broadcast/receiver.dm
  code/modules/media/jukebox.dm
Owners: none

fix copypasted examine
  code/modules/media/broadcast/receiver.dm
Owners: none

Bar Sign Refurb Pack I.I (#28814)
  code/game/objects/structures/barsigns/bay.dm
  icons/barsigns.dmi
Owners: @ShizCalev, @WJohn

Fixes linter problems (#28816)
  code/datums/shuttle.dm
  code/game/gamemodes/events/dust.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/martian_printer.dm
  code/game/machinery/mommi_spawner.dm
  code/game/objects/items/weapons/kitchen.dm
  code/game/objects/items/weapons/storage/bible.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/admin/ToRban.dm
  code/modules/admin/verbs/debug.dm
  code/modules/awaymissions/maploader/writer.dm
  code/modules/flufftext/Dreaming.dm
  code/modules/projectiles/guns/projectile/rocketlauncher.dm
  code/modules/spells/general/undeath.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Removes a particularily annoying instance of text() (#28813)
  code/game/gamemodes/nuclear/nuclearbomb.dm
  code/game/objects/items/weapons/storage/secure.dm
Owners: none

Fixed a bug where you could not build cyborgs if the cyborg jobs did not exist (#28545)
  code/game/machinery/autoborger.dm
  code/game/objects/items/robot/robot_parts.dm
  code/modules/mob/transform_procs.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

pesticided
  code/modules/hydroponics/hydro_tools.dm
Owners: none

adds heavy roleplay
  code/modules/mob/mob.dm
Owners: none

whoops
  code/modules/mob/mob.dm
Owners: none

Allow wraiths to jaunt on pressing 'z'
  code/modules/mob/living/simple_animal/constructs.dm
Owners: none

whoops
  code/modules/mob/living/simple_animal/constructs.dm
Owners: none

PROBABLY fixes last played song info getting stuck and emagged songs not being recognized as such
  code/modules/media/jukebox.dm
Owners: none

HOPEFULLY fixes sound systems not getting song info on first connect
  code/modules/media/broadcast/receiver.dm
Owners: none

Couple minor fixes
  code/modules/media/broadcast/receiver.dm
  code/modules/media/jukebox.dm
Owners: none

Update barsign.dm
  code/game/objects/structures/barsign.dm
Owners: none

He's the boss. Boss cultist.
  __DEFINES/_macros.dm
  __DEFINES/role_datums_defines.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
  code/datums/gamemode/factions/bloodcult/bloodcult.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  code/datums/gamemode/role/cultist.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/simple_animal/constructs.dm
  icons/logos.dmi
  icons/role_HUD_icons.dmi
Owners: @ShizCalev, @WJohn

Custom Barsign Sound Changes (#28802)
  code/game/objects/structures/barsign.dm
  sound/items/barsign/bsign_bassdrum_1.ogg
  sound/items/barsign/bsign_bassdrum_2.ogg
  sound/items/barsign/bsign_bassdrum_3.ogg
  sound/items/barsign/bsign_bongo_1.ogg
  sound/items/barsign/bsign_clap.ogg
  sound/items/barsign/bsign_oh_yeah.ogg
  sound/items/barsign/bsign_slapbass.ogg
  sound/items/barsign/bsign_snare.ogg
Owners: @ShizCalev

Hotfix to barsign access
  code/game/objects/structures/barsign.dm
Owners: none

.45 inside vector
  code/modules/projectiles/guns/projectile/automatic.dm
Owners: none

should work now
  code/modules/mob/living/simple_animal/constructs.dm
Owners: none

suggestion
  code/modules/mob/living/simple_animal/constructs.dm
Owners: none

remove jugger low-melee-damage immunity
  code/modules/mob/living/simple_animal/constructs.dm
Owners: none

Parenthesis Changes?
  code/game/objects/structures/barsign.dm
Owners: none

wew
  code/modules/clothing/under/miscellaneous.dm
Owners: none

Examining the Jukebox or a sound system while a song is playing shows the name of the song (#28818)
  code/modules/media/broadcast/receiver.dm
  code/modules/media/broadcast/transmitter.dm
  code/modules/media/jukebox.dm
  code/modules/media/machinery.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

wew (#28840)
  code/modules/clothing/under/miscellaneous.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none
