Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Increased cost and moved to contraband
  code/game/machinery/autolathe.dm
  code/game/objects/items/weapons/tools.dm
Owners: none

Update lotto.dm
  code/modules/games/cards/lotto.dm
Owners: none

Updated it to RCD Cost
  code/game/objects/items/weapons/tools.dm
Owners: none

Update emotes.dm
  code/datums/emotes.dm
Owners: none

Update emotes.dm
  code/datums/emotes.dm
Owners: none

Update emotes.dm
  code/datums/emotes.dm
Owners: none

Simplemob Girder Smashin' (For Wall Smashing Mobs Only) (#32669)
  code/game/objects/structures/girders.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/human/greynurse.dm
  code/modules/mob/living/simple_animal/hostile/human/vox.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Update client procs.dm
  code/modules/client/client procs.dm
Owners: none

Update say.dm
  code/game/say.dm
Owners: none

Adds ALT+Click to Rotate Engineering Machinery
  code/modules/optics/prism.dm
  code/modules/power/ShieldGen/shield_capacitor.dm
  code/modules/power/singularity/emitter.dm
  code/modules/power/singularity/particle_accelerator/particle_accelerator.dm
Owners: none

Changed Prism to rotate clockwise
  code/modules/optics/prism.dm
Owners: none

Update emotes.dm
  code/datums/emotes.dm
Owners: none

Update emotes.dm
  code/datums/emotes.dm
Owners: none

Removing corn oil from deep fryer with beakers
  code/modules/food/cooking_machines.dm
  code/modules/reagents/reagent_containers.dm
Owners: none

Cut down code
  code/modules/food/cooking_machines.dm
  code/modules/reagents/reagent_containers.dm
Owners: none

Type
  code/modules/reagents/reagent_containers.dm
Owners: none

Added Fuel Generators and Fuel Injectors
  code/modules/power/rust/fuel_injector.dm
  code/modules/power/rust/gyrotron.dm
Owners: none

Added Fuel Injector & Gyrton
  code/modules/power/rust/fuel_injector.dm
  code/modules/power/rust/gyrotron.dm
Owners: none

A limit on autoharvesting (#32653)
  code/modules/hydroponics/seed_datums.dm
Owners: none

Merge Changeling hive upload and download into one spell (#32663)
  code/datums/gamemode/powers/changeling.dm
  code/game/objects/items/devices/healthanalyzerpro.dm
  code/modules/spells/changeling/absorb_dna.dm
  code/modules/spells/changeling/hivedownload.dm
  code/modules/spells/changeling/hivemind.dm
  code/modules/spells/changeling/hiveupload.dm
  icons/mob/screen_spells.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Refactor tinfoil hat snowflake code (#32664)
  __DEFINES/setup.dm
  code/datums/gamemode/powers/changeling.dm
  code/game/data_huds.dm
  code/game/dna/genes/goon_powers.dm
  code/game/dna/genes/powers.dm
  code/game/gamemodes/setupgame.dm
  code/game/machinery/camera/tracking.dm
  code/game/machinery/mind_machine.dm
  code/game/objects/items/weapons/dna_injector.dm
  code/modules/mob/living/carbon/human/life/handle_regular_hud_updates.dm
  code/modules/mob/living/carbon/species.dm
  code/modules/mob/living/simple_animal/hostile/human/grey.dm
  code/modules/mob/living/simple_animal/hostile/human/halloween.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/spells/targeted/targeted.dm
  maps/randomvaults/dungeons/research.dmm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Update effect_system.dm
  code/game/objects/effects/effect_system.dm
Owners: none

Remove unneeded arg.
  code/game/objects/items/devices/PDA/PDA.dm
  code/modules/mob/living/carbon/carbon.dm
Owners: none

Refactors nutrition code.
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Running with scissors (#32685)
  code/__HELPERS/text.dm
  code/_onclick/item_attack.dm
  code/game/machinery/camera/camera.dm
  code/game/objects/breakable.dm
  code/game/objects/effects/effect_system.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/weapons/clown_items.dm
  code/game/objects/items/weapons/grenades/clowngrenade.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/soap.dm
  code/game/objects/items/weapons/teleportation.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/combat.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/living/living.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/grown.dm
  code/modules/reagents/reagent_containers/syringes.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

diona update
  code/modules/mob/living/carbon/monkey/diona.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Added a small sound to signal to revheads that they have been converted
  code/datums/gamemode/role/rev.dm
  sound/misc/wideismymotherland.ogg
Owners: @ShizCalev

ogg
  code/datums/gamemode/role/rev.dm
Owners: none

Removes unreadied requirement for slot editing
  code/modules/mob/new_player/new_player.dm
Owners: none

First Stab at Exclusive dynamic events
  code/datums/gamemode/dynamic/dynamic.dm
  code/datums/gamemode/dynamic/dynamic_rulesets.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

Moves rst_pop out of conditional
  code/datums/gamemode/dynamic/dynamic.dm
Owners: none

Revert "Adds ALT+Click to Rotate Engineering Machinery"
  code/modules/optics/prism.dm
  code/modules/power/ShieldGen/shield_capacitor.dm
  code/modules/power/singularity/emitter.dm
  code/modules/power/singularity/particle_accelerator/particle_accelerator.dm
Owners: none

Can now only pick prison break event if people are actually in prison
  code/modules/events/prison_break.dm
Owners: none

Fixes list runtime
  code/datums/gamemode/dynamic/dynamic.dm
Owners: none

Doubles chance
  code/modules/events/prison_break.dm
Owners: none
