Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Update telesci_computer.dm (#35729)
  code/modules/telesci/telesci_computer.dm
Owners: none

prevent gunk chance when warming in microwave (#35730)
  code/game/machinery/kitchen/microwave.dm
Owners: none

Fix Glass Tiles (#35731)
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/tiles/tiles.dm
  maps/randomvaults/mining/mining_surprise_items.dm
Owners: none

Update bees_items.dm (#35732)
  code/modules/mob/living/simple_animal/bees/bees_items.dm
Owners: none

Yet Even More Moody Lights
  code/game/atoms.dm
  code/game/machinery/ATM.dm
  code/game/machinery/airlock_control.dm
  code/game/machinery/alarm.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/computer/aifixer.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/computer/pda_terminal.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/door_control.dm
  code/game/machinery/embedded_controller/airlock_controllers.dm
  code/game/machinery/embedded_controller/embedded_controller_base.dm
  code/game/machinery/kitchen/smartfridge.dm
  code/game/machinery/newscaster.dm
  code/game/machinery/requests_console.dm
  code/game/machinery/station_map.dm
  code/game/machinery/status_display.dm
  code/game/machinery/vending.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/structures/morgue.dm
  code/game/turfs/simulated/shuttle.dm
  code/modules/events/old_vendotron_event/old_vendotron.dm
  code/modules/media/broadcast/receivers/radio.dm
  code/modules/power/apc.dm
  code/modules/reagents/machinery/chem_master.dm
  code/modules/research/xenoarchaeology/machinery/artifact_analyser.dm
  code/modules/trader/trade_window.dm
  icons/lighting/moody_lights.dmi
  icons/lighting/special.dmi
  icons/obj/vending.dmi
  maps/defficiency/medbay.dmi
  sound/machines/vending_machines/vend_coffee.ogg
Owners: @ShizCalev, @WJohn

replacing update_vicon() with update_icon() and adding moody lights to "those two" vending machines
  code/game/machinery/vending.dm
  code/modules/research/xenoarchaeology/artifact/artifact_vendor.dm
  icons/lighting/moody_lights.dmi
  icons/obj/vending.dmi
Owners: @ShizCalev, @WJohn

all of them
  code/game/machinery/vending.dm
  icons/lighting/moody_lights.dmi
  icons/obj/vending.dmi
Owners: @ShizCalev, @WJohn

broken smartfridge sanity
  code/game/machinery/kitchen/smartfridge.dm
Owners: none

mapdiffbot wake up
  code/game/machinery/vending.dm
Owners: none

Vault spawn point system
  code/game/shuttles/brokeufo.dm
  code/game/shuttles/lightship.dm
  code/modules/randomMaps/vault_definitions.dm
  code/modules/randomMaps/vaults.dm
  maps/randomvaults/keycard_vault.dm
  maps/randomvaults/mothership_lab.dm
  maps/randomvaults/sokoban.dm
  maps/randomvaults/spessmart.dm
Owners: none

Some balance
  code/modules/randomMaps/vault_definitions.dm
  code/modules/randomMaps/vaults.dm
Owners: none

removes axe breaking
  code/game/objects/items/weapons/twohanded.dm
  code/modules/trader/crates/cloudnine.dm
Owners: none

unused var
  code/game/objects/items/weapons/twohanded.dm
Owners: none

make library url config option so i can update it with new webserver.
  code/controllers/configuration.dm
  code/modules/library/computers/checkout.dm
Owners: none

Fixes cable dipping (#35724)
  code/game/atoms.dm
  code/game/objects/items/incense.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/modules/mob/living/living.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/dropper.dm
Owners: none

The vending machines came out of the darkness. (#35734)
  code/game/atoms.dm
  code/game/machinery/ATM.dm
  code/game/machinery/airlock_control.dm
  code/game/machinery/alarm.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/computer/aifixer.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/computer/pda_terminal.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/door_control.dm
  code/game/machinery/embedded_controller/airlock_controllers.dm
  code/game/machinery/embedded_controller/embedded_controller_base.dm
  code/game/machinery/kitchen/smartfridge.dm
  code/game/machinery/newscaster.dm
  code/game/machinery/requests_console.dm
  code/game/machinery/station_map.dm
  code/game/machinery/status_display.dm
  code/game/machinery/vending.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/structures/morgue.dm
  code/game/turfs/simulated/shuttle.dm
  code/modules/events/old_vendotron_event/old_vendotron.dm
  code/modules/media/broadcast/receivers/radio.dm
  code/modules/power/apc.dm
  code/modules/reagents/machinery/chem_master.dm
  code/modules/research/xenoarchaeology/artifact/artifact_vendor.dm
  code/modules/research/xenoarchaeology/machinery/artifact_analyser.dm
  code/modules/trader/trade_window.dm
  icons/lighting/moody_lights.dmi
  icons/lighting/special.dmi
  icons/obj/vending.dmi
  maps/defficiency/medbay.dmi
  sound/machines/vending_machines/vend_coffee.ogg
Owners: @ShizCalev, @WJohn

Slap people in the mouth with a pill bottle to feed them a random pill.
  code/game/objects/items/weapons/storage/firstaid.dm
  sound/items/pillrattle.ogg
Owners: @ShizCalev

Painting/scoreboard maintenance
  code/game/gamemodes/endgame/scoreboard/misc_score.dm
  code/modules/admin/topic.dm
  code/modules/html_interface/paintTool/custom_painting_datum.dm
  code/modules/painting/paintings_custom.dm
Owners: none

moar moodies
  code/game/atoms.dm
  code/game/machinery/biogenerator.dm
  code/game/machinery/computer/labor.dm
  code/game/machinery/telecomms/broadcaster.dm
  code/game/machinery/telecomms/multicaster.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/game/objects/structures/morgue.dm
  code/modules/Economy/Accounts.dm
  code/modules/hydroponics/seed_extractor.dm
  code/modules/hydroponics/seed_machines.dm
  code/modules/power/singularity/particle_accelerator/particle.dm
  code/modules/power/singularity/particle_accelerator/particle_accelerator.dm
  code/modules/power/singularity/particle_accelerator/particle_chamber.dm
  code/modules/power/singularity/particle_accelerator/particle_control.dm
  code/modules/power/singularity/particle_accelerator/particle_emitter.dm
  code/modules/power/singularity/particle_accelerator/particle_power.dm
  code/modules/research/message_server.dm
  code/modules/research/xenoarchaeology/machinery/artifact_analyser.dm
  icons/lighting/moody_lights.dmi
  icons/lighting/moody_lights_96x96.dmi
  icons/obj/biogenerator.dmi
  icons/obj/hydroponics/hydro_tools.dmi
Owners: @ShizCalev, @WJohn

Fixed Conveyor
  vgstation13.dme
Owners: none

Revert to box as default
  vgstation13.dme
Owners: none

Horizon Fixes IX (#35739)
  maps/horizon.dm
Owners: none

Update vending.dm
  code/game/machinery/vending.dm
Owners: none

fix
  code/game/area/Space Station 13 areas.dm
  code/modules/reagents/reagent_containers/glass.dm
Owners: none

Fix Solars
  code/game/atoms.dm
  code/game/objects/items/devices/silicate sprayer.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/floor_glass.dm
  code/modules/power/solars/panel.dm
Owners: none

CE Belt Preequip
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  vgstation13.dme
Owners: none

git issue
  vgstation13.dme
Owners: none

Hallucinations Don't Fake Doorshock
  code/game/machinery/doors/airlock.dm
Owners: none

moar moodies (#35738)
  code/game/atoms.dm
  code/game/machinery/biogenerator.dm
  code/game/machinery/computer/labor.dm
  code/game/machinery/telecomms/broadcaster.dm
  code/game/machinery/telecomms/multicaster.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/game/objects/structures/morgue.dm
  code/modules/Economy/Accounts.dm
  code/modules/hydroponics/seed_extractor.dm
  code/modules/hydroponics/seed_machines.dm
  code/modules/power/singularity/particle_accelerator/particle.dm
  code/modules/power/singularity/particle_accelerator/particle_accelerator.dm
  code/modules/power/singularity/particle_accelerator/particle_chamber.dm
  code/modules/power/singularity/particle_accelerator/particle_control.dm
  code/modules/power/singularity/particle_accelerator/particle_emitter.dm
  code/modules/power/singularity/particle_accelerator/particle_power.dm
  code/modules/research/message_server.dm
  code/modules/research/xenoarchaeology/machinery/artifact_analyser.dm
  icons/lighting/moody_lights.dmi
  icons/lighting/moody_lights_96x96.dmi
  icons/obj/biogenerator.dmi
  icons/obj/hydroponics/hydro_tools.dmi
Owners: @ShizCalev, @WJohn

Update vending.dm (#35741)
  code/game/machinery/vending.dm
Owners: none

better sound
  code/game/objects/items/weapons/twohanded.dm
  sound/effects/plate_drop.ogg
Owners: @ShizCalev

Vertical Ventilation - removing plating using a fireaxe (#35722)
  code/game/objects/items/weapons/twohanded.dm
  sound/effects/plate_drop.ogg
Owners: @ShizCalev

what a mood
  code/game/atoms.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/machinery.dm
  code/game/mecha/mech_bay.dm
  code/modules/library/computers/accounting.dm
  code/modules/library/lib_machines.dm
  icons/lighting/moody_lights.dmi
  icons/mecha/mech_bay.dmi
  icons/obj/computer.dmi
  icons/obj/library.dmi
Owners: @ShizCalev, @WJohn

wait no it's the other way around
  code/game/mecha/mech_bay.dm
Owners: none

fix monkey melee
  code/modules/mob/living/carbon/monkey/monkey.dm
Owners: none

fix monkey melee
  code/modules/mob/living/carbon/monkey/monkey.dm
Owners: none

fix monkey damage
  code/modules/mob/living/carbon/combat.dm
  code/modules/mob/living/living_defense.dm
Owners: none

Buffs the Roulette Revolver
  code/modules/projectiles/guns/projectile/roulette.dm
Owners: none

remove runtime
  code/modules/projectiles/guns/projectile/roulette.dm
Owners: none

reagent split into files
  __DEFINES/reagents.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/reagents/heart_medication.dm
  code/modules/reagents/reagents/reagents_basic.dm
  code/modules/reagents/reagents/reagents_bio.dm
  code/modules/reagents/reagents/reagents_dan.dm
  code/modules/reagents/reagents/reagents_drink.dm
  code/modules/reagents/reagents/reagents_drug.dm
  code/modules/reagents/reagents/reagents_ethanol.dm
  code/modules/reagents/reagents/reagents_food.dm
  code/modules/reagents/reagents/reagents_material.dm
  code/modules/reagents/reagents/reagents_medical.dm
  code/modules/reagents/reagents/reagents_misc.dm
  code/modules/reagents/reagents/reagents_paint.dm
  code/modules/reagents/reagents/reagents_plant.dm
  code/modules/reagents/reagents/reagents_reactive.dm
  code/modules/reagents/reagents/reagents_religious.dm
  code/modules/reagents/reagents/reagents_tools.dm
  code/modules/reagents/reagents/reagents_toxin.dm
  code/modules/reagents/reagents/reagents_xenoarch.dm
  code/modules/reagents/reagents/vg.dm
  code/modules/research/xenoarchaeology/chemistry.dm
  vgstation13.dme
Owners: none
