Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Make simpler and faster and fix bug.
  code/controllers/subsystem/thermal_dissipation.dm
  code/game/atoms.dm
  code/modules/reagents/reagent_containers.dm
Owners: none

Faster way.
  code/controllers/subsystem/thermal_dissipation.dm
Owners: none

Some optimizations.
  code/ZAS/_gas_mixture.dm
  code/controllers/subsystem/machinery.dm
  code/game/machinery/machinery.dm
Owners: none

.
  code/ZAS/_gas_mixture.dm
Owners: none

To be sure that doesn't affect anything.
  code/game/machinery/machinery.dm
Owners: none

.
  code/game/machinery/machinery.dm
Owners: none

Update shock.dm
  code/modules/mob/living/carbon/shock.dm
Owners: none

scanray code
  code/game/machinery/hologram.dm
Owners: none

unforeseen consequences blocking
  code/game/machinery/hologram.dm
Owners: none

cleanup
  code/game/machinery/hologram.dm
Owners: none

events work now
  code/game/machinery/hologram.dm
Owners: none

Massively faster.
  code/ZAS/_gas_mixture.dm
  code/controllers/subsystem/thermal_dissipation.dm
Owners: none

Much faster.
  code/controllers/subsystem/machinery.dm
Owners: none

makes this work from the right place
  code/game/machinery/hologram.dm
Owners: none

Fix.
  code/ZAS/_gas_mixture.dm
  code/controllers/subsystem/machinery.dm
  code/game/machinery/machinery.dm
Owners: none

now finally works again for AIs
  code/game/machinery/hologram.dm
Owners: none

examines
  code/game/machinery/hologram.dm
Owners: none

fix clearing colors from mobs in some chem reactions
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Local variables.
  code/controllers/subsystem/machinery.dm
Owners: none

Fix.
  code/controllers/subsystem/thermal_dissipation.dm
Owners: none

.
  code/controllers/subsystem/thermal_dissipation.dm
Owners: none

Change config.
  code/controllers/subsystem/thermal_dissipation.dm
Owners: none

fix this asap, but beginning of this
  code/game/machinery/hologram.dm
Owners: none

Less checking config.
  code/controllers/subsystem/thermal_dissipation.dm
Owners: none

fix clearing colors from mobs in some chem reactions (#34891)
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Update __compile_options.dm
  __DEFINES/__compile_options.dm
Owners: none

VV tweaks (#34739)
  code/datums/datumvars.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Reloading with ammo boxes as a loop of quick single-bullet reloads (#34800)
  code/modules/projectiles/ammunition.dm
  sound/weapons/magazine_load_click.ogg
Owners: @ShizCalev

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Xcom Armor Update (Sprites and Stats) (#34827)
  code/datums/gamemode/role/judge.dm
  code/datums/outfit/special_outfits/special.dm
  code/modules/awaymissions/corpse.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  code/modules/maps/spawners/spawners.dm
  code/modules/research/designs/armor.dm
  icons/mob/head.dmi
  icons/mob/species/insectoid/suit.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  maps/randomvaults/oldarmory.dmm
  sound/misc/xcom_female1.ogg
  sound/misc/xcom_female2.ogg
  sound/misc/xcom_female3.ogg
  sound/misc/xcom_male1.ogg
  sound/misc/xcom_male2.ogg
  sound/misc/xcom_male3.ogg
  sound/misc/xcom_male4.ogg
Owners: @ShizCalev, @WJohn

Item kicking tweaks (#34828)
  code/game/objects/breakable.dm
  code/game/objects/items.dm
Owners: none

revert chemmaster to old behavior on beaker detach (#34845)
  code/modules/reagents/machinery/chem_master.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Give opium a painkilling effect (#34876)
  code/modules/mob/living/carbon/shock.dm
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Give finite values to laser scalpel heating. (#34857)
  code/game/objects/items/weapons/surgery_tools.dm
Owners: none

Remove double/triple space turfs from some map files (#34858)
  maps/tgstation-snow.dmm
Owners: none

adjust light fixture layering to be above humans and potted plants (#34863)
  __DEFINES/planes+layers.dm
  code/game/objects/structures/flora/flora.dm
  code/modules/power/lighting/lighting.dm
Owners: none
