Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Caramel Food (#20584)
  code/modules/food/recipes_microwave.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/food.dmi
  icons/obj/food_condiment.dmi
Owners: @ShizCalev, @WJohn

Fixes double thralls (#20583)
  code/datums/gamemode/role/vampire_role.dm
  code/game/objects/items/weapons/storage/bible.dm
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fixes soap (#20612)
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Added sprites and function for T4matterbins for the tunneler.
  code/modules/projectiles/guns/projectile/constructable/subspacetunneler.dm
  icons/obj/weaponsmithing.dmi
Owners: @ShizCalev, @WJohn

Lawgiver refactor, added new mode for demolition variant
  __DEFINES/weapons.dm
  code/__HELPERS/angles_dirs.dm
  code/game/machinery/recharger.dm
  code/game/objects/items.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/lawgiver.dm
  code/modules/projectiles/projectile/energy.dm
  sound/weapons/alien_laser1.ogg
  sound/weapons/alien_laser2.ogg
Owners: @ShizCalev

Fixes double emotes
  code/datums/emotes.dm
  code/modules/mob/emote.dm
Owners: none

Fixes double emotes (#20631)
  code/datums/emotes.dm
  code/modules/mob/emote.dm
Owners: none

Fixed closets taking turf contents on creation
  code/game/objects/structures/crates_lockers/closets.dm
Owners: none

pAIs can now point to objects in view.
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
Owners: none

Fixed closets taking turf contents on creation (#20633)
  code/game/objects/structures/crates_lockers/closets.dm
Owners: none

Ports the new anomaly container/analyser/pad icons from Bay
  code/modules/research/xenoarchaeology/machinery/artifact_analyser.dm
  code/modules/research/xenoarchaeology/machinery/artifact_scanner.dm
  icons/obj/xenoarchaeology.dmi
Owners: @ShizCalev, @WJohn

what a goof
  code/modules/research/xenoarchaeology/machinery/artifact_analyser.dm
  code/modules/research/xenoarchaeology/machinery/artifact_scanner.dm
Owners: none

so, yeah.
  code/modules/research/xenoarchaeology/machinery/artifact_analyser.dm
  code/modules/research/xenoarchaeology/machinery/artifact_scanner.dm
Owners: none

PLAAAAAAAAANES
  code/modules/research/xenoarchaeology/machinery/artifact_scanner.dm
Owners: none

Adds forge construction (#20616)
  code/WorkInProgress/MadmanMartian/blacksmithing/forge.dm
  code/game/objects/items/stacks/sheets/mineral.dm
Owners: none

Clicking 'view available personalities' on the pAI card will close the window
  code/game/objects/items/devices/paicard.dm
Owners: none

Posibrain pacification
  __DEFINES/_macros.dm
  code/modules/mob/living/carbon/brain/brain.dm
  code/modules/mob/living/silicon/robot/robot.dm
Owners: none

Organ poking, biocharger (cybernetic heart sidegrade) (#20609)
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life/handle_chemicals_in_body.dm
  code/modules/organs/blood.dm
  code/modules/organs/internal/heart/heart.dm
  code/modules/organs/internal/kidney/filter.dm
  code/modules/organs/organ.dm
  code/modules/organs/organ_internal.dm
  code/modules/organs/organ_objects.dm
  icons/obj/surgery.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

Adds two new levels of power cell (#20608)
  code/game/objects/items/weapons/power_cells.dm
  code/modules/research/designs/engineering.dm
  icons/obj/power.dmi
Owners: @ShizCalev, @WJohn

I'm dumb.
  code/modules/research/xenoarchaeology/machinery/artifact_scanner.dm
  icons/obj/xenoarchaeology.dmi
Owners: @ShizCalev, @WJohn

Takes into account Androids and spiderbots
  code/modules/mob/living/carbon/human/combat.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
Owners: none

Removes posibrain law/rule
  code/modules/mob/living/carbon/brain/posibrain.dm
Owners: none

Legacy cult runtimes
  code/datums/gamemode/factions/legacy_cult/cult.dm
Owners: none

Lockboxes can now be opened with an alt-click or with a PDA swipe. (#20623)
  code/game/objects/items/weapons/storage/lockbox.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Map voting debug text since it appears to be skipping over maps randomly.
  code/__HELPERS/files.dm
Owners: none

Adds aminomicin, a very low effort new chemical (#20590)
  __DEFINES/reagents.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

britsky
  code/game/machinery/bots/secbot.dm
  icons/obj/aibots.dmi
Owners: @ShizCalev, @WJohn

Legacy cult runtimes (#20641)
  code/datums/gamemode/factions/legacy_cult/cult.dm
Owners: none

Clicking 'view available personalities' on the pAI card will close the window (#20638)
  code/game/objects/items/devices/paicard.dm
Owners: none

Update dice.dm
  code/game/objects/items/weapons/dice.dm
Owners: none

More Soap
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

Updates soap reaction
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

Changes NT soap to maybe get rid of conflicts
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

Reagent lists_of_ids
  __DEFINES/reagents.dm
  code/WorkInProgress/Cib/MedicalSideEffects.dm
  code/datums/recipe.dm
  code/game/objects/items/gum.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/tools.dm
  code/modules/food/recipes_microwave.dm
  code/modules/mob/living/carbon/alien/humanoid/life.dm
  code/modules/mob/living/carbon/alien/larva/life.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/complex/life.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/life/handle_breath.dm
  code/modules/mob/living/carbon/monkey/life.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/organs/internal/liver/liver.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/virus2/dishincubator.dm
Owners: none

that's a lotta comments!
  code/datums/recipe.dm
Owners: none
