Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

put_ID_back
  maps/randomvaults/dungeons/habitation.dmm
Owners: none

add artsupply vendomat pack
  code/game/machinery/vending_packs.dm
Owners: none

adds cargo option
  code/datums/supplypacks.dm
Owners: none

vending not vendingpack
  code/datums/supplypacks.dm
Owners: none

rearranged_research_division_doors
  maps/randomvaults/dungeons/research.dmm
Owners: none

delete unused variable so it stops popping up in the compiler
  code/game/objects/items/devices/nuclear_challenge.dm
Owners: none

don't initialize more_init subsystem twice
  code/controllers/subsystem/init/more_init_stuff.dm
Owners: none

fix being unable to wrench atmos controller
  code/game/machinery/computer/atmos_control.dm
Owners: none

deprecate revs hook handler
  code/_hooks/events.dm
  code/datums/gamemode/factions/syndicate/rev.dm
Owners: none

update_hobo_home
  maps/randomvaults/dungeons/habitation.dmm
  maps/randomvaults/mothership_lab.dmm
Owners: none

oops_those_are_airless
  maps/randomvaults/dungeons/habitation.dmm
Owners: none

the_last_footsteps
  maps/randomvaults/dungeons/habitation.dmm
  maps/randomvaults/dungeons/research.dmm
  maps/randomvaults/mothership_lab.dm
  maps/randomvaults/mothership_lab.dmm
  sound/effects/tile_walk1.ogg
  sound/effects/tile_walk2.ogg
Owners: @ShizCalev

improved_few_more_things
  maps/randomvaults/dungeons/habitation.dmm
  maps/randomvaults/mothership_lab.dm
Owners: none

properly deprecate revs hook, deprecate apes hook, make apes into faction and role datums
  __DEFINES/role_datums_defines.dm
  code/datums/gamemode/factions/faction.dm
  code/datums/gamemode/factions/syndicate/rev.dm
  code/modules/admin/verbs/apes.dm
  code/modules/mob/new_player/new_player.dm
  vgstation13.dme
Owners: none

make apes into faction and role datums
  code/datums/gamemode/factions/apes.dm
  code/datums/gamemode/role/apes.dm
Owners: none

fixes_an_acid_shower_bug
  maps/randomvaults/dungeons/habitation.dmm
  maps/randomvaults/mothership_lab.dm
Owners: none

a_bit_more_hobo_tinkering
  maps/randomvaults/dungeons/habitation.dmm
  maps/randomvaults/mothership_lab.dmm
Owners: none

added_lightbulb_to_admin_bedroom
  maps/randomvaults/dungeons/habitation.dmm
Owners: none

fixes_blood_splatter_color
  maps/randomvaults/dungeons/habitation.dmm
Owners: none

more_gym_rat_variety
  maps/randomvaults/dungeons/habitation.dmm
  maps/randomvaults/dungeons/research.dmm
Owners: none

remove ripley mistakenly added
  maps/RandomZLevels/blackmarketpackers.dmm
Owners: none

properly replace deprecated typepaths
  maps/RandomZLevels/blackmarketpackers.dmm
  maps/RandomZLevels/spacebattle.dmm
  maps/randomvaults/dungeons/wine_cellar.dmm
Owners: none

Revert "Sanitizes Github, So we can get public access again. (#34400)"
  code/datums/gamemode/role/catbeast.dm
  code/datums/religions.dm
  code/game/atoms.dm
  code/game/dna/genes/speech.dm
  code/game/machinery/cell_charger.dm
  code/game/objects/items/devices/PDA/apps/general.dm
  code/game/objects/items/robot/robot_items/robot_harm_alarm.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/dice.dm
  code/game/turfs/simulated/walls.dm
  code/modules/mob/living/carbon/human/life/handle_disabilities.dm
  code/modules/research/xenoarchaeology/artifact/artifact_communication.dm
  maps/misc/riftbeach2.dmm
  maps/misc/riftbeach3.dmm
Owners: none

smartfridges start with mini icons (for pills, bottles, etc.) enabled
  code/game/machinery/kitchen/smartfridge.dm
Owners: none

runtime sprite fix
  code/modules/mob/living/simple_animal/friendly/cat.dm
Owners: none

wrong proc
  code/modules/mob/living/simple_animal/friendly/cat.dm
Owners: none

availability
  code/game/machinery/vending.dm
  code/game/objects/items/stacks/sheets/mineral.dm
Owners: none

particle collider sprites
  icons/obj/machines/particle_collider.dmi
Owners: @ShizCalev, @WJohn

particle collider code
  code/modules/power/particlecollider/collider.dm
  code/modules/power/particlecollider/collider_boards.dm
  code/modules/power/particlecollider/particle.dm
Owners: none

add collider to compilelist
  vgstation13.dme
Owners: none

fix plaguemouse memory spam
  code/datums/gamemode/factions/plague_mice.dm
  code/modules/virus2/helpers.dm
Owners: none

remove deprecated and unused bay hooks (#34497)
  code/controllers/hooks-defs.dm
  code/controllers/hooks.dm
  code/modules/hydroponics/seed_mobs.dm
  code/modules/mob/living/carbon/brain/brain_item.dm
  vgstation13.dme
Owners: none

Fixes Monkeys never taking damage from high or low temperatures
  code/modules/mob/living/carbon/monkey/life.dm
Owners: none

durp
  code/modules/mob/living/carbon/monkey/life.dm
Owners: none

Add tip of the day popup window.
  SQL/players2.sql
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/migrations/SS13_Prefs/030-tip-of-the-day.dm
  code/modules/mob/new_player/login.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/tips/procs.dm
  code/modules/tips/tips.dm
  vgstation13.dme
Owners: @Jordie0608

shit
  code/modules/client/preferences_savefile.dm
  code/modules/migrations/SS13_Prefs/030-tip-of-the-day.dm
Owners: none

redundant queries
  code/modules/client/preferences_savefile.dm
Owners: none

fix lightreplacer usecase and a runtime (#34468)
  code/game/objects/items/devices/lightreplacer.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

More tips
  code/modules/tips/tips.dm
Owners: none
