Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Update death.dm (#36179)
  code/modules/mob/living/carbon/human/death.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

final (for now)
  code/ZAS/Fire.dm
  code/ZAS/NewSettings.dm
  code/controllers/subsystem/burnable.dm
  code/game/atoms.dm
  code/game/objects/effects/effect_system.dm
  code/game/objects/effects/particles_system.dm
  code/game/objects/items/mountable_frames/paintings.dm
  code/game/objects/objs.dm
  code/game/turfs/simulated/floor.dm
  icons/effects/effects.dmi
Owners: @ShizCalev, @WJohn

Fixes mobs not being able to keep their view inside wall peepholes
  code/game/turfs/simulated/walls.dm
  code/modules/mob/mob.dm
Owners: none

redundant
  code/game/turfs/simulated/walls.dm
  code/modules/mob/living/living.dm
Owners: none

now makes this work properly again after removing redundant code
  code/game/turfs/simulated/walls.dm
  code/modules/mob/mob.dm
Owners: none

some grammar and formatting fixes
  code/game/gamemodes/blob/blobs/core.dm
  code/modules/mob/living/simple_animal/bees/bees_mob.dm
  code/modules/paperwork/papers_preformatted.dm
  code/modules/projectiles/projectile/gravitywell.dm
Owners: @ChangelingRain

some grammar and formatting fixes
  code/game/gamemodes/blob/blobs/core.dm
Owners: @ChangelingRain

Allows pulse demons to be affected by ion projectiles directly
  code/modules/mob/living/simple_animal/hostile/pulse_demon/pulsedemon.dm
Owners: none

Allows pulse demons to be affected by ion projectiles directly
  code/modules/mob/living/simple_animal/hostile/pulse_demon/pulsedemon.dm
Owners: none

Allows pulse demons to be affected by ion projectiles directly
  code/modules/mob/living/simple_animal/hostile/pulse_demon/pulsedemon.dm
Owners: none

Allows pulse demons to be affected by ion projectiles directly
  code/modules/mob/living/simple_animal/hostile/pulse_demon/pulsedemon.dm
Owners: none

Pulse demons now ignore vines properly
  code/modules/mob/living/simple_animal/hostile/pulse_demon/pulsedemon.dm
Owners: none

now this supports multiple peepers
  code/game/turfs/simulated/walls.dm
Owners: none

Processor conveyor actions now only check if humans are lying down
  code/game/machinery/kitchen/processor.dm
Owners: none

Makes autoharvest happen as soon as produce is ready
  code/modules/hydroponics/hydro_tray_process.dm
  code/modules/hydroponics/spreading/spreading_growth.dm
Owners: none

Transit tube station fixes
  code/game/objects/structures/transit_tubes/station.dm
  code/game/objects/structures/transit_tubes/transit_tube.dm
Owners: none

Update dynamic_rulesets_roundstart.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

quarantine typo fix
  code/datums/gamemode/factions/blob.dm
Owners: none

tail should properly be invis along with body
  code/modules/mob/living/carbon/human/update_icons.dm
Owners: none

remove double count, unit issues, and more tweaks
  code/ZAS/Fire.dm
  code/ZAS/NewSettings.dm
  code/controllers/subsystem/burnable.dm
Owners: none

Update cards_ids.dm
  code/game/objects/items/weapons/cards_ids.dm
Owners: none

Update adv_med.dm
  code/game/machinery/adv_med.dm
Owners: none

Update identification_computer.tmpl
  nano/templates/identification_computer.tmpl
Owners: none

Update card.dm
  code/game/machinery/computer/card.dm
Owners: none

Update card.dm
  code/game/machinery/computer/card.dm
Owners: none

Transit tube station fixes (#36212)
  code/game/objects/structures/transit_tubes/station.dm
  code/game/objects/structures/transit_tubes/transit_tube.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Makes autoharvest happen as soon as produce is ready (#36209)
  code/modules/hydroponics/hydro_tray_process.dm
  code/modules/hydroponics/spreading/spreading_growth.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Pulse demons now ignore vines properly (#36206)
  code/modules/mob/living/simple_animal/hostile/pulse_demon/pulsedemon.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Some grammar and formatting fixes (#36205)
  code/game/gamemodes/blob/blobs/core.dm
  code/modules/mob/living/simple_animal/bees/bees_mob.dm
  code/modules/paperwork/papers_preformatted.dm
  code/modules/projectiles/projectile/gravitywell.dm
Owners: @ChangelingRain

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

chicken suit hides tail (#36194)
  code/modules/clothing/suits/miscellaneous.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

quarantine typo fix (#36214)
  code/datums/gamemode/factions/blob.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Revert "Transit tube station fixes"
  code/game/objects/structures/transit_tubes/station.dm
  code/game/objects/structures/transit_tubes/transit_tube.dm
Owners: none

uses new priority to make ID stuff more sane
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/cash.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/modules/mining/ores_coins.dm
  code/modules/mob/mob.dm
Owners: none
