Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

ault ogress
  code/game/gamemodes/blob/theblob.dm
Owners: @ChangelingRain

oxigenated some icons
  icons/mob/blob/blob_sec.dmi
Owners: @ShizCalev, @WJohn

better reagent choices for Dangles
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

better reagent choices for Dangles
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

I swear that comma was there when I last looked, officer Travis!
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

Adds various chips (#34611)
  code/game/machinery/vending.dm
  code/game/machinery/vending_packs.dm
  code/game/objects/items/trash.dm
  code/modules/food/recipes_microwave.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/food.dmi
  icons/obj/food_condiment.dmi
  icons/obj/trash.dmi
  sound/effects/opening_snack_tube.ogg
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

theoretically this shouldn't cause merge conflicts
  icons/obj/food_condiment.dmi
  icons/obj/trash.dmi
Owners: @ShizCalev, @WJohn

Adds food press circuit board + option for blank boards (#34454)
  code/game/machinery/constructable_frame.dm
Owners: none

tweaks but it's done
  code/modules/reagents/reagent_containers/food/condiment.dm
  icons/obj/food_condiment.dmi
Owners: @ShizCalev, @WJohn

Makes it so the Autodrobe Contraband creep spray makes cleanable decals, rather than actual beno weeds. (#34547)
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Body Archive limb organ status (#34571)
  code/datums/body_archive.dm
Owners: none

canned heat
  code/datums/uplink_item.dm
  code/game/objects/items/canned_heat.dm
  icons/mob/in-hand/left/misc_tools.dmi
  icons/mob/in-hand/right/misc_tools.dmi
  icons/obj/drinks.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

woops
  code/datums/uplink_item.dm
Owners: none

ok let's be real
  code/datums/uplink_item.dm
Owners: none

not like it matters since you cannot use items in pipes
  code/game/objects/items/canned_heat.dm
Owners: none

fix conflicts
  icons/mob/in-hand/left/misc_tools.dmi
  icons/mob/in-hand/right/misc_tools.dmi
Owners: @ShizCalev, @WJohn

Canned Heat (#34514)
  code/datums/uplink_item.dm
  code/game/objects/items/canned_heat.dm
  icons/mob/in-hand/left/misc_tools.dmi
  icons/mob/in-hand/right/misc_tools.dmi
  icons/obj/drinks.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Autodrobe Fake Creep Minor Updates (#34605)
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/spray.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fix Shack APCs (#34608)
  code/game/area/Space Station 13 areas.dm
  code/modules/power/apc.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Update drinks.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
Owners: none

Other baked goods can now be dipped like other foods (#34601)
  code/modules/food/customizables.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/snackbar.dm
Owners: none

Sprite adjustments/fixes (#34624)
  icons/mob/feet.dmi
  icons/mob/head.dmi
  icons/mob/robots.dmi
  icons/mob/suit.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fixes a bunch of bugs, mostly involving admins turning players antags (#34638)
  code/datums/gamemode/factions/bloodcult/bloodcult.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/datums/mind.dm
  code/datums/outfit/outfit.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/one_click_antag.dm
Owners: none

Pulse demons are no longer able to recall the shuttle (#34637)
  code/game/machinery/computer/communications.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

castlestation / labor day splash screen (#34633)
  __DEFINES/_macros.dm
  __DEFINES/dates.dm
  code/game/gamemodes/events/holidays/Holidays.dm
  code/game/turfs/unsimulated/walls.dm
  icons/splashworks_alt/snowstation.gif
  icons/splashworks_alt/viva.png
Owners: @ShizCalev, @WJohn

fixes space travel bug with superfarting (#34629)
  code/modules/mob/living/carbon/human/emote.dm
Owners: none

Mining surprise areas (#34626)
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  maps/randomvaults/mining/abandoned_digsite.dmm
  maps/randomvaults/mining/abandoned_forge.dmm
  maps/randomvaults/mining/angie_lair.dmm
  maps/randomvaults/mining/bar.dmm
  maps/randomvaults/mining/crashed_pod.dmm
  maps/randomvaults/mining/cultbase.dmm
  maps/randomvaults/mining/geode.dmm
  maps/randomvaults/mining/huggernest.dmm
  maps/randomvaults/mining/mariahive.dmm
  maps/randomvaults/mining/mining_surprise_items.dm
Owners: none

fix handcuffs disappearing when shot by a damaging projectile (#34634)
  __DEFINES/setup.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/overlays/mobs.dm
Owners: none

Fixes #19695 (#34548)
  code/modules/reagents/reagent_containers/food/drinks.dm
Owners: none

Buff batling gun (#34589)
  code/datums/uplink_item.dm
  code/modules/projectiles/guns/projectile/minigun.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

pda clears alert icon when replying from chat (#34583)
  code/game/objects/items/devices/PDA/apps/messenger.dm
Owners: none
