Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

More jigglin
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/recycling/disposal.dm
Owners: none

Update code/controllers/subsystem/weather.dm
  code/controllers/subsystem/weather.dm
Owners: none

Update code/datums/climate.dm
  code/datums/climate.dm
Owners: none

converts the packed station only stuff to this
  code/datums/components/uplink.dm
  code/datums/uplink_item.dm
  maps/packedstation/uplink_item.dm
Owners: @Cyberboss

Update bloodcult.dm
  code/datums/gamemode/factions/bloodcult/bloodcult.dm
Owners: none

Update game.dm
  code/__HELPERS/game.dm
Owners: none

oh god it was loose
  code/datums/uplink_item.dm
Owners: none

Update code/game/objects/items/weapons/weaponry.dm
  code/game/objects/items/weapons/weaponry.dm
Owners: none

removes from this too
  code/datums/uplink_item.dm
Owners: none

got this one wrong
  code/datums/uplink_item.dm
Owners: none

Update uplink_item.dm
  code/datums/uplink_item.dm
Owners: none

server config stuff so it doesn't mess with testing
  code/controllers/configuration.dm
  code/datums/uplink_item.dm
  config-example/config.txt
Owners: none

Apply suggestions from code review
  code/datums/procedural_mobspawn.dm
  code/modules/mob/living/simple_animal/hostile/megabeast.dm
Owners: none

huh
  code/modules/mecha/combat/durand.dm
  code/modules/mecha/combat/gygax.dm
  code/modules/mecha/combat/honker.dm
  code/modules/mecha/combat/phazon.dm
  code/modules/mecha/components/_component.dm
  code/modules/mecha/components/armor.dm
  code/modules/mecha/components/electrical.dm
  code/modules/mecha/components/hull.dm
  code/modules/mecha/components/lifesupport.dm
  code/modules/mecha/equipment/mecha_equipment.dm
  code/modules/mecha/equipment/tools/medical_tools.dm
  code/modules/mecha/equipment/tools/sec_tools.dm
  code/modules/mecha/equipment/tools/tools.dm
  code/modules/mecha/equipment/weapons/mecha_ballistic.dm
  code/modules/mecha/equipment/weapons/weapons.dm
  code/modules/mecha/mecha.dm
  code/modules/mecha/mecha_movement.dm
  code/modules/mecha/medical/odysseus.dm
  code/modules/projectiles/projectile/bullets.dm
Owners: none

Update mecha.dm
  code/modules/mecha/mecha.dm
Owners: none

back to original formatting for this reference
  code/game/objects/items/toys.dm
Owners: none

moves here
  config-example/config.txt
  config-example/game_options.txt
Owners: none

removes duplicate entries
  code/modules/trader/crates/lostcrate.dm
Owners: none

initial version
  code/game/objects/items/devices/modkit.dm
  code/modules/mining/mine_items.dm
  code/modules/research/designs/mining.dm
  code/modules/research/research.dm
  icons/mob/in-hand/left/guns.dmi
  icons/mob/in-hand/right/guns.dmi
  icons/obj/items.dmi
Owners: @ShizCalev, @WJohn

boxdraggin
  code/datums/cargo_forwarding.dm
Owners: none

crate shelf funny box
  code/datums/cargo_forwarding.dm
Owners: none

fun b-ball stuff
  code/game/machinery/computer/HolodeckControl.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/combat.dm
  sound/items/basketball_bounce.ogg
Owners: @ShizCalev

Update HolodeckControl.dm
  code/game/machinery/computer/HolodeckControl.dm
Owners: none

Update HolodeckControl.dm
  code/game/machinery/computer/HolodeckControl.dm
Owners: none

shows up in emagged decks
  code/game/machinery/computer/HolodeckControl.dm
Owners: none

Update HolodeckControl.dm
  code/game/machinery/computer/HolodeckControl.dm
Owners: none

Update HolodeckControl.dm
  code/game/machinery/computer/HolodeckControl.dm
Owners: none

Update HolodeckControl.dm
  code/game/machinery/computer/HolodeckControl.dm
Owners: none

file movement
  code/modules/mob/procedural_mobspawn.dm
  vgstation13.dme
Owners: none

Weighted drop list and randomized sizing
  code/modules/mob/procedural_mobspawn.dm
Owners: none

code done, needs spritework
  code/game/machinery/doors/table.dm
  code/game/objects/items/stacks/sheets/mineral.dm
Owners: none

clarifies
  config-example/game_options.txt
Owners: none

step 1 done, just needs dirs
  icons/obj/doors/tabledoor.dmi
Owners: @ShizCalev, @WJohn

more dirs
  icons/obj/doors/tabledoor.dmi
Owners: @ShizCalev, @WJohn

covers this
  code/game/machinery/doors/table.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/stack_recipes.dm
Owners: none

missing state added
  icons/obj/doors/tabledoor.dmi
Owners: @ShizCalev, @WJohn

removes lawgiver stuff, unused, tweaks cargonia number
  code/game/objects/items/stacks/stack_recipes.dm
  code/game/objects/items/weapons/barricade_kit.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/recycling/conveyor_assembly.dm
Owners: none

fixes
  code/game/objects/items/stacks/stack_recipes.dm
  code/game/objects/items/weapons/barricade_kit.dm
  code/modules/recycling/conveyor_assembly.dm
Owners: none

refactor
  code/controllers/subsystem/mapping.dm
  code/game/machinery/planet_scanner.dm
  code/modules/admin/admin.dm
  code/modules/procedural mapping/planetGenerator/planet_types.dm
  tgui/packages/tgui/interfaces/PlanetScanner.tsx
Owners: @Cyberboss

new icon
  code/game/objects/items/devices/seismic_remote.dm
  icons/obj/device.dmi
Owners: @ShizCalev, @WJohn
