Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

loot rework
  code/modules/procedural mapping/loot.dm
  code/modules/procedural mapping/planetGenerator/biome.dm
  code/modules/procedural mapping/planetGenerator/generators/beach.dm
  code/modules/procedural mapping/planetGenerator/generators/desert.dm
  code/modules/procedural mapping/planetGenerator/generators/grass.dm
  code/modules/procedural mapping/planetGenerator/generators/jungle.dm
  code/modules/procedural mapping/planetGenerator/generators/lava.dm
  code/modules/procedural mapping/planetGenerator/generators/snow.dm
  code/modules/procedural mapping/planetGenerator/generators/urban.dm
  code/modules/procedural mapping/planetGenerator/generators/xeno.dm
  icons/obj/map/spawners.dmi
Owners: @ShizCalev, @WJohn

tweak
  code/modules/procedural mapping/planetGenerator/biome.dm
Owners: none

async generation
  __DEFINES/subsystem.dm
  code/controllers/subsystem/mapping.dm
  code/datums/climate.dm
Owners: @Cyberboss

more turfs n loot fixes
  code/controllers/subsystem/mapping.dm
  code/modules/procedural mapping/loot.dm
  code/modules/procedural mapping/planetGenerator/biome.dm
  code/modules/procedural mapping/planetGenerator/generators/beach.dm
  code/modules/procedural mapping/planetGenerator/generators/grass.dm
  code/modules/procedural mapping/planetGenerator/generators/jungle.dm
  code/modules/procedural mapping/planetGenerator/generators/lava.dm
  code/modules/procedural mapping/planetGenerator/generators/snow.dm
  code/modules/procedural mapping/planetGenerator/turf.dm
  icons/turf/planetary/grass.dmi
  icons/turf/planetary/urban_turfs.dmi
Owners: @Cyberboss, @ShizCalev, @WJohn

druggy updated
  __DEFINES/setup.dm
  code/_onclick/hud/fullscreen.dm
  code/modules/mob/living/carbon/brain/life.dm
  code/modules/mob/living/carbon/complex/life.dm
  code/modules/mob/living/carbon/monkey/life.dm
  code/modules/mob/living/silicon/robot/robot_hud.dm
  code/modules/mob/living/standard_damage_overlay_updates.dm
  code/modules/reagents/reagents/reagents_drug.dm
  code/modules/reagents/reagents/reagents_ethanol.dm
  icons/mob/screen1.dmi
Owners: @ShizCalev, @WJohn

updated better
  __DEFINES/setup.dm
  code/_onclick/hud/fullscreen.dm
  code/modules/mob/living/carbon/brain/life.dm
  code/modules/mob/living/carbon/complex/life.dm
  code/modules/mob/living/carbon/monkey/life.dm
  code/modules/mob/living/silicon/robot/robot_hud.dm
Owners: none

damn indentation
  code/modules/mob/living/silicon/robot/robot_hud.dm
Owners: none

ok that's dumb
  code/modules/reagents/reagents/reagents_drug.dm
Owners: none

fix overdark offset
  __DEFINES/planes+layers.dm
Owners: none

put holomap_data back on the right plane
  code/game/turfs/turf.dm
Owners: none

moves to secrets panel
  code/__HELPERS/time.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/debug.dm
Owners: none

fix switchs
  code/modules/reagents/reagents/reagents_dan.dm
  code/modules/reagents/reagents/reagents_drink.dm
  code/modules/reagents/reagents/reagents_drug.dm
  code/modules/reagents/reagents/reagents_ethanol.dm
  code/modules/reagents/reagents/reagents_food.dm
  code/modules/reagents/reagents/reagents_medical.dm
  code/modules/reagents/reagents/reagents_tools.dm
  code/modules/reagents/reagents/reagents_toxin.dm
Owners: none

reactor area and map element define
  code/modules/randomMaps/vault_definitions.dm
Owners: none

the map
  maps/randomvaults/forsakenreactor.dmm
Owners: none

lets admins and devs easily use the VV panel to add and remove filters to atoms
  code/datums/datumvars.dm
Owners: none

tweaks and adjustments
  __DEFINES/setup.dm
  code/_onclick/hud/fullscreen.dm
  code/modules/mob/living/carbon/brain/life.dm
  code/modules/mob/living/carbon/complex/life.dm
  code/modules/mob/living/carbon/monkey/life.dm
  code/modules/mob/living/helper_procs.dm
  code/modules/mob/living/silicon/robot/robot_hud.dm
  code/modules/mob/living/standard_damage_overlay_updates.dm
  code/modules/reagents/reagents/reagents_drug.dm
Owners: none

reformats this too cus i forgor, also adds admin test one
  code/game/objects/items/toys.dm
  code/game/objects/structures/watercloset.dm
Owners: none

Update watercloset.dm
  code/game/objects/structures/watercloset.dm
Owners: none

adds this here too
  code/game/objects/structures/watercloset.dm
Owners: none

catches this too. no infinite reagents!
  code/game/objects/structures/watercloset.dm
Owners: none

here, have a glowing orb
  code/modules/mob/living/simple_animal/hostile/glow_orb.dm
Owners: none

fixing some oversights
  maps/randomvaults/forsakenreactor.dmm
Owners: none

fucking sdmm, man
  maps/randomvaults/forsakenreactor.dmm
Owners: none

sned
  maps/randomvaults/forsakenreactor.dmm
Owners: none

bald fridge and recoloring
  code/game/machinery/kitchen/smartfridge.dm
  icons/obj/kitchen.dmi
Owners: @ShizCalev, @WJohn

ass
  code/modules/client/preferences/pref_datums_character.dm
Owners: none

fully async generation
  code/controllers/subsystem/mapping.dm
  code/modules/procedural mapping/planetGenerator/planet.dm
Owners: @Cyberboss

small fixes
  code/controllers/subsystem/mapping.dm
  code/modules/admin/topic.dm
Owners: @Cyberboss

big weather update
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/weather.dm
  code/datums/climate.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/life/handle_weather.dm
  vgstation13.dme
Owners: @Cyberboss

material scrap fixes
  code/game/objects/items/material-scraps.dm
  code/game/objects/items/trash.dm
Owners: none

Update material-scraps.dm
  code/game/objects/items/material-scraps.dm
Owners: none

new, better suicide act text
  code/game/objects/structures/vehicles/vehicle.dm
Owners: none

it's that easy
  code/_onclick/hud/fullscreen.dm
Owners: none

brings this back because it wasn't behaving the way i wanted
  code/game/objects/structures/watercloset.dm
Owners: none

Update watercloset.dm
  code/game/objects/structures/watercloset.dm
Owners: none

puts this line back
  code/game/objects/structures/watercloset.dm
Owners: none

more drinking glasses in-hand sprites
  icons/mob/in-hand/left/drinkingglass.dmi
  icons/mob/in-hand/right/drinkingglass.dmi
Owners: @ShizCalev, @WJohn

fixing in-hand neurotoxin
  icons/mob/in-hand/left/drinkingglass.dmi
  icons/mob/in-hand/right/drinkingglass.dmi
Owners: @ShizCalev, @WJohn

purple sunglasses
  code/modules/clothing/glasses/glasses.dm
Owners: none

all filters
  code/datums/datumvars.dm
Owners: none
