Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

Missed one
  code/modules/projectiles/guns/projectile/constructable/gunsmithing.dm
Owners: none

newspaper
  code/game/machinery/newscaster.dm
  icons/mob/in-hand/left/books.dmi
  icons/mob/in-hand/right/books.dmi
  icons/obj/terminals.dmi
Owners: @ShizCalev, @WJohn

Update code/game/machinery/newscaster.dm
  code/game/machinery/newscaster.dm
Owners: none

Update code/game/machinery/newscaster.dm
  code/game/machinery/newscaster.dm
Owners: none

1
  code/modules/mob/living/emote.dm
  sound/misc/memedeathgasp.mp3
Owners: @ShizCalev

jesuschrist
  code/modules/reagents/grenade_launcher.dm
Owners: none

yoda please
  code/modules/mob/living/emote.dm
  sound/misc/memedeathgasp.mp3
  sound/misc/memedeathgasp.ogg
Owners: @ShizCalev

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Revert "Fixes cargo carts being able to load anchored atoms (#26696)"
  code/game/objects/structures/vehicles/carts/cargo.dm
Owners: none

fixes
  code/game/objects/structures/musician.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

1
  code/game/objects/structures/vehicles/wheelchair.dm
Owners: none

removedchefcreep
  code/modules/projectiles/guns/hookshot.dm
  code/modules/projectiles/guns/projectile/constructable/gunsmithing.dm
Owners: none

and then there was 1
  code/modules/projectiles/guns/hookshot.dm
Owners: none

adds [date], [time] and ports tables from Bay (#26724)
  code/modules/paperwork/pen.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

bucket now has armor values (#26723)
  code/game/objects/items/trash.dm
  code/modules/reagents/reagent_containers/glass.dm
Owners: none

Adds a SAC to all bridges (#26703)
  maps/snaxi.dmm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fixes radio transmitters not overheating due shitcode. (#26695)
  code/modules/media/broadcast/transmitters/broadcast.dm
Owners: none

Ports goon large artifact sprites (#26721)
  __DEFINES/archaeo_defines.dm
  code/modules/research/xenoarchaeology/artifact/artifact_unknown.dm
  code/modules/research/xenoarchaeology/artifact/effect.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_affect_cold.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_badfeeling.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_cellcharge.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_celldrain.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_clockworkify.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_cultify.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_darkness.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_darkrevive.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_deadharvest.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_dnaswitch.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_emp.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_forcefield.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_gasco2.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_gasnitro.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_gasoxy.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_gasplasma.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_gassleeping.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_goodfeeling.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_gravity.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_heal.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_heat.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_hurt.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_menagerie.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_pathogen.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_planthelper.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_plantkiller.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_projectiles.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_radiate.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_reagentblock.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_roboheal.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_robohurt.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_sleepy.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_stun.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_teleport.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_timestop.dm
  goon/icons/obj/artifacts.dmi
  icons/obj/xenoarchaeology.dmi
Owners: @ShizCalev, @WJohn

clothing visibility override (#26727)
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  code/datums/gamemode/factions/legacy_cult/cult_items.dm
  code/game/objects/items.dm
  code/game/objects/structures/watercloset.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/tactical.dm
  code/modules/clothing/spacesuits/captain.dm
  code/modules/clothing/spacesuits/rig.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/clothing/spacesuits/void.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/utility.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/research/xenoarchaeology/tools/anomaly_suit.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Converting a gondola to the cult now updates their sprite, and they can respawn as a gondola shade (#26729)
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/complex/gondola.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Click (#26731)
  code/game/machinery/airlock_control.dm
  code/game/machinery/lightswitch.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

jesus Kurf it's 3am I was in bed
  code/game/machinery/newscaster.dm
Owners: none

Adds a variety of new cigarettes and cigarette packets, adds them to vending machines, and adds species alts for all icons.
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/mob/mask.dmi
  icons/mob/species/grey/masks.dmi
  icons/mob/species/insectoid/mask.dmi
  icons/obj/cigarettes.dmi
  icons/obj/clothing/masks.dmi
Owners: @ShizCalev, @WJohn

Wind-Up Boxes (#26593)
  code/datums/uplink_item.dm
  code/game/objects/items/misc_items.dm
  code/game/objects/items/stacks/stack_recipes.dm
  code/modules/projectiles/guns/hookshot.dm
  code/modules/projectiles/guns/projectile/constructable/gunsmithing.dm
  code/modules/projectiles/projectile/hookshot.dm
  icons/mob/in-hand/left/guns_experimental.dmi
  icons/mob/in-hand/right/guns_experimental.dmi
  icons/obj/projectiles_experimental.dmi
  icons/obj/weaponsmithing.dmi
  icons/obj/wind_up.dmi
Owners: @ShizCalev, @WJohn

Update vending.dm
  code/game/machinery/vending.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Oh that's important
  vgstation13.dme
Owners: none

Update fancy.dm
  code/game/objects/items/weapons/storage/fancy.dm
Owners: none

Update fancy.dm
  code/game/objects/items/weapons/storage/fancy.dm
Owners: none

the sequel
  code/modules/paperwork/paper.dm
Owners: none

improves malf timer
  code/datums/gamemode/factions/malf.dm
Owners: none

the sequel (#26739)
  code/modules/paperwork/paper.dm
Owners: none

Update code/game/machinery/newscaster.dm
  code/game/machinery/newscaster.dm
Owners: none

fix mask visibility
  __DEFINES/setup.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
