Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

Fixed some missing PDA icons (#30186)
  code/game/objects/items/devices/PDA/cart.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Adds a video game playlist. (#30090)
  code/modules/media/jukebox.dm
Owners: none

Resin (Alien) and Cult doors now require proper access from Mechas, Bots, and Vehicles (#30171)
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/mineral.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

BRACE FOR ENABLING MULTI-Z ZAS
  __DEFINES/ZAS.dm
  code/ZAS/Atom.dm
Owners: none

Attempt at fixing glass floor tiles
  code/modules/multiz/turfs.dm
Owners: none

Splitting off explosion proc into destroy part, bones of calling it recursively and smaller on above and below layers, implementation of multi-z explosion suggested by DeityLink
  code/game/objects/explosion.dm
  code/modules/multiz/_HELPERS.dm
Owners: none

Missing var
  code/game/objects/explosion.dm
  code/modules/multiz/_HELPERS.dm
Owners: none

Removing unused var and fixes consistency
  code/game/objects/explosion.dm
Owners: none

Fixing logic and syntax etc, still needs testing before uncomment
  code/modules/multiz/_HELPERS.dm
Owners: none

Uncommenting, some fixes too
  code/modules/multiz/_HELPERS.dm
Owners: none

Makes this a seperate function otherwise it won't call at all, MULTI Z EXPLOSIONS NOW CONFIRMED WORKING
  code/game/objects/explosion.dm
  code/modules/multiz/_HELPERS.dm
Owners: none

Client proc to test this
  code/modules/multiz/_HELPERS.dm
Owners: none

mechanigs
  code/modules/clothing/suits/miscellaneous.dm
Owners: none

Adds to list
  code/modules/admin/admin_verbs.dm
Owners: none

Space Vietnam Grass Coat (#30165)
  code/datums/uplink_item.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/hydroponics/spreading/spreading_response.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Typo not drawing red on main layer
  code/modules/multiz/_HELPERS.dm
Owners: none

Here too
  code/modules/multiz/_HELPERS.dm
Owners: none

Adding debug logs for clarity
  code/modules/multiz/_HELPERS.dm
Owners: none

Better
  code/game/objects/explosion.dm
  code/modules/multiz/_HELPERS.dm
Owners: none

Even better
  code/game/objects/explosion.dm
  code/modules/multiz/_HELPERS.dm
Owners: none

Experimental multi-Z EMP support, cylindrical effect for now
  code/game/objects/empulse.dm
Owners: none

Better distance falloff
  code/game/objects/empulse.dm
Owners: none

Added Prisoner HUD icon for AntagHUD
  icons/role_HUD_icons.dmi
Owners: @ShizCalev, @WJohn

Sound/visual support on other layers?
  code/game/objects/empulse.dm
  code/game/objects/explosion.dm
Owners: none

1 year rule isekai meme so i can test my ssh key
  code/modules/flufftext/Dreaming.dm
Owners: none

ONE JOB
  code/modules/flufftext/Dreaming.dm
Owners: none

Z cap for EMP sound
  code/game/objects/empulse.dm
Owners: none

Booms too
  code/game/objects/explosion.dm
Owners: none

Adds back accidentally deleted file
  sound/README.md
Owners: @ShizCalev

Muuuch more sane check
  code/game/objects/empulse.dm
  code/game/objects/explosion.dm
Owners: none

Attempt at connecting heard speech between multi Z
  code/game/say.dm
Owners: none

Hitting a broken APC's cover now gives feedback if you failed to knock it down
  code/modules/power/apc.dm
Owners: none

Cleaner
  code/game/say.dm
Owners: none

Missing bracket
  code/game/say.dm
Owners: none

Clicking the Unbuckle button on a shuttle chair while holding an item no longer makes you hit yourself.
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
Owners: none

Fixed the Ithaqua bible facing the wrong way when held left handed.
  icons/mob/in-hand/left/books.dmi
Owners: @ShizCalev, @WJohn

Fixed getting bloodied when doing surgery on bloodless species
  code/modules/mob/living/carbon/human/human_defense.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
