Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

un-retardify
  code/modules/organs/organ_external.dm
Owners: none

removed SVN stuff
  code/datums/gamemode/gamemode.dm
  code/datums/helper_datums/getrev.dm
  code/world.dm
  config/svndir.txt
Owners: @Cyberboss

Fixed cows, humans and virtualhearers hard-dels
  code/game/atoms_movable.dm
  code/modules/mob/hearing/virtualhearer.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
Owners: none

Fixed cows, humans and virtualhearers hard-dels (#27066)
  code/game/atoms_movable.dm
  code/modules/mob/hearing/virtualhearer.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
Owners: none

Remove references to mob/new_player after roundstart
  code/datums/gamemode/dynamic/dynamic.dm
Owners: none

be sane
  code/game/machinery/suit_modifier.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

reverted GPS to nanoui (#27053)
  code/modules/telesci/gps.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fixed implementations of Destroy() not calling parent
  code/ATMOSPHERICS/datum_pipe_network.dm
  code/ATMOSPHERICS/datum_pipeline.dm
  code/ATMOSPHERICS/pipes.dm
  code/__HELPERS/unsorted.dm
  code/controllers/mc/subsystem.dm
  code/datums/locking_category.dm
  code/datums/wires/wires.dm
  code/game/communications.dm
  code/game/machinery/computer/shuttle_computers.dm
  code/game/machinery/kitchen/smartfridge.dm
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/objects/structures/vehicles/carts/datum_cart_network.dm
  code/game/turfs/unsimulated/snow.dm
  code/modules/RCD/schematic.dm
  code/modules/maps/map_objects.dm
  code/modules/maps/spawners/spawners.dm
  code/modules/mining/mine_turfs.dm
  code/modules/power/powernet.dm
  code/modules/research/xenoarchaeology/artifact/effect.dm
  code/modules/research/xenoarchaeology/artifact/trigger.dm
Owners: none

I forgot to commit garbage.dm
  code/controllers/subsystem/garbage.dm
Owners: none

lots of shit
  __DEFINES/setup.dm
  code/controllers/subsystem/init/more_init_stuff.dm
  code/game/machinery/kitchen/gibber.dm
  code/game/objects/effects/decals/Cleanable/aliens.dm
  code/game/objects/effects/gibs.dm
  code/modules/mob/living/carbon/human/plasmaman/species.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/organs/blood.dm
  code/modules/organs/organ_objects.dm
  icons/mob/dam_human.dmi
  icons/mob/human_races/r_plasmaman_pb.dmi
  icons/mob/human_races/r_plasmaman_sb.dmi
  icons/mob/human_races/vox/r_def_vox.dmi
  icons/mob/human_races/vox/r_def_voxazu.dmi
  icons/mob/human_races/vox/r_def_voxbrn.dmi
  icons/mob/human_races/vox/r_def_voxemrl.dmi
  icons/mob/human_races/vox/r_def_voxgry.dmi
  icons/mob/human_races/vox/r_def_voxlgrn.dmi
  icons/mob/human_races/vox/r_vox.dmi
  icons/mob/human_races/vox/r_voxazu.dmi
  icons/mob/human_races/vox/r_voxboney.dmi
  icons/mob/human_races/vox/r_voxbrn.dmi
  icons/mob/human_races/vox/r_voxemrl.dmi
  icons/mob/human_races/vox/r_voxgry.dmi
  icons/mob/human_races/vox/r_voxlgrn.dmi
Owners: @ShizCalev, @WJohn

GC_FINDREF logs the refs
  code/controllers/subsystem/garbage.dm
Owners: none

mario's mystery meat
  code/game/machinery/kitchen/gibber.dm
Owners: none

Hotfix for cultists drawing runes
  code/datums/gamemode/factions/bloodcult/bloodcult_spells.dm
Owners: none

Hotfix for cultists drawing runes (#27071)
  code/datums/gamemode/factions/bloodcult/bloodcult_spells.dm
Owners: none

Fixed chrono grenades not working and stuff
  code/modules/spells/aoe_turf/fall.dm
Owners: none

Fixed implementations of Destroy() not calling parent (#27068)
  code/ATMOSPHERICS/datum_pipe_network.dm
  code/ATMOSPHERICS/datum_pipeline.dm
  code/ATMOSPHERICS/pipes.dm
  code/__HELPERS/unsorted.dm
  code/controllers/mc/subsystem.dm
  code/controllers/subsystem/garbage.dm
  code/datums/locking_category.dm
  code/datums/wires/wires.dm
  code/game/communications.dm
  code/game/machinery/computer/shuttle_computers.dm
  code/game/machinery/kitchen/smartfridge.dm
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/objects/structures/vehicles/carts/datum_cart_network.dm
  code/game/turfs/unsimulated/snow.dm
  code/modules/RCD/schematic.dm
  code/modules/maps/map_objects.dm
  code/modules/maps/spawners/spawners.dm
  code/modules/mining/mine_turfs.dm
  code/modules/power/powernet.dm
  code/modules/research/xenoarchaeology/artifact/effect.dm
  code/modules/research/xenoarchaeology/artifact/trigger.dm
Owners: none

dreamchecker errors now cause travis to fail
  .travis.yml
Owners: none

fixed nested absolute type paths
  code/game/objects/items/weapons/storage/firstaid.dm
  code/modules/media/jukebox.dm
  code/modules/surgery/butt.dm
  code/modules/surgery/tooth.dm
  maps/RandomZLevels/stationCollision.dm
Owners: none

Fixed chrono grenades not working and stuff (#27072)
  code/modules/spells/aoe_turf/fall.dm
Owners: none

Remove references to mob/new_player after roundstart (#27067)
  code/datums/gamemode/dynamic/dynamic.dm
Owners: none

fix confusion
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
Owners: none

let's be thorough
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
Owners: none

dview
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
Owners: none

fixes gloves on vox and insectoids, adds alt sprites for insect cult gear, fixes gap on back of bug armor
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  code/modules/clothing/gloves/boxing.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/gloves/miscellaneous.dm
  icons/mob/species/insectoid/head.dmi
  icons/mob/species/insectoid/suit.dmi
  icons/mob/species/vox/gloves.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Updates Sprites
  icons/obj/gun.dmi
Owners: @ShizCalev, @WJohn

haha, kill all donors
  code/controllers/subsystem/init/more_init_stuff.dm
  code/game/atoms.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/gibs.dm
  code/game/objects/items.dm
  code/game/turfs/simulated.dm
  code/modules/detectivework/detective_work.dm
  code/modules/detectivework/footprints_and_rag.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/organs/blood.dm
  code/modules/organs/organ_objects.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  code/modules/research/xenoarchaeology/finds/finds_special.dm
  code/modules/virus2/curer.dm
Owners: none

DNAlessSplatters
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/effects/decals/Cleanable/robots.dm
  code/game/objects/effects/decals/cleanable.dm
Owners: none

Added an advanced stun baton, which spawns with the HoS.
  code/game/jobs/job/security.dm
  code/game/objects/items/weapons/stunbaton.dm
  icons/obj/weapons.dmi
Owners: @ShizCalev, @WJohn

Added advanced stun baton that HoS now starts with.
  code/game/jobs/job/security.dm
  code/game/objects/items/weapons/stunbaton.dm
  icons/obj/weapons.dmi
Owners: @ShizCalev, @WJohn

Removed redundant constructor and lowered stun duration.
  code/game/objects/items/weapons/stunbaton.dm
Owners: none

Re-tgui-ified GPS, added potential bug workaround
  code/modules/admin/verbs/SDQL_2/SDQL_2_std.dm
  code/modules/nano/nanoui.dm
  code/modules/telesci/gps.dm
  code/modules/tgui/tgui.dm
Owners: none

Fixes extra html_encode() in pray and rambler vows
  code/__HELPERS/text.dm
  code/datums/gamemode/role/rambler.dm
  code/modules/admin/verbs/pray.dm
Owners: none

Advanced stun baton now starts loaded again.
  code/game/jobs/job/security.dm
  code/game/objects/items/weapons/stunbaton.dm
Owners: none

Update code/modules/admin/verbs/pray.dm
  code/modules/admin/verbs/pray.dm
Owners: none

hehehhehehhh....blud
  code/game/machinery/kitchen/gibber.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/items/weapons/mop.dm
  code/game/objects/structures/mop_bucket.dm
  icons/obj/janitor.dmi
Owners: @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
