Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Adds airlock bolts sounds (#21349)
  code/datums/wires/airlock.dm
  code/game/machinery/airlock_control.dm
  code/game/machinery/doors/airlock.dm
  sound/machines/door_bolt.ogg
  sound/machines/door_unbolt.ogg
Owners: @ShizCalev

Adds a few more fat uniform sprites (#21412)
  icons/mob/uniform_fat.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Door hacking additional feedback (#21410)
  code/datums/wires/airlock.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Adds permanent portals
  code/game/objects/effects/portals.dm
Owners: none

Disabling the ID wire on a door will now allow the door to be accessed by anyone
  code/game/machinery/doors/door.dm
Owners: none

plasmemes don't get damaged from slurping plasma anymore
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Temporarily reverts audio link
  code/modules/credits/credits.dm
Owners: none

oops
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Grenades can now actually be primed at 3 seconds (#21431)
  code/game/objects/items/weapons/grenades/grenade.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Names
  __DEFINES/_macros.dm
  __DEFINES/global.dm
  __DEFINES/role_datums_defines.dm
  __DEFINES/setup.dm
  code/controllers/shuttle_controller.dm
  code/game/gamemodes/gameticker.dm
  code/game/gamemodes/nuclear/nuclearbomb.dm
  code/game/machinery/computer/communications.dm
  code/game/objects/items/weapons/ai_modules/AI_modules.dm
  code/game/turfs/turf.dm
  code/modules/credits/episode_name.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/projectiles/projectile/change.dm
  code/modules/spells/general/lightning.dm
  code/modules/spells/targeted/grease.dm
  code/modules/supermatter/supermatter.dm
Owners: none

ice cream machine now contains and consumes reagents when making ice cream
  code/modules/food/icecreamvat.dm
  code/modules/reagents/Chemistry-Holder.dm
Owners: none

does nothing useful at all
  code/modules/food/icecreamvat.dm
Owners: none

from water to ICE
  code/modules/food/icecreamvat.dm
Owners: none

No longer send the reagents to the void. Conservation is key
  code/modules/food/icecreamvat.dm
Owners: none

Names2
  code/modules/credits/episode_name.dm
Owners: none

adds cell generation, and that's about it.
  code/modules/clothing/spacesuits/rig.dm
Owners: none

beginning of module handling
  code/modules/clothing/spacesuits/rig.dm
Owners: none

fixes helmets working away from their rig.
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/rig.dm
Owners: none

ghettorigs are no longer rigs, but space suits.
  code/datums/action.dm
  code/game/machinery/suit_storage_unit.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/spacesuits/rig.dm
Owners: none

fixes the lights not working. Fixes the rig helmets not being absorbed into the suit.
  code/modules/clothing/spacesuits/rig.dm
  code/modules/clothing/spacesuits/rig_modules/rig_modules.dm
  vgstation13.dme
Owners: none

suit charge is now shown in a suit storage unit.
  code/game/machinery/suit_storage_unit.dm
  code/modules/clothing/spacesuits/rig.dm
Owners: none

Fixes confrictu, adds the RoR to the list of rigsuits with a deployable helmet, adds the health readout rig module. Adds examine macros to when you're examining a person.
  __DEFINES/_macros.dm
  code/modules/clothing/spacesuits/rig.dm
  code/modules/clothing/spacesuits/rig_modules/rig_modules.dm
  code/modules/mob/living/carbon/human/examine.dm
Owners: none

Adds an internals-pressurizing module.
  code/game/machinery/suit_storage_unit.dm
  code/modules/clothing/spacesuits/rig_modules/rig_modules.dm
Owners: none

The rest
  SQL/players2.sql
  __DEFINES/setup.dm
  code/game/gamemodes/gameticker.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  code/modules/client/client defines.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/credits/credits.dm
  code/modules/credits/credits.html
  code/modules/credits/credits_clientprocs.dm
  code/modules/credits/episode_name.dm
  code/modules/migrations/SS13_Prefs/014-add-credits-pref.dm
  code/modules/migrations/SS13_Prefs/015-add-jingle_pref.dm
  code/world.dm
  vgstation13.dme
Owners: @Jordie0608

Whoops conflicts
  code/game/gamemodes/gameticker.dm
  code/modules/admin/topic.dm
  code/modules/client/preferences.dm
Owners: none

How did this happen?
  code/modules/admin/topic.dm
Owners: none

new rig light actions
  code/datums/action.dm
  code/modules/clothing/spacesuits/rig.dm
Owners: none

Since these are in the test server we can delete them from here
  sound/misc/RoundEndSounds/FTLvictory.ogg
  sound/misc/RoundEndSounds/apcdestroyed.ogg
  sound/misc/RoundEndSounds/bangindonk.ogg
  sound/misc/RoundEndSounds/bayojingle.ogg
  sound/misc/RoundEndSounds/calamitytrigger.ogg
  sound/misc/RoundEndSounds/castlevania.ogg
  sound/misc/RoundEndSounds/duckgame.ogg
  sound/misc/RoundEndSounds/gameoveryeah.ogg
  sound/misc/RoundEndSounds/marioworld.ogg
  sound/misc/RoundEndSounds/megamanX.ogg
  sound/misc/RoundEndSounds/rayman.ogg
  sound/misc/RoundEndSounds/slugmissioncomplete.ogg
  sound/misc/RoundEndSounds/soniclevelcomplete.ogg
  sound/misc/RoundEndSounds/sound help.txt
  sound/misc/RoundEndSounds/tfvictory.ogg
  sound/music/Frolic_Luciano_Michelini.ogg
  sound/music/Frolic_Luciano_Michelini_Short.ogg
  vgstation13.dme
Owners: @ShizCalev

left some debug
  code/modules/clothing/spacesuits/rig.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Adds permanent portals (#21432)
  code/game/objects/effects/portals.dm
Owners: none

Consistency
  code/modules/admin/admin.dm
  code/modules/credits/credit_disclaimers.dm
  code/modules/credits/credits.html
  code/modules/credits/credits_clientprocs.dm
  code/modules/credits/episode_name.dm
  icons/credits/1zas.png
  icons/credits/2cluck.png
  icons/credits/3MPAOSA.png
  icons/credits/4NT.png
  icons/credits/5BYOND.png
Owners: @ShizCalev, @WJohn

Adds the suit modifier station
  code/game/machinery/suit_modifier.dm
  icons/obj/stationobjs.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

fixy
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Fixes runtimo
  code/modules/credits/credit_disclaimers.dm
  code/modules/credits/credits.dm
  code/modules/credits/episode_name.dm
  icons/credits/4NT.png
  icons/credits/4_themed_NT.png
  icons/credits/4_themed_syndie.png
Owners: @ShizCalev, @WJohn

yay procs I didn't know we had
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
