Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Emotes now check if there is actually somebody to hear it in earshot
  code/datums/emotes.dm
Owners: none

Requested changes - Tested, works.
  code/game/objects/structures/universal_generators/cellular_automata.dm
  code/game/turfs/unsimulated/snow.dm
  maps/_map.dm
  vgstation13.dme
Owners: none

Gibtonite now preserves the base icon (#21069)
  code/modules/mining/mine_turfs.dm
Owners: none

key_name() can now be passed a mind (#21061)
  code/__HELPERS/unsorted.dm
Owners: none

fixes the messy thralling adminwarn that half works (#21062)
  code/datums/gamemode/role/vampire_role.dm
Owners: none

hhhhhhhhhh
  code/modules/mob/living/carbon/brain/posibrain.dm
Owners: none

Update code/modules/mob/living/carbon/brain/posibrain.dm
  code/modules/mob/living/carbon/brain/posibrain.dm
Owners: none

what is grammar i can't read
  code/modules/mob/living/carbon/brain/posibrain.dm
Owners: none

Fixes a few strange haircuts
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  code/datums/gamemode/factions/legacy_cult/cult_items.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/masks/miscellaneous.dm
Owners: none

Added Gutter Gang
  code/datums/religions.dm
Owners: none

Fixes a few strange haircuts (#21080)
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  code/datums/gamemode/factions/legacy_cult/cult_items.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/masks/miscellaneous.dm
Owners: none

Fixes mushroom suits not spawning in the right place (#21060)
  code/game/objects/structures/crates_lockers/closets/syndicate.dm
  code/modules/maps/spawners/spawners.dm
Owners: none

Changes posibrain flavor text (#21077)
  code/modules/mob/living/carbon/brain/posibrain.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

several trader fixes
  code/game/machinery/vending.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/stacks/sheets/bigstacks.dm
  code/game/objects/items/trader.dm
Owners: none

The Grinch, half of the work
  __DEFINES/role_datums_defines.dm
  __DEFINES/setup.dm
  code/datums/gamemode/role/grinch.dm
  code/game/objects/items/weapons/storage/bluespace.dm
  code/modules/client/preferences.dm
Owners: none

Fixes Vox helmets giving buggy hair
  code/modules/clothing/spacesuits/alien.dm
Owners: none

Futureproof
  icons/mob/human_face.dmi
Owners: @ShizCalev, @WJohn

Commit pre mapgas
  __DEFINES/_macros.dm
  __DEFINES/global.dm
  code/_onclick/hud/grinch.dm
  code/_onclick/hud/hud.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
  code/datums/gamemode/objectives/freeform/christmas.dm
  code/datums/gamemode/role/grinch.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/storage/bluespace.dm
  code/game/objects/structures/window.dm
  code/modules/mob/living/simple_animal/hostile/grinch.dm
  vgstation13.dme
Owners: none

Post mapgunk
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
  code/datums/gamemode/role/grinch.dm
  code/datums/gamemode/role/role.dm
  code/game/objects/effects/landmarks.dm
  code/modules/mob/living/simple_animal/hostile/grinch.dm
  maps/vgstation.dmm
Owners: none

Adds the Murdercube religions
  code/datums/religions.dm
  code/game/jobs/job/civilian_chaplain.dm
  code/game/objects/items/weapons/null_rod.dm
  icons/obj/storage/storage.dmi
Owners: @ShizCalev, @WJohn

doneso
  code/game/objects/items/weapons/null_rod.dm
Owners: none

trailing returns copied from oldcode
  code/game/objects/items/weapons/null_rod.dm
Owners: none

gottem, time for more code
  code/game/objects/items/weapons/null_rod.dm
Owners: none

reeeEEEE copy-paste
  code/game/objects/items/weapons/null_rod.dm
Owners: none

More things check for antag bans
  code/datums/gamemode/dynamic/dynamic_rulesets.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_buildings.dm
Owners: none

Add a few more checks for jobbans
  code/datums/gamemode/factions/bloodcult/bloodcult_buildings.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/datums/gamemode/factions/syndicate/rev.dm
  code/game/gamemodes/blob/blobs/core.dm
Owners: @ChangelingRain

Fixes Vox helmets giving buggy hair (#21086)
  code/modules/clothing/spacesuits/alien.dm
  icons/mob/human_face.dmi
Owners: @ShizCalev, @WJohn

several trader fixes (#21085)
  code/game/machinery/vending.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/stacks/sheets/bigstacks.dm
  code/game/objects/items/trader.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fixes escape objectives failing if you were on a pod
  code/datums/gamemode/objectives/escape.dm
Owners: none

Hostile ListTarget rewrite
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Owners: none

Gonflicts
  code/datums/gamemode/factions/bloodcult/bloodcult_buildings.dm
Owners: none

More things check for antag bans (#21095)
  code/datums/gamemode/dynamic/dynamic_rulesets.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_buildings.dm
Owners: none

Add a few more checks for jobbans (#21096)
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/datums/gamemode/factions/syndicate/rev.dm
  code/game/gamemodes/blob/blobs/core.dm
Owners: @ChangelingRain

isantagbanned macro
  __DEFINES/_macros.dm
  code/datums/gamemode/dynamic/dynamic_rulesets.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_buildings.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/datums/gamemode/factions/syndicate/rev.dm
  code/game/gamemodes/blob/blobs/core.dm
  code/game/machinery/syndicatebeacon.dm
  code/game/objects/items/changeling_vial.dm
  code/game/objects/items/weapons/explosives.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/client/preferences.dm
  code/modules/clothing/masks/stone.dm
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
  code/modules/mob/living/simple_animal/borer.dm
Owners: @ChangelingRain

Oopsie Woopsie! Uwu We made a fucky wucky! A wittle fucko boingo! The code monkeys at our headquarters are working VEWY HARD to fix this!
  code/datums/gamemode/dynamic/dynamic_rulesets.dm
  code/game/objects/items/changeling_vial.dm
  code/modules/clothing/masks/stone.dm
Owners: none

organized a bit better
  __DEFINES/_macros.dm
Owners: none

Fixes escape objectives failing if you were on a pod (#21097)
  code/datums/gamemode/objectives/escape.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
