Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

Horizon fixes
  maps/horizon.dm
Owners: none

Update next_map.dm
  code/datums/next_map.dm
Owners: none

Draft: Horizon Dodge
  __DEFINES/global.dm
  code/datums/helper_datums/command_alerts.dm
  code/game/machinery/computer/ship_control.dm
  code/modules/events/immovablerod.dm
  code/modules/events/radiation_storm.dm
  vgstation13.dme
Owners: none

make "Special Tab" that puts adminhelps all in one place enabled by default
  code/modules/client/preferences.dm
Owners: none

oxygen content affecting ignition temperature and fix
  code/ZAS/Fire.dm
  code/controllers/subsystem/burnable.dm
  code/game/atoms_movable.dm
Owners: none

fix gingerhonkman's attack sound (#35452)
  code/modules/mob/living/simple_animal/hostile/gingerbreadmobs.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

can repair grilles using rods, or whatever material the grille uses (#35457)
  code/game/objects/structures/grille.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Makes the drug lab double walled, adds some minor flavour text and fixes an oversight. (#35467)
  maps/randomvaults/dungeons/laundromat_drug_lab.dmm
  vgstation13.dme
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

very minor grammar fixes (#35460)
  code/datums/body_archive.dm
  code/modules/admin/topic.dm
Owners: none

Update mob.dm (#35459)
  code/modules/mob/mob.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Horizon fixes (#35496)
  maps/horizon.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

oxygen fix
  code/controllers/subsystem/burnable.dm
Owners: none

.
  code/controllers/subsystem/burnable.dm
Owners: none

no need min
  code/controllers/subsystem/burnable.dm
Owners: none

.
  code/controllers/subsystem/burnable.dm
Owners: none

Update burnable.dm
  code/controllers/subsystem/burnable.dm
Owners: none

Update burnable.dm
  code/controllers/subsystem/burnable.dm
Owners: none

Update atoms.dm
  code/game/atoms.dm
Owners: none

Update code/game/atoms.dm
  code/game/atoms.dm
Owners: none

Update atoms.dm
  code/game/atoms.dm
Owners: none

Update burnable.dm
  code/controllers/subsystem/burnable.dm
Owners: none

More Fixes
  maps/horizon.dm
  vgstation13.dme
Owners: none

Update burnable.dm
  code/controllers/subsystem/burnable.dm
Owners: none

landlines
  code/game/machinery/landline.dm
  code/game/machinery/requests_console.dm
Owners: none

redphone
  code/defines/obj/weapon.dm
Owners: none

switchboard
  code/game/machinery/computer/message.dm
Owners: none

add landline autorouting to message server
  code/modules/research/message_server.dm
Owners: none

missed a /
  code/defines/obj/weapon.dm
Owners: none

telephone sprites (please make less bad ones)
  icons/obj/terminals.dmi
Owners: @ShizCalev, @WJohn

separate redphone sprite
  icons/obj/items.dmi
Owners: @ShizCalev, @WJohn

bananaphone sounds
  sound/items/bananaphone pickup.wav
  sound/items/bananaphone_ring.wav
Owners: @ShizCalev

telephone sounds
  sound/items/telephone_pickup.ogg
  sound/items/telephone_ring.ogg
Owners: @ShizCalev

add landline to compile list
  vgstation13.dme
Owners: none

another place to use this
  code/ZAS/Fire.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
