Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Blob is less likely to roll at roundstart
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

final bodybags
  code/game/objects/items/bodybag.dm
  code/game/objects/structures/crates_lockers/closets.dm
  icons/obj/bodybag.dmi
Owners: @ShizCalev, @WJohn

small tweak
  code/game/objects/items/bodybag.dm
Owners: none

Adds descriptions to all of the virology symptoms. These are displayed on the virus analysis.
  code/modules/virus2/disease2.dm
  code/modules/virus2/effect/effect.dm
  code/modules/virus2/effect/stage_1.dm
  code/modules/virus2/effect/stage_2.dm
  code/modules/virus2/effect/stage_3.dm
  code/modules/virus2/effect/stage_4.dm
  code/modules/virus2/effect/stage_special.dm
Owners: none

Punctuation
  code/modules/virus2/effect/stage_1.dm
  code/modules/virus2/effect/stage_2.dm
  code/modules/virus2/effect/stage_3.dm
  code/modules/virus2/effect/stage_4.dm
Owners: none

Fixes having both polyacid and phenol making plastic.
  code/modules/reagents/Chemistry-Holder.dm
Owners: none

Makes greys acid resistant more consistent, makes it into a define
  __DEFINES/setup.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/species.dm
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

MALF AIs now have a chance to roll midround, but they're rare.
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
Owners: none

Cleaned Up Survivor Scoreboard
  code/datums/gamemode/role/role.dm
  code/datums/gamemode/role/summonsurvivors.dm
  code/datums/gamemode/role/syndicate.dm
  code/game/gamemodes/wizard/rightandwrong.dm
  vgstation13.dme
Owners: none

Midround Blobstorm is now less likely to roll.
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
Owners: none

tweak
  code/datums/supplypacks.dm
Owners: none

Fixes an irregularity with the antibody scanner's scanning
  code/modules/virus2/items_devices.dm
Owners: none

forgot
  code/datums/supplypacks.dm
Owners: none

final fix
  code/game/objects/items/bodybag.dm
Owners: none

ishuman
  code/game/objects/items/bodybag.dm
Owners: none

bloodtracks
  code/game/objects/effects/decals/Cleanable/tracks.dm
  code/game/objects/effects/decals/cleanable.dm
Owners: none

crozius (#21947)
  code/datums/religions.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/null_rod.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  icons/mob/head.dmi
  icons/mob/in-hand/left/swords_axes.dmi
  icons/mob/in-hand/right/swords_axes.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/weapons.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

plus
  code/game/objects/effects/decals/cleanable.dm
Owners: none

Fixing some long undetected blood issue (#21970)
  code/game/objects/effects/decals/Cleanable/tracks.dm
  code/game/objects/effects/decals/cleanable.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Added a wire requirement to the rabbit's foot item.
  code/modules/clothing/accessories/accessory.dm
  icons/obj/clothing/accessories.dmi
Owners: @ShizCalev, @WJohn

ied-beartrap overlay and bugfix
  code/defines/obj/weapon.dm
  code/game/objects/items/weapons/grenades/ghettobomb.dm
  icons/obj/grenade.dmi
  icons/obj/items.dmi
Owners: @ShizCalev, @WJohn

changes a obscure interaction with cablecuffs and wirecutters (#21885)
  code/game/objects/items/weapons/tools.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Reduces attack delay on bloodlust (#21856)
  code/game/objects/items/weapons/twohanded.dm
Owners: none

Adds CUT_WALL and CUT_AIRLOCK flags, uses it in melee energy weapons (#21855)
  __DEFINES/setup.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/structures/girders.dm
  code/game/turfs/simulated/walls.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fixes ancient bugs with fire (#21782)
  code/ZAS/Fire.dm
  code/ZAS/NewSettings.dm
  code/game/objects/effects/spawners/bombspawner.dm
  config-example/ZAS.txt
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Adds rabbits and magic top hats. (#21637)
  code/datums/helper_datums/butchering.dm
  code/game/gamemodes/wizard/rightandwrong.dm
  code/game/machinery/vending.dm
  code/modules/clothing/accessories/accessory.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/slime.dm
  code/modules/mob/living/simple_animal/hostile/slime.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  icons/mob/clothing_accessories.dmi
  icons/obj/clothing/accessories.dmi
  icons/obj/clothing/accessory_overlays.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

some cult fixes
  code/datums/gamemode/factions/bloodcult/bloodcult.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_buildings.dm
  code/datums/gamemode/objectives/bloodcult.dm
Owners: none

Re-adds the prisoner helmet to the suit storage unit
  code/game/machinery/suit_storage_unit.dm
Owners: none

Re-adds the prisoner helmet to the suit storage unit (#21979)
  code/game/machinery/suit_storage_unit.dm
Owners: none

Increase fire_fuel_energy_release again
  code/ZAS/NewSettings.dm
  code/game/objects/effects/spawners/bombspawner.dm
  config-example/ZAS.txt
Owners: none

Can now find the tier 4 parts via xenoarch and the weird mining surprise rooms
  code/modules/mining/surprises/tg.dm
  code/modules/research/xenoarchaeology/finds/finds.dm
Owners: none

Adds speech noises for human
  code/controllers/configuration.dm
  code/game/sound.dm
  code/modules/mob/living/carbon/human/say.dm
  config-example/game_options.txt
  sound/misc/Vocal1.ogg
  sound/misc/Vocal2.ogg
  sound/misc/Vocal3.ogg
Owners: @ShizCalev

Slow that stuff RIGHT down
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/say.dm
Owners: none

MORE NOISES
  code/game/sound.dm
  sound/misc/Vocal4.ogg
  sound/misc/Vocal5.ogg
Owners: @ShizCalev
