Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

oh god oh fuck
  __DEFINES/__compile_options.dm
  code/game/objects/empulse.dm
Owners: none

oh god oh fuck
  code/game/objects/empulse.dm
Owners: none

The people are not ready yet
  __DEFINES/__compile_options.dm
Owners: none

fixed the fucky-wucky with job preview and fat sec sprites (#26062)
  code/modules/mob/new_player/preferences_setup.dm
  icons/mob/uniform_fat.dmi
Owners: @ShizCalev, @WJohn

fixes NTD
  code/datums/ai_laws.dm
Owners: none

updated other instance of NTD
  code/game/objects/items/weapons/ai_modules/core.dm
Owners: none

Big EMPS will no longer slow the server to a crawl (#26063)
  code/game/objects/empulse.dm
Owners: none

Condenses all the procs you need to call for an away mission into a single one
  code/modules/awaymissions/gateway.dm
Owners: none

admin ghost
  code/modules/awaymissions/gateway.dm
Owners: none

trying to fix issue 26013 (#26056)
  code/game/machinery/autoborger.dm
  code/game/objects/items/robot/robot_parts.dm
  code/modules/mob/transform_procs.dm
Owners: none

Un-greytided dudes will now appear on the round end report (#26024)
  code/datums/gamemode/role/role.dm
Owners: none

Fix non-vox raider return (#26025)
  code/datums/gamemode/factions/vox_shoal.dm
  code/game/shuttles/vox.dm
Owners: none

Fixes mime curses 4real this time (#26021)
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

the start of scream code for unique insectoid screams
  __DEFINES/_macros.dm
  code/datums/emotes.dm
  code/modules/mob/living/carbon/emote.dm
  sound/misc/hiss1.ogg
  sound/misc/hiss2.ogg
  sound/misc/hiss3.ogg
Owners: @ShizCalev

fixes insectoid screams to be unique
  code/datums/emotes.dm
  code/game/sound.dm
  code/modules/mob/living/carbon/emote.dm
Owners: none

Fix traitor reaganomics
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

An attempt at fixing autotraitor inflation
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

Chaplain PDA and manifest updated with alt title
  code/datums/religions.dm
Owners: none

Fixing the REAL problem
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

Insectoid Screams: the chittering (#26070)
  __DEFINES/_macros.dm
  code/datums/emotes.dm
  code/game/sound.dm
  code/modules/mob/living/carbon/emote.dm
  sound/misc/hiss1.ogg
  sound/misc/hiss2.ogg
  sound/misc/hiss3.ogg
Owners: @ShizCalev

pieing mobs blinds the target
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/mob/messiness.dmi
Owners: @ShizCalev, @WJohn

move playsound before deletion and cleans comments
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

Throwing a rod at people is no between the teleport links
  code/datums/datumvars.dm
Owners: none

Klendathu Arachnids (#26023)
  code/modules/mob/living/simple_animal/hostile/warriorbug.dm
  icons/mob/arachnid.dmi
Owners: @ShizCalev, @WJohn

Throwing a rod at people is no between the teleport links (#26077)
  code/datums/datumvars.dm
Owners: none

Only one proc to activate away missions (#26066)
  code/modules/awaymissions/gateway.dm
Owners: none

Chaplain PDA and manifest updated with alt title (#26075)
  code/datums/religions.dm
Owners: none

Boxes_Station
  maps/boxesstation.dm
Owners: none

Head positions set to low or medium no longer take precedence over other roles
  code/game/jobs/job_controller.dm
Owners: none

god help us
  code/modules/clothing/spacesuits/alien.dm
Owners: none

Fixes lockbox variants of automatic projectile weapons and glock receiving ammo 4noraisin.
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  vgstation13.dme
Owners: none

lol
  vgstation13.dme
Owners: none

what the fuck
  vgstation13.dme
Owners: none

Fixes sec helmet and fake syndie helmet bugs, makes cigarettes fit insectoids
  code/game/objects/items/weapons/cigs_lighters.dm
  code/modules/clothing/head/misc.dm
  icons/mob/human_face.dmi
  icons/mob/species/insectoid/head.dmi
Owners: @ShizCalev, @WJohn

brokem chef unifor,
  icons/mob/species/insectoid/uniform.dmi
Owners: @ShizCalev, @WJohn

Fixing broken sprites. (#26082)
  code/game/objects/items/weapons/cigs_lighters.dm
  code/modules/clothing/head/misc.dm
  icons/mob/human_face.dmi
  icons/mob/species/insectoid/head.dmi
  icons/mob/species/insectoid/uniform.dmi
Owners: @ShizCalev, @WJohn

does stuff
  code/modules/clothing/spacesuits/alien.dm
Owners: none

Semi-automatic changelog update
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

makes it even stealthier
  code/modules/clothing/spacesuits/alien.dm
Owners: none

no longer breaks the game!
  code/modules/clothing/spacesuits/alien.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
