Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

stuff
  code/game/machinery/ai_slipper.dm
  code/game/machinery/alarm.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/machinery.dm
  code/game/machinery/turrets.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/modules/mob/living/simple_animal/hostile/pulse_demon/pulsedemon.dm
  code/modules/power/apc.dm
  icons/obj/power.dmi
Owners: @ShizCalev, @WJohn

fix
  code/game/machinery/ai_slipper.dm
  code/game/machinery/doors/airlock.dm
Owners: none

Revert "Enables talk sounds for borgs, also changes their sound to the toonto…"
  code/game/sound.dm
  code/modules/mob/living/silicon/robot/robot.dm
  sound/misc/silicon-vocal1.ogg
  sound/misc/silicon-vocal2.ogg
  sound/misc/silicon-vocal3.ogg
  sound/misc/silicon-vocal4.ogg
  sound/misc/silicon-vocal5.ogg
Owners: @ShizCalev

ChangedRDconsoleaccess
  code/modules/research/rdconsole.dm
Owners: none

icon conflicts part one
  icons/mob/in-hand/left/misc_tools.dmi
  icons/mob/in-hand/right/misc_tools.dmi
Owners: @ShizCalev, @WJohn

Revert "typo (#38025)"
  code/datums/gamemode/factions/bloodcult/bloodcult.dm
  code/modules/media/jukebox.dm
  code/modules/trader/crates/shoaljunk.dm
  code/modules/trader/crates/zincsaucier.dm
Owners: none

Fixes unavailable job button
  code/modules/client/preferences/pref_datums_character.dm
Owners: none

norock
  code/modules/procedural mapping/planetGenerator/generators/rock.dm
  vgstation13.dme
Owners: none

Fixes Autonomous Fire Suppression
  code/game/machinery/alarm.dm
Owners: none

wew lad
  code/datums/chat_message.dm
Owners: none

Day/Night Subsystem Refactor
  code/controllers/subsystem/daynightcycle.dm
  code/game/turfs/turf.dm
  code/game/turfs/unsimulated/jungle.dm
  maps/_map.dm
  maps/junglestation.dm
  maps/snaxi.dm
Owners: none

hmm
  code/controllers/subsystem/daynightcycle.dm
  code/game/turfs/turf.dm
  maps/junglestation.dm
Owners: none

partytime
  code/datums/supply_packs/hospitality.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/clothing/head/misc.dm
  icons/obj/clothing/hats.dmi
  icons/obj/storage/smallboxes.dmi
Owners: @ShizCalev, @WJohn

just some stamps
  code/datums/supply_packs/supplies.dm
Owners: none

WIP but i wanna rebase
  code/controllers/subsystem/supply_shuttle.dm
  code/datums/centcomm_orders/centcomm_orders.dm
  code/game/machinery/computer/cargo.dm
  nano/templates/supply_console.tmpl
Owners: none

Undoes shrunken hats
  icons/obj/clothing/hats.dmi
Owners: @ShizCalev, @WJohn

a
  code/controllers/subsystem/daynightcycle.dm
  maps/junglestation.dm
Owners: none

css is cursed
  code/game/machinery/computer/cargo.dm
  nano/css/shared.css
  nano/templates/supply_console.tmpl
Owners: none

fix
  code/controllers/subsystem/daynightcycle.dm
  maps/junglestation.dm
  maps/snaxi.dm
Owners: none

debug
  code/controllers/subsystem/daynightcycle.dm
Owners: none

documentation
  code/controllers/subsystem/daynightcycle.dm
Owners: none

enhances the hat
  code/modules/clothing/head/misc.dm
  icons/mob/head.dmi
  icons/mob/species/insectoid/head.dmi
Owners: @ShizCalev, @WJohn

finishing up
  code/datums/centcomm_orders/centcomm_orders.dm
  code/game/machinery/computer/cargo.dm
Owners: none

Requested changes
  code/game/machinery/Sleeper.dm
  code/game/objects/items/devices/sleeperplugins.dm
  code/modules/mob/living/simple_animal/hostile/hog.dm
Owners: none

extra hat icons!
  code/modules/clothing/head/misc.dm
  icons/mob/species/grey/head.dmi
  icons/mob/species/vox/head.dmi
Owners: @ShizCalev, @WJohn

Fixes character slots not saving properly
  code/modules/client/preferences/preferences.dm
Owners: none

Fixes lockbox emagging
  code/game/objects/items/weapons/storage/lockbox.dm
Owners: none

cleaner
  code/game/objects/items/weapons/storage/lockbox.dm
Owners: none

removes duplicate verb
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/lockbox.dm
Owners: none

removes redundant line
  code/game/objects/items/weapons/storage/lockbox.dm
Owners: none

cleaner
  code/modules/virus2/effect/stage_4.dm
Owners: none

even better
  code/modules/virus2/effect/stage_4.dm
Owners: none

catches these
  code/modules/mob/living/say.dm
Owners: none

Update simple_animal.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Owners: none

Examining the mode of the somatoray
  code/modules/hydroponics/floral_somatoray.dm
Owners: none

splat
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/modules/mob/living/living_defense.dm
  code/modules/organs/blood.dm
  icons/effects/blood.dmi
Owners: @ShizCalev, @WJohn

hud stuff
  code/datums/hud/medical_hud.dm
  code/datums/hud/nullrod_hud.dm
  code/datums/hud/security_hud.dm
  code/modules/virus2/effect/stage_4.dm
Owners: none

more huds
  code/datums/hud/diagnostic_hud.dm
  code/datums/hud/implant_hud.dm
  code/datums/hud/job_hud.dm
  code/datums/hud/medical_hud.dm
  code/datums/hud/security_hud.dm
Owners: none

last of em
  code/datums/hud/antag_hud.dm
  code/datums/hud/cult_construct_hud.dm
  code/datums/hud/cult_conversion_hud.dm
Owners: none

fix
  code/datums/hud/cult_conversion_hud.dm
Owners: none
