Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Update daynightcycle.dm
  code/controllers/subsystem/daynightcycle.dm
Owners: none

Mo Changes
  code/controllers/subsystem/daynightcycle.dm
  maps/_map.dm
  maps/snaxi.dm
Owners: none

This compiles
  maps/snaxi.dm
Owners: none

Fixes the comments
  code/controllers/subsystem/daynightcycle.dm
Owners: none

comments on most shit
  code/controllers/subsystem/daynightcycle.dm
Owners: none

change how it works, request fulfilled
  code/game/machinery/atmoalter/gas_mine.dm
Owners: none

you can examine the state of miners now (#28358)
  code/game/machinery/atmoalter/gas_mine.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

adds fannypack, 1-slot webbing (#28339)
  code/datums/outfit/civilian.dm
  code/game/machinery/biogenerator.dm
  code/modules/clothing/accessories/accessory.dm
  code/modules/clothing/accessories/storage.dm
  icons/mob/clothing_accessories.dmi
  icons/obj/clothing/accessories.dmi
  icons/obj/clothing/accessory_overlays.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

attempt two at merging the unit tests
  code/modules/unit_tests/supermatter_airflow.dm
Owners: none

every gosh dang time, indentation fix
  code/modules/unit_tests/supermatter_airflow.dm
Owners: none

why was this snowflaked awkwardly.
  code/datums/gamemode/role/ninja.dm
Owners: none

little tweaks
  code/datums/gamemode/role/ninja.dm
Owners: none

pathogenic cloud optimization (#28344)
  code/modules/mob/living/living.dm
  code/modules/virus2/pathogen_cloud.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Document the assistant logic a bit more clearly
  code/game/jobs/job_controller.dm
Owners: none

conflciting fiels
  icons/mob/species/vox/uniform.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Gives Space Ninja a greeting that explains basic mechanics like other antags. (#28365)
  code/datums/gamemode/role/ninja.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

added a proximity check
  code/game/machinery/autolathe.dm
Owners: none

conscious stat check as well
  code/game/machinery/autolathe.dm
Owners: none

remove emag, making it a "recipe"
  code/game/objects/items/weapons/surgery_tools.dm
  code/modules/research/designs/surgery.dm
Owners: none

added the click sound to it
  code/game/objects/items/weapons/surgery_tools.dm
Owners: none

okay, better checks, sorry
  code/game/machinery/autolathe.dm
Owners: none

get_turf(src) to just src for playsound, sorry
  code/game/machinery/autolathe.dm
Owners: none

how will space carp ever recover
  code/game/mecha/working/ripley.dm
Owners: none

robo gang rise up
  code/datums/outfit/science.dm
Owners: none

Snaxi day night (#28275)
  __DEFINES/subsystem.dm
  code/controllers/subsystem/daynightcycle.dm
  maps/snaxi.dm
  sound/misc/6amRooster.wav
  sound/misc/6pmWolf.wav
  vgstation13.dme
Owners: @ShizCalev

radio jammer, jams radios
  code/datums/uplink_item.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/devices/radio_jammer.dm
  vgstation13.dme
Owners: none

Update daynightcycle.dm
  code/controllers/subsystem/daynightcycle.dm
Owners: none

Update daynightcycle.dm (#28373)
  code/controllers/subsystem/daynightcycle.dm
Owners: none

Better Tree Transparency
  code/_hooks/events.dm
  code/game/objects/structures/flora/flora.dm
  code/game/turfs/turf.dm
Owners: none

Geysers Improved
  code/ATMOSPHERICS/hvac/geyser.dm
  icons/misc/beach.dmi
Owners: @ShizCalev, @WJohn

item transporter, alternative mailing system
  code/game/machinery/constructable_frame.dm
  code/game/machinery/item_transporter.dm
  icons/obj/machines/item_transporter.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

Admin IC Spawning
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mob/dead/observer/observer.dm
Owners: none

some suggestions done
  code/game/machinery/item_transporter.dm
Owners: none

some more small changes
  code/game/machinery/item_transporter.dm
Owners: none

subtypesof instead of typesof change
  code/modules/admin/verbs/randomverbs.dm
Owners: none
