Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

Fixed PR template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

Fixed PR template (#32565)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

Moved update_leaves() to initialize(). Added more mirror shattering cases.
  code/game/objects/items/weapons/cosmetics.dm
  code/game/objects/structures/mirror.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/reagents/reagent_containers/food/snacks/grown.dm
Owners: none

Update hydroponics_mutations.dm
  code/modules/hydroponics/hydroponics_mutations.dm
Owners: none

mr krabs do you feel it
  code/modules/clothing/suits/miscellaneous.dm
Owners: none

Inverts double negative
  code/__HELPERS/unsorted.dm
  code/datums/gamemode/role/role.dm
  code/datums/gamemode/role/streamer.dm
  code/game/verbs/who.dm
Owners: none

Change to component.
  __DEFINES/_macros.dm
  code/_hooks/events.dm
  code/datums/components/coinflip.dm
  code/game/atoms.dm
  code/modules/food/customizables.dm
  code/modules/mining/ores_coins.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  vgstation13.dme
Owners: @Cyberboss

remove 'as'
  code/datums/components/coinflip.dm
Owners: @Cyberboss

Loop Religion (#32551)
  code/datums/religions.dm
  code/game/objects/items/weapons/null_rod.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/obj/storage/bibles.dmi
Owners: @ShizCalev, @WJohn

Fixed coin orientation reset upon equipped().
  code/_hooks/events.dm
  code/datums/components/coinflip.dm
  code/game/atoms.dm
  code/game/objects/items.dm
Owners: @Cyberboss

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Update coinflip.dm
  code/datums/components/coinflip.dm
Owners: @Cyberboss

.
  code/datums/components/coinflip.dm
Owners: @Cyberboss

Hiding tiny items under floortiles
  __DEFINES/planes+layers.dm
  code/game/turfs/simulated/floor.dm
Owners: none

Migrate vending machine interfaces to TGUI
  code/datums/wires/vending.dm
  code/game/machinery/vending.dm
  tgui/packages/tgui/interfaces/Vending.js
  tgui/public/tgui.bundle.js
Owners: none

Using levels so T-ray scanners work with them nicely
  code/game/turfs/simulated/floor.dm
Owners: none

Not when these are present
  code/game/turfs/simulated/floor.dm
Owners: none

nerfs escape pod explosion
  code/game/shuttles/emergency.dm
Owners: none

Changed iscoin() to isitem().
  code/datums/components/coinflip.dm
Owners: @Cyberboss

buffs it slightly
  code/game/shuttles/emergency.dm
Owners: none

Flipping chocolate coins (#32555)
  __DEFINES/_macros.dm
  __DEFINES/setup.dm
  code/_hooks/events.dm
  code/datums/components/coinflip.dm
  code/game/atoms.dm
  code/game/objects/items.dm
  code/modules/food/customizables.dm
  code/modules/mining/ores_coins.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  vgstation13.dme
Owners: @Cyberboss

Antag and non-antag roles (#32560)
  code/__HELPERS/unsorted.dm
  code/datums/gamemode/role/role.dm
  code/datums/gamemode/role/streamer.dm
  code/game/verbs/who.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Updates insectoid monkey form
  code/modules/mob/living/carbon/monkey/roach.dm
  icons/mob/monkey.dmi
Owners: @ShizCalev, @WJohn

Move some data to static data
  code/game/machinery/vending.dm
  tgui/packages/tgui/interfaces/Vending.js
  tgui/public/tgui.bundle.js
Owners: none

Cache icons into a global list
  code/game/machinery/vending.dm
Owners: none

Insectoid monkey cube consistency update
  code/datums/supplypacks.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/reagents/reagent_containers/food/mobcube.dm
Owners: none

Update Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Update Chemistry-Reagents.dm (#32570)
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Insectoid monkey cube path consistency update
  code/datums/supplypacks.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/reagents/reagent_containers/food/mobcube.dm
Owners: none

Resolved
  code/datums/gamemode/role/jectiecooker.dm
Owners: none

T-ray scanners now work properly
  code/game/objects/items.dm
  code/game/turfs/simulated/floor.dm
Owners: none

Removes reagent targeting from thrown drinks
  code/modules/reagents/reagent_containers/food/drinks.dm
Owners: none

unpowered holopad fix
  code/game/machinery/hologram.dm
Owners: none

Delete Discord Notification.mp3
  sound/effects/Discord Notification.mp3
Owners: @ShizCalev

"Lights on" lowpop event
  code/datums/helper_datums/command_alerts.dm
  code/game/jobs/access.dm
  code/modules/events/lights_on.dm
  code/modules/events/radiation_storm.dm
  code/modules/security levels/keycard authentication.dm
  vgstation13.dme
Owners: none

Fix
  code/modules/events/lights_on.dm
Owners: none

Fix
  code/modules/events/lights_on.dm
  code/modules/events/radiation_storm.dm
  code/modules/security levels/keycard authentication.dm
Owners: none

bugfixes
  code/game/machinery/vending.dm
  tgui/packages/tgui/interfaces/Vending.js
  tgui/public/tgui.bundle.js
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
