Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Adds Thermos to coffee machines (#35920)
  code/game/machinery/vending.dm
Owners: none

Better Soup (#35921)
  code/modules/reagents/reagents/reagents_medical.dm
Owners: none

Fixes the specific heat capacity of Radium and all the reagents made from it being 1000x higher than meant to (#35927)
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagents/reagents_basic.dm
  code/modules/reagents/reagents/reagents_drink.dm
  code/modules/reagents/reagents/reagents_drug.dm
  code/modules/reagents/reagents/reagents_food.dm
  code/modules/reagents/reagents/reagents_material.dm
  code/modules/reagents/reagents/reagents_medical.dm
  code/modules/reagents/reagents/reagents_misc.dm
  code/modules/reagents/reagents/reagents_reactive.dm
  code/modules/reagents/reagents/reagents_toxin.dm
Owners: none

beauty standards
  code/game/objects/items.dm
Owners: none

Update passive.dm
  code/game/mecha/equipment/passive/passive.dm
Owners: none

random mech weapon
  code/game/mecha/equipment/weapons/weapons.dm
Owners: none

Update mecha_equipment.dm
  code/game/mecha/equipment/mecha_equipment.dm
Owners: none

Update mecha.dm
  code/game/mecha/mecha.dm
Owners: none

killdozer bundle box
  code/game/objects/items/weapons/storage/uplink_kits.dm
Owners: none

add killdozer to research
  code/modules/research/designs/robotics.dm
Owners: none

add killdozer to uplink
  code/datums/uplink_item.dm
Owners: none

make it compile
  code/game/mecha/equipment/mecha_equipment.dm
Owners: none

make it compile
  code/game/mecha/mecha.dm
Owners: none

intangible astral projections don't get entangled by vines (#35935)
  code/datums/gamemode/factions/bloodcult/bloodcult_mobs_and_constructs.dm
Owners: none

Fixes some effects of Deaf-Mute runes affecting silicons forever (#35936)
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/mob/living/silicon/robot/life.dm
Owners: none

Cult Conversion rune now properly removes any pre-existing cuffs before applying cult cuffs (#35938)
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
Owners: none

bodybags no longer prevent morgue message (#35939)
  code/game/objects/structures/morgue.dm
Owners: none

disarm intent as an alternative to alt-middleclick (#35925)
  code/game/objects/items.dm
Owners: none

Water (and other cleaner reagents) now extinguishes lit items such as candles, cigarettes, etc (#35931)
  code/ZAS/Fire.dm
  code/game/atoms.dm
  code/game/objects/items/candle.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/tools.dm
  code/modules/reagents/reagents/reagents_basic.dm
Owners: none

..()
  code/game/mecha/equipment/weapons/weapons.dm
Owners: none

magic is stored in the ass
  code/game/gamemodes/wizard/spellbook.dm
  code/game/gamemodes/wizard/spellbook_oneuse.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/surgery/butt.dm
Owners: none

ass blast corner cases
  code/game/machinery/bots/buttbot.dm
  code/modules/admin/topic.dm
  code/modules/spells/targeted/buttbots_revenge.dm
Owners: none

braining removes spells
  code/modules/mob/living/carbon/brain/brain_item.dm
Owners: none

blob stuff
  __DEFINES/blob.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
  code/game/gamemodes/blob/blobs/shield.dm
  code/game/gamemodes/blob/powers.dm
  code/game/gamemodes/blob/theblob.dm
  code/game/gamemodes/meteor/meteors.dm
  code/modules/credits/episode_name.dm
Owners: @ChangelingRain

various HUD fixes
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_misc_procs.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_mobs_and_constructs.dm
  code/datums/hud/antag_hud.dm
  code/datums/hud/hud.dm
  code/datums/hud/implant_hud.dm
  code/datums/hud/job_hud.dm
  code/datums/hud/security_hud.dm
  code/game/mecha/mecha.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/complex/martian/martian.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/hostile/necro.dm
  code/modules/reagents/reagents/reagents_ethanol.dm
  code/modules/runescape/runescape_pvp.dm
Owners: none

changes
  code/game/gamemodes/blob/powers.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Owners: @ChangelingRain

More Library QoL
  code/game/objects/items/weapons/storage/bags.dm
  code/modules/library/computers/checkout.dm
  code/modules/library/lib_items.dm
  code/modules/library/lib_machines.dm
  code/modules/paperwork/papers_dynamic.dm
  code/modules/research/designs/misc.dm
  icons/obj/library.dmi
Owners: @ShizCalev, @WJohn

Liberator deals 25 damage to blobs.
  code/modules/projectiles/projectile/beams.dm
Owners: none

Brings back splash damage but on-hit
  code/modules/projectiles/projectile/beams.dm
Owners: none

Take into consideration fire resistance
  code/modules/projectiles/projectile/beams.dm
Owners: none

more updates
  code/datums/outfit/civilian.dm
  code/modules/library/computers/checkout.dm
  code/modules/library/lib_machines.dm
  icons/obj/library.dmi
Owners: @ShizCalev, @WJohn

finished
  code/game/objects/items/weapons/storage/bags.dm
  code/modules/library/computers/checkout.dm
Owners: none

Less Whiny Dogs
  code/modules/mob/living/simple_animal/friendly/corgi.dm
Owners: none

Fix CE contact desc
  code/modules/clothing/glasses/scanners.dm
Owners: none

motd for all
  code/modules/admin/verbs/debug.dm
Owners: none

complete vault of croesus
  code/game/objects/structures/cage.dm
  code/game/objects/structures/false_walls.dm
  code/game/turfs/simulated/invulnerable_wall.dm
  icons/mob/hostile_humanoid.dmi
  maps/randomvaults/croesus_vault.dmm
Owners: @ShizCalev, @WJohn

Admin Desc Default Off
  code/modules/admin/holder2.dm
Owners: none

loot fix
  maps/randomvaults/croesus_vault.dmm
Owners: none

bugfixes
  maps/randomvaults/croesus_vault.dmm
Owners: none

tweak
  maps/randomvaults/croesus_vault.dmm
Owners: none
