Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

Reordering
  code/modules/mob/living/simple_animal/hostile/pulsedemon.dm
Owners: none

Grayy_Gibs_N_Goo
  icons/mob/human_races/grey/r_grey.dmi
  icons/mob/human_races/grey/r_greyblue.dmi
  icons/mob/human_races/grey/r_greygreen.dmi
  icons/mob/human_races/grey/r_greylight.dmi
Owners: @ShizCalev, @WJohn

Crunchy_Cheese
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

grayy_not_Grayy
  code/game/objects/items/weapons/storage/firstaid.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/clothing/spacesuits/grey_rig.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

*aquarium automation make the module with science feeds and cleans feed and sneed
  code/modules/fish/fish_items.dm
  code/modules/fish/fish_tank.dm
  code/modules/research/designs/misc.dm
Owners: none

tweaks damage numbers to be more reasonable
  code/game/objects/items/weapons/weaponry.dm
Owners: none

Pitbulls with no longer attack their dearest mommy (#31174)
  code/datums/gamemode/role/wizard.dm
  code/datums/mind.dm
Owners: none

Fixes area portals including in each other's vis_contents
  code/game/turfs/portal.dm
Owners: none

Revert "Blob Meteor Penetration (#30107)"
  code/game/gamemodes/blob/blobs/shield.dm
  code/game/gamemodes/meteor/meteors.dm
  code/modules/power/solars/panel.dm
Owners: @ChangelingRain

Blobtel Core 2 Duo
  code/game/gamemodes/meteor/meteors.dm
Owners: none

Adding feedback
  code/game/turfs/portal.dm
Owners: none

Space fix
  code/game/turfs/portal.dm
Owners: none

Fixes
  code/datums/shuttle.dm
  code/game/area/areas.dm
  code/game/atoms_movable.dm
Owners: none

Icons for power menu
  code/modules/mob/living/simple_animal/hostile/pulsedemon.dm
Owners: none

Fixes area portals including each other's target turfs. (#31179)
  code/game/turfs/portal.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Ability upgrades, better UI later
  code/modules/mob/living/simple_animal/hostile/pulsedemon.dm
  code/modules/mob/living/simple_animal/hostile/pulsedemon_powers.dm
Owners: none

Remove these for now, better system than this some other time
  code/modules/mob/living/simple_animal/hostile/pulsedemon.dm
  code/modules/mob/living/simple_animal/hostile/pulsedemon_powers.dm
Owners: none

Zam_Delivery
  code/game/objects/items/weapons/storage/bags.dm
  code/modules/store/items.dm
  icons/mob/belt.dmi
  icons/mob/in-hand/left/backpacks_n_bags.dmi
  icons/mob/in-hand/right/backpacks_n_bags.dmi
  icons/obj/kitchen.dmi
Owners: @ShizCalev, @WJohn

Updated_Open_Bag_Sprite
  icons/obj/kitchen.dmi
Owners: @ShizCalev, @WJohn

More_Open_Bag_Tweaks
  icons/obj/kitchen.dmi
Owners: @ShizCalev, @WJohn

Readding these, in better form
  code/modules/mob/living/simple_animal/hostile/pulsedemon.dm
Owners: none

Readding their descriptions too
  code/modules/mob/living/simple_animal/hostile/pulsedemon.dm
Owners: none

Max health one too
  code/modules/mob/living/simple_animal/hostile/pulsedemon.dm
Owners: none

Adds feedback on purchase
  code/modules/mob/living/simple_animal/hostile/pulsedemon.dm
Owners: none

Attempting fixing spells not being cast
  code/modules/mob/living/simple_animal/hostile/pulsedemon.dm
Owners: none

Proper icon
  code/modules/mob/living/simple_animal/hostile/pulsedemon.dm
Owners: none

Health UI updating
  code/modules/mob/living/simple_animal/hostile/pulsedemon.dm
  icons/mob/screen1_pulsedemon.dmi
Owners: @ShizCalev, @WJohn

Now all spells target properly
  code/modules/mob/living/simple_animal/hostile/pulsedemon_powers.dm
Owners: none

Makes this show up right
  code/modules/mob/living/simple_animal/hostile/pulsedemon.dm
Owners: none

The rest too
  code/modules/mob/living/simple_animal/hostile/pulsedemon.dm
Owners: none

Typo
  code/modules/mob/living/simple_animal/hostile/pulsedemon.dm
Owners: none

Better user feedback
  code/modules/mob/living/simple_animal/hostile/pulsedemon_powers.dm
Owners: none

allow straight jacketed people to resist out of being buckled to a chair
  code/modules/mob/living/living.dm
Owners: none

allow resisting out of straight jackets
  code/modules/mob/living/living.dm
Owners: none

Dynamic mode lowpop ruleset: Roundstart Away Missions
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

Sanity
  code/modules/awaymissions/_awaymission.dm
Owners: none

The work of this
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

ayy_not_Ayy
  code/game/objects/items/weapons/storage/firstaid.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/clothing/spacesuits/grey_rig.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

due to popular demand, we don't feed here anymore
  code/modules/fish/fish_items.dm
  code/modules/fish/fish_tank.dm
  code/modules/research/designs/misc.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
