Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

add the thing
  code/datums/gamemode/dynamic/dynamic_rulesets.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

nuke ops = 3
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

fuck
  code/modules/research/xenoarchaeology/machinery/artifact_analyser.dm
  code/modules/research/xenoarchaeology/manuals.dm
Owners: none

change to list for more versatility
  code/datums/gamemode/dynamic/dynamic_rulesets.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

boulder desc
  code/modules/research/xenoarchaeology/artifact/artifact.dm
Owners: none

lights, window fuckery
  maps/randomvaults/lightspeedship.dmm
Owners: none

more lights
  maps/randomvaults/lightspeedship.dmm
Owners: none

SHUTTER
  maps/randomvaults/lightspeedship.dmm
Owners: none

oopsie
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

Fixed Spess.TV action buttons
  code/game/machinery/computer/camera.dm
Owners: none

Probably fixes gun hard dels
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/lawgiver.dm
  code/modules/projectiles/projectile.dm
Owners: none

Fixed Spess.TV action buttons (#27636)
  code/game/machinery/computer/camera.dm
Owners: none

Probably fixes gun hard dels (#27637)
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/lawgiver.dm
  code/modules/projectiles/projectile.dm
Owners: none

Fixed shuttle floor being weird after moving
  code/datums/shuttle.dm
Owners: none

randumb
  code/modules/research/xenoarchaeology/finds/finds.dm
Owners: none

syndicate beacon interface is now red like an uplink's
  code/game/machinery/syndicate_beacon.dm
Owners: none

reverted some mental gymnastics in blobcode
  code/game/gamemodes/blob/blobs/shield.dm
  code/game/gamemodes/blob/theblob.dm
Owners: @ChangelingRain

Blobs no longer screw with laserguns (#27640)
  code/game/gamemodes/blob/blobs/shield.dm
  code/game/gamemodes/blob/theblob.dm
Owners: @ChangelingRain

Fixes lighting overlay stuff
  code/modules/lighting/lighting_overlay.dm
Owners: none

fixed ray hard-dels
  code/__HELPERS/math/ray/ray.dm
  code/__HELPERS/math/ray/rayCastHit.dm
  code/__HELPERS/math/ray/rayCastHitInfo.dm
  code/modules/projectiles/projectile/beams.dm
Owners: none

supercall to end
  code/__HELPERS/math/ray/ray.dm
  code/__HELPERS/math/ray/rayCastHit.dm
  code/__HELPERS/math/ray/rayCastHitInfo.dm
  code/modules/projectiles/projectile/beams.dm
Owners: none

fix thigs
  code/modules/research/xenoarchaeology/finds/finds.dm
Owners: none

so yeah i wasn't thinking
  code/__HELPERS/math/ray/ray.dm
  code/__HELPERS/math/ray/rayCastHit.dm
  code/__HELPERS/math/ray/rayCastHitInfo.dm
Owners: none

maybe another day.
  code/modules/research/xenoarchaeology/finds/finds.dm
Owners: none

undo that
  code/modules/research/xenoarchaeology/finds/finds.dm
Owners: none

oopsie
  code/game/objects/items/devices/ioncannon_remote.dm
Owners: none

move that too
  code/game/objects/items/devices/ioncannon_remote.dm
Owners: none

fixed ray hard-dels (#27645)
  code/__HELPERS/math/ray/ray.dm
  code/__HELPERS/math/ray/rayCastHit.dm
  code/__HELPERS/math/ray/rayCastHitInfo.dm
  code/modules/projectiles/projectile/beams.dm
Owners: none

Fixed shuttle floor being weird after moving (#27638)
  code/datums/shuttle.dm
Owners: none

Fixes lighting overlay stuff (#27644)
  code/modules/lighting/lighting_overlay.dm
Owners: none

Bump code cleanup (#27608)
  code/ZAS/Airflow.dm
  code/datums/gamemode/factions/legacy_cult/cult_structures.dm
  code/datums/gamemode/factions/legacy_cult/narsie.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/objects/weapons.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/cockatrice.dm
  code/modules/projectiles/projectile/beams.dm
Owners: none

Reworks floor_tile
  code/game/machinery/bots/floorbot.dm
  code/game/machinery/computer/HolodeckControl.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/objects/items/stacks/tiles/mineral.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor_types.dm
  code/game/turfs/simulated/mineral.dm
  code/game/turfs/turf.dm
  code/modules/RCD/schematics/tile.dm
  code/modules/lighting/lighting_atom.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/living/simple_animal/hostile/human/halloween.dm
Owners: none

Probably should have done this a bit ago
  code/game/machinery/mind_machine.dm
Owners: none

New Wizard Spell: Summon Snacks / Diabeetusol Rework (#27536)
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/spells/targeted/summon_snacks.dm
  icons/mob/screen_spells.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

I thought this would be harder
  code/game/objects/items.dm
  code/modules/hydroponics/grown_inedible.dm
  code/modules/mob/inventory.dm
  code/modules/spells/targeted/summon_snacks.dm
Owners: none

Make outfit datums handle priority arrivals
  code/datums/outfit/cargo.dm
  code/datums/outfit/civilian.dm
  code/datums/outfit/engineering.dm
  code/datums/outfit/medical.dm
  code/datums/outfit/outfit.dm
  code/datums/outfit/science.dm
  code/datums/outfit/security.dm
  code/game/jobs/job/assistant.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/paramedic.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job_controller.dm
Owners: none

Sentence order
  code/datums/outfit/outfit.dm
  code/game/jobs/job_controller.dm
Owners: none

only one book
  code/game/gamemodes/wizard/rightandwrong.dm
Owners: none

delet book
  code/game/gamemodes/wizard/spellbook_oneuse.dm
Owners: none

Update code/game/objects/items/weapons/tools.dm
  code/game/objects/items/weapons/tools.dm
Owners: none
