Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Fix colors from pens (and now crayons) refusing to mix with other colors on palette
  code/modules/html_interface/paintTool/custom_painting_datum.dm
Owners: none

-grue egglaying is set to a config option -few modifications to grue antag objectives
  code/controllers/configuration.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_latejoin.dm
  code/datums/gamemode/objectives/grue.dm
  code/datums/gamemode/role/grue.dm
  code/modules/mob/living/carbon/species.dm
  code/modules/mob/living/simple_animal/grue_egg.dm
  code/modules/mob/living/simple_animal/hostile/grue.dm
Owners: none

Shifty did this all in like an hour and it would have taken me a week
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
  code/datums/gamemode/factions/wilkersons/wilkersons_faction.dm
  code/game/gamemodes/gameticker.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/tagmode.dm
  code/modules/mob/new_player/new_player.dm
  icons/logos.dmi
Owners: @ShizCalev, @WJohn

outdated
  sound/music/login/carmenmirandasghost.ogg
Owners: @ShizCalev

Add files via upload
  sound/music/login/carmenmirandasghost.ogg
Owners: @ShizCalev

Add files via upload
  sound/music/carmenmirandasghost.ogg
Owners: @ShizCalev

Delete carmenmirandasghost.ogg
  sound/music/carmenmirandasghost.ogg
Owners: @ShizCalev

Add files via upload
  sound/music/login/carmenmirandasghost.ogg
Owners: @ShizCalev

Some fun with hijacking...
  code/game/machinery/bots/bots.dm
  code/game/machinery/bots/mulebot.dm
  code/modules/mob/living/simple_animal/hostile/pulsedemon.dm
Owners: none

Couple tweaks. Everything else is in future spriters' hands
  code/modules/painting/easel.dm
  code/modules/painting/paintings_custom.dm
  icons/obj/painting_items.dmi
Owners: @ShizCalev, @WJohn

This file is getting long...
  code/modules/mob/living/simple_animal/hostile/pulsedemon.dm
  code/modules/mob/living/simple_animal/hostile/pulsedemon_powers.dm
  vgstation13.dme
Owners: none

The new files themselves
  code/modules/mob/living/simple_animal/hostile/pulse_demon/pulsedemon.dm
  code/modules/mob/living/simple_animal/hostile/pulse_demon/pulsedemon_attack.dm
  code/modules/mob/living/simple_animal/hostile/pulse_demon/pulsedemon_powers.dm
Owners: none

Bracket
  code/game/machinery/bots/mulebot.dm
Owners: none

Nother fix
  code/modules/mob/living/simple_animal/hostile/pulse_demon/pulsedemon_attack.dm
Owners: none

Sanity
  code/game/machinery/bots/bots.dm
  code/modules/mob/living/simple_animal/hostile/pulse_demon/pulsedemon_attack.dm
Owners: none

Butt butt new line butt butt butt code butt butt
  code/__HELPERS/text.dm
  code/modules/mob/living/simple_animal/hostile/pulse_demon/pulsedemon.dm
Owners: none

Butt butt new line butt butt butt code butt butt
  code/modules/mob/living/simple_animal/hostile/pulse_demon/pulsedemon.dm
Owners: none

Fixes
  code/modules/mob/living/simple_animal/hostile/pulse_demon/pulsedemon.dm
  code/modules/mob/living/simple_animal/hostile/pulse_demon/pulsedemon_attack.dm
Owners: none

Added changelog and some UI tweaks.
  code/modules/mob/living/simple_animal/hostile/grue.dm
  html/changelogs/Hinaichigo.yml
Owners: none

Fingerprint fixes
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/computer/cargo.dm
  code/game/machinery/computer/computer.dm
  code/modules/power/turbine.dm
  code/modules/research/server.dm
Owners: none

????????????
  code/__HELPERS/mobs.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/mob/hair_styles.dmi
Owners: @ShizCalev, @WJohn

Fixing arguments
  code/modules/mob/living/simple_animal/hostile/pulse_demon/pulsedemon_attack.dm
Owners: none

Grid toggle
  code/modules/html_interface/paintTool/canvas.js
  code/modules/html_interface/paintTool/canvas.tmpl
  code/modules/html_interface/paintTool/paintTool.js
Owners: none

Update misc_structures.dm
  code/game/objects/structures/misc_structures.dm
Owners: none

Update misc_structures.dm
  code/game/objects/structures/misc_structures.dm
Owners: none

oops, missing <br>
  code/modules/html_interface/paintTool/canvas.tmpl
Owners: none

IT WERKS(tm)
  code/__HELPERS/mobs.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/appearance.dm
Owners: none

:)))
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/new_player/preferences_setup.dm
  icons/mob/hair_styles.dmi
Owners: @ShizCalev, @WJohn

g
  code/modules/client/preferences.dm
Owners: none

Toned down
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/energy.dm
Owners: none

artist alt title
  code/game/jobs/job/civilian.dm
Owners: none

avant-garde
  code/datums/outfit/civilian.dm
Owners: none

fix
  code/datums/outfit/civilian.dm
Owners: none

fix?
  code/datums/outfit/civilian.dm
Owners: none

Update civilian.dm
  code/datums/outfit/civilian.dm
Owners: none

Juvenile grues can force open doors as well. Also added some more descriptive text upon moulting. Fixed airlock code bug.
  code/game/machinery/doors/airlock.dm
  code/modules/mob/living/simple_animal/hostile/grue.dm
Owners: none

Some_Minor_Vault_Tweaks
  maps/randomvaults/brokeufo.dmm
  maps/randomvaults/podstation.dmm
Owners: none

Update grue.dm
  code/modules/mob/living/simple_animal/hostile/grue.dm
Owners: none

how can art be real if berets aren't real
  code/datums/outfit/civilian.dm
Owners: none

Fixes SaMMI possession not allowing re-entering old corpse
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/silicon/mommi/mommi_subtypes/sammi.dm
Owners: none
