Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

is this better
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Add files via upload
  sound/effects/toothshatter.ogg
Owners: @ShizCalev

Update Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

.
  __DEFINES/reagents.dm
Owners: none

???
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Update Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

I honestly don't understand this shit I've made well enough to fix it without trial and error
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Update Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

remove duplicate mushroom file
  code/modules/mob/living/simple_animal/friendly/mushroom.dm
Owners: none

remove unused and unsprited kobold
  code/modules/mob/living/simple_animal/kobold.dm
Owners: none

remove unused crab thing
  code/modules/mob/living/simple_animal/head.dm
Owners: none

remove unused gorilla (new gorilla SOON)
  code/modules/mob/living/simple_animal/friendly/gorilla.dm
Owners: none

add warriorbug.dm to compile list
  vgstation13.dme
Owners: none

admins with +poll no longer see unuseable Create Poll verb when de-adminned
  code/modules/admin/admin_verbs.dm
Owners: none

fix spider huds not working
  code/modules/mob/living/simple_animal/hostile/giant_spider/base_spider.dm
Owners: none

Update glasses.dm
  code/modules/clothing/glasses/glasses.dm
Owners: none

can now attack with spoons
  code/game/objects/items/weapons/kitchen.dm
Owners: none

update conditions for admin debug message for religion
  code/datums/religions.dm
Owners: none

mobs wearing cardborg helmet now have appropriate speech verbs
  code/modules/mob/language.dm
Owners: none

fyoo
  sound/misc/fyoo.ogg
Owners: @ShizCalev

fyoooooooooooooouw
  code/game/objects/effects/step_triggers.dm
Owners: none

increase delay timer a little bit
  code/game/objects/effects/step_triggers.dm
Owners: none

adds this
  maps/randomvaults/objects.dm
Owners: none

clarifies this
  code/game/gamemodes/endgame/scoreboard/misc_score.dm
  code/modules/Economy/Accounts.dm
  code/modules/credits/episode_name.dm
  code/modules/trader/trade_window.dm
Owners: none

forgot this
  code/modules/Economy/Accounts.dm
Owners: none

Maybe this too
  code/game/machinery/ATM.dm
Owners: none

fixes this logic to make it show up with no escapees
  code/game/gamemodes/endgame/scoreboard/scoreboard.dm
Owners: none

stops this from not counting
  code/game/machinery/ATM.dm
  code/modules/Economy/Accounts.dm
Owners: none

log monkeycubes
  code/modules/reagents/reagent_containers/food/mobcube.dm
Owners: none

can now attack with spoons (#34353)
  code/game/objects/items/weapons/kitchen.dm
Owners: none

Update glasses.dm (#34352)
  code/modules/clothing/glasses/glasses.dm
Owners: none

fix spider huds not working (#34351)
  code/modules/mob/living/simple_animal/hostile/giant_spider/base_spider.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

admins with +poll no longer see unuseable Create Poll verb when de-adminned (#34350)
  code/modules/admin/admin_verbs.dm
Owners: none

Cleanup unused/duplicate files, adds one to .dme for compiling (#34349)
  code/modules/mob/living/simple_animal/friendly/gorilla.dm
  code/modules/mob/living/simple_animal/friendly/mushroom.dm
  code/modules/mob/living/simple_animal/head.dm
  code/modules/mob/living/simple_animal/kobold.dm
  vgstation13.dme
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

fix mining asteroid secret randomly generated rooms not spawning (#34344)
  code/controllers/subsystem/init/map.dm
  code/game/asteroid.dm
Owners: none

Keycard-gated hammerspace vaults revival (#34292)
  code/game/turfs/portal.dm
  code/modules/components/ai/hearing.dm
  code/modules/telesci/telesci_computer.dm
  icons/obj/device.dmi
  icons/obj/doors/keycarddoor.dmi
  maps/misc/keycards/easy1.dmm
  maps/misc/keycards/easy2.dmm
  maps/misc/keycards/easy3.dmm
  maps/misc/keycards/hard1.dmm
  maps/misc/keycards/hard2.dmm
  maps/misc/keycards/hard3.dmm
  maps/misc/keycards/normal1.dmm
  maps/misc/keycards/normal2.dmm
  maps/misc/keycards/normal3.dmm
  maps/randomvaults/dungeons/keycard_vault_easy.dmm
  maps/randomvaults/dungeons/keycard_vault_hard.dmm
  maps/randomvaults/dungeons/keycard_vault_normal.dmm
  maps/randomvaults/keycard_entrance.dmm
  maps/randomvaults/keycard_vault.dm
  maps/randomvaults/objects.dm
  vgstation13.dme
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none
