Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

Research Archive (#34397)
  code/controllers/subsystem/init/persistence_misc.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/library/lib_machines.dm
  code/modules/research/research.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

add server byond build info to get server revision verb (#34852)
  code/datums/helper_datums/getrev.dm
Owners: @Cyberboss

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Updating the ReadMe (#35125)
  README.md
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

mushroom local telepathy (#35223)
  __DEFINES/living.dm
  __DEFINES/spell_defines.dm
  code/game/dna/genes/powers.dm
  code/modules/mob/living/carbon/species.dm
  code/modules/mob/living/say.dm
  code/modules/spells/targeted/targeted.dm
  vgstation13.dme
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[Resurrected] Fix Supermatter Surprise scratch card guaranteed win (#35287)
  code/modules/games/cards/lotto.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Make objects burn if they overheat past the autoignition point and there's oxygen (#35306)
  __DEFINES/subsystem.dm
  code/ZAS/Fire.dm
  code/controllers/subsystem/burnable.dm
  code/game/atoms.dm
  code/game/objects/effects/effect_system.dm
  code/game/objects/effects/portals.dm
  code/game/objects/items/candle.dm
  code/game/objects/objs.dm
  vgstation13.dme
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

RGB gamer lights (#35322)
  code/modules/power/lighting/lighting.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Adds plushies and a claw machine from which to get them (#35336)
  code/game/machinery/clawmachine.dm
  code/game/machinery/gashapon.dm
  code/game/objects/items/plushies.dm
  code/game/objects/items/toys.dm
  icons/obj/plushie.dmi
  icons/obj/toy.dmi
  maps/misc/holodeck.dmm
  maps/misc/holodeck_3x3.dmm
  maps/misc/riftbeach2.dmm
  maps/randomvaults/gingerbread_house.dmm
  maps/randomvaults/house.dmm
  maps/tgstation-snow.dmm
  sound/effects/pichuun.ogg
  sound/machines/capsulebuy.ogg
  sound/machines/claw_machine_fail.ogg
  sound/machines/claw_machine_success.ogg
  vgstation13.dme
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

RC bugfix (#35342)
  code/game/machinery/requests_console.dm
Owners: none

less plastic waste (#35354)
  code/datums/outfit/cargo.dm
  code/datums/outfit/civilian.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Adding the ability to paint on floors with brushes, and also the ability to use multiple crayons from a box while floorpainting (#35367)
  code/modules/html_interface/paintTool/custom_painting_datum.dm
  code/modules/painting/painting_brush.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

pomfckichen
  code/game/objects/items/plushies.dm
Owners: none

replace with chimkin
  code/game/machinery/clawmachine.dm
Owners: none

fix bird bug gloves (#35351)
  code/modules/mob/living/carbon/human/update_icons.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Castle job preference fixes and a tweak (#35372)
  __DEFINES/__compile_options.dm
  code/defines/obj.dm
  code/game/jobs/job/assistant.dm
  code/modules/mob/new_player/preferences_setup.dm
  maps/_map_override.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

make handle_reactions() faster by reducing redundancy in the reactions lists (#35383)
  code/modules/reagents/Chemistry-Holder.dm
Owners: none

[revive] Fix players seeing lights being toggled on or off at roundstart (#35352)
  code/__HELPERS/game.dm
  code/controllers/subsystem/lighting.dm
  code/game/gamemodes/gameticker.dm
  code/game/machinery/lightswitch.dm
  code/game/objects/items/devices/flashlight.dm
  code/modules/mob/new_player/new_player.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

prevent crawling away when you get grab intented (#35387)
  code/modules/mob/living/carbon/human/human.dm
Owners: none

Update README.md (#35388)
  README.md
Owners: none

Adds manifest to list of species not allowed for frankensteins (#35389)
  code/modules/mob/living/carbon/human/human.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

re-enable stat collection
  code/game/gamemodes/gameticker.dm
Owners: none

Fixes multichoice polls
  code/modules/mob/new_player/poll.dm
Owners: none

deprecate remaining hook handlers to use events instead (#34504)
  __DEFINES/role_datums_defines.dm
  code/_hooks/area.dm
  code/_hooks/events.dm
  code/_hooks/hooks.dm
  code/_hooks/mob.dm
  code/controllers/mc/master.dm
  code/controllers/shuttle_controller.dm
  code/datums/gamemode/factions/apes.dm
  code/datums/gamemode/factions/faction.dm
  code/datums/gamemode/factions/syndicate/rev.dm
  code/datums/gamemode/role/apes.dm
  code/datums/gamemode/sandbox.dm
  code/game/area/areas.dm
  code/game/gamemodes/endgame/supermatter_cascade/universe.dm
  code/game/gamemodes/gameticker.dm
  code/modules/admin/admin.dm
  code/modules/admin/verbs/apes.dm
  code/modules/html_interface/voting/voting.dm
  code/modules/media/mediamanager.dm
  code/modules/mob/login.dm
  code/modules/mob/logout.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/login.dm
  code/modules/mob/new_player/new_player.dm
  code/world.dm
  vgstation13.dme
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
