Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

core sampler qols
  code/modules/reagents/machinery/reagentgrinder.dm
  code/modules/research/xenoarchaeology/tools/tools_coresampler.dm
Owners: none

fix
  code/modules/reagents/machinery/reagentgrinder.dm
Owners: none

don't show generated stuff
  code/modules/research/xenoarchaeology/machinery/analysis_base.dm
Owners: none

make cropping consistent
  code/modules/research/xenoarchaeology/machinery/analysis_base.dm
Owners: none

proper formula name?
  code/modules/research/xenoarchaeology/chemistry.dm
Owners: none

pAI module oversight
  code/modules/mob/living/silicon/pai/pai.dm
Owners: none

oversight
  code/modules/mob/living/silicon/pai/software.dm
Owners: none

Update pai.dm
  code/modules/mob/living/silicon/pai/pai.dm
Owners: none

pai expedition tracker
  code/modules/telesci/gps.dm
Owners: none

Update pai_software.dm
  __DEFINES/pai_software.dm
Owners: none

pai expedition tracker
  code/modules/mob/living/silicon/pai/software.dm
Owners: none

.
  code/modules/mob/living/silicon/pai/software.dm
Owners: none

Update default.dm
  code/modules/tgui/states/default.dm
Owners: none

mesons
  __DEFINES/pai_software.dm
Owners: none

pAI mesons
  code/modules/mob/living/silicon/pai/software.dm
Owners: none

pAI UI handler + mesons var
  code/modules/mob/living/silicon/pai/pai.dm
Owners: none

Update software.dm
  code/modules/mob/living/silicon/pai/software.dm
Owners: none

more fixes
  code/datums/shuttle.dm
  code/game/area/areas.dm
  code/game/turfs/simulated/floor_types.dm
  code/game/turfs/turf.dm
  code/modules/procedural mapping/loot.dm
  code/modules/randomMaps/transit.dm
  maps/odyssey.dm
  maps/odyssey.dmm
  maps/odyssey/areas.dm
  maps/odyssey/events.dm
  maps/odyssey/fixedvaults.dm
  maps/odyssey/jobs.dm
  maps/odyssey/shuttles.dm
  maps/odyssey/voxshuttle.dmm
Owners: none

bad type
  maps/odyssey/shuttles.dm
Owners: none

stop throwing traders into space
  maps/odyssey/vox_parking.dmm
Owners: none

u
  code/datums/shuttle.dm
Owners: none

tweaks
  code/modules/procedural mapping/planetGenerator/biome.dm
  maps/odyssey.dmm
  maps/odyssey/shuttles.dm
Owners: none

shouldn't be the weakref itself here
  code/modules/projectiles/projectile/beams.dm
Owners: none

quick fix
  code/__HELPERS/math/ray/ray.dm
  code/modules/projectiles/projectile/beams.dm
Owners: none

Update ray.dm
  code/__HELPERS/math/ray/ray.dm
Owners: none

useless
  code/__HELPERS/math/ray/ray.dm
Owners: none

some debug logging to get to the bottom of this
  code/__HELPERS/math/ray/ray.dm
  code/__HELPERS/math/vector/vector_procs.dm
Owners: none

Update vector_procs.dm
  code/__HELPERS/math/vector/vector_procs.dm
Owners: none

first
  maps/odyssey.dmm
  maps/odyssey/centcomm.dmm
  maps/odyssey/observer.dmm
  maps/odyssey/shuttles.dm
  maps/odyssey/shuttles/freighter.dmm
  maps/odyssey/tcommsat.dmm
  maps/odyssey/vox_parking.dmm
Owners: none

too spammy for gameplay, general idea gotten anyways
  code/__HELPERS/math/vector/vector_procs.dm
Owners: none

remnants
  code/__HELPERS/math/ray/ray.dm
  code/__HELPERS/math/vector/vector_procs.dm
Owners: none

second
  code/controllers/subsystem/init/finishing.dm
  code/controllers/subsystem/mapping.dm
  code/datums/shuttle.dm
  code/modules/randomMaps/shuttle_loader.dm
  code/world.dm
  maps/_map.dm
  maps/odyssey.dm
  maps/odyssey.dmm
  maps/odyssey/casino.dmm
  maps/odyssey/centcomm.dmm
  maps/odyssey/fixedvaults.dm
  maps/odyssey/observer.dmm
  maps/odyssey/shuttles.dm
  maps/odyssey/shuttles/odyssey.dmm
  vgstation13.dme
Owners: @Cyberboss

medship
  maps/odyssey/rendezvous.dmm
  maps/odyssey/shuttles.dm
  maps/odyssey/shuttles/medship.dmm
Owners: none

dock
  __DEFINES/shuttle_dock_request.dm
  code/controllers/subsystem/init/finishing.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/supply_shuttle.dm
  code/datums/shuttle.dm
  code/datums/shuttle_dock_request.dm
  code/game/machinery/computer/cargo.dm
  code/game/machinery/computer/shuttle_computers.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  code/modules/randomMaps/shuttle_loader.dm
  code/modules/shuttles/cargo.dm
  icons/obj/structures.dmi
  maps/odyssey.dm
  maps/odyssey/areas.dm
  maps/odyssey/casino.dmm
  maps/odyssey/fixedvaults.dm
  maps/odyssey/shuttles.dm
  maps/odyssey/shuttles/freighter.dmm
  maps/odyssey/shuttles/medship.dmm
  maps/odyssey/shuttles/odyssey.dmm
  maps/odyssey/shuttles/trade.dmm
  vgstation13.dme
Owners: @Cyberboss, @ShizCalev, @WJohn

UI
  code/datums/shuttle.dm
  code/datums/shuttle_dock_request.dm
  code/game/area/Space Station 13 areas.dm
  code/game/machinery/computer/shuttle_computers.dm
  maps/odyssey/shuttles.dm
  tgui/packages/tgui/interfaces/ShuttleControl.tsx
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Owners: none

conflicts
  code/datums/shuttle.dm
  maps/odyssey.dmm
  maps/odyssey/tcommsat.dmm
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Owners: none

Reduce weather-induced CBT
  code/datums/climate.dm
Owners: none

Makes the sun subsystem compatible with virtual zlevels
  code/controllers/subsystem/daynightcycle.dm
  code/datums/sun.dm
  code/modules/power/solars/panel.dm
Owners: none

Fix blueprints not being able to expand shuttles
  code/game/objects/items/blueprints.dm
Owners: none

cleaning
  code/modules/reagents/reagent_containers/syringes.dm
Owners: none
