Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

nt disguise kit available roundstart to detectives on all maps
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Owners: none

winter cult clothes
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/modules/clothing/monkeyclothes/monkeyclothes.dm
  icons/mob/head.dmi
  icons/mob/in-hand/left/monkeyclothes.dmi
  icons/mob/in-hand/right/monkeyclothes.dmi
  icons/mob/monkey.dmi
  icons/mob/monkey_head.dmi
  icons/mob/species/insectoid/head.dmi
  icons/mob/species/insectoid/suit.dmi
  icons/mob/species/plasmaman/head.dmi
  icons/mob/species/plasmaman/suit.dmi
  icons/mob/species/vox/head.dmi
  icons/mob/species/vox/suit.dmi
  icons/mob/suit.dmi
  icons/mob/suit_fat.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Owners: @ShizCalev, @WJohn

refactor to match other procs
  code/modules/mob/living/carbon/human/human_damage.dm
Owners: none

standardize xenos and pj lockers on arrivals shuttles
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  maps/tgstation-snow.dmm
Owners: none

more nt disguise kit names
  code/game/objects/items/weapons/cards_ids.dm
Owners: none

commas
  code/game/objects/items/weapons/cards_ids.dm
Owners: none

Update cards_ids.dm
  code/game/objects/items/weapons/cards_ids.dm
Owners: none

Fixes Workplace Finder button never going away under some conditions
  code/game/machinery/station_map.dm
Owners: none

might as well
  code/game/machinery/station_map.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

peg/robo limb tweaks and fixes
  code/modules/client/preferences/subsections/limbs.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/standard_damage_overlay_updates.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/pain.dm
  icons/mob/human_races/o_peg.dmi
Owners: @ShizCalev, @WJohn

have to add hands/feet separately now
  code/modules/organs/organ_external.dm
Owners: none

standardize xenos and pj lockers on arrivals shuttles (#34693)
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  maps/tgstation-snow.dmm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fixes roundstart players appearing naked on their medical and security records (#34646)
  code/game/gamemodes/gameticker.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Empowered sec blob (#34652)
  code/game/gamemodes/blob/theblob.dm
  icons/mob/blob/blob_sec.dmi
Owners: @ChangelingRain, @ShizCalev, @WJohn

wrap up changes
  code/modules/client/preferences/subsections/limbs.dm
  code/modules/organs/organ_external.dm
  icons/mob/human_races/o_peg.dmi
Owners: @ShizCalev, @WJohn

why can you suture peg limbs, why
  code/modules/surgery/suturing.dm
Owners: none

Revert 'Nuke Ops Requesting Reinforcements' (#34644)
  __DEFINES/global.dm
  __DEFINES/striketeam_defines.dm
  code/datums/helper_datums/command_alerts.dm
  code/datums/outfit/striketeams/nukeop.dm
  code/datums/uplink_item.dm
  code/game/machinery/computer/cargo.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/teleporter.dm
  code/game/shuttles/syndicate.dm
  code/modules/events/link_with_centcomm.dm
  maps/tgstation-snow.dmm
  vgstation13.dme
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Skeet Fluff Changes (#34669)
  code/datums/supplypacks.dm
  code/game/objects/items/contraband.dm
  code/modules/reagents/reagent_containers/pill.dm
Owners: none

fix (#34671)
  code/modules/hydroponics/grown_inedible.dm
Owners: none

AI prismatic holograms (#34672)
  code/game/machinery/hologram.dm
  code/modules/mob/living/silicon/ai/ai.dm
  icons/mob/AI.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

pinpointers pointing at shunted AI during malf no longer circumventable (#34683)
  code/datums/gamemode/role/malf/hackabilities.dm
Owners: none

Fixes AIs using their Station Holomap on other Z Levels (#34684)
  code/game/machinery/station_map.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Prescription Glasses once again properly transfer their effect to Mesons or similar glasses put over them (#34685)
  code/datums/outfit/outfit.dm
  code/game/objects/structures/vehicles/adminbus_powers.dm
  code/modules/admin/topic.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/trader/crates/zincsaucier.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

nt disguise kit available roundstart to detectives on all maps (#34692)
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Owners: none

Fixes Workplace Finder button never going away under some conditions (#34696)
  code/game/machinery/station_map.dm
Owners: none

welding goggles are hot this season (#34680)
  code/game/machinery/autolathe.dm
  code/modules/clothing/glasses/glasses.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

proposal b for vampire deadchat (#34679)
  code/datums/gamemode/role/vampire_role.dm
  code/modules/mob/say.dm
  goon/code/datums/browserOutput.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

syndie laser gun + elitesyndie viscerator gun (#34681)
  __DEFINES/_macros.dm
  code/datums/outfit/striketeams/nukeop.dm
  code/game/striketeams/syndicate_elite_squad.dm
  code/modules/mob/living/simple_animal/hostile/viscerator.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/projectile/minigun.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/mob/animal.dmi
  icons/mob/in-hand/left/guninhands_left.dmi
  icons/mob/in-hand/left/guns_experimental.dmi
  icons/mob/in-hand/right/guninhands_right.dmi
  icons/mob/in-hand/right/guns_experimental.dmi
  icons/obj/gun.dmi
  icons/obj/gun_experimental.dmi
  icons/obj/projectiles_experimental.dmi
  sound/weapons/laserriflefire.ogg
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Chemical Healing with Damaged Robolimbs Bugfix (The Second Mystery of Xivvis) (#34687)
  code/modules/mob/living/carbon/human/human_damage.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
