Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Fixes subspace tunneler not ejecting items properly when destroyed. (#20145)
  code/modules/projectiles/guns/projectile/constructable/subspacetunneler.dm
Owners: none

Fixes Projectiles Not Being Able to Go Through Portals (#20143)
  code/game/objects/effects/portals.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fixes being unable to spacewalk along pitch-black tiles. (#20140)
  code/game/atoms_movable.dm
Owners: none

Fixes Medical Nanobots Not Curing Virus2 Viruses (#20142)
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fixes Syringe Gun Projectiles Not Being Able to Cross Tables (#20117)
  code/modules/projectiles/projectile/bullets.dm
  code/modules/reagents/dartgun.dm
  code/modules/reagents/syringe_gun.dm
  icons/obj/projectiles.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

jhgjhlhluijkj
  code/datums/gamemode/factions/bloodcult/bloodcult_buildings.dm
  code/modules/mob/living/simple_animal/constructs.dm
Owners: none

yh
  code/game/gamemodes/blob/blobs/core.dm
Owners: @ChangelingRain

eh
  code/modules/mob/new_player/new_player.dm
Owners: none

Humanoid mobs spawned by the traitor lazarus belt no longer drop their weapons when they die. (#20073)
  code/game/objects/items/weapons/storage/belt.dm
Owners: none

fixes/implements borg module lock (#20036)
  code/game/machinery/computer/robot.dm
  code/modules/mob/living/silicon/mommi/mommi.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/robot/robot.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Adds wizard potion bags: Git strikes back (#20100)
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/storage/bags.dm
  icons/mob/head.dmi
  icons/obj/pbag.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Added Suit Dispensers for the Captain's Armor and Survivor's Hardsuit.
  code/game/machinery/suit_storage_unit.dm
Owners: none

Added Suit Dispensers for the Captain's Armor and Survivor's Hardsuit. (#20149)
  code/game/machinery/suit_storage_unit.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fixes some cloning bullshit somehow ??????????
  code/modules/medical/computer/cloning.dm
Owners: none

sfdljkjklfnds
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

No more getting trapped behind transit tubes. (#19940)
  code/game/objects/structures/transit_tubes.dm
Owners: none

Horror form changeolings no longer have blood. (#19945)
  code/game/gamemodes/changeling/horror.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Adds a cooldown function for mob printers (#19474)
  code/game/machinery/martian_printer.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Spessmen can now bash their (riot) shield with a telescopic baton. (#19886)
  code/game/objects/items/weapons/shields.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Faint is now a temporary knockdown
  code/modules/mob/living/emote.dm
Owners: none

BIG MINER BUFFS (#20085)
  code/modules/research/designs/mining.dm
Owners: none

test
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/food.dmi
Owners: @ShizCalev, @WJohn

adds pinpointer pinpointers
  code/game/gamemodes/nuclear/pinpointer.dm
  icons/obj/device.dmi
Owners: @ShizCalev, @WJohn

removed playsounds
  code/game/gamemodes/nuclear/pinpointer.dm
Owners: none

Chaplains can't be vampire anymore
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

Cultos
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

Adds the chaotic potion bundle for wizards.
  code/game/gamemodes/wizard/artifacts.dm
  code/game/objects/items/weapons/storage/bags.dm
Owners: none

Pussy potion bundle part one
  code/game/gamemodes/wizard/artifacts.dm
Owners: none

Pussy potion bundle partie 2
  code/game/objects/items/weapons/storage/bags.dm
Owners: none

Virologist can open virus crates
  code/datums/supplypacks.dm
  code/game/jobs/access.dm
  code/game/jobs/job/medical.dm
  code/game/objects/items/weapons/cards_ids.dm
Owners: none

Disease analyzer shows more details
  code/modules/virus2/analyser.dm
Owners: none
