Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

lavaland
  code/modules/procedural mapping/planetGenerator/generators/lava.dm
  vgstation13.dme
Owners: none

lavaland again
  __DEFINES/lighting.dm
  code/controllers/subsystem/mapping.dm
  code/game/objects/structures/flora/flora.dm
  code/game/objects/structures/flora/lava.dm
  code/game/turfs/simulated/lavaland.dm
  code/game/turfs/turf.dm
  code/modules/mining/mine_turfs.dm
  code/modules/procedural mapping/planetGenerator/area.dm
  code/modules/procedural mapping/planetGenerator/generators/lava.dm
  code/modules/procedural mapping/planetGenerator/planet_types.dm
  icons/obj/flora/barren_tree.dmi
  icons/obj/flora/bigtrees.dmi
  icons/obj/flora/hellflora.dmi
  icons/obj/flora/lavarocks.dmi
  icons/obj/flora/lavatrees.dmi
  icons/obj/flora/rocks.dmi
  icons/obj/flora/tall_trees.dmi
  icons/obj/flora/tall_trees_dead.dmi
  icons/obj/lavaland/artefacts.dmi
  icons/obj/lavaland/ash_flora.dmi
  icons/obj/lavaland/terrain.dmi
  icons/obj/lavaland/tumor.dmi
  icons/turf/planetary/lava.dmi
  icons/turf/planetary/lava_moss.dmi
  icons/turf/planetary/volcanicsand.dmi
  vgstation13.dme
Owners: @Cyberboss, @ShizCalev, @WJohn

Refcounted Garbage Collector subsystem
  code/controllers/subsystem/garbage.dm
  code/game/atoms_movable.dm
Owners: none

New Vox Antag Item: High Frequency Vox Boots
  code/datums/uplink_item.dm
  code/game/machinery/doors/door.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/shoes/miscellaneous.dm
  icons/mob/feet.dmi
  icons/obj/clothing/shoes.dmi
Owners: @ShizCalev, @WJohn

fixes conflicting files
  code/modules/clothing/head/misc.dm
  icons/mob/head.dmi
  icons/mob/in-hand/left/clothing.dmi
  icons/mob/in-hand/right/clothing.dmi
  icons/mob/suit.dmi
  icons/mob/suit_fat.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  tgui/public/tgui.bundle.css
  vgstation13.dme
Owners: @ShizCalev, @WJohn

Update vending.dm
  code/game/machinery/vending.dm
Owners: none

gonfligds
  icons/mob/feet.dmi
  icons/obj/clothing/shoes.dmi
Owners: @ShizCalev, @WJohn

test
  code/controllers/subsystem/garbage.dm
Owners: none

Update vending.dm
  code/game/machinery/vending.dm
Owners: none

lavaland the third
  code/game/objects/structures/flora/flora.dm
  code/game/turfs/simulated/lavaland.dm
  code/modules/procedural mapping/planetGenerator/biome.dm
  code/modules/procedural mapping/planetGenerator/generators/lava.dm
  icons/obj/flora/lavarocks.dmi
  icons/turf/planetary/redgrass.dmi
  icons/turf/planetary/volcanicsand.dmi
  maps/RandomZLevels/wildwest_props.dm
Owners: @ShizCalev, @WJohn

more robust unit tests
  code/modules/unit_tests/sqlite_prefs.dm
  code/modules/unit_tests/sqlite_unit_testing_procs.dm
Owners: none

Adds CHARGE gene
  __DEFINES/setup.dm
  code/game/gamemodes/setupgame.dm
  code/modules/dna/genes/vg_powers.dm
  sound/effects/chargeaction.ogg
  sound/weapons/chargeimpact.ogg
Owners: @ShizCalev

Update vg_powers.dm
  code/modules/dna/genes/vg_powers.dm
Owners: none

temp remove these while i figure out igon gonfligds
  icons/mob/in-hand/left/items_lefthand.dmi
  icons/obj/janitor.dmi
Owners: @ShizCalev, @WJohn

readd sprites
  icons/mob/in-hand/left/items_lefthand.dmi
  icons/mob/in-hand/right/items_righthand.dmi
  icons/obj/janitor.dmi
Owners: @ShizCalev, @WJohn

fix bad type path
  code/game/objects/items/weapons/vacuumcleaner.dm
Owners: none

Configuration refactor
  code/controllers/configuration/config_flags.dm
  code/controllers/configuration/config_flags/admin.dm
  code/controllers/configuration/config_flags/debug.dm
  code/controllers/configuration/config_flags/fluff.dm
  code/controllers/configuration/config_flags/gameplay.dm
  code/controllers/configuration/config_flags/logging.dm
  code/controllers/configuration/config_flags/map_voting.dm
  code/controllers/configuration/config_flags/media.dm
  code/controllers/configuration/config_flags/performance.dm
  code/controllers/configuration/config_flags/pre_dynamic_mode.dm
  code/controllers/configuration/config_flags/server_data.dm
  code/controllers/configuration/config_flags/sql.dm
  code/controllers/configuration/config_flags/tgui.dm
  code/controllers/configuration/configuration.dm
Owners: none

compatibility with preferences rework
  code/modules/client/preferences/pref_datums_client.dm
  code/modules/client/preferences/preferences.dm
  code/modules/client/preferences/preferences_ui.dm
  code/modules/jobs/job_controller.dm
Owners: none

Fixes some DB queries failing on some systems
  code/modules/admin/admin_ranks.dm
  code/modules/admin/admin_verbs.dm
Owners: none

Updates the outdated SQL schemas we have
  SQL/feedback_schema.sql
  SQL/players2.sql
Owners: @Jordie0608

forget about SQLite
  SQL/players2.sql
Owners: @Jordie0608

i hate icon conflicts i hate icon conclifts
  icons/mob/in-hand/left/items_lefthand.dmi
  icons/mob/in-hand/right/items_righthand.dmi
  icons/obj/janitor.dmi
Owners: @ShizCalev, @WJohn

fix build error
  code/game/objects/items/weapons/vacuumcleaner.dm
Owners: none

fix 404 on node download
  dependencies.sh
Owners: none

i hate icon conflicts!!!!!
  icons/mob/in-hand/left/items_lefthand.dmi
  icons/mob/in-hand/right/items_righthand.dmi
  icons/obj/janitor.dmi
Owners: @ShizCalev, @WJohn

undo old sound.dm changes
  code/game/sound.dm
Owners: none

use sound.atom
  code/game/objects/items/weapons/vacuumcleaner.dm
Owners: none

Fixes certain toggles not saving for admins & ex-admins
  code/modules/client/preferences/pref_datums.dm
Owners: none

Revert "The security camera console tgui will now fully close"
  code/game/machinery/computer/camera.dm
Owners: none

Revert "very inelegantly fixes TGUI black squares"
  code/__HELPERS/datum.dm
  code/controllers/subsystem/tgui.dm
  code/game/machinery/computer/camera.dm
  code/modules/tgui/tgui.dm
  code/modules/tgui/tgui_window.dm
Owners: none

Fixes the TGUI black squares the proper way
  __DEFINES/tgui.dm
  code/modules/tgui/tgui.dm
  tgui/packages/tgui-bench/package.json
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui-say/package.json
  tgui/packages/tgui/package.json
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui-say.bundle.css
  tgui/public/tgui-say.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
  tgui/yarn.lock
Owners: none

Fixes Betris anti-cheat
  code/game/machinery/computer/tetris.dm
Owners: none

fix 404 on node download (#37691)
  maps/synergy.dmm
Owners: none

fix 404 on node download (#37691)
  maps/tgstation.dmm
Owners: none

begone double camera
  maps/packedstation.dmm
Owners: none

Fixes limbs and organs not saving between round; fixes eye colour preview
  code/modules/client/preferences/pref_datums_character.dm
  code/modules/client/preferences/preferences_ui.dm
  code/modules/mob/new_player/preferences_setup.dm
Owners: none

Fixes bloodbank starting empty
  code/game/machinery/kitchen/smartfridge.dm
Owners: none

newly spawned starts filled
  code/game/machinery/kitchen/smartfridge.dm
Owners: none

Fixes issues plus adds cool effect
  __DEFINES/setup.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_effects.dm
  code/game/atoms_movable.dm
  code/modules/dna/genes/vg_powers.dm
  code/modules/mob/living/carbon/human/human.dm
Owners: none

Update vg_powers.dm
  code/modules/dna/genes/vg_powers.dm
Owners: none
