Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

pulse demon tweaks (#33690)
  code/modules/mob/living/simple_animal/hostile/pulse_demon/pulsedemon.dm
  code/modules/mob/living/simple_animal/hostile/pulse_demon/pulsedemon_powers.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Reagents added to a mob can heat up or cool down the mob (#33698)
  __DEFINES/mob_material_defines.dm
  code/game/atoms.dm
  code/game/objects/items.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/plasmaman/species.dm
  code/modules/mob/living/carbon/shock.dm
  code/modules/mob/living/carbon/species.dm
  code/modules/mob/living/living.dm
  code/modules/mob/thermoregulation.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/machinery/chem_dispenser.dm
  code/modules/reagents/machinery/chem_master.dm
  vgstation13.dme
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Turk roaches from Gunk Soup Embassy now lay turk eggs. (#33763)
  code/modules/mob/living/simple_animal/roach.dm
  code/modules/reagents/reagent_containers/food/snacks/eggs/roach.dm
  icons/obj/food.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Reduces suicide damage. (#33771)
  code/game/verbs/suicide.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Update handle_shock.dm (#33767)
  code/modules/mob/living/carbon/human/life/handle_shock.dm
Owners: none

Jabroni outfit sprites (#33772)
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/species/grey/uniform.dmi
  icons/mob/species/vox/uniform.dmi
  icons/mob/uniform_fat.dmi
Owners: @ShizCalev, @WJohn

le typo (#33773)
  code/modules/mob/living/living.dm
Owners: none

Update necro.dm (#33779)
  code/modules/mob/living/simple_animal/hostile/necro.dm
Owners: none

Killer Tomato and Giant Mushroom Cuts for cooking (#33781)
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/living/carbon/species.dm
  code/modules/mob/living/simple_animal/friendly/tomato.dm
  code/modules/mob/living/simple_animal/hostile/mushroom.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

medarmorforbrigmedics (#33790)
  code/datums/outfit/medical.dm
Owners: none

fix spacehog headbutts (#33794)
  code/modules/mob/living/simple_animal/hostile/hog.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

suicide logging (#33782)
  code/game/verbs/suicide.dm
  code/modules/mob/living/carbon/human/emote.dm
Owners: none

fixes vox skipjak/nukeops shuttle computer being unfixable and unwrenchable (#33803)
  code/game/shuttles/syndicate.dm
  code/game/shuttles/vox.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

rosoli and pickled beets
  code/modules/food/recipes_microwave.dm
Owners: none

ditto
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

icons
  icons/obj/food.dmi
Owners: @ShizCalev, @WJohn

[Revival] Adds two new recipes for whitebeets (#33811)
  code/modules/food/recipes_microwave.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/food.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

vox tendies
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

vox chicken tendies and actual vox 'food'
  code/modules/food/recipes_microwave.dm
Owners: none

vox tendies
  icons/obj/food.dmi
Owners: @ShizCalev, @WJohn

Revert "i doubt the return value is the issue but let's see"
  code/modules/admin/IsBanned.dm
Owners: none

a
  code/game/area/Space Station 13 areas.dm
  code/game/objects/effects/overlays.dm
  code/game/turfs/unsimulated/floor.dm
  icons/turf/open_space.dmi
  maps/RandomZLevels/shoal.dmm
Owners: @ShizCalev, @WJohn

Update bullets.dm
  code/modules/projectiles/projectile/bullets.dm
Owners: none

revert that
  code/modules/projectiles/projectile/bullets.dm
Owners: none

Revert "Reagents added to a mob can heat up or cool down the mob (#33698)"
  __DEFINES/mob_material_defines.dm
  code/game/atoms.dm
  code/game/objects/items.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/plasmaman/species.dm
  code/modules/mob/living/carbon/shock.dm
  code/modules/mob/living/carbon/species.dm
  code/modules/mob/living/living.dm
  code/modules/mob/thermoregulation.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/machinery/chem_dispenser.dm
  code/modules/reagents/machinery/chem_master.dm
  vgstation13.dme
Owners: none

Revert "Reagents added to a mob can heat up or cool down the mob (#33698)" (#33817)
  __DEFINES/mob_material_defines.dm
  code/game/atoms.dm
  code/game/objects/items.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/plasmaman/species.dm
  code/modules/mob/living/carbon/shock.dm
  code/modules/mob/living/carbon/species.dm
  code/modules/mob/living/living.dm
  code/modules/mob/thermoregulation.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/machinery/chem_dispenser.dm
  code/modules/reagents/machinery/chem_master.dm
  vgstation13.dme
Owners: none

sleeping people aren't dying
  code/datums/gamemode/misc_gamemode_procs.dm
Owners: none

unsanitized input
  code/game/machinery/telecomms/machine_interactions.dm
Owners: none

blob overmind message sanitize
  code/_onclick/mindUI/blob.dm
Owners: none

comms console status monitor sanitize
  code/game/machinery/status_display.dm
Owners: none

another blob message sanitization
  code/game/gamemodes/blob/powers.dm
Owners: @ChangelingRain

better safe than sorry
  code/modules/telesci/gps.dm
Owners: none

sanitize salvage rcs note
  code/modules/telesci/rcs.dm
Owners: none
