Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Buffs scientist bio suits against slimes
  code/modules/clothing/suits/bio.dm
  code/modules/mob/living/carbon/slime/powers.dm
Owners: none

adds descriptions
  code/modules/clothing/suits/bio.dm
Owners: none

can't forget this
  __DEFINES/rust_g.dm
Owners: none

whoops
  code/game/objects/items/weapons/cigs_lighters.dm
Owners: none

Update cigs_lighters.dm
  code/game/objects/items/weapons/cigs_lighters.dm
Owners: none

Update cigs_lighters.dm
  code/game/objects/items/weapons/cigs_lighters.dm
Owners: none

lessens the buff
  code/modules/mob/living/carbon/slime/powers.dm
Owners: none

first commit
  code/game/jobs/job_controller.dm
  code/game/machinery/computer/labor.dm
  code/modules/mob/new_player/new_player.dm
Owners: none

fixes
  code/game/machinery/computer/labor.dm
Owners: none

Ingesting phazon now randomizes blood and gib colors
  code/modules/mob/living/carbon/human/human.dm
Owners: none

works better
  code/__HELPERS/unsorted.dm
  code/modules/mob/living/carbon/human/human.dm
Owners: none

beginning rework
  code/_hooks/events.dm
  code/game/machinery/OpTable.dm
  code/modules/clothing/accessories/accessory.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/life.dm
Owners: none

moves the order of this
  code/game/machinery/OpTable.dm
Owners: none

removes unused var
  code/modules/mob/living/carbon/human/life.dm
Owners: none

sanity
  code/modules/clothing/accessories/accessory.dm
Owners: none

nobreath feature request lul
  code/modules/clothing/accessories/accessory.dm
Owners: none

sanity
  code/modules/clothing/accessories/accessory.dm
Owners: none

Lost crates of lemuria revival
  code/game/objects/items/trader.dm
  code/modules/trader/crates/lostcrate.dm
  code/modules/trader/trade_datums.dm
  vgstation13.dme
Owners: none

makes bait less annoying to work with
  code/modules/trader/crates/lostcrate.dm
Owners: none

bit more leeway
  code/modules/trader/crates/lostcrate.dm
Owners: none

cleaner
  code/modules/trader/crates/lostcrate.dm
Owners: none

forgot this
  icons/obj/items_weird.dmi
Owners: @ShizCalev, @WJohn

most work on this begun, needs finishing and testing
  code/modules/mining/mine_turfs.dm
  code/modules/trader/crates/lostcrate.dm
Owners: none

some more work
  code/modules/mining/mine_turfs.dm
Owners: none

makes this actually take the pan OFF! turns out it was not coded to work on item type objects at all
  code/datums/components/cooktop.dm
  code/modules/trader/crates/lostcrate.dm
Owners: @Cyberboss

marge
  code/modules/trader/crates/lostcrate.dm
Owners: none

now the pan should show up
  code/modules/trader/crates/lostcrate.dm
Owners: none

Update lostcrate.dm
  code/modules/trader/crates/lostcrate.dm
Owners: none

cleans this up
  code/modules/mining/mine_turfs.dm
Owners: none

more of it
  code/modules/mining/mine_turfs.dm
Owners: none

not needed after all
  code/modules/trader/crates/lostcrate.dm
Owners: none

cleaner lines
  code/modules/trader/crates/lostcrate.dm
Owners: none

gives this a better icon
  code/modules/trader/crates/lostcrate.dm
  icons/obj/items_weird.dmi
Owners: @ShizCalev, @WJohn

now it works?
  code/modules/mining/mine_turfs.dm
Owners: none

what was meant to happen
  code/modules/trader/crates/lostcrate.dm
Owners: none

probably better
  code/modules/mining/mine_turfs.dm
Owners: none

transferring now finally works, sprites do not
  code/modules/mining/mine_turfs.dm
Owners: none

sprite changes, system changes, ui changes
  code/modules/fissionreactor/fission.css
  code/modules/fissionreactor/fission_datums.dm
  code/modules/fissionreactor/objects_external.dm
  code/modules/fissionreactor/objects_internal.dm
  icons/obj/fissionreactor/controlrod.dmi
  icons/obj/fissionreactor/controlrod_old.dmi
  icons/obj/fissionreactor/fuelrod.dmi
  icons/obj/fissionreactor/fuelrod_old.dmi
Owners: @ShizCalev, @WJohn

moves everything into this
  code/game/objects/structures/vehicles/gigadrill.dm
  code/game/turfs/unsimulated.dm
  code/modules/mining/mine_turfs.dm
  code/modules/research/xenoarchaeology/finds/finds_container.dm
  code/modules/research/xenoarchaeology/misc.dm
  code/modules/research/xenoarchaeology/tools/tools_depthscanner.dm
  code/modules/research/xenoarchaeology/tools/tools_digsitelocator.dm
  vgstation13.dme
Owners: none

compile fixes
  code/modules/admin/artifacts_panel.dm
  code/modules/research/xenoarchaeology/geosample.dm
  code/modules/research/xenoarchaeology/tools/tools_anoscanner.dm
Owners: none
