Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

IOU 5 pomfcoins
  code/datums/religions.dm
Owners: none

ave nex alea
  code/datums/religions.dm
Owners: none

Fixed unwanted welder dropping
  code/game/objects/structures/tables_racks.dm
Owners: none

Adds the Murdercube religion (#21090)
  code/datums/religions.dm
  code/game/jobs/job/civilian_chaplain.dm
  code/game/objects/items/weapons/null_rod.dm
  icons/obj/storage/storage.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Log both
  code/datums/recruiter.dm
  code/modules/mob/living/carbon/brain/posibrain.dm
Owners: none

Fixed stun rune not obeying act restriction
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
Owners: none

Fixed stun rune not obeying act restriction (#21103)
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
Owners: none

Fixed unwanted welder dropping (#21102)
  code/game/objects/structures/tables_racks.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Rainbow Assistants (#21072)
  code/game/jobs/job/assistant.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Logging for posibrain attack_ghost (#20422)
  code/datums/recruiter.dm
  code/modules/mob/living/carbon/brain/posibrain.dm
Owners: none

Hostile ListTarget rewrite (#21098)
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Owners: none

Posibrain logging hotfix
  code/modules/mob/living/carbon/brain/posibrain.dm
Owners: none

there's a proc for that
  code/datums/religions.dm
Owners: none

renames can_fire() renamed to canbe_fired() to be less confused with can_Fire(), which deals more with the mob firing than the gun itself
  code/datums/religions.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/targeting.dm
  code/modules/reagents/dartgun.dm
  code/modules/reagents/syringe_gun.dm
Owners: none

Posibrain logging hotfix (#21105)
  code/modules/mob/living/carbon/brain/posibrain.dm
Owners: none

Fixes
  code/_onclick/hud/grinch.dm
  code/_onclick/ventcrawl.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
  code/datums/gamemode/role/grinch.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/storage/bluespace.dm
  code/modules/mob/living/simple_animal/hostile/grinch.dm
  icons/mob/back.dmi
  icons/mob/critter.dmi
  icons/obj/storage/storage.dmi
Owners: @ShizCalev, @WJohn

there's a proc for that (#21104)
  code/datums/religions.dm
Owners: none

Essence printer
  code/modules/research/xenoarchaeology/artifact/artifact.dm
  code/modules/research/xenoarchaeology/artifact/artifact_essenceprinter.dm
  icons/obj/xenoarchaeology.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

A E S T H I C
  code/modules/research/xenoarchaeology/artifact/artifact_essenceprinter.dm
Owners: none

ready check
  code/modules/research/xenoarchaeology/artifact/artifact_essenceprinter.dm
Owners: none

Capitalism
  code/modules/spells/targeted/prestidigitation.dm
Owners: none

Prestidigitation bundle
  code/game/gamemodes/wizard/artifacts.dm
  code/modules/spells/targeted/prestidigitation.dm
  icons/mob/screen_spells.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

TRADER COIN
  code/modules/spells/targeted/prestidigitation.dm
Owners: none

isantagbanned macro (#21099)
  __DEFINES/_macros.dm
  code/datums/gamemode/dynamic/dynamic_rulesets.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_buildings.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/datums/gamemode/factions/syndicate/rev.dm
  code/game/gamemodes/blob/blobs/core.dm
  code/game/machinery/syndicatebeacon.dm
  code/game/objects/items/changeling_vial.dm
  code/game/objects/items/weapons/explosives.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/client/preferences.dm
  code/modules/clothing/masks/stone.dm
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
  code/modules/mob/living/simple_animal/borer.dm
Owners: @ChangelingRain

Update bagelstation.dm
  maps/bagelstation.dm
Owners: none

Update blob.dm
  code/datums/gamemode/factions/blob.dm
Owners: none

Gunbible icon conflict
  icons/obj/storage/storage.dmi
Owners: @ShizCalev, @WJohn

Fucking momsis
  code/modules/mob/living/silicon/mommi/say.dm
Owners: none

Wolf & convert logging
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/datums/gamemode/factions/legacy_cult/soulstone.dm
  code/modules/mob/living/simple_animal/hostile/wolf.dm
Owners: none

Sanity for vampire spells
  code/modules/spells/aoe_turf/glare.dm
  code/modules/spells/aoe_turf/screech.dm
  code/modules/spells/targeted/hypnotise.dm
Owners: none

Fixes lube on top of water lasting for way too long
  code/game/turfs/simulated/floor.dm
Owners: none

Fixes lube on top of water lasting for way too long (#21110)
  code/game/turfs/simulated/floor.dm
Owners: none

Wolf & convert logging (#21108)
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/datums/gamemode/factions/legacy_cult/soulstone.dm
  code/modules/mob/living/simple_animal/hostile/wolf.dm
Owners: none

Allowed most mobs to whisper. (#20619)
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/whisper.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/mommi/say.dm
  code/modules/mob/living/simple_animal/borer.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/mob.dm
  vgstation13.dme
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

world dot view
  code/datums/emotes.dm
Owners: none

Essence printer (#20974)
  code/modules/research/xenoarchaeology/artifact/artifact.dm
  code/modules/research/xenoarchaeology/artifact/artifact_essenceprinter.dm
  icons/obj/xenoarchaeology.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
