Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

this game already takes place in space, it doesn't need more space
  code/datums/gamemode/role/role.dm
Owners: none

take it back now yall
  code/datums/gamemode/misc_gamemode_procs.dm
  code/datums/gamemode/role/role.dm
  code/datums/gamemode/role/syndicate.dm
  code/datums/uplink_item.dm
Owners: none

indent
  code/datums/gamemode/misc_gamemode_procs.dm
Owners: none

Adds Elite Syndicate Bundles (#28883)
  code/datums/gamemode/misc_gamemode_procs.dm
  code/datums/gamemode/role/role.dm
  code/datums/gamemode/role/syndicate.dm
  code/datums/uplink_item.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

start adding time faction
  __DEFINES/global.dm
  code/datums/gamemode/role/time_agent.dm
  code/game/area/Space Station 13 areas.dm
  code/game/objects/effects/landmarks.dm
  icons/turf/areas.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

whoops
  code/modules/mob/living/simple_animal/constructs.dm
Owners: none

eh
  code/modules/mob/living/simple_animal/constructs.dm
Owners: none

add 'use inhand object' button spells for jugger and arti (#28859)
  code/datums/gamemode/factions/bloodcult/bloodcult_mobs_and_constructs.dm
  code/modules/mob/living/simple_animal/constructs.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

hyperzine increases blood loss
  code/modules/organs/blood.dm
  code/modules/organs/organ_external.dm
Owners: none

cleans up bleeding code a bit
  code/modules/organs/blood.dm
  code/modules/organs/organ_external.dm
Owners: none

readds old parted hairstyle, changes new to alt
  code/modules/mob/new_player/sprite_accessories.dm
  icons/mob/human_face.dmi
Owners: @ShizCalev, @WJohn

Update lightswitch.dm
  code/game/machinery/lightswitch.dm
Owners: none

Update lightswitch.dm
  code/game/machinery/lightswitch.dm
Owners: none

mudslide
  icons/obj/drinks.dmi
Owners: @ShizCalev, @WJohn

mudslide
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

mudslide
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

mudslide
  __DEFINES/reagents.dm
Owners: none

Update lightswitch.dm
  code/game/machinery/lightswitch.dm
Owners: none

hopefully fixes CI issue
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

Turns on the lights at roundstart if a department contains a player.
  code/__HELPERS/game.dm
  code/__HELPERS/typeof.dm
  code/game/gamemodes/gameticker.dm
Owners: none

three new drinks
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

three new drinks
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

three new drinks
  icons/obj/drinks.dmi
Owners: @ShizCalev, @WJohn

three new drinks (now with fixed syntax)
  __DEFINES/reagents.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

Holy explosions, batman!
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

I can almost hear the worms launching bazookas.
  sound/misc/holyhandgrenade.ogg
Owners: @ShizCalev

Has anyone really been far even as decided to...
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

[Insert pun related to turkey and roaches]
  code/modules/mob/living/simple_animal/roach.dm
Owners: none

Why yes, I do keep a RadRoach as a pet.
  code/modules/mob/living/simple_animal/hostile/bigroach.dm
Owners: none

No need to lynch beekeepers, just spray the bees.
  code/modules/mob/living/simple_animal/bees/bees_mob.dm
Owners: none

Moved Insecticide mob effects to their mob file.
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Insecticide now gibs spiderlings, I think.
  code/modules/mob/living/simple_animal/hostile/giant_spider/spiderling.dm
Owners: none

Removed redundancy, apparently.
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Roachy McRoachface now dies appropiately.
  code/modules/mob/living/simple_animal/hostile/bigroach.dm
Owners: none

S P I D E R L I N G
  code/modules/mob/living/simple_animal/hostile/giant_spider/spiderling.dm
Owners: none

Holy explosions are slightly stronger
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

readds old parted hairstyle, changes new to alt (#28917)
  code/modules/mob/new_player/sprite_accessories.dm
  icons/mob/human_face.dmi
Owners: @ShizCalev, @WJohn

more faction changes
  code/datums/gamemode/factions/time_agency.dm
  code/datums/gamemode/role/time_agent.dm
  maps/misc/timevoid.dmm
  vgstation13.dme
Owners: none
