Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

tempting goblet working
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/modules/organs/blood.dm
Owners: none

bloodspill nerf
  code/game/objects/effects/decals/cleanable.dm
Owners: none

A very small batch of cult changes (#22196)
  code/datums/gamemode/factions/bloodcult/bloodcult.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/datums/gamemode/factions/faction.dm
  code/datums/gamemode/objectives/bloodcult.dm
  code/datums/gamemode/objectives/objective.dm
  code/datums/gamemode/role/cultist.dm
  code/game/objects/effects/decals/cleanable.dm
  code/modules/organs/blood.dm
  icons/mob/screen1_cult.dmi
  icons/obj/cult_radial3.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Converts the clown roid to a vault
  code/modules/randomMaps/vault_definitions.dm
  maps/randomvaults/clown_roid.dmm
Owners: none

Added descriptions to plate carrier stuff.
  code/modules/clothing/suits/plate_carrier.dm
Owners: none

Added descriptions to plate carrier stuff. (#22225)
  code/modules/clothing/suits/plate_carrier.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Brian Damag and the prisoners of Shoutstakistan (#22149)
  code/modules/spells/targeted/retard.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

e
  code/game/dna/genes/vg_powers.dm
Owners: none

accessory taclights commit 6
  code/modules/clothing/accessories/tactical_light.dm
Owners: none

remove debug, comments
  code/modules/clothing/accessories/tactical_light.dm
Owners: none

accessory taclights commit 7
  code/modules/clothing/accessories/tactical_light.dm
Owners: none

accessory taclights commit 8
  __DEFINES/__compile_options.dm
  __DEFINES/accessories.dm
  code/modules/clothing/accessories/tactical_light.dm
Owners: none

accessory taclights commit 9
  code/modules/clothing/accessories/tactical_light.dm
Owners: none

Chem Grenades can be made with any reagent container.
  code/game/objects/items/weapons/grenades/chem_grenade.dm
Owners: none

Economy 2019
  code/datums/supplypacks.dm
  code/game/machinery/vending.dm
  code/game/machinery/vending_packs.dm
  code/modules/Economy/Accounts.dm
  code/modules/Economy/utils.dm
  code/modules/mining/machine_processing.dm
Owners: none

oopsie?
  code/game/objects/items/weapons/grenades/chem_grenade.dm
Owners: none

accessory taclights commit 10
  code/modules/clothing/accessories/tactical_light.dm
  code/modules/clothing/head/tactical.dm
  icons/obj/clothing/accessory_overlays.dmi
Owners: @ShizCalev, @WJohn

armor 110->120 total component health 190->200
  code/modules/mob/living/silicon/robot/component.dm
Owners: none

Ninja final?
  code/datums/gamemode/role/ninja.dm
Owners: none

Makes midround Blob less likely to occur.
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
Owners: none

Ninja Blade and Skills (#22135)
  __DEFINES/obj_defines.dm
  code/_onclick/item_attack.dm
  code/datums/daemon.dm
  code/datums/gamemode/misc_gamemode_procs.dm
  code/datums/gamemode/role/ninja.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/melee/energy.dm
  vgstation13.dme
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

adds/raises minimum player age for medbay staff
  code/game/jobs/job/medical.dm
  maps/test_tiny.dmm
Owners: none

adds minimal player age to borgs (#22182)
  code/game/jobs/job/silicon.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

inhands, change tank type
  code/game/gamemodes/wizard/artifacts.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  icons/mob/in-hand/left/tanks.dmi
  icons/mob/in-hand/right/tanks.dmi
  icons/obj/tank.dmi
Owners: @ShizCalev, @WJohn

genetics changes
  code/game/gamemodes/setupgame.dm
Owners: none

Yes it works shut up (#22081)
  code/game/sound.dm
  code/modules/mob/living/silicon/ai/ai.dm
  sound/machines/W7_error.ogg
  sound/machines/W95_error.ogg
  sound/machines/W98_error.ogg
  sound/machines/WXP_error.ogg
Owners: @ShizCalev

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

buying the wizard hardsuit gives you a gem-encrusted oxygen tank (#22198)
  code/game/gamemodes/wizard/artifacts.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  icons/mob/in-hand/left/tanks.dmi
  icons/mob/in-hand/right/tanks.dmi
  icons/obj/tank.dmi
Owners: @ShizCalev, @WJohn

You no longer need to be on harm intent when cutting walls with weapons that have the CUT_WALL weapon flag (#22163)
  code/game/turfs/simulated/walls.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Antimov is slightly more obvious (#22027)
  code/game/objects/items/weapons/ai_modules/core.dm
Owners: none

Untested, who fucking did this?
  code/game/dna/genes/goon_disabilities.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

EETs
  __DEFINES/role_datums_defines.dm
  code/controllers/mc/master.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
  code/datums/gamemode/factions/eet/eet.dm
  code/datums/gamemode/factions/eet/eet_mobcamera.dm
  code/datums/gamemode/factions/eet/eet_objects.dm
  code/datums/gamemode/objectives/eet/banking.dm
  code/datums/gamemode/objectives/eet/books.dm
  code/datums/gamemode/objectives/eet/culture.dm
  code/datums/gamemode/objectives/eet/data.dm
  code/datums/gamemode/objectives/eet/food.dm
  code/datums/gamemode/objectives/eet/fuel.dm
  code/datums/gamemode/objectives/eet/implants.dm
  code/datums/gamemode/objectives/eet/mindescape.dm
  code/datums/gamemode/objectives/eet/organsample.dm
  code/datums/gamemode/objectives/eet/photograph.dm
  code/datums/gamemode/objectives/eet/plants.dm
  code/datums/gamemode/objectives/eet/religion.dm
  code/datums/gamemode/objectives/eet/replaceorgans.dm
  code/datums/gamemode/objectives/eet/vacation.dm
  code/datums/gamemode/role/eet.dm
  code/datums/helper_datums/command_alerts.dm
  code/datums/religions.dm
  code/modules/mob/camera/camera.dm
  icons/logos.dmi
  icons/obj/eet.dmi
  icons/role_HUD_icons.dmi
  icons/turf/floors.dmi
  maps/randomvaults/dungeons/eetmothership.dmm
  vgstation13.dme
Owners: @ShizCalev, @WJohn

rogue changes
  maps/test_tiny.dmm
Owners: none
