Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Centcomm Orders. Remember those? How about this! (#27751)
  __DEFINES/global.dm
  __DEFINES/setup.dm
  code/controllers/shuttle_controller.dm
  code/controllers/subsystem/supply_shuttle.dm
  code/game/centcomm_orders.dm
  code/game/centcomm_orders/centcomm_orders.dm
  code/game/centcomm_orders/orders_cargo.dm
  code/game/centcomm_orders/orders_engineering.dm
  code/game/centcomm_orders/orders_medical.dm
  code/game/centcomm_orders/orders_science.dm
  code/game/centcomm_orders/orders_service.dm
  code/game/dna/dna_modifier.dm
  code/game/gamemodes/scoreboard.dm
  code/game/jobs/jobs.dm
  code/game/machinery/bees_apiary.dm
  code/game/machinery/computer/cargo.dm
  code/game/objects/items/devices/transfer_valve.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
  code/modules/events/centcomm_order.dm
  code/modules/mob/living/simple_animal/bees/bees_items.dm
  code/modules/organs/organ_objects.dm
  code/modules/research/xenoarchaeology/artifact/artifact.dm
  nano/templates/supply_console.tmpl
  vgstation13.dme
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

re-rework into a proc
  code/ATMOSPHERICS/atmospherics.dm
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/game/machinery/OpTable.dm
  code/game/machinery/bees_apiary.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/machinery.dm
  code/modules/power/apc.dm
  code/modules/power/lighting/lighting.dm
  code/modules/power/power.dm
  code/modules/research/xenoarchaeology/artifact/artifact_unknown.dm
Owners: none

fix :p
  code/game/machinery/telecomms/presets.dm
Owners: none

Adds sounds and cleans up code
  code/game/sound.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/carbon/human/human.dm
  sound/misc/deusex_1.ogg
  sound/misc/deusex_2.ogg
  sound/misc/deusex_3.ogg
Owners: @ShizCalev

This was a dummied out implementation
  code/game/sound.dm
Owners: none

fix outdated comment that i made even more outdated to be less outdated than before
  code/game/machinery/telecomms/presets.dm
Owners: none

add these
  code/game/machinery/iv_drip.dm
  code/game/machinery/shieldgen.dm
Owners: none

merge spells, work on improvements
  __DEFINES/setup.dm
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/game/machinery/turrets.dm
  code/modules/mob/living/silicon/ai/life.dm
  icons/mob/AI.dmi
  icons/mob/screen_spells.dmi
Owners: @ShizCalev, @WJohn

cleanup
  __DEFINES/global.dm
  __DEFINES/setup.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/paramedic.dm
  vgstation13.dme
Owners: none

More clean-up
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/carbon/human/human.dm
Owners: none

re-adds nanotrasen HR autoreply (#27829)
  code/modules/paperwork/fax.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

add ai private intercom
  code/game/objects/items/devices/radio/intercom.dm
Owners: none

give ai priv intercom freerange =1
  code/game/objects/items/devices/radio/intercom.dm
Owners: none

fixes boxxesstation.dmm and test_box.dmm(i just copy pasted the area)
  maps/test_box.dmm
Owners: none

fuck you tgm you are worthless. i dont even know if this will work
  maps/test_box.dmm
Owners: none

work
  __DEFINES/setup.dm
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/game/machinery/turrets.dm
  code/modules/mob/living/silicon/ai/ai.dm
  icons/mob/AI.dmi
Owners: @ShizCalev, @WJohn

:^)
  code/game/objects/items/devices/radio/intercom.dm
  maps/test_box.dmm
Owners: none

Fixed logging dynamic enemy jobs (#27838)
  code/datums/gamemode/dynamic/dynamic_rulesets.dm
Owners: none

almost done
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/game/machinery/turrets.dm
  code/game/objects/effects/overlays.dm
  code/modules/mob/living/silicon/ai/life.dm
  icons/mob/AI.dmi
Owners: @ShizCalev, @WJohn

quick changes
  code/modules/mob/living/silicon/ai/life.dm
  icons/mob/AI.dmi
Owners: @ShizCalev, @WJohn

magic flag to solve literally every problem
  code/game/gamemodes/malfunction/Malf_Modules.dm
Owners: none

30
  code/game/gamemodes/malfunction/Malf_Modules.dm
Owners: none

remove to_chats
  code/game/gamemodes/malfunction/Malf_Modules.dm
Owners: none

Shunted AIs can use VOX announcements. (#27846)
  code/modules/mob/living/silicon/ai/say.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

wage rework
  __DEFINES/setup.dm
  code/controllers/subsystem/supply_shuttle.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job_controller.dm
  code/modules/Economy/Accounts.dm
  code/modules/Economy/Wages.dm
Owners: none

per unit order contribution fix
  code/game/centcomm_orders/centcomm_orders.dm
Owners: none

tweaking
  code/game/centcomm_orders/orders_science.dm
Owners: none

Updated the pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

smol announcement
  code/datums/helper_datums/command_alerts.dm
  code/defines/procs/command_alert.dm
  code/modules/Economy/Wages.dm
Owners: none

seriously id/admin was never meant to have any subtype, fuck that noise
  code/datums/outfit/special_outfits/special.dm
  code/game/objects/items/weapons/cards_ids.dm
Owners: none

no more shunting
  code/game/gamemodes/malfunction/Malf_Modules.dm
Owners: none

raise price to 50
  code/game/gamemodes/malfunction/Malf_Modules.dm
Owners: none

typo, trailing returns, useless variable, remove loops, ect
  code/game/gamemodes/malfunction/Malf_Modules.dm
  code/game/machinery/turrets.dm
Owners: none

Radial menus use callbacks instead of event datums (#27786)
  __DEFINES/callback.dm
  code/_onclick/hud/radial.dm
  code/datums/callback.dm
  code/datums/gamemode/role/ninja.dm
  code/game/machinery/kitchen/microwave.dm
  code/modules/reagents/machinery/reagentgrinder.dm
  code/modules/research/xenoarchaeology/tools/bunsen_burner.dm
  vgstation13.dme
Owners: none

tell them you cant shunt in description
  code/game/gamemodes/malfunction/Malf_Modules.dm
Owners: none

fix numbers
  code/modules/research/xenoarchaeology/finds/finds.dm
Owners: none

add :p, fix box
  code/game/machinery/telecomms/presets.dm
Owners: none
