Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

pills do not entropy (#36024)
  code/modules/reagents/reagent_containers/pill.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

vox tails, except no wag emote and no code supporting tailwags (#36032)
  __DEFINES/colors.dm
  __DEFINES/setup.dm
  code/datums/mutable_appearance.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/captain.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/utility.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/species.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/overlays/mobs.dm
  icons/mob/human_races/vox/r_def_vox.dmi
  icons/mob/human_races/vox/r_def_voxazu.dmi
  icons/mob/human_races/vox/r_def_voxbrn.dmi
  icons/mob/human_races/vox/r_def_voxemrl.dmi
  icons/mob/human_races/vox/r_def_voxgry.dmi
  icons/mob/human_races/vox/r_def_voxlgrn.dmi
  icons/mob/human_races/vox/r_vox.dmi
  icons/mob/human_races/vox/r_voxazu.dmi
  icons/mob/human_races/vox/r_voxbrn.dmi
  icons/mob/human_races/vox/r_voxemrl.dmi
  icons/mob/human_races/vox/r_voxgry.dmi
  icons/mob/human_races/vox/r_voxlgrn.dmi
  icons/mob/human_races/vox/tails.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Revert "vox tails, except no wag emote and no code supporting tailwags (#36032)"
  __DEFINES/colors.dm
  __DEFINES/setup.dm
  code/datums/mutable_appearance.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/captain.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/utility.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/plasmaman/species.dm
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/species.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/overlays/mobs.dm
  icons/mob/human_races/vox/r_def_vox.dmi
  icons/mob/human_races/vox/r_def_voxazu.dmi
  icons/mob/human_races/vox/r_def_voxbrn.dmi
  icons/mob/human_races/vox/r_def_voxemrl.dmi
  icons/mob/human_races/vox/r_def_voxgry.dmi
  icons/mob/human_races/vox/r_def_voxlgrn.dmi
  icons/mob/human_races/vox/r_vox.dmi
  icons/mob/human_races/vox/r_voxazu.dmi
  icons/mob/human_races/vox/r_voxbrn.dmi
  icons/mob/human_races/vox/r_voxemrl.dmi
  icons/mob/human_races/vox/r_voxgry.dmi
  icons/mob/human_races/vox/r_voxlgrn.dmi
  icons/mob/human_races/vox/tails.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

more thorough
  code/controllers/subsystem/burnable.dm
  code/game/objects/objs.dm
Owners: none

oops forgot this
  code/controllers/subsystem/burnable.dm
Owners: none

Revert "vox tails, except no wag emote and no code supporting tailwags (#36032)"
  __DEFINES/colors.dm
  __DEFINES/setup.dm
  code/datums/mutable_appearance.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/captain.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/utility.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/plasmaman/species.dm
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/species.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/overlays/mobs.dm
  icons/mob/human_races/vox/r_def_vox.dmi
  icons/mob/human_races/vox/r_def_voxazu.dmi
  icons/mob/human_races/vox/r_def_voxbrn.dmi
  icons/mob/human_races/vox/r_def_voxemrl.dmi
  icons/mob/human_races/vox/r_def_voxgry.dmi
  icons/mob/human_races/vox/r_def_voxlgrn.dmi
  icons/mob/human_races/vox/r_vox.dmi
  icons/mob/human_races/vox/r_voxazu.dmi
  icons/mob/human_races/vox/r_voxbrn.dmi
  icons/mob/human_races/vox/r_voxemrl.dmi
  icons/mob/human_races/vox/r_voxgry.dmi
  icons/mob/human_races/vox/r_voxlgrn.dmi
  icons/mob/human_races/vox/tails.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

Revert "vox tails, except no wag emote and no code supporting tailwags (#36032)" (#36062)
  __DEFINES/colors.dm
  __DEFINES/setup.dm
  code/datums/mutable_appearance.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/captain.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/utility.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/plasmaman/species.dm
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/species.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/overlays/mobs.dm
  icons/mob/human_races/vox/r_def_vox.dmi
  icons/mob/human_races/vox/r_def_voxazu.dmi
  icons/mob/human_races/vox/r_def_voxbrn.dmi
  icons/mob/human_races/vox/r_def_voxemrl.dmi
  icons/mob/human_races/vox/r_def_voxgry.dmi
  icons/mob/human_races/vox/r_def_voxlgrn.dmi
  icons/mob/human_races/vox/r_vox.dmi
  icons/mob/human_races/vox/r_voxazu.dmi
  icons/mob/human_races/vox/r_voxbrn.dmi
  icons/mob/human_races/vox/r_voxemrl.dmi
  icons/mob/human_races/vox/r_voxgry.dmi
  icons/mob/human_races/vox/r_voxlgrn.dmi
  icons/mob/human_races/vox/tails.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

Skinning animals on meatspikes (#35885)
  code/game/objects/structures/kitchen_spike.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

TURN OFF YE DEVIL (#35900)
  code/game/machinery/computer/atmos_control.dm
Owners: none

sanity (#35914)
  code/_onclick/mutual_cuff.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[Vault Contest] Soulblade Sanctum (#35909)
  code/datums/gamemode/factions/bloodcult/bloodcult_buildings.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_mobs_and_constructs.dm
  code/game/machinery/doors/mineral.dm
  code/game/objects/structures/mannequin.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/randomMaps/vault_definitions.dm
  maps/randomvaults/objects.dm
  maps/randomvaults/soulblade_sanctum.dmm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

The Blobbening - Removal of Roundstart Blob and the Revenge of The Outer Space Blob (Updated) (#35947)
  __DEFINES/blob.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
  code/game/gamemodes/blob/blobs/shield.dm
  code/game/gamemodes/blob/powers.dm
  code/game/gamemodes/blob/theblob.dm
  code/game/gamemodes/meteor/meteors.dm
  code/modules/credits/episode_name.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/projectiles/projectile/beams.dm
Owners: @ChangelingRain

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

fix grilles repaired directly using rods not being dense (#36044)
  code/game/objects/structures/grille.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Food and reagents in your hands and backpack no longer freeze while in space (#36034)
  code/modules/reagents/reagent_containers.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

(Temporarily) disables most autoignition and room-heating mechanics (#36028)
  code/ZAS/Fire.dm
  code/controllers/subsystem/burnable.dm
  code/game/objects/objs.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fireaxe Sanity (#36018)
  code/game/objects/items/weapons/twohanded.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

removes burndamage from hot food/drink (#36023)
  code/modules/reagents/Chemistry-Holder.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Buffs the phazon-nothing reaction. (#36039)
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

delay between surgery steps reduced by 90% (#36048)
  __DEFINES/surgery_defines.dm
  code/_onclick/click.dm
  vgstation13.dme
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Update action_button.dm (#36047)
  code/_onclick/hud/action_button.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

circuits (#36049)
  maps/tgstation-snow.dmm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

RPD immitation TGUI (#35977)
  code/modules/RCD/RCD.dm
  code/modules/RCD/schematic.dm
  code/modules/RCD/schematics/pipe.dm
  code/modules/html_interface/RCD/RCD.css
  code/modules/html_interface/RCD/RCD.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Chronic Lime Disease, a new Stage 2 Symptom (#36036)
  code/modules/virus2/effect/stage_2.dm
  code/modules/virus2/effect/stage_3.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none
