Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

We can rebuild him, we have the technology. (#18101)
  code/modules/mob/living/carbon/human/human.dm
  icons/mob/human_races/o_robot.dmi
Owners: @ShizCalev, @WJohn

what the shit, did the eyes just vanish
  icons/mob/robots.dmi
Owners: @ShizCalev, @WJohn

Adds the security cyborg N.O.I.R. and warden upgrades as voxvend-excusive rare loot. (#18047)
  __DEFINES/_macros.dm
  code/__HELPERS/icons.dm
  code/datums/ai_laws.dm
  code/game/machinery/deployable.dm
  code/game/objects/items/cookie_synth.dm
  code/game/objects/items/robot/robot_items.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/items/weapons/implants/implanter.dm
  code/modules/detectivework/detective_work.dm
  code/modules/mob/living/silicon/mommi/update_icons.dm
  code/modules/mob/living/silicon/robot/component.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  icons/mob/robots.dmi
  icons/obj/card.dmi
  icons/obj/device.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[WIP] Curb your round end https://youtu.be/eIoAVm6-ZkY
  __DEFINES/planes+layers.dm
  code/_onclick/hud/fullscreen.dm
  code/game/dna/dna_modifier.dm
  code/game/rollcredits.dm
  code/modules/medical/cloning.dm
  code/modules/medical/computer/cloning.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/say.dm
  sound/music/Frolic_Luciano_Michelini.ogg
  vgstation13.dme
Owners: @ShizCalev

adds lactose intolerance
  __DEFINES/global.dm
  __DEFINES/setup.dm
  code/game/dna/genes/vg_disabilities.dm
  code/game/gamemodes/setupgame.dm
  code/modules/client/preferences.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

whoops, forgot actual milk
  code/game/dna/genes/vg_disabilities.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

fixes bug
  code/modules/medical/cloning.dm
Owners: none

fixes plasmaman fire bug
  code/modules/medical/cloning.dm
Owners: none

changes if(istype(H.species, /datum/species/plasmaman)) to if(isplasmaman)
  code/modules/medical/cloning.dm
Owners: none

Adds the third horsemen of the apocalypse
  code/modules/virus2/effect/effect.dm
Owners: none

the badrecipe is now put on the turf of the rotten plant
  code/modules/virus2/effect/effect.dm
Owners: none

moves plasma sprite to growclone
  code/modules/medical/cloning.dm
Owners: none

moves the milk stuff to a global list
  code/game/dna/genes/vg_disabilities.dm
Owners: none

moves location(again)
  code/modules/medical/cloning.dm
Owners: none

Update cloning.dm
  code/modules/medical/cloning.dm
Owners: none

Fixes scanners properly this time
  code/game/objects/items/devices/scanners.dm
Owners: none

Just some code cleanup
  code/ATMOSPHERICS/atmospherics.dm
  code/ATMOSPHERICS/he_pipes.dm
Owners: none

Updated bluespace banana+peel sprites.
  icons/obj/items.dmi
Owners: @ShizCalev, @WJohn

Lazymov lawset. (#18021)
  code/datums/ai_laws.dm
  code/game/objects/items/weapons/ai_modules/core.dm
  code/modules/research/designs/AI_modules.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fixes HE pipes being fast
  code/ATMOSPHERICS/he_pipes.dm
Owners: none

Plasmamen Fire Sprite Bug (#18210)
  code/modules/medical/cloning.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Adds material inheritance to created objects, fleshes out material datums a bit
  __DEFINES/obj_defines.dm
  __DEFINES/setup.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/stack_recipes.dm
  code/game/objects/objs.dm
  code/modules/mining/materials.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mining/ores_coins.dm
  vgstation13.dme
Owners: none

adds description generator and quality generator
  __DEFINES/obj_defines.dm
  code/_onclick/drag_drop.dm
  code/_onclick/item_attack.dm
  code/_onclick/other_mobs.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/stack_recipes.dm
  code/game/objects/items/weapons/swords_axes_etc.dm
  code/game/objects/objs.dm
  code/game/objects/structures.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/mining/materials.dm
  icons/obj/weapons.dmi
Owners: @ShizCalev, @WJohn

converts qualityToString from a proc to a list by index
  __DEFINES/obj_defines.dm
  code/game/objects/items/stacks/stack_recipes.dm
  code/game/objects/objs.dm
Owners: none

adds the mat_type variable to sheets, which holds the material type define that they represent. DO NOT MISUSE, or do, I'm not the law.
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/sheets/sheets.dm
  code/game/objects/items/stacks/stack_recipes.dm
Owners: none

removes \a macros as they would cause a JS error
  code/game/objects/objs.dm
  code/modules/mining/materials.dm
Owners: none

instead of multiple different variables holding a sheet type, objects now uses a standardized sheet type variable
  code/game/machinery/computer/ai_core.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/constructable_frame.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/items/weapons/table_rack_parts.dm
  code/game/objects/objs.dm
  code/game/objects/structures/fullwindow.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/stools.dm
  code/game/objects/structures/window.dm
  code/modules/research/xenoarchaeology/tools/bunsen_burner.dm
Owners: none

tweaks descriptions some more. Things made via dorf stack recipes now inherit the materials sheet type when deconstructed
  code/game/objects/items/stacks/stack_recipes.dm
  code/game/objects/objs.dm
  code/modules/mining/materials.dm
Owners: none

removes doubleratchet
  code/game/objects/items/stacks/tiles/tile_types.dm
Owners: none

calling the parent matters now
  code/modules/mining/materials.dm
Owners: none

I was only given the one fixyourshitnigger, I feel ripped off
  code/_onclick/other_mobs.dm
Owners: none

buffs the cost of dorf recipes
  code/game/objects/items/stacks/sheets/mineral.dm
  vgstation13.dme
Owners: none

moves the brain component to living-level. Makes some tweaks to NPC AI so they know they're being attacked by something
  __DEFINES/component_signals.dm
  code/_onclick/item_attack.dm
  code/modules/components/ai/human/human_target_finder.dm
  code/modules/components/ai/mobs/component_mob.dm
  code/modules/components/ai/mobs/giant_spider.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/combat.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
Owners: none

that took a lot more than I expected to fix the melee
  __DEFINES/component_signals.dm
  code/_onclick/click.dm
  code/_onclick/item_attack.dm
  code/modules/components/ai/controllers/mob_controller.dm
  code/modules/components/ai/hostile/melee/melee.dm
  code/modules/components/ai/human/brain.dm
  code/modules/components/ai/human/hand_usage.dm
  code/modules/components/ai/human/human_attack.dm
  code/modules/components/ai/human/human_target_finder.dm
  code/modules/components/ai/human/retaliate.dm
  code/modules/components/ai/targetting_handler.dm
  code/modules/components/debugger.dm
  code/modules/mob/living/carbon/combat.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  vgstation13.dme
Owners: none

adds the weapon throw attack. Fixes where you could only ever have one attack type for your NPC. Fixes a bad usr argument in throw.
  code/modules/components/ai/human/brain.dm
  code/modules/components/ai/human/throw_attack.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  vgstation13.dme
Owners: none

/*DOES NOT WORK*/ Changes mob function so it uses a movement component, rather than it being under the mob component.
  __DEFINES/component_signals.dm
  code/defines/procs/AStar.dm
  code/modules/components/ai/controllers/mob_controller.dm
  code/modules/components/ai/controllers/movement.dm
  code/modules/components/ai/def_zone_handler.dm
  code/modules/components/ai/get_damtype.dm
  code/modules/components/ai/hostile/melee/melee.dm
  code/modules/components/ai/human/human_attack.dm
  code/modules/components/component.dm
  code/modules/components/component_container.dm
  code/modules/mob/living/carbon/human/human.dm
  vgstation13.dme
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
