Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

couple of extra checks for fist
  code/modules/spells/targeted/fist.dm
Owners: none

Fixes hologram rays not working. (#36478)
  code/game/machinery/hologram.dm
Owners: none

Fixes haunting not updating ghost minimap (#36501)
  code/controllers/subsystem/init/more_init_stuff.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/mob_movement.dm
Owners: none

Detective Revolver Modification Changes/Nerfs (#36513)
  code/modules/projectiles/guns/projectile/revolver.dm
Owners: none

Fix pneumatic cannon not exploding when clumsy (#36547)
  code/modules/projectiles/guns/projectile/pneumatic.dm
Owners: none

add megamad black crab claws, punch dmg is 10 up from 7 (#36565)
  code/datums/helper_datums/butchering.dm
  code/game/objects/structures/kitchen_spike.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid.dm
  code/modules/mob/living/simple_animal/friendly/crab.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/living/simple_animal/hostile/crab.dm
  code/modules/organs/organ_external.dm
  icons/mob/human_races/crab_claws.dmi
Owners: @ShizCalev, @WJohn

mutable appearance charred overlay (#36569)
  __DEFINES/_macros.dm
  code/ZAS/Fire.dm
  code/game/atoms.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/trader.dm
  code/game/objects/objs.dm
  code/game/turfs/turf.dm
Owners: none

Bluespace pipe caps (#36581)
  code/ATMOSPHERICS/components/unary/cap.dm
  code/ATMOSPHERICS/pipe/construction.dm
  code/ATMOSPHERICS/pipe/pipe_dispenser.dm
  code/game/machinery/computer/atmos_control.dm
  code/modules/multiz/ventcrawl.dm
  icons/lighting/moody_lights.dmi
  icons/obj/pipe-item.dmi
  icons/obj/pipes.dmi
  nano/templates/atmos_control.tmpl
  nano/templates/atmos_control_map_header.tmpl
Owners: @ShizCalev, @WJohn

WIP pull request template changes (#36473)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

begin code cutdown to analyse problem
  code/datums/emotes.dm
  code/game/gamemodes/blob/overmind.dm
  code/game/objects/items/devices/PDA/apps/messenger.dm
  code/game/say.dm
  code/modules/events/immovablerod.dm
  code/modules/events/old_vendotron_event/vendor_teleport_event.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/dead/observer/say.dm
  code/modules/mob/death.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/mob/living/simple_animal/borer.dm
  code/modules/mob/living/simple_animal/borer/captive_brain.dm
  code/modules/mob/say.dm
  code/modules/power/singularity/singularity.dm
  goon/code/datums/browserOutput.dm
Owners: @ChangelingRain

replaces deity's 5mb ogg files with 40kb ones
  sound/machines/electric_loom.ogg
Owners: @ShizCalev

e
  code/game/objects/items/canned_heat.dm
Owners: none

fix
  sound/machines/electric_loom.ogg
  sound/machines/electric_loom_start.ogg
  sound/machines/loom_wooden.ogg
  sound/machines/loom_wooden_start.ogg
Owners: @ShizCalev

fix
  sound/items/canned_heat.ogg
Owners: @ShizCalev

changes
  code/modules/mob/living/silicon/robot/robot_subtypes/starman.dm
  icons/mob/robots.dmi
  icons/mob/robots_starman_dance.dmi
Owners: @ShizCalev, @WJohn

A digit
  code/modules/mob/living/silicon/robot/robot_subtypes/starman.dm
Owners: none

Starman robots are now kinda chill (#36340)
  code/modules/mob/living/silicon/robot/robot_subtypes/starman.dm
  icons/mob/robots_starman_dance.dmi
Owners: @ShizCalev, @WJohn

Bulk order empty lunchboxes from Cargo (#36582)
  code/datums/supply_packs/hospitality.dm
Owners: none

Adds the Golden Vault of the Space King to rotation (#36592)
  code/modules/randomMaps/vault_definitions.dm
Owners: none

adds dexplus botany effect (#36594)
  code/modules/reagents/reagents/reagents_medical.dm
Owners: none

moves this here
  code/modules/bomberman/bomberman.dm
  code/modules/mob/dead/observer/observer.dm
Owners: none

puts it here, plus cleanup
  code/datums/emotes.dm
  code/datums/recruiter.dm
  code/game/gamemodes/blob/overmind.dm
  code/game/objects/items/devices/PDA/apps/messenger.dm
  code/game/say.dm
  code/modules/events/immovablerod.dm
  code/modules/events/old_vendotron_event/vendor_teleport_event.dm
  code/modules/hydroponics/seed_mobs.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/dead/observer/say.dm
  code/modules/mob/death.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/carbon/alien/larva/alien_embryo.dm
  code/modules/mob/living/carbon/slime/slime.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/mob/living/simple_animal/borer.dm
  code/modules/mob/living/simple_animal/borer/captive_brain.dm
  code/modules/mob/say.dm
  code/modules/power/singularity/singularity.dm
  goon/code/datums/browserOutput.dm
Owners: @ChangelingRain

forgot these
  code/modules/mob/dead/observer/observer.dm
  goon/code/datums/browserOutput.dm
Owners: none

moves this here
  code/modules/bomberman/bomberman.dm
  code/modules/mob/dead/observer/observer.dm
Owners: none

feedback and cutdown
  code/modules/mob/dead/observer/observer.dm
Owners: none

missed a spot
  code/modules/mob/dead/observer/observer.dm
Owners: none

more correct
  code/modules/mob/dead/observer/observer.dm
Owners: none

fixes this
  code/modules/mob/dead/observer/observer.dm
Owners: none

removes outdated info
  code/modules/mob/dead/observer/observer.dm
Owners: none

makes this get_area() not called until after the turf checks, so if it fails here doing this isn't needed
  code/modules/mob/dead/observer/observer.dm
Owners: none

mostly done, now just find a way to increase the chance of other roundstarts firing with the roundstart version
  code/datums/ai_laws.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

base work on this
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/possess.dm
  code/modules/mob/mob_movement.dm
Owners: none

forgot this
  code/modules/admin/admin_verbs.dm
Owners: none

makes verb work
  code/modules/admin/verbs/possess.dm
Owners: none

reorders
  code/modules/admin/verbs/possess.dm
Owners: none

re-enables cameras on nukeops helmet
  code/game/machinery/computer/camera.dm
  maps/tgstation-snow.dmm
Owners: none

Fixes lighting on shuttle diagonal walls
  code/game/turfs/simulated/shuttle.dm
  icons/lighting/moody_lights.dmi
Owners: @ShizCalev, @WJohn

initial code
  code/modules/reagents/machinery/mortar.dm
  code/modules/reagents/machinery/reagentgrinder.dm
Owners: none

adds unit test
  code/modules/unit_tests/__unit_test_includes.dm
  code/modules/unit_tests/blend_juice.dm
Owners: none

syntax fix
  code/modules/unit_tests/blend_juice.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
