Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

Chemmasters have a 1000u buffer, for cauldron compatibility (#21539)
  code/modules/reagents/machinery/chem_master.dm
Owners: none

Dish Incubator QOL (#21545)
  code/modules/virus2/disease2.dm
  code/modules/virus2/dishincubator.dm
  code/modules/virus2/effect/effect.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Dispense_prize function (#21527)
  code/game/machinery/computer/arcade/arcade_game.dm
Owners: none

Fixes ghost items on mass removal (#21577)
  code/game/objects/items/weapons/storage/storage.dm
Owners: none

Adds a simple 'persistence' subsystem (#21553)
  .gitignore
  __DEFINES/subsystem.dm
  code/controllers/subsystem/init/persistence.dm
  code/modules/credits/credits.dm
  data/persistence/round_counts_per_year.json
  vgstation13.dme
Owners: none

Makes Watchdog call a few world shutdown thingies it wasn't calling before (#21556)
  code/modules/ext_scripts/watchdog.dm
  code/world.dm
Owners: none

Space Christianity Converts Everyone (#21368)
  code/datums/religions.dm
  code/game/jobs/job/civilian_chaplain.dm
  code/modules/mob/new_player/new_player.dm
Owners: none

further dab fixes (#21366)
  code/modules/mob/living/carbon/human/emote.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Adds the brain damage spell for Wizards. (#21229)
  code/modules/spells/targeted/retard.dm
  code/modules/spells/targeted/targeted.dm
  icons/mob/screen_spells.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Adds aminociprinidol, aminomicin requires blood
  __DEFINES/reagents.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

Add more text macros to examine to correct grammar
  code/modules/mob/living/carbon/human/examine.dm
Owners: none

Fix gun switching messages
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/energy/special.dm
Owners: none

campfire typo fixes
  code/ATMOSPHERICS/hvac/spaceheater.dm
Owners: none

Adds preloaded ethanol burners to maps
  code/modules/research/xenoarchaeology/tools/bunsen_burner.dm
Owners: none

Halves laser damage
  code/game/mecha/equipment/weapons/weapons.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
  code/modules/projectiles/projectile/beams.dm
  maps/randomvaults/objects.dm
Owners: none

remove duplicate comment
  code/modules/mob/living/carbon/human/examine.dm
Owners: none

noncrew
  code/game/jobs/job/whitelisted.dm
  code/game/jobs/job/zeroslot.dm
  code/game/jobs/jobs.dm
  code/game/machinery/computer/labor.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/implants/implant.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/items/weapons/storage/boxes.dm
  icons/obj/card.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

Undoes change to aminomicin
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

Allows the dorms buttons to toggle bolts sounds too
  code/game/machinery/airlock_control.dm
  code/game/machinery/door_control.dm
  code/game/machinery/doors/airlock.dm
Owners: none

Fixes name, aminomicin requires 3 nutriment instead
  __DEFINES/reagents.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

Refactors assistant job limit for labor console compatibility
  code/game/jobs/job/assistant.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job_controller.dm
  code/game/machinery/computer/labor.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mob/new_player/new_player.dm
Owners: none

Renames persistence subsystem to persistence_misc
  __DEFINES/subsystem.dm
  code/controllers/subsystem/init/persistence_misc.dm
  code/modules/credits/credits.dm
  vgstation13.dme
Owners: none

helol
  data/persistence/round_counts_per_year.json
Owners: none

Renames persistence subsystem to persistence_misc (speedmerge pre-approved) (#21592)
  __DEFINES/subsystem.dm
  code/controllers/subsystem/init/persistence_misc.dm
  code/modules/credits/credits.dm
  data/persistence/round_counts_per_year.json
  vgstation13.dme
Owners: none

Update airlock.dm
  code/game/machinery/doors/airlock.dm
Owners: none

Update airlock.dm
  code/game/machinery/doors/airlock.dm
Owners: none

Upon travelling through a window, a lasers damage is halved
  code/game/objects/structures/window.dm
Owners: none

Adds a fake SPS death sound to the sound synth
  code/game/objects/items/devices/sound_synth.dm
  sound/items/fake_SPS.ogg
Owners: @ShizCalev

Changes dex cart description from five to four.
  code/datums/uplink_item.dm
Owners: none

Update Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Makes vampire less likely to fire at roundstart (especially on lower populations).
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

Nerf Blink's smoke to not act like a free smoke bomb spam spell
  code/modules/spells/aoe_turf/blink.dm
Owners: none

Teleport cooldown changed to 45 sec, minus 10 per upgrade, 5 sec min
  code/modules/spells/general/area_teleport.dm
Owners: none

Windows now have a disperse_coeff variable, which is how much the damage of a laser is multiplied by.
  code/game/objects/structures/window.dm
Owners: none

Breaks up the virus2/effect file into stages
  code/modules/virus2/effect/effect.dm
  code/modules/virus2/effect/stage_1.dm
  code/modules/virus2/effect/stage_2.dm
  code/modules/virus2/effect/stage_3.dm
  code/modules/virus2/effect/stage_4.dm
  code/modules/virus2/effect/stage_special.dm
  vgstation13.dme
Owners: none

Delayed rulesets. Fixes revs properly
  __DEFINES/role_datums_defines.dm
  code/datums/gamemode/dynamic/dynamic.dm
  code/datums/gamemode/dynamic/dynamic_rulesets.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
  code/datums/gamemode/factions/syndicate/rev.dm
  code/datums/gamemode/gamemode.dm
  code/datums/gamemode/role/rev.dm
Owners: none

Revert delayed revs
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
