Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

override fix
  code/datums/gamemode/dynamic/dynamic.dm
Owners: none

adjustment
  code/datums/gamemode/dynamic/dynamic.dm
Owners: none

Fixes #21522 not working (#22189)
  code/datums/gamemode/dynamic/dynamic.dm
Owners: none

Fixes a runtime in rig's destroy, causing them to be indestructable
  code/modules/clothing/spacesuits/rig.dm
Owners: none

Fixes a runtime in rig's destroy, causing them to be indestructable (#22194)
  code/modules/clothing/spacesuits/rig.dm
Owners: none

makes charging apcs yellow
  icons/obj/power.dmi
Owners: @ShizCalev, @WJohn

small cult changes
  code/datums/gamemode/factions/bloodcult/bloodcult.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/modules/organs/blood.dm
  icons/mob/screen1_cult.dmi
  icons/obj/cult_radial3.dmi
Owners: @ShizCalev, @WJohn

wizard oxygen tank
  code/game/gamemodes/wizard/artifacts.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  icons/obj/tank.dmi
Owners: @ShizCalev, @WJohn

Local man gets reminded not to literally copypaste code
  code/game/gamemodes/wizard/artifacts.dm
Owners: none

cult loses but wins
  code/datums/gamemode/factions/bloodcult/bloodcult.dm
  code/datums/gamemode/factions/faction.dm
Owners: none

extra cult fixes and info
  code/datums/gamemode/factions/faction.dm
  code/datums/gamemode/objectives/bloodcult.dm
  code/datums/gamemode/objectives/objective.dm
Owners: none

extra info
  code/datums/gamemode/objectives/bloodcult.dm
Owners: none

makes the yellow a bit darker
  icons/obj/power.dmi
Owners: @ShizCalev, @WJohn

Refactors Throw Impact
  code/datums/gamemode/role/ninja.dm
  code/game/atoms_movable.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/lance.dm
  code/game/objects/items/weapons/shields.dm
  code/game/objects/objs.dm
  code/modules/clothing/suits/armor.dm
  code/modules/mob/living/carbon/combat.dm
  code/modules/mob/living/carbon/complex/combat.dm
  code/modules/mob/living/carbon/human/human_attackalien.dm
  code/modules/mob/living/carbon/human/human_attackanimal.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/reagents/reagent_containers/syringes.dm
Owners: none

soul rambler
  __DEFINES/_macros.dm
  __DEFINES/role_datums_defines.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
  code/datums/gamemode/objectives/freeform/rambler.dm
  code/datums/gamemode/objectives/investigate.dm
  code/datums/gamemode/objectives/ramble.dm
  code/datums/gamemode/role/rambler.dm
  code/game/objects/items/devices/instruments.dm
  code/game/objects/structures/musician.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/masks/necklaces.dm
  vgstation13.dme
Owners: none

Progress need to rebase
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
  code/datums/gamemode/objectives/investigate.dm
  code/datums/gamemode/role/rambler.dm
  code/game/objects/items/devices/instruments.dm
  code/game/objects/structures/musician.dm
Owners: none

rambler finished
  __DEFINES/game.dm
  code/__HELPERS/lists.dm
  code/controllers/shuttle_controller.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
  code/datums/gamemode/factions/faction.dm
  code/datums/gamemode/gamemode.dm
  code/datums/gamemode/objectives/investigate.dm
  code/datums/gamemode/objectives/uphold_vows.dm
  code/datums/gamemode/role/rambler.dm
  code/datums/gamemode/role/role.dm
  code/game/objects/structures/musician.dm
  code/modules/clothing/clothing.dm
  icons/logos.dmi
  icons/mob/screen_spells.dmi
  icons/role_HUD_icons.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

raisestructuredescriptions
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
Owners: none

better
  code/datums/gamemode/factions/bloodcult/bloodcult.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/datums/gamemode/role/cultist.dm
Owners: none

The Power of Parenthesis
  __DEFINES/setup.dm
  code/datums/gamemode/objectives/investigate.dm
  code/datums/gamemode/role/rambler.dm
  code/modules/clothing/clothing.dm
Owners: none

No Locker Exile (again)
  code/datums/gamemode/objectives/target/killorexile.dm
Owners: none

Update killorexile.dm
  code/datums/gamemode/objectives/target/killorexile.dm
Owners: none

A Few For Robo
  code/datums/gamemode/role/rambler.dm
Owners: none

Soul Rambler Mini-Antag (#21465)
  __DEFINES/_macros.dm
  __DEFINES/game.dm
  __DEFINES/role_datums_defines.dm
  __DEFINES/setup.dm
  code/__HELPERS/lists.dm
  code/controllers/shuttle_controller.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
  code/datums/gamemode/factions/faction.dm
  code/datums/gamemode/gamemode.dm
  code/datums/gamemode/objectives/freeform/rambler.dm
  code/datums/gamemode/objectives/investigate.dm
  code/datums/gamemode/objectives/ramble.dm
  code/datums/gamemode/objectives/uphold_vows.dm
  code/datums/gamemode/role/rambler.dm
  code/datums/gamemode/role/role.dm
  code/game/objects/items/devices/instruments.dm
  code/game/objects/structures/musician.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/masks/necklaces.dm
  icons/logos.dmi
  icons/mob/screen_spells.dmi
  icons/role_HUD_icons.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Easy Bwoink Overminds (#22128)
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/adminpm.dm
Owners: @Cyberboss

Delay Improvements
  code/datums/gamemode/objectives/objective.dm
  code/datums/gamemode/objectives/target/delayedassassinate.dm
  code/datums/gamemode/objectives/target/target.dm
  code/datums/gamemode/role/role.dm
Owners: none

Fixes
  code/datums/gamemode/role/ninja.dm
Owners: none

Fixes action buttons persisting after the object has been unequipped
  code/game/objects/items.dm
Owners: none

Fixes action buttons persisting after the object has been unequipped (#22214)
  code/game/objects/items.dm
Owners: none

Delay Improvements (#22212)
  code/datums/gamemode/objectives/objective.dm
  code/datums/gamemode/objectives/target/delayedassassinate.dm
  code/datums/gamemode/objectives/target/target.dm
  code/datums/gamemode/role/role.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Starts working on reworking xenos
  __DEFINES/xenomorphs.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/hunter.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/sentinel.dm
  code/modules/mob/living/carbon/alien/humanoid/combat.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid.dm
  code/modules/mob/living/carbon/alien/humanoid/queen.dm
  code/modules/mob/living/silicon/robot/robot.dm
  vgstation13.dme
Owners: none

Converts xenos to a dynamic ruleset
  __DEFINES/role_datums_defines.dm
  code/__HELPERS/unsorted.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
  code/datums/gamemode/factions/faction.dm
  code/datums/gamemode/factions/xeno.dm
  code/modules/events/event_dynamic.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/alien/humanoid/queen.dm
  icons/logos.dmi
  icons/role_HUD_icons.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

helps when you're making an override to actually put the code in
  code/modules/mob/living/carbon/alien/alien.dm
Owners: none

makes charging apcs yellow (#22195)
  icons/obj/power.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

300 -> 200
  code/modules/mob/living/silicon/robot/robot.dm
Owners: none

50 -> 110 armor, modules -> 15
  code/modules/mob/living/silicon/robot/component.dm
Owners: none

tempting goblet WIP
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/modules/organs/blood.dm
Owners: none
