Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

better
  code/game/objects/items/incense.dm
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Fixes being unable to salvage stuff from mecha wreckage
  code/game/mecha/mecha.dm
Owners: none

Fixes being unable to salvage stuff from mecha wreckage (#21628)
  code/game/mecha/mecha.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

holomarkers
  icons/holomap_markers.dmi
Owners: @ShizCalev, @WJohn

heh
  code/datums/gamemode/role/vampire_role.dm
  code/game/objects/items/incense.dm
  code/game/objects/items/weapons/null_rod.dm
Owners: none

fix
  code/game/objects/items/incense.dm
Owners: none

Makes vampire less likely to fire at roundstart (especially on lower populations). (#21599)
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fixes HasProximity() bug (#21557)
  code/game/objects/structures/mannequin.dm
  code/game/turfs/turf.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

Stores the mint in the fridge (#21514)
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Adds welding mask toggles to plasmaman engineer and atmos tech helmets (#21449)
  code/modules/clothing/spacesuits/plasmamen.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Teleport cooldown changed to 45 sec, minus 10 per upgrade, 5 sec min (#21601)
  code/modules/spells/general/area_teleport.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

cult altar holomaps
  __DEFINES/setup.dm
  code/controllers/subsystem/init/more_init_stuff.dm
  code/datums/gamemode/factions/bloodcult/bloodcult.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_buildings.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_runes.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_words.dm
  code/modules/html_interface/map/station_map.dm
  icons/holomap_markers.dmi
  icons/obj/cult_radial3.dmi
Owners: @ShizCalev, @WJohn

altar-here
  code/datums/gamemode/factions/bloodcult/bloodcult_buildings.dm
  icons/holomap_markers.dmi
Owners: @ShizCalev, @WJohn

offstation
  code/datums/gamemode/factions/bloodcult/bloodcult_buildings.dm
Owners: none

This PR was made by the anti-cult gang
  code/datums/gamemode/role/cultist.dm
Owners: none

This PR was made by the anti-cult gang (#21630)
  code/datums/gamemode/role/cultist.dm
Owners: none

Cult gang fixes part II: Security rises
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

Trash bag can hold more, slows down if too stuffed
  code/game/objects/items/weapons/storage/bags.dm
Owners: none

Mop is instantaneous with 1 sec attack cooldown
  code/game/objects/items/weapons/mop.dm
  code/game/objects/structures/mop_bucket.dm
  code/game/sound.dm
  sound/effects/mop1.ogg
  sound/effects/mop2.ogg
  sound/effects/mop3.ogg
  sound/effects/mop4.ogg
  sound/effects/mop5.ogg
  sound/effects/mopbucket.ogg
Owners: @ShizCalev

Halve the cost of the major truesight potion.
  code/game/gamemodes/wizard/spellbook.dm
Owners: none

Added rabbits and magic top hats.
  code/modules/clothing/head/misc.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
Owners: none

Replaced wizard magician hats with the magic top hat.
  code/game/gamemodes/wizard/rightandwrong.dm
  code/game/machinery/vending.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Ambience subsystem v2 - less shitty and gritty edition (#20856)
  __DEFINES/subsystem.dm
  code/controllers/subsystem/ambient_sound.dm
  code/game/area/Space Station 13 areas.dm
  code/game/area/ambience_datums.dm
  code/game/area/areas.dm
  code/modules/client/client defines.dm
  vgstation13.dme
Owners: none

Uplinks Get Dropped
  code/datums/gamemode/misc_gamemode_procs.dm
  code/datums/gamemode/role/syndicate.dm
Owners: none

Midround Ops Forge Objectives
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
Owners: none

Removes credits debugging
  code/modules/credits/credits.dm
  code/modules/credits/episode_name.dm
Owners: none

Sync Borgs At Roundstart
  code/game/gamemodes/gameticker.dm
  code/modules/mob/living/silicon/robot/laws.dm
Owners: none

refund value
  code/datums/gamemode/dynamic/dynamic.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
  code/datums/gamemode/role/grinch.dm
  code/datums/gamemode/role/role.dm
  code/datums/gamemode/role/syndicate.dm
  code/datums/gamemode/role/vampire_role.dm
  code/datums/gamemode/role/weeaboo.dm
  code/modules/mob/living/living.dm
Owners: none

refund for no app
  code/datums/gamemode/dynamic/dynamic.dm
  code/datums/gamemode/dynamic/dynamic_rulesets.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
Owners: none

reduce ragin mage
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
Owners: none

Revert "Ambience subsystem v2 - less shitty and gritty edition (#20856)"
  __DEFINES/subsystem.dm
  code/controllers/subsystem/ambient_sound.dm
  code/game/area/Space Station 13 areas.dm
  code/game/area/ambience_datums.dm
  code/game/area/areas.dm
  code/modules/client/client defines.dm
  vgstation13.dme
Owners: none

BUTCHER THEIR LIMBS
  code/modules/organs/organ_external.dm
Owners: none

Trash bag can hold more, slows down if too stuffed (#21633)
  code/game/objects/items/weapons/storage/bags.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
