Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

New Food Based Engine: Gourmonger (#29009)
  code/datums/supplypacks.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/power/gourmonger.dm
  icons/mob/gourmonger.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

fix color
  code/__HELPERS/math/ray/ray.dm
  code/modules/projectiles/projectile/beams.dm
Owners: none

Update beams.dm
  code/modules/projectiles/projectile/beams.dm
Owners: none

Less radical gourmongers
  code/modules/power/gourmonger.dm
Owners: none

Less radical gourmongers (#29037)
  code/modules/power/gourmonger.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

spam fix
  code/game/objects/items/weapons/storage/bible.dm
Owners: none

Makes some wooden objects flammable that previously were not (#29028)
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/crates_lockers/closets/coffin.dm
  code/game/objects/structures/mannequin.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Makes object burning slightly less bad (#29030)
  code/ZAS/Fire.dm
Owners: none

spam fix (#29041)
  code/game/objects/items/weapons/storage/bible.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

can use a crowbar now
  code/game/machinery/recharger.dm
Owners: none

use_power proper scope
  code/game/machinery/recharger.dm
Owners: none

fix color (#29036)
  code/__HELPERS/math/ray/ray.dm
  code/modules/projectiles/projectile/beams.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Improves wiki manuals (#29031)
  code/modules/library/lib_items.dm
Owners: none

Lists of contents as viewed by ghost now looks a lot nicer (#28969)
  code/__HELPERS/lists.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/clothing/accessories/accessory.dm
Owners: none

Frogs now audibly croak when pet (#29033)
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/mob/living/simple_animal/friendly/lizard.dm
  sound/voice/frogcroak.ogg
Owners: @ShizCalev

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

This time for sure
  code/modules/power/gourmonger.dm
Owners: none

gromit mug
  code/modules/reagents/reagent_containers/food/drinks.dm
  icons/obj/drinks.dmi
Owners: @ShizCalev, @WJohn

Additional fixes
  code/modules/power/gourmonger.dm
Owners: none

Initial board without items
  code/game/objects/items/robot/robot_upgrades.dm
Owners: none

Added items, updated name
  code/game/objects/items/robot/robot_upgrades.dm
Owners: none

Added design datum
  code/modules/research/designs/borg_upgrades.dm
Owners: none

Changed tech levels
  code/modules/research/designs/borg_upgrades.dm
Owners: none

Adds second upgrade
  code/game/objects/items/robot/robot_upgrades.dm
Owners: none

Adds second upgrade design datum
  code/modules/research/designs/borg_upgrades.dm
Owners: none

Gives unique ID
  code/modules/research/designs/borg_upgrades.dm
Owners: none

Makes datum name unqieu
  code/modules/research/designs/borg_upgrades.dm
Owners: none

Fixes last upgrade module
  code/game/objects/items/robot/robot_upgrades.dm
Owners: none

Snowflakes battery utiliser for borgs to actually use them
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/research/xenoarchaeology/tools/ano_device_battery.dm
Owners: none

Botanic Spray Bottle stuff
  code/modules/reagents/reagent_containers/spray.dm
Owners: none

Stasis beaker buff
  code/modules/reagents/reagent_containers/glass.dm
Owners: none

Stasis spray and stasis beaker desc change.
  code/modules/research/designs/bluespace.dm
Owners: none

stasis spraybottle 150u
  code/modules/reagents/reagent_containers/spray.dm
Owners: none

Update bluespace.dm
  code/modules/research/designs/bluespace.dm
Owners: none

Spraybottles in autolathe.
  code/game/machinery/autolathe.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
