Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Added blue santa hat, christmas sweaters are now animated
  code/datums/supplypacks.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/head.dmi
  icons/mob/species/insectoid/head.dmi
  icons/mob/species/insectoid/suit.dmi
  icons/mob/species/vox/head.dmi
  icons/mob/species/vox/suit.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
Owners: @ShizCalev, @WJohn

Fixed sweater icons so they're one direction
  icons/obj/clothing/suits.dmi
Owners: @ShizCalev, @WJohn

One handed gloves
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/unit_tests/__unit_test_includes.dm
  code/modules/unit_tests/human.dm
Owners: none

Changed christmas jumpers to be animated & have vox variant. Added christmas onesies
  code/datums/supplypacks.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/species/insectoid/uniform.dmi
  icons/mob/species/vox/uniform.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/uniforms.dmi
Owners: @ShizCalev, @WJohn

Lowered jingle sfx volume to be less CANCER
  sound/items/jinglebell1.ogg
  sound/items/jinglebell2.ogg
  sound/items/jinglebell3.ogg
Owners: @ShizCalev

remove hos/cap from wizard
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

operativeos
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

Fixed empty ion rifle sprite
  icons/obj/gun.dmi
Owners: @ShizCalev, @WJohn

fix it?
  icons/obj/gun.dmi
Owners: @ShizCalev, @WJohn

Disable sound-playing on Lamprey
  code/modules/admin/verbs/playsound.dm
Owners: none

lithp ith now a roundthart option (#28306)
  __DEFINES/setup.dm
  code/modules/client/preferences.dm
  code/modules/mob/new_player/new_player.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

SPLIT IT UP
  __DEFINES/setup.dm
  code/datums/gamemode/role/catbeast.dm
  code/datums/gamemode/role/plague_mouse.dm
  code/datums/gamemode/role/rambler.dm
  code/modules/client/preferences.dm
Owners: none

format
  __DEFINES/setup.dm
Owners: none

Adds a unique sprite for flipped rtables (#28299)
  icons/obj/structures.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

test PR delete immediately
  code/modules/library/lib_items.dm
Owners: none

Added assistant grey and pink variants to onesies
  code/datums/supplypacks.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/species/insectoid/uniform.dmi
  icons/mob/species/vox/uniform.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Owners: @ShizCalev, @WJohn

Fixes catbeast's objective
  code/datums/gamemode/objectives/catbeast.dm
Owners: none

Fixes catbeast objectives
  code/datums/gamemode/objectives/catbeast.dm
Owners: none

Fixes catbeast objectives (#28330)
  code/datums/gamemode/objectives/catbeast.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

role
  __DEFINES/setup.dm
  code/modules/client/preferences.dm
  code/modules/events/prisonershipment.dm
Owners: none

another check
  code/modules/events/prisonershipment.dm
Owners: none

a
  code/controllers/subsystem/daynightcycle.dm
  maps/_map.dm
  maps/snaxi.dm
Owners: none

woops
  code/controllers/subsystem/daynightcycle.dm
Owners: none

Fixes the time amounts
  code/controllers/subsystem/daynightcycle.dm
Owners: none

should prevent zombie baby carps
  code/modules/mob/living/simple_animal/hostile/carp.dm
Owners: none

Banana
  code/game/objects/items/weapons/clown_items.dm
Owners: none

thing
  code/modules/mob/living/carbon/human/human.dm
Owners: none

harm intent rped can dump into autolathe
  code/game/machinery/autolathe.dm
  code/game/machinery/machinery.dm
Owners: none

change
  code/modules/mob/living/carbon/human/human.dm
Owners: none

adds fannypack, 1-slot webbing
  code/game/machinery/biogenerator.dm
  code/modules/clothing/accessories/storage.dm
  icons/mob/clothing_accessories.dmi
  icons/obj/clothing/accessories.dmi
  icons/obj/clothing/accessory_overlays.dmi
Owners: @ShizCalev, @WJohn

slightly better codersprite
  icons/mob/clothing_accessories.dmi
  icons/obj/clothing/accessory_overlays.dmi
Owners: @ShizCalev, @WJohn

coderspriter sprite which is even better
  code/game/machinery/biogenerator.dm
  icons/obj/clothing/accessories.dmi
Owners: @ShizCalev, @WJohn

assistant card
  code/datums/outfit/civilian.dm
  code/modules/clothing/accessories/accessory.dm
  code/modules/clothing/accessories/storage.dm
  icons/mob/clothing_accessories.dmi
  icons/obj/clothing/accessories.dmi
  icons/obj/clothing/accessory_overlays.dmi
Owners: @ShizCalev, @WJohn

blocked ones don't show up on the list anymore
  code/game/objects/items/devices/PDA/PDA.dm
Owners: none

bluespace surgical drill
  code/game/objects/items/weapons/surgery_tools.dm
  code/modules/mob/living/living.dm
  code/modules/research/designs/surgery.dm
  code/modules/surgery/implant.dm
  icons/mob/in-hand/left/surgery_tools.dmi
  icons/mob/in-hand/right/surgery_tools.dmi
  icons/obj/surgery.dmi
Owners: @ShizCalev, @WJohn

-unstable
  code/game/objects/items/devices/PDA/PDA.dm
Owners: none

recycle the trash
  code/modules/clothing/accessories/accessory.dm
Owners: none
