Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

Fixes power machinery terminals not shuttle rotating properly (and a runtime) (#31832)
  code/modules/power/terminal.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Adds Three New Virus Symptoms and updates Chicken Pox (#31802)
  code/modules/virus2/effect/stage_2.dm
  code/modules/virus2/effect/stage_3.dm
  code/modules/virus2/effect/stage_4.dm
  code/modules/virus2/effect/wordlists.dm
Owners: none

Body archive mind transfer on spawning option. (#31840)
  code/__HELPERS/game.dm
  code/datums/body_archive.dm
  code/datums/datumvars.dm
  code/modules/admin/body_archive_panel.dm
  code/modules/admin/topic.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fixed build system
  .gitignore
  .vscode/tasks.json
  BUILD.cmd
  bin/tgui-bench.cmd
  code/modules/client/global cache.dm
  dependencies.sh
  tgui/packages/tgfont/static/tgfont.css
  tgui/packages/tgfont/static/tgfont.eot
  tgui/packages/tgfont/static/tgfont.woff2
  tgui/yarn.lock
  tools/build/build.js
  tools/build/juke/index.d.ts
  tools/build/juke/index.js
Owners: none

a whole 2 typo fixes
  code/modules/painting/paintings_custom.dm
Owners: none

a whole 2 typo fixes (#31713)
  code/modules/painting/paintings_custom.dm
Owners: none

ssssssssssssssssssssskurfusr
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  code/game/objects/items.dm
  code/game/objects/items/soulstone.dm
  code/game/objects/items/stacks/cable.dm
  code/game/objects/items/stacks/nanopaste.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/kitchen.dm
  code/game/objects/items/weapons/shard.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/game/objects/items/weapons/tools.dm
  code/modules/assembly/mousetrap.dm
  code/modules/hydroponics/hydro_tools.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/brainrepair.dm
  code/modules/surgery/butt.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/eye.dm
  code/modules/surgery/face.dm
  code/modules/surgery/genderchange.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/headreattach.dm
  code/modules/surgery/implant.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/other.dm
  code/modules/surgery/robolimbs.dm
  code/modules/surgery/slimes.dm
  code/modules/surgery/tooth.dm
  sound/items/bonegel.ogg
  sound/items/bonesetter.ogg
  sound/items/cautery.ogg
  sound/items/circularsaw.ogg
  sound/items/fixovein.ogg
  sound/items/hatchetsurgery.ogg
  sound/items/hemostat.ogg
  sound/items/hemostatdig.ogg
  sound/items/retractor.ogg
  sound/items/surgicaldrill.ogg
Owners: @ShizCalev

Almost done
  code/controllers/subsystem/init/persistence_misc.dm
  code/modules/html_interface/voting/voting.dm
Owners: none

Hot stuff
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

we built this city
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

fixed
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fixes roundstart silicons keeping form as wizard
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

Fixes others too
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

Logs spawning of ghost roles
  code/game/machinery/mommi_spawner.dm
  code/modules/mob/dead/observer/verbs.dm
Owners: none

Jwhitak requested
  code/modules/mob/new_player/new_player.dm
Owners: none

Update Chemistry-Recipes.dm
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

.
  icons/mob/screen_spells.dmi
Owners: @ShizCalev, @WJohn

fixed icon conflict
  icons/mob/screen_spells.dmi
Owners: @ShizCalev, @WJohn

.
  icons/mob/screen_spells.dmi
Owners: @ShizCalev, @WJohn

Fixes remote explosive implants not showing up
  code/game/objects/items/weapons/implants/types/chemical_implant.dm
  code/game/objects/items/weapons/implants/types/explosive_implant.dm
Owners: none

icon conflict fix
  icons/mob/screen_spells.dmi
Owners: @ShizCalev, @WJohn

Improved logging
  code/game/machinery/computer/prisoner.dm
  code/game/objects/items/weapons/implants/types/explosive_implant.dm
Owners: none

Typo
  code/game/machinery/computer/prisoner.dm
Owners: none

Fixes remote explosive implants not showing up (#31878)
  code/game/machinery/computer/prisoner.dm
  code/game/objects/items/weapons/implants/types/chemical_implant.dm
  code/game/objects/items/weapons/implants/types/explosive_implant.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Logs spawning of ghost roles (#31876)
  code/game/machinery/mommi_spawner.dm
  code/modules/mob/dead/observer/verbs.dm
  code/modules/mob/new_player/new_player.dm
Owners: none

Compiles on my machine
  code/controllers/subsystem/init/persistence_misc.dm
  code/modules/html_interface/voting/voting.dm
Owners: none

Update voting.dm
  code/modules/html_interface/voting/voting.dm
Owners: none

how now brown cow
  code/controllers/subsystem/init/persistence_misc.dm
  code/modules/html_interface/voting/voting.dm
Owners: none

Adds missing items to botanist belt acceptance
  code/game/objects/items/weapons/storage/belt.dm
Owners: none

Buckets too, why not
  code/game/objects/items/weapons/storage/belt.dm
Owners: none

Removes var
  code/game/objects/items/weapons/twohanded.dm
Owners: none

tally and voter lists not saving?
  code/controllers/subsystem/init/persistence_misc.dm
  code/modules/html_interface/voting/voting.dm
Owners: none

PDA app refactoring
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/PDA/apps.dm
  code/game/objects/items/devices/PDA/apps/apps.dm
  code/game/objects/items/devices/PDA/apps/minesweeper.dm
  code/game/objects/items/devices/PDA/apps/snake.dm
  code/game/objects/items/devices/PDA/apps/spess pets.dm
  code/game/objects/items/devices/PDA/games/minesweeper.dm
  code/game/objects/items/devices/PDA/games/snake.dm
  code/game/objects/items/devices/PDA/games/spess pets.dm
  data/spritesheets/bible_32x32.png
  data/spritesheets/merch_32x32.png
  vgstation13.dme
Owners: none

Last of standard apps now, onto games next
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/PDA/apps/apps.dm
  data/spritesheets/bible_32x32.png
  data/spritesheets/merch_32x32.png
Owners: none

Minesweeper
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/PDA/apps/minesweeper.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
