Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

height
  code/modules/html_interface/paintTool/custom_painting_datum.dm
Owners: none

Various small sprite fixes
  icons/mob/feet.dmi
  icons/mob/head.dmi
  icons/mob/robots.dmi
  icons/mob/suit.dmi
Owners: @ShizCalev, @WJohn

Update feet.dmi
  icons/mob/feet.dmi
Owners: @ShizCalev, @WJohn

Update feet.dmi
  icons/mob/feet.dmi
Owners: @ShizCalev, @WJohn

Mining surprise areas
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  maps/randomvaults/mining/abandoned_digsite.dmm
  maps/randomvaults/mining/abandoned_forge.dmm
  maps/randomvaults/mining/angie_lair.dmm
  maps/randomvaults/mining/bar.dmm
  maps/randomvaults/mining/crashed_pod.dmm
  maps/randomvaults/mining/cultbase.dmm
  maps/randomvaults/mining/geode.dmm
  maps/randomvaults/mining/huggernest.dmm
  maps/randomvaults/mining/mariahive.dmm
  maps/randomvaults/mining/mining_surprise_items.dm
Owners: none

fixes space travel bug with superfarting
  code/modules/mob/living/carbon/human/emote.dm
Owners: none

removed needless newlines
  code/modules/mob/living/carbon/human/emote.dm
Owners: none

fixes extra frame in MDF crate
  icons/obj/storage/storage.dmi
Owners: @ShizCalev, @WJohn

castlestation / labor day splash screen
  __DEFINES/_macros.dm
  __DEFINES/dates.dm
  code/game/gamemodes/events/holidays/Holidays.dm
  code/game/turfs/unsimulated/walls.dm
  icons/splashworks_alt/snowstation.gif
  icons/splashworks_alt/viva.png
Owners: @ShizCalev, @WJohn

fix handcuffs disappearing when shot by a damaging projectile
  __DEFINES/setup.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/overlays/mobs.dm
Owners: none

whitespace
  code/modules/mob/living/carbon/human/human.dm
Owners: none

walls
  code/game/machinery/bots/cleanbot.dm
  code/game/objects/items/weapons/mop.dm
  code/game/objects/items/weapons/soap.dm
  code/game/objects/structures/vehicles/janicart.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/turf.dm
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Mapping + sprites
  code/modules/library/computers/remote_gallery_access.dm
  icons/obj/computer.dmi
Owners: @ShizCalev, @WJohn

stuff
  code/__HELPERS/sanitize_values.dm
  code/game/objects/items/crayons.dm
  code/game/turfs/simulated/floor.dm
  code/modules/html_interface/paintTool/canvas_tile.tmpl
  code/modules/html_interface/paintTool/custom_painting_datum.dm
  code/modules/html_interface/paintTool/paintTool.js
Owners: none

holosign stuff and very simple pulsecode, note: clean up pulsecode
  code/__HELPERS/global_lists.dm
  code/game/machinery/OpTable.dm
  code/game/machinery/holosign.dm
Owners: none

qsdqsdsqdqs
  code/datums/gamemode/factions/bloodcult/bloodcult.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/datums/mind.dm
  code/datums/outfit/outfit.dm
  code/modules/admin/verbs/one_click_antag.dm
Owners: none

Pulse demons are no longer able to recall the shuttle
  code/game/machinery/computer/communications.dm
Owners: none

only recall
  code/game/machinery/computer/communications.dm
Owners: none

derp
  code/datums/gamemode/factions/bloodcult/bloodcult.dm
  code/modules/admin/topic.dm
Owners: none

much cleaner and more accurate pulsing
  code/_hooks/events.dm
  code/game/machinery/OpTable.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
Owners: none

the actual sounds themselves
  sound/machines/Flatline.ogg
  sound/machines/Heartbeat.ogg
Owners: @ShizCalev

Add files via upload
  gun.dmi
Owners: none

Proper transparency support (#14)
  code/game/objects/items/crayons.dm
  code/game/turfs/simulated.dm
  code/modules/html_interface/paintTool/canvas.css
  code/modules/html_interface/paintTool/canvas.js
  code/modules/html_interface/paintTool/canvas.tmpl
  code/modules/html_interface/paintTool/canvas_tile.tmpl
  code/modules/html_interface/paintTool/paintTool.js
Owners: none

Update code/modules/library/computers/remote_gallery_access.dm
  code/modules/library/computers/remote_gallery_access.dm
Owners: none

stops heartbeat loop altogether during death, makes icon states for computers more synced up, improved computer/optable finding
  code/game/machinery/OpTable.dm
  code/game/machinery/computer/Operating.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/life.dm
Owners: none

multi-z look up verb
  __DEFINES/_macros.dm
  code/modules/mob/mob.dm
  code/modules/multiz/_HELPERS.dm
  code/modules/multiz/movement.dm
Owners: none

fix
  code/modules/html_interface/paintTool/custom_painting_datum.dm
Owners: none

Revert 'Nuke Ops Requesting Reinforcements'
  __DEFINES/global.dm
  __DEFINES/striketeam_defines.dm
  code/datums/helper_datums/command_alerts.dm
  code/datums/outfit/striketeams/nukeop.dm
  code/datums/uplink_item.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/teleporter.dm
  code/game/shuttles/syndicate.dm
  code/modules/events/link_with_centcomm.dm
  maps/tgstation-snow.dmm
  vgstation13.dme
Owners: none

Fixes cargo
  code/game/machinery/computer/cargo.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fixes roundstart players appearing naked on their medical and security records
  code/game/gamemodes/gameticker.dm
Owners: none

new and improved version of castle splash
  icons/splashworks_alt/viva.png
Owners: @ShizCalev, @WJohn

Revert "makes buttbots explode after a certain amount of butting (#23576)"
  code/game/machinery/bots/buttbot.dm
Owners: none

SoulBlade TLC
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  code/game/objects/items/soulstone.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/living/simple_animal/shade_powers.dm
  icons/mob/screen_spells.dmi
Owners: @ShizCalev, @WJohn

blblblbl
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
Owners: none

derp
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  code/modules/mob/living/simple_animal/shade_powers.dm
Owners: none

herp
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  code/game/objects/items/soulstone.dm
  code/modules/mob/living/simple_animal/shade.dm
Owners: none

+20 threat cost to civil war of casters rolling
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

tweak
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/living/simple_animal/shade_powers.dm
Owners: none

Add files via upload
  icons/mob/blob/blob_sec.dmi
Owners: @ShizCalev, @WJohn
