Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

i forgot to add the actual debug verb teehee
  code/modules/admin/verbs/debug.dm
Owners: none

do not ask how this got there
  code/modules/admin/verbs/debug.dm
Owners: none

fix all unconnected vents/scrubbers on snowboxstation
  maps/tgstation-snow.dmm
Owners: none

search atmos_machines instead of world
  code/modules/admin/verbs/debug.dm
Owners: none

Add map debug verb to check for unconnected vents/scrubbers; Modify all maps to fix unconnected vents/scrubbers (#36083)
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
  maps/tgstation-snow.dmm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Update TGS DMAPI
  __DEFINES/tgs.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/topic.dm
Owners: none

you remove the dead plant from the the soil
  code/modules/hydroponics/hydro_tray.dm
Owners: none

Signed-off-by: faggot <janezivan@cock.li>
  code/game/objects/items/weapons/gift_wrappaper.dm
Owners: none

changes
  code/_onclick/hud/spell_screen_objects.dm
  code/datums/gamemode/role/wizard.dm
  code/datums/gamemode/role/wizard_apprentice.dm
  code/game/gamemodes/wizard/artefact.dm
  code/game/gamemodes/wizard/artifacts.dm
  code/modules/mob/living/simple_animal/hostile/pitbull.dm
  code/modules/mob/spells.dm
  code/modules/spells/aoe_turf/conjure/snakes.dm
  code/modules/spells/aoe_turf/magic_wardrobe.dm
  code/modules/spells/passive/no_gun_allowed.dm
  code/modules/spells/spell_code.dm
  code/modules/spells/targeted/absorb.dm
  code/modules/spells/targeted/recall.dm
  code/modules/surgery/butt.dm
Owners: none

fix mannequin + staff of animation combo making people perma-mute
  code/modules/mob/living/simple_animal/hostile/mannequin.dm
Owners: none

More fixes, removed to_chat
  code/_onclick/hud/spell_screen_objects.dm
  code/game/dna/genes/vg_powers.dm
  code/modules/spells/aoe_turf/magic_wardrobe.dm
  code/modules/spells/targeted/genetic.dm
  code/modules/spells/targeted/push.dm
Owners: none

this time im really gonna fix it
  code/game/objects/structures/mannequin.dm
  code/modules/mob/living/simple_animal/hostile/mannequin.dm
Owners: none

for real 2: the SEQUEL
  code/game/objects/structures/mannequin.dm
Owners: none

Hulk fixes, no more spawn(), moves on_added and on_removed, closet removed from recall blacklist etc
  code/game/dna/genes/vg_powers.dm
  code/modules/mob/spells.dm
  code/modules/spells/aoe_turf/magic_wardrobe.dm
  code/modules/spells/targeted/genetic.dm
  code/modules/spells/targeted/recall.dm
Owners: none

Signed-off-by: faggot <janezivan@cock.li>
  code/game/objects/items/bodybag.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Adds 2 new PACMAN engines. (#36125)
  code/game/machinery/constructable_frame.dm
  code/modules/power/port_gen.dm
  code/modules/research/designs/boards/machine_engie.dm
  icons/obj/power.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fixes Dynamic midround rulesets that polled ghosts counting less candidates than they should (#36055)
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Update dynamic_rulesets_latejoin.dm (#36056)
  code/datums/gamemode/dynamic/dynamic_rulesets_latejoin.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

formatting (#36111)
  code/game/machinery/landline.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

bigger and clearer vampire thrall deconvert text (#36112)
  code/datums/gamemode/role/vampire_role.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

damage-based disabilities now make more sense (#36100)
  code/modules/reagents/reagents/reagents_medical.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

add tech origin for goonecode (#36082)
  __DEFINES/setup.dm
  code/game/objects/items/toys.dm
  code/modules/research/mechanic/device_analyser.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

The Changeling armblade now has a spin attack (#36015)
  code/datums/gamemode/powers/changeling.dm
  code/game/objects/items/weapons/armblade.dm
  sound/weapons/blade_whirlwind.ogg
Owners: @ShizCalev

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Midround rulesets will now roll more often (#36057)
  __DEFINES/role_datums_defines.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

no fade-in fade-out (#36046)
  code/modules/clothing/glasses/scanners.dm
  code/modules/mob/mob.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Shards now screech in rage when destroyed (#36033)
  code/modules/supermatter/supermatter.dm
  sound/effects/delamination.ogg
Owners: @ShizCalev

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

remove attack delay affecting picking up and storing/retrieving items (#36050)
  code/_onclick/click.dm
  code/_onclick/hud/screen_objects.dm
Owners: none
