Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

fixes (#36159)
  code/datums/gamemode/role/vampire_role.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Update wallets.dm
  code/game/objects/items/weapons/storage/wallets.dm
Owners: none

Update death.dm
  code/modules/mob/living/carbon/human/death.dm
Owners: none

Update death.dm
  code/modules/mob/living/carbon/human/death.dm
Owners: none

Modular Particles System
  code/datums/components/cooktop.dm
  code/game/objects/effects/particles_system.dm
  code/game/objects/items/weapons/pan.dm
  code/game/objects/objs.dm
  code/modules/food/customizables.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/research/xenoarchaeology/tools/bunsen_burner.dm
  code/modules/supermatter/supermatter.dm
  vgstation13.dme
Owners: @Cyberboss

Fix Invisible Food
  code/modules/food/customizables.dm
Owners: none

Fix Invisible Food (#36181)
  code/modules/food/customizables.dm
Owners: none

fix
  code/datums/components/cooktop.dm
  code/game/objects/effects/particles_system.dm
Owners: @Cyberboss

fixx
  code/game/atoms.dm
  code/modules/research/xenoarchaeology/tools/bunsen_burner.dm
Owners: none

scrubbing
  code/controllers/subsystem/supply_shuttle.dm
  code/game/machinery/computer/cargo.dm
Owners: none

Easier alt click window and railing rotation
  code/game/objects/structures/railings.dm
  code/game/objects/structures/window.dm
Owners: none

correction
  __DEFINES/setup.dm
  code/game/machinery/bots/bots.dm
Owners: none

tail attach retractor step only works on non-opened groins
  code/modules/surgery/tail.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

cleanup
  maps/randomvaults/thestranger.dmm
Owners: none

stuff (#36157)
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_attackanimal.dm
  code/modules/mob/living/simple_animal/hostile/monster.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  vgstation13.dme
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Vampires now get extra examination text when examining people (#36158)
  code/datums/gamemode/role/role.dm
  code/datums/gamemode/role/vampire_role.dm
  code/game/atoms.dm
  code/modules/mob/living/carbon/human/examine.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

suck (#36160)
  code/datums/gamemode/role/vampire_role.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

scrubbing (#36185)
  code/controllers/subsystem/supply_shuttle.dm
  code/game/machinery/computer/cargo.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Modular Particles System (#36180)
  code/datums/components/cooktop.dm
  code/game/atoms.dm
  code/game/objects/effects/particles_system.dm
  code/game/objects/items/weapons/pan.dm
  code/game/objects/objs.dm
  code/modules/food/customizables.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/research/xenoarchaeology/tools/bunsen_burner.dm
  code/modules/supermatter/supermatter.dm
  vgstation13.dme
Owners: @Cyberboss

The Stranger Vault (#36192)
  code/modules/randomMaps/vault_definitions.dm
  maps/randomvaults/thestranger.dmm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Winning Vaults Added
  code/modules/randomMaps/vault_definitions.dm
  maps/randomvaults/ButtonPusher.dmm
  maps/randomvaults/pod_dock_crash.dmm
Owners: none

Winning Vaults Added (#36193)
  code/modules/randomMaps/vault_definitions.dm
  maps/randomvaults/ButtonPusher.dmm
  maps/randomvaults/pod_dock_crash.dmm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

chicken suit hides tail
  code/modules/clothing/suits/miscellaneous.dm
Owners: none

Touhou fumos make the fumo sound effect
  code/game/objects/items/plushies.dm
Owners: none

Update plushies.dm
  code/game/objects/items/plushies.dm
Owners: none

fumo
  sound/effects/fumo.ogg
Owners: @ShizCalev

adds the hallucinogens define
  __DEFINES/reagents.dm
Owners: none

Update plushies.dm
  code/game/objects/items/plushies.dm
Owners: none

Clicking improvements for combat (#36004)
  code/_onclick/click.dm
  code/_onclick/drag_drop.dm
  code/modules/client/client defines.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
