Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

Getting scoreboard
  code/datums/gamemode/role/pulsedemon.dm
  code/modules/mob/living/simple_animal/hostile/pulsedemon.dm
Owners: none

Patching these out
  code/modules/mob/living/simple_animal/hostile/pulsedemon.dm
Owners: none

These hotkeys too
  code/modules/mob/living/simple_animal/hostile/pulsedemon.dm
Owners: none

cleaned up world/New, unused stuff
  code/controllers/configuration.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/ToRban.dm
  code/modules/admin/admin_verbs.dm
  code/modules/mob/say.dm
  code/modules/paperwork/pen.dm
  code/world.dm
  libs/LICENSE
  libs/markdown_byond.cpp
  libs/readme.md
  vgstation13.dme
Owners: none

Lot of fixes
  code/datums/gamemode/role/pulsedemon.dm
  code/modules/mob/living/simple_animal/hostile/pulsedemon.dm
Owners: none

Should let them use doors too
  code/game/machinery/machinery.dm
Owners: none

with blackjack and hookers
  code/modules/mob/living/living.dm
Owners: none

Blobtel Core 2 Duo (#31183)
  code/game/gamemodes/meteor/meteors.dm
Owners: none

Cult 4 November balance (mostly) and content (a bit) update
  code/datums/gamemode/factions/bloodcult/bloodcult.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_buildings.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/datums/gamemode/objectives/bloodcult.dm
  code/datums/gamemode/role/cultist.dm
  code/game/objects/items/soulstone.dm
  code/modules/mob/living/say.dm
  code/modules/organs/blood.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Recipes.dm
  icons/ui/bloodcult/32x32.dmi
Owners: @ShizCalev, @WJohn

better document that
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
Owners: none

derp
  code/datums/gamemode/role/cultist.dm
Owners: none

adds inhands for wielded
  code/game/objects/items/weapons/weaponry.dm
  icons/mob/in-hand/left/swords_axes.dmi
  icons/mob/in-hand/right/swords_axes.dmi
Owners: @ShizCalev, @WJohn

Hats
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/misc.dm
  icons/mob/dimma.dmi
  icons/mob/head.dmi
  icons/mob/species/insectoid/head.dmi
  icons/mob/species/vox/head.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/dimma.dmi
Owners: @ShizCalev, @WJohn

cowboy cap
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/head/jobs.dm
  icons/mob/head.dmi
  icons/mob/human.dmi
  icons/mob/species/insectoid/head.dmi
  icons/mob/species/vox/head.dmi
  icons/obj/clothing/hats.dmi
Owners: @ShizCalev, @WJohn

added corgi compatibility
  code/modules/mob/living/simple_animal/friendly/corgi_clothing.dm
  icons/mob/corgi_head.dmi
  icons/mob/human.dmi
Owners: @ShizCalev, @WJohn

Adds baseball bats (#31170)
  code/game/objects/items/stacks/stack_recipes.dm
  code/game/objects/items/weapons/shields.dm
  code/game/objects/items/weapons/weaponry.dm
  icons/mob/in-hand/left/swords_axes.dmi
  icons/mob/in-hand/right/swords_axes.dmi
  icons/obj/weapons.dmi
  sound/weapons/baseball_hit.ogg
  sound/weapons/baseball_hit_flesh.ogg
  sound/weapons/spikebat_hit.ogg
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Optimized Body Archive (#31173)
  code/datums/body_archive.dm
  code/modules/admin/body_archive_panel.dm
Owners: none

Grayy_Gibs_N_Goo (#31175)
  icons/mob/human_races/grey/r_grey.dmi
  icons/mob/human_races/grey/r_greyblue.dmi
  icons/mob/human_races/grey/r_greygreen.dmi
  icons/mob/human_races/grey/r_greylight.dmi
Owners: @ShizCalev, @WJohn

Crunchy_Cheese (#31176)
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Zam Delivery! (#31184)
  code/game/objects/items/weapons/storage/bags.dm
  code/modules/store/items.dm
  icons/mob/belt.dmi
  icons/mob/in-hand/left/backpacks_n_bags.dmi
  icons/mob/in-hand/right/backpacks_n_bags.dmi
  icons/obj/kitchen.dmi
Owners: @ShizCalev, @WJohn

Movecode update for 514 except it works this time (#31154)
  code/ZAS/Atom.dm
  code/datums/datumvars.dm
  code/datums/shuttle.dm
  code/game/area/areas.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/spawners/grille_window_spawner.dm
  code/game/objects/items/stacks/stack_recipes.dm
  code/game/objects/structures/barricade.dm
  code/game/objects/structures/fullwindow.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/windoor_assembly.dm
  code/game/objects/structures/window.dm
  code/game/turfs/turf.dm
  code/modules/RCD/schematics/rcd_window_spawner.dm
  code/modules/admin/buildmode.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/power/singularity/singularity.dm
  code/modules/power/treadmill.dm
  code/modules/spacepods/spacepods.dm
  code/world.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

allow straight jacketed people to resist out of being buckled to a chair (#31188)
  code/modules/mob/living/living.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Gives this an objective
  code/datums/gamemode/objectives/pulsedemon.dm
Owners: none

Fixes the lightning
  code/modules/mob/living/simple_animal/hostile/pulsedemon_powers.dm
Owners: none

Better sound
  code/modules/mob/living/simple_animal/hostile/pulsedemon_powers.dm
Owners: none

removed arms also help, robotic arms cannot be broken and never help
  code/modules/mob/living/living.dm
Owners: none

Pulse demons can now hijack robot speech
  code/modules/mob/living/simple_animal/hostile/pulsedemon.dm
Owners: none

Old way again
  code/ATMOSPHERICS/components/binary_devices/valve.dm
  code/_onclick/cyborg.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_runes.dm
  code/game/gamemodes/endgame/supermatter_cascade/blob.dm
  code/game/machinery/cell_charger.dm
  code/game/machinery/doors/airlock_electronics.dm
  code/game/objects/items/policetape.dm
  code/game/objects/items/stacks/packagewrap.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  code/game/objects/structures/cage.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/inflatable.dm
  code/game/objects/structures/morgue.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/tank_dispenser.dm
  code/game/objects/structures/transit_tubes.dm
  code/modules/Economy/POS.dm
  code/modules/blacksmithing/forge.dm
  code/modules/hydroponics/hydro_tray.dm
  code/modules/mob/living/simple_animal/hostile/pulsedemon.dm
  code/modules/paperwork/paper.dm
  code/modules/power/lighting/lighting.dm
  code/modules/reagents/machinery/reagentgrinder.dm
  code/modules/research/xenoarchaeology/tools/anomaly_container.dm
  code/modules/supermatter/supermatter.dm
Owners: none

REMOVE BARREL REMOVE
  code/modules/reagents/reagent_dispenser.dm
Owners: none

bigger
  __DEFINES/stylesheet.dm
  code/modules/mob/living/say.dm
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

Revert "Small Blob Attack Buff (mostly just reducing frustration) (#30104)" (#31181)
  code/game/gamemodes/blob/powers.dm
  code/game/gamemodes/blob/theblob.dm
Owners: @ChangelingRain

changes uplink description for trophy belt to reflect ability to hold limbs
  code/datums/uplink_item.dm
Owners: none

allows trophy belt to hold limbs and updates its description to reflect this fact
  code/game/objects/items/weapons/storage/belt.dm
Owners: none

removed reference in trophy belt's uplink description to having 7 slots because this wasn't true even before i made any changes to what it could hold
  code/datums/uplink_item.dm
Owners: none

Fixes thrower garbage
  code/game/objects/effects/step_triggers.dm
Owners: none

Fixes thrower garbage (#31202)
  code/game/objects/effects/step_triggers.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
