Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

some bolt control
  maps/randomvaults/advanced_pocketsat.dm
  maps/randomvaults/advanced_pocketsat.dmm
Owners: none

sanity
  maps/randomvaults/advanced_pocketsat.dm
Owners: none

heard message
  maps/randomvaults/advanced_pocketsat.dm
Owners: none

forgot this
  sound/effects/2003M/Reset.ogg
  sound/effects/2003M/Reset.wav
Owners: @ShizCalev

rewrite
  code/game/objects/items/stacks/stack_recipes.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/items/stacks/tiles/tiles.dm
  code/game/objects/structures/catwalk.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor_types.dm
  code/game/turfs/turf.dm
  icons/obj/tiles.dmi
  icons/turf/catwalks.dmi
Owners: @ShizCalev, @WJohn

mapping aid
  code/game/turfs/simulated/floor_types.dm
Owners: none

timer hotfix
  code/controllers/shuttle_controller.dm
Owners: none

oh, here
  code/controllers/shuttle_controller.dm
Owners: none

makes them say it too
  code/_hooks/events.dm
  code/controllers/shuttle_controller.dm
  code/game/objects/items/devices/roganbot.dm
  data/bunker.txt
Owners: none

Random Runtime Fixes (#37135)
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  code/datums/gamemode/role/malf/hacking.dm
  code/game/machinery/bees_apiary.dm
  code/game/objects/items/weapons/pan.dm
  code/game/objects/structures/railings.dm
  code/modules/awaymissions/corpse.dm
  code/modules/media/jukebox.dm
  code/modules/mob/living/helper_procs.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider/nurse.dm
  code/modules/mob/living/simple_animal/hostile/hog.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/mob/living/simple_animal/hostile/monster.dm
  code/modules/organs/organ_external.dm
  code/modules/virus2/helpers.dm
Owners: none

cargo orders, construciton, bugs
  __DEFINES/setup.dm
  code/datums/supply_packs/engineering.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/constructable_frame.dm
  code/game/objects/items/stacks/stack_recipes.dm
  code/modules/fissionreactor/datums.dm
  code/modules/fissionreactor/fuelmaker.dm
  code/modules/fissionreactor/misc.dm
  code/modules/fissionreactor/objects_external.dm
  code/modules/fissionreactor/objects_internal.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagents/reagents_material.dm
  code/modules/research/designs/boards/computer_engie.dm
Owners: none

All the content
  __DEFINES/reagents.dm
  code/game/objects/items/plushies.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/reagents/reagents/reagents_medical.dm
  icons/mob/in-hand/left/items_lefthand.dmi
  icons/mob/in-hand/right/items_righthand.dmi
  icons/obj/plushie.dmi
  icons/obj/storage/storage.dmi
  icons/obj/syringe.dmi
Owners: @ShizCalev, @WJohn

fixed linter warning and disappeared icons
  code/modules/projectiles/ammunition/magazines.dm
  icons/obj/ammo.dmi
  icons/obj/gun.dmi
  icons/obj/projectiles.dmi
Owners: @ShizCalev, @WJohn

better warning fix
  code/modules/projectiles/ammunition/magazines.dm
Owners: none

changes misleading description on honkgiver mag
  code/modules/projectiles/ammunition/magazines.dm
Owners: none

runtime fixes, errors and isues. it just werks.
  code/modules/fissionreactor/datums.dm
  code/modules/fissionreactor/items.dm
  code/modules/fissionreactor/objects_external.dm
Owners: none

Update datums.dm
  code/modules/fissionreactor/datums.dm
Owners: none

ENGAGE HYPERSHITCODE THRUSTERS!!!1!111!!
  code/modules/fissionreactor/datums.dm
  code/modules/fissionreactor/misc.dm
Owners: none

adds this
  maps/randomvaults/advanced_pocketsat.dmm
Owners: none

makes these work better
  maps/randomvaults/advanced_pocketsat.dm
  maps/randomvaults/advanced_pocketsat.dmm
Owners: none

makes this more consistent in case some shitmin decides to limit emag usage
  code/_onclick/item_attack.dm
  code/game/machinery/bots/bots.dm
  code/game/machinery/computer/atmos_control.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/firedoor.dm
  code/game/objects/objs.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  code/game/objects/structures/vehicles/clowncart.dm
  code/modules/Economy/Accounts.dm
  code/modules/Economy/EFTPOS.dm
  code/modules/recycling/compactor.dm
  code/modules/research/xenoarchaeology/tools/suspension_generator.dm
  code/modules/telesci/rcs.dm
  goon/code/obj/machinery/bot/chefbot.dm
Owners: none

fix
  code/modules/Economy/EFTPOS.dm
Owners: none

adds these flags so it works with the new checks
  code/game/machinery/bots/bots.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/firedoor.dm
  code/modules/recycling/compactor.dm
  code/modules/research/xenoarchaeology/tools/suspension_generator.dm
Owners: none

cutdown
  code/_onclick/item_attack.dm
Owners: none

just in case
  code/_onclick/item_attack.dm
  code/game/objects/items/weapons/cards_ids.dm
Owners: none

some more consistency
  code/game/atoms.dm
  code/game/machinery/machinery.dm
  code/game/objects/items/weapons/cards_ids.dm
Owners: none

TYPO
  code/game/objects/items/weapons/cards_ids.dm
Owners: none

cleanup
  code/game/objects/items/weapons/cards_ids.dm
Owners: none

important
  code/game/objects/items/weapons/cards_ids.dm
Owners: none

found some more stuff
  code/game/machinery/bots/mulebot.dm
  code/game/machinery/doors/unpowered.dm
  code/modules/power/rust/fuel_compressor.dm
  code/modules/power/rust/fuel_compressor_construction.dm
Owners: none

or else it'd spark(?)
  code/game/machinery/doors/unpowered.dm
Owners: none

bring it back to old behaviour
  code/game/machinery/doors/firedoor.dm
Owners: none

adds access locking
  code/modules/mining/machine_processing.dm
  data/bunker.txt
  maps/tgstation-snow.dmm
Owners: none

gooo
  data/bunker.txt
Owners: none

suggested changes pt1
  code/datums/supply_packs/engineering.dm
  code/game/objects/items/stacks/stack_recipes.dm
  code/modules/fissionreactor/datums.dm
  code/modules/fissionreactor/fuelmaker.dm
  code/modules/fissionreactor/misc.dm
  code/modules/fissionreactor/objects_external.dm
Owners: none

changes pt2
  __DEFINES/reagents.dm
  __DEFINES/subsystem.dm
  code/controllers/subsystem/fissionreactor.dm
  code/modules/fissionreactor/fuelmaker.dm
  code/modules/fissionreactor/items.dm
  code/modules/fissionreactor/objects_external.dm
Owners: none

i will be back
  __DEFINES/subsystem.dm
  code/controllers/subsystem/init/map.dm
  code/controllers/subsystem/mapping.dm
  code/datums/vlevels.dm
  code/modules/admin/topic.dm
  code/modules/maps/spawners/pick_spawner.dm
  vgstation13.dme
Owners: @Cyberboss

SCRAM actually works now. better controller examine text.
  code/modules/fissionreactor/datums.dm
  code/modules/fissionreactor/objects_external.dm
Owners: none

FIX IT FIX IT FIX IT FIX IT
  code/modules/fissionreactor/datums.dm
  code/modules/fissionreactor/objects_external.dm
Owners: none

the candle the burns twice as long burns half as bright (fuel number change)
  code/modules/reagents/reagents/reagents_basic.dm
  code/modules/reagents/reagents/reagents_material.dm
  code/modules/reagents/reagents/reagents_medical.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
