Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

green balloon (#29812)
  code/game/machinery/vending.dm
  code/game/objects/items/toys.dm
  icons/mob/in-hand/left/memeballoon.dmi
  icons/mob/in-hand/right/memeballoon.dmi
  icons/obj/weapons.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Refactored holodeck code (#29817)
  code/game/area/Space Station 13 areas.dm
  code/game/machinery/computer/HolodeckControl.dm
  maps/_map.dm
  maps/misc/holodeck_olympics.dmm
  maps/nrvhorizon.dm
  maps/olympics.dm
  maps/olympics.dmm
  maps/olympics_z2.dmm
Owners: none

A Very Diona Roast (#29819)
  code/modules/food/recipes_microwave.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

Get Flat Icon DELUXE, featuring Photography being fixed forever (#29822)
  __DEFINES/planes+layers.dm
  code/__HELPERS/icons.dm
  code/game/atoms.dm
  code/game/gamemodes/blob/theblob.dm
  code/game/gamemodes/gameticker.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/structures/mannequin.dm
  code/libs/Get Flat Icon/Get Flat Icon Deluxe.dm
  code/libs/Get Flat Icon/Get Flat Icon.dm
  code/modules/paperwork/photography.dm
  icons/effects/224x224.dmi
  icons/effects/32x32.dmi
  icons/mob/mannequin.dmi
  icons/obj/mannequin.dmi
  icons/turf/floors.dmi
  maprendering/maprendering.dm
  vgstation13.dme
Owners: @ChangelingRain, @ShizCalev, @WJohn

fix cult hood (#29823)
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fixes shelter giving a red attack message when clicked by animals dealing 0 damage such as mice (#29825)
  code/game/objects/structures/inflatable.dm
Owners: none

fix strpper corpse (#29826)
  code/modules/awaymissions/corpse.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

ID card icons for mapped corpses + minor unatomics (#29827)
  code/game/machinery/computer/card.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/awaymissions/corpse.dm
  icons/obj/card.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

support for icon_override for monkeys (#29828)
  code/modules/mob/living/carbon/monkey/update_icons.dm
Owners: none

Clearer bluespace anomaly report (#29829)
  code/datums/helper_datums/command_alerts.dm
Owners: none

Failing surgery steps because of using a table or roller bed now causes proper surgery step failure (#29830)
  __DEFINES/setup.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/item_attack.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/stacks/nanopaste.dm
  code/game/objects/items/weapons/tools.dm
  code/modules/surgery/surgery.dm
Owners: none

rusty abandonned crates (#29831)
  code/modules/mining/abandonedcrates.dm
  icons/obj/storage/storage.dmi
Owners: @ShizCalev, @WJohn

Fix pitbull spell icon state (#29835)
  code/modules/spells/aoe_turf/conjure/pitbulls.dm
  icons/mob/screen_spells.dmi
Owners: @ShizCalev, @WJohn

adjacency (#29838)
  code/modules/recycling/conveyor2.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

The comms console now reports its exact coordinates. (#29805)
  code/game/machinery/computer/communications.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Dan chems now give nutrition but some are toxic (#29814)
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Gourmonglor
  code/modules/power/gourmonger.dm
Owners: none

gourmonger cubes are now only available through cooking
  code/datums/supplypacks.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/food/recipes_microwave.dm
Owners: none

adds lightswitch on/off admin buttons
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
Owners: none

derp
  icons/obj/recycling.dmi
Owners: @ShizCalev, @WJohn

derp (#29847)
  icons/obj/recycling.dmi
Owners: @ShizCalev, @WJohn

Beginning of this
  code/datums/mind.dm
Owners: none

And don't show it if there are none
  code/datums/mind.dm
Owners: none

Don't make this disappear
  code/datums/mind.dm
Owners: none

Better title
  code/datums/mind.dm
Owners: none

Forgot to add nutrition to dansauce and bonemarrow
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Don't want this repeated
  code/datums/mind.dm
Owners: none

You can now biogen xenobio slime bags.
  code/game/machinery/biogenerator.dm
Owners: none

Standardises
  code/datums/mind.dm
Owners: none

Tweaks
  code/datums/mind.dm
Owners: none

Testing antagHUD visibility
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
Owners: none

i'm dumb
  code/libs/Get Flat Icon/Get Flat Icon Deluxe.dm
Owners: none

New window size
  code/datums/mind.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
