Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

Fixes a material dupe with R&D (#24342)
  code/modules/mining/materials.dm
  code/modules/research/rdconsole.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Big Snaxi Changes
  code/game/area/Space Station 13 areas.dm
  code/game/turfs/unsimulated/snow.dm
  icons/turf/areas.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Revert "Possible workaround for scrollbar bug that only randomly affects admins" (#23464)
  code/modules/client/client defines.dm
  code/modules/client/client procs.dm
  code/modules/mob/mob.dm
Owners: none

silly me
  code/modules/media/jukebox.dm
Owners: none

Really good diy shuttle ideas (#24304)
  code/game/objects/items/blueprints.dm
Owners: none

silly me (#24348)
  code/modules/media/jukebox.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Create map_popups.dm
  code/_onclick/hud/map_popups.dm
Owners: none

change the icon used.
  code/_onclick/hud/map_popups.dm
Owners: none

adds the popup template to the skin
  interface/skin.dmf
Owners: none

yikes
  code/_onclick/hud/map_popups.dm
  vgstation13.dme
Owners: none

Revert "yikes"
  code/_onclick/hud/map_popups.dm
  vgstation13.dme
Owners: none

Update map_popups.dm
  code/_onclick/hud/map_popups.dm
Owners: none

Update vgstation13.dme
  vgstation13.dme
Owners: none

Update map_popups.dm
  code/_onclick/hud/map_popups.dm
Owners: none

Add billion, bills, birds, and bitching + variants. Also fixes whitespace issues.
  code/defines/vox_sounds.dm
  code/modules/mob/living/silicon/ai/say.dm
  data/vox_data.json
  sound/vox_fem/bill.ogg
  sound/vox_fem/billed.ogg
  sound/vox_fem/billing.ogg
  sound/vox_fem/billion.ogg
  sound/vox_fem/billions.ogg
  sound/vox_fem/bills.ogg
  sound/vox_fem/bird.ogg
  sound/vox_fem/birds.ogg
  sound/vox_fem/bitched.ogg
  sound/vox_fem/bitching.ogg
  sound/vox_fem/catbeast.ogg
  sound/vox_fem/catbeasted.ogg
  sound/vox_fem/catbeasting.ogg
  sound/vox_fem/catbeasts.ogg
Owners: @ShizCalev

hides the verb, gets everything spiff/span
  code/_onclick/hud/map_popups.dm
  interface/skin.dmf
Owners: none

Extends electrocute_act() a bit since it was missing a few things like def_zone beheavior. I think I didn't forget anything
  code/game/objects/items/weapons/defib.dm
  code/modules/mob/living/carbon/carbon.dm
Owners: none

Snow Taxi expansion of the maps scope (#24349)
  code/game/area/Space Station 13 areas.dm
  code/game/turfs/unsimulated/snow.dm
  icons/turf/areas.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Two new lobby screens submitted by players for serb. (#24336)
  icons/splashworks/title19.png
  icons/splashworks/title20.gif
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

electrocution_act() now receives a duration parameter. This commit uses that parameter to fix electric chairs shocking slime people
  code/game/objects/structures/electricchair.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
Owners: none

Emagged defib and electric chairs no longer harms slime people (#24353)
  code/game/objects/items/weapons/defib.dm
  code/game/objects/structures/electricchair.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Added universal snowmobiles and key fabricator.
  code/game/machinery/constructable_frame.dm
  code/game/machinery/keyfab.dm
  code/game/objects/structures/vehicles/snowmobile.dm
  code/game/objects/structures/vehicles/vehicle.dm
  icons/obj/stationobjs.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

fixes missing hair
  code/modules/mob/new_player/sprite_accessories.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Raider data json
  data/persistence/vox_raiders_best_team.json
Owners: none

Dangers of copypaste
  code/controllers/subsystem/init/persistence_misc.dm
Owners: none

Fixes calling the shuttle through the admin panel not playing shuttlecalled.ogg
  code/modules/admin/topic.dm
Owners: none

Fixes pill eating restriction logic
  code/modules/reagents/reagent_containers/pill.dm
Owners: none

Fixes calling the shuttle through the admin panel not playing shuttlecalled.ogg (#24367)
  code/modules/admin/topic.dm
Owners: none

Fixes pill eating restriction logic (#24368)
  code/modules/reagents/reagent_containers/pill.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fixes NT Glocks not fitting inside secbelts
  code/game/objects/items/weapons/storage/belt.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
