Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

Small RPED QoL change (#26942)
  code/game/objects/items/weapons/stock_parts.dm
  code/game/objects/items/weapons/storage/bags.dm
Owners: none

Headset microphones can be turned off (#26926)
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/radio.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

disposed
  code/modules/projectiles/projectile/beams.dm
Owners: none

FixPottedPlants
  code/modules/hydroponics/hydro_tray.dm
Owners: none

this really feels like it shouldn't work
  code/game/mecha/combat/gygax.dm
Owners: none

Update mosin.dm
  code/modules/projectiles/guns/projectile/mosin.dm
Owners: none

well it works i think
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/sniper.dm
Owners: none

well it works i think (#26954)
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/sniper.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

FixPottedPlants (#26952)
  code/modules/hydroponics/hydro_tray.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

returns be like
  code/game/mecha/combat/gygax.dm
Owners: none

I learned something today
  code/modules/spells/targeted/street_alchemy.dm
Owners: none

Wizard Spell: Street Alchemy - Now with less chemist suicide (#26839)
  code/modules/spells/targeted/street_alchemy.dm
  icons/mob/screen_spells.dmi
  icons/obj/potions.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fix bison runtime (#26944)
  code/modules/projectiles/projectile/beams.dm
Owners: none

wizborg
  code/modules/mob/living/silicon/robot/robot.dm
  icons/mob/robots.dmi
Owners: @ShizCalev, @WJohn

remove
  code/__HELPERS/unsorted.dm
Owners: none

holopad overlays verb
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
Owners: none

active holopad overlay
  code/game/machinery/hologram.dm
Owners: none

Update code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Owners: none

husbando
  __DEFINES/reagents.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/drinks/drinkingglass.dm
  icons/effects/96x96.dmi
  icons/obj/drinks.dmi
Owners: @ShizCalev, @WJohn

Fixes jukebox lag
  code/modules/media/mediamanager.dm
Owners: none

wrapping messages & boxes (#26907)
  code/game/objects/items/stacks/packagewrap.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

announce name changes for silicons + name change confirmation (#26939)
  code/__HELPERS/unsorted.dm
  code/modules/mob/living/silicon/robot/robot.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Update code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/shoes/miscellaneous.dm
Owners: none

clean up
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/suits/jobs.dm
Owners: none

adds security formalwear crate (+ dmi adjusts) (#26943)
  code/controllers/subsystem/supply_shuttle.dm
  code/datums/supplypacks.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/jobs/security.dm
  icons/mob/head.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/uniforms.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fixes #26819
  code/modules/clothing/glasses/glasses.dm
  html/changelogs/Pomf123.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/Pomf123.yml
Owners: none

lowers default lawplanner crimes by a lot
  code/game/objects/items/sec_lawplanner.dm
Owners: none

Fixes jukebox lag (#26965)
  code/modules/media/mediamanager.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Removes Unicode stuff (#26670)
  code/__HELPERS/text.dm
  code/__HELPERS/unsorted.dm
  code/datums/browser.dm
  code/datums/datumvars.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/game/communications.dm
  code/game/machinery/newscaster.dm
  code/game/objects/items/cookie_synth.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/verbs/ooc.dm
  code/modules/Economy/debit_card.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/assembly/assembly.dm
  code/modules/libvg/utf8.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/say.dm
  code/modules/mob/mob.dm
  code/modules/mob/say.dm
  code/modules/nano/nanoui.dm
  code/modules/scripting/Implementations/Telecomms.dm
  code/modules/scripting/Implementations/_Logic.dm
  code/modules/scripting/Scanner/Scanner.dm
  code/modules/telesci/gps.dm
  goon/browserassets/js/browserOutput.js
  goon/code/datums/browserOutput.dm
  libvg.dll
  libvg/benches/utf8.rs
  libvg/src/lib.rs
  libvg/src/utf8.rs
  vgstation13.dme
Owners: @Cyberboss

Fixes internalOutput()
  goon/browserassets/js/browserOutput.js
Owners: none

Fixes internalOutput() (#26975)
  goon/browserassets/js/browserOutput.js
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
