Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

immulsions repairing
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Found what optimism was talking about
  code/modules/power/gourmonger.dm
Owners: none

removing wall smashing attempt 2
  code/modules/power/gourmonger.dm
Owners: none

better
  code/game/machinery/computer/HolodeckControl.dm
Owners: none

GET FLAT ICON DELUXE
  __DEFINES/planes+layers.dm
  code/__HELPERS/icons.dm
  code/game/atoms.dm
  code/game/gamemodes/blob/theblob.dm
  code/game/gamemodes/gameticker.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/structures/mannequin.dm
  code/libs/Get Flat Icon/Get Flat Icon Deluxe.dm
  code/libs/Get Flat Icon/Get Flat Icon.dm
  code/modules/paperwork/photography.dm
  icons/effects/224x224.dmi
  icons/effects/32x32.dmi
  icons/mob/mannequin.dmi
  icons/obj/mannequin.dmi
  icons/turf/floors.dmi
  vgstation13.dme
Owners: @ChangelingRain, @ShizCalev, @WJohn

fix cult hood
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
Owners: none

fix shelter attack message against 0 damage animals
  code/game/objects/structures/inflatable.dm
Owners: none

derp
  code/game/objects/structures/inflatable.dm
Owners: none

fix strpper corpse
  code/modules/awaymissions/corpse.dm
Owners: none

roboto
  code/game/objects/items.dm
Owners: none

changes around ID card icons, adds cargo to agent card options
  code/game/machinery/computer/card.dm
  code/game/objects/items/weapons/cards_ids.dm
  icons/obj/card.dmi
Owners: @ShizCalev, @WJohn

landmark corpses now have proper ID icons
  code/modules/awaymissions/corpse.dm
Owners: none

support for icon_override for monkeys
  code/modules/mob/living/carbon/monkey/update_icons.dm
Owners: none

Clearer bluespace anomaly report
  code/datums/helper_datums/command_alerts.dm
Owners: none

Failing surgery steps because of using a table or roller bed now causes proper surgery step failure
  __DEFINES/setup.dm
  code/__HELPERS/unsorted.dm
  code/modules/surgery/surgery.dm
Owners: none

derp
  code/__HELPERS/unsorted.dm
Owners: none

dee durp
  code/__HELPERS/unsorted.dm
  code/_onclick/item_attack.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/stacks/nanopaste.dm
  code/game/objects/items/weapons/tools.dm
  code/modules/surgery/surgery.dm
Owners: none

fixed some overlays missing their parent icon
  code/libs/Get Flat Icon/Get Flat Icon Deluxe.dm
Owners: none

rusty abandonned crates
  code/modules/mining/abandonedcrates.dm
  icons/obj/storage/storage.dmi
Owners: @ShizCalev, @WJohn

Fix to a multi year old item hitbox bug (#29692)
  code/game/objects/items.dm
  code/game/objects/structures/mouse_cage.dm
  code/modules/games/cards/playing_cards.dm
  code/modules/paperwork/nano_paper_bin.dm
  code/modules/paperwork/paperbin.dm
Owners: none

crab
  code/modules/mob/living/simple_animal/hostile/necro.dm
  maps/randomvaults/spessmart.dm
Owners: none

fix
  code/modules/mob/living/simple_animal/hostile/necro.dm
  icons/mob/animal.dmi
Owners: @ShizCalev, @WJohn

spodermen
  __DEFINES/role_datums_defines.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
  code/datums/gamemode/factions/spider_infestation.dm
  code/datums/gamemode/objectives/spider.dm
  code/datums/gamemode/role/giant_spider.dm
  code/modules/power/lighting/lighting.dm
  icons/logos.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

Update code/game/machinery/computer/communications.dm
  code/game/machinery/computer/communications.dm
Owners: none

Fix pitbull spell icon state
  code/modules/spells/aoe_turf/conjure/pitbulls.dm
  icons/mob/screen_spells.dmi
Owners: @ShizCalev, @WJohn

defines
  code/libs/Get Flat Icon/Get Flat Icon Deluxe.dm
Owners: none

adjacency
  code/modules/recycling/conveyor2.dm
Owners: none

adjacency check
  code/modules/mining/machine_unloading.dm
Owners: none

Can't quite remember what I was up to last time, moved files to their own folder on /module I guess. Just, getting my stuff out there for a PR
  code/game/objects/items/stacks/stack_recipes.dm
  code/modules/html_interface/paintTool/custom_painting_datum.dm
  code/modules/painting/paint.dm
  code/modules/painting/painting_brush.dm
  code/modules/painting/paintings_custom.dm
  code/modules/painting/palette.dm
  vgstation13.dme
Owners: none

Safe tweak
  maps/misc/hoboshack.dmm
Owners: none

Fixes Numpad numbers no longer working
  interface/interface.dm
  interface/skin.dmf
  interface/skin_azerty.dmf
Owners: none

EMPing a mech actually EMPs the power cell (#29761)
  code/game/mecha/mecha.dm
Owners: none

Trauma Team Suit Storage (#29796)
  code/game/machinery/suit_storage_unit.dm
  code/modules/clothing/shoes/magboots.dm
  icons/obj/clothing/shoes.dmi
Owners: @ShizCalev, @WJohn

no more mime bullet shrapnel (#29803)
  code/modules/projectiles/projectile/bullets.dm
Owners: none

radiation not radiations (#29806)
  code/modules/virus2/effect/stage_1.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Ore Unloader Revamp (#29809)
  code/modules/mining/machine_unloading.dm
  code/modules/mining/ore_box.dm
  icons/effects/warning_stripes.dmi
  icons/obj/decal_warning_stripes.dmi
  icons/obj/machines/mining_machines.dmi
  icons/obj/recycling.dmi
  maps/randomvaults/dungeons/mecha_graveyard.dmm
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Pianos in supply crates and Hydro Trays in mining surprises now come unanchored (#29810)
  code/game/objects/structures/musician.dm
  code/modules/hydroponics/hydro_tray.dm
  code/modules/mining/abandoned_crates/bay12.dm
  code/modules/mining/surprises/tg.dm
Owners: none

fix extra large stacks (#29811)
  __DEFINES/setup.dm
  code/game/objects/items/stacks/sheets/sheets.dm
  code/modules/research/rdmachines.dm
Owners: none
