Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Allows syndicate chems to convert their normal equivalents
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

Update pan.dm
  code/game/objects/items/weapons/pan.dm
Owners: none

fix false alarm debug message for mushroom people
  code/modules/client/preferences.dm
Owners: none

Update pan.dm
  code/game/objects/items/weapons/pan.dm
Owners: none

Update pan.dm
  code/game/objects/items/weapons/pan.dm
Owners: none

Update pan.dm
  code/game/objects/items/weapons/pan.dm
Owners: none

fix false alarm debug message for mushroom people (#33666)
  code/modules/client/preferences.dm
Owners: none

swaps some chems around (#33639)
  code/modules/food/recipes_microwave.dm
Owners: none

Vox Winter Coat Sprites (#33652)
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/slimecoat.dm
  code/modules/clothing/suits/wintercoat.dm
  icons/mob/species/vox/suit.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

updates descriptions
  code/datums/uplink_item.dm
Owners: none

Attempt at fixing arcane door nerve gas
  code/game/machinery/doors/door.dm
Owners: none

Attempt at fixing arcane door nerve gas
  code/game/machinery/doors/door.dm
Owners: none

hyperzine heartdamage nerf (#33609)
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Allows syndicate chems to convert their normal equivalents (#33664)
  code/datums/uplink_item.dm
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

discord virus PDA cartridge
  code/game/objects/items/devices/PDA/cart/civilian.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

PDA message sounds can now be changed
  code/game/objects/items/devices/PDA/apps/messenger.dm
Owners: none

sneed
  code/game/objects/items/devices/PDA/apps/messenger.dm
Owners: none

lets the normal PDA be discord virused
  code/game/objects/items/devices/PDA/PDA.dm
Owners: none

lets the captain and AI PDA's be discord virused
  code/game/objects/items/devices/PDA/PDA_types.dm
Owners: none

add discord cartridge to hacked PTECH
  code/game/machinery/vending.dm
Owners: none

discord virus PDA cartridge sprite
  icons/obj/pda.dmi
Owners: @ShizCalev, @WJohn

discord notification sound
  sound/effects/discord-notification.mp3
Owners: @ShizCalev

sorting framework
  code/_onclick/hud/screen_alarms.dm
Owners: none

amazingly fixes the sound spam problem
  code/game/machinery/doors/door.dm
Owners: none

hell is now a dungeon for performance
  code/controllers/subsystem/init/map.dm
  code/modules/admin/admin_verbs.dm
  code/modules/randomMaps/vaults.dm
Owners: none

hell is now a dungeon for performance
  code/modules/randomMaps/vaults.dm
Owners: none

hell is now a dungeon for performance
  maps/misc/HELL.dmm
Owners: none

removes unused zlevel now
  code/game/turfs/unsimulated/floor.dm
  maps/_map.dm
Owners: none

area
  code/modules/randomMaps/vaults.dm
  maps/misc/HELL.dmm
Owners: none

new sneding
  code/datums/map_elements.dm
  code/modules/admin/admin_verbs.dm
Owners: none

new sending
  code/modules/admin/admin_verbs.dm
Owners: none

fixes proc name
  code/modules/admin/admin_verbs.dm
  code/modules/randomMaps/vaults.dm
Owners: none

uses this db call instead for ease of testing, confirms pref copying works anyways, revert to old one if necessary
  code/modules/admin/admin_verbs.dm
  code/modules/randomMaps/vaults.dm
  config-example/config.txt
Owners: none

testing one for now
  code/controllers/configuration.dm
Owners: none

better scope
  code/modules/randomMaps/vaults.dm
Owners: none

Fixes rune drawing offset
  code/game/objects/effects/decals/crayon.dm
  code/game/objects/items/crayons.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Wall rot event improvements
  code/modules/events/wallrot.dm
Owners: none
