Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

2
  code/modules/mob/living/living.dm
Owners: none

Fixes bats attacking their master
  code/datums/gamemode/factions/vampire_faction.dm
  code/datums/gamemode/gamemode.dm
  code/datums/gamemode/role/role.dm
  code/datums/gamemode/role/vampire_role.dm
  code/datums/gamemode/vampire_gamemode.dm
  code/modules/clothing/masks/stone.dm
  code/modules/mob/living/simple_animal/hostile/bat.dm
Owners: none

Update role.dm
  code/datums/gamemode/role/role.dm
Owners: none

Adds mouseswap for container items
  code/game/objects/items.dm
  code/game/objects/objs.dm
Owners: none

Swap to index, not swap just two items
  code/game/objects/items.dm
  code/game/objects/objs.dm
Owners: none

astral journey & resurrect
  __DEFINES/role_datums_defines.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/modules/mob/dead/observer/observer.dm
  icons/effects/effects.dmi
Owners: @ShizCalev, @WJohn

ghost icons
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
Owners: none

Revert "drag damage 3.8 remix hd (#19365)"
  code/modules/mob/living/living.dm
Owners: none

toxins, my sweet
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Revert "Ethanol doesn't nuke your stomach anymore (#19413)"
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Revert "Stomach given its own reagent_container (#19121)"
  code/modules/organs/internal/stomach/stomach.dm
  code/modules/organs/organ_objects.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagents/vg.dm
Owners: none

Revert "Stomach organ, vomit-all, dialysis machines. (#19036)"
  code/game/machinery/constructable_frame.dm
  code/game/machinery/dialysis.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/species.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/internal/stomach/stomach.dm
  code/modules/organs/organ_internal.dm
  code/modules/organs/organ_objects.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/research/designs/boards/machine_medical.dm
  icons/obj/stationobjs.dmi
  icons/obj/surgery.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

The dangers or reverting
  code/game/machinery/constructable_frame.dm
Owners: none

Ungunks Cargo ordering computer
  code/game/machinery/computer/cargo.dm
  code/game/machinery/vending.dm
  code/modules/Economy/utils.dm
Owners: none

Sonix's suggestion
  code/game/machinery/computer/cargo.dm
  code/game/machinery/vending.dm
  code/modules/Economy/utils.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

load migration 012 (pull prefs)
  vgstation13.dme
Owners: none

Yet more objective fixes.
  code/datums/gamemode/objectives/target/assassinate.dm
  code/datums/gamemode/objectives/target/debrain.dm
  code/datums/gamemode/objectives/target/harm.dm
  code/datums/gamemode/objectives/target/nanotrasen/brig.dm
  code/datums/gamemode/objectives/target/nanotrasen/demote.dm
  code/datums/gamemode/objectives/target/nanotrasen/execute.dm
  code/datums/gamemode/objectives/target/protection.dm
  code/datums/gamemode/objectives/target/sacrifice.dm
  code/datums/gamemode/objectives/target/syndicate/brig.dm
  code/datums/gamemode/objectives/target/syndicate/steal.dm
  code/datums/gamemode/objectives/target/target.dm
  code/datums/gamemode/role/role.dm
  code/datums/mind.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/one_click_antag.dm
  vgstation13.dme
Owners: none

More changeling fixes
  code/datums/gamemode/role/changeling.dm
  code/game/gamemodes/changeling/changeling_powers.dm
Owners: none

Sanity
  code/game/objects/items.dm
Owners: none

Role datums player panel fix
  code/modules/admin/admin.dm
  code/modules/admin/player_panel.dm
Owners: none

Ling chat fix
  code/modules/mob/living/say.dm
Owners: none

load migration 012 (pull prefs) (#19541)
  vgstation13.dme
Owners: none

Adds bank account security prefs
  SQL/players2.sql
  code/game/jobs/job_controller.dm
  code/modules/Economy/Accounts.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/migrations/SS13_Prefs/001-create.dm
  code/modules/migrations/SS13_Prefs/013-add-bank-pref.dm
  vgstation13.dme
Owners: @Jordie0608

right, that's not live yet
  vgstation13.dme
Owners: none

fucking SPACES
  code/modules/client/preferences_savefile.dm
Owners: none

major
  maps/metaclub.dm
Owners: none

newbotany on suicide watch
  code/modules/hydroponics/seed_datums.dm
Owners: none

rpdpass
  code/modules/RCD/RPD.dm
Owners: none

ends drone love
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
Owners: none

Fixes SPS not beeping
  code/game/objects/items.dm
  code/game/objects/items/devices/transfer_valve.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/assembly/bomb.dm
  code/modules/assembly/holder.dm
  code/modules/assembly/mousetrap.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  code/modules/telesci/gps.dm
Owners: none

Update drone.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
Owners: none

Ling chat fix (#19545)
  code/modules/mob/living/say.dm
Owners: none

Role datums player panel fix (#19544)
  code/modules/admin/admin.dm
  code/modules/admin/player_panel.dm
Owners: none

More changeling fixes (#19543)
  code/datums/gamemode/role/changeling.dm
  code/game/gamemodes/changeling/changeling_powers.dm
Owners: none

Yet more objective fixes. (#19542)
  code/datums/gamemode/objectives/target/assassinate.dm
  code/datums/gamemode/objectives/target/debrain.dm
  code/datums/gamemode/objectives/target/harm.dm
  code/datums/gamemode/objectives/target/nanotrasen/brig.dm
  code/datums/gamemode/objectives/target/nanotrasen/demote.dm
  code/datums/gamemode/objectives/target/nanotrasen/execute.dm
  code/datums/gamemode/objectives/target/protection.dm
  code/datums/gamemode/objectives/target/sacrifice.dm
  code/datums/gamemode/objectives/target/syndicate/brig.dm
  code/datums/gamemode/objectives/target/syndicate/steal.dm
  code/datums/gamemode/objectives/target/target.dm
  code/datums/gamemode/role/role.dm
  code/datums/mind.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/one_click_antag.dm
  vgstation13.dme
Owners: none

newbotany on suicide watch (#19551)
  code/modules/hydroponics/seed_datums.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[Cult 3.0] Astral Journey & Resurrect, Runes XIX & XX (#19530)
  __DEFINES/role_datums_defines.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/modules/mob/dead/observer/observer.dm
  icons/effects/effects.dmi
Owners: @ShizCalev, @WJohn

Der. Fukken.
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/mob.dm
  code/modules/organs/organ_internal.dm
Owners: none
