Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Kick acts!
  code/WorkInProgress/kilakk/fax.dm
Owners: none

Fixes evidence bags not resetting their weight class or description
  code/modules/detectivework/evidence.dm
Owners: none

Hi~
  code/datums/ai_laws.dm
  code/modules/mob/living/silicon/robot/component.dm
  code/modules/mob/living/silicon/robot/robot_damage.dm
  code/modules/mob/living/silicon/robot/robot_subtypes/starman.dm
  icons/mob/robots.dmi
  sound/music/earthbound/battle_against_a_funky_fiend.ogg
  sound/music/earthbound/battle_against_a_funky_foe.ogg
  sound/music/earthbound/battle_against_a_machine.ogg
  sound/music/earthbound/battle_against_a_mobile_opponent.ogg
  sound/music/earthbound/giygas_fatal.ogg
  sound/music/earthbound/giygas_intimidation.ogg
  sound/music/earthbound/giygas_wounded.ogg
  sound/music/earthbound/imbossible.ogg
  sound/music/earthbound/king_of_the_world.ogg
  sound/music/earthbound/kraken_of_the_sea.ogg
  sound/music/earthbound/otherworldly_foe.ogg
  vgstation13.dme
Owners: @ShizCalev, @WJohn

Hi again~
  code/modules/mob/living/carbon/give.dm
  code/modules/mob/living/silicon/robot/robot_subtypes/starman.dm
Owners: none

Yes
  vgstation13.dme
Owners: none

Greytide Stationwide
  code/game/atoms.dm
  code/modules/grey_market/grey_market_beacon.dm
  code/modules/grey_market/grey_market_item.dm
  code/modules/grey_market/illegalradio.dm
Owners: none

Forgot the .dme
  vgstation13.dme
Owners: none

New Disease and Spread Types
  __DEFINES/setup.dm
  code/game/atoms.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/items.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/virus2/disease2.dm
  code/modules/virus2/helpers.dm
  code/modules/virus2/items_devices.dm
Owners: none

Easy Rig
  code/controllers/mc/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/mapping.dm
Owners: none

SSU cauterization now destroys virusses
  code/game/machinery/suit_storage_unit.dm
Owners: none

help any organic debris be cleansed as well
  code/game/machinery/suit_storage_unit.dm
Owners: none

Removes the shields from the drone sprites Removes the lights from the drone sprites Makes them into an overlay
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
  icons/mob/animal.dmi
  icons/mob/mob.dmi
Owners: @ShizCalev, @WJohn

Adds the syndicate combat drone, adds some descriptions to the boards it drops
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
  icons/mob/animal.dmi
  icons/mob/mob.dmi
Owners: @ShizCalev, @WJohn

Removed return
  code/game/objects/items/weapons/storage/uplink_kits.dm
Owners: none

Update ai_laws.dm
  code/datums/ai_laws.dm
Owners: none

Update ai_laws.dm
  code/datums/ai_laws.dm
Owners: none

barsign.dm
  barsign.dm
Owners: none

Mechanics can no longer reproduce SCP 294 SCP 294 can no longer be moved with a simple wrench
  code/game/machinery/scp_294.dm
Owners: none

barsigns.dmi squatopia update
  icons/obj/barsigns.dmi
Owners: @ShizCalev, @WJohn

Barsign update
  code/game/objects/structures/barsigns/vg.dm
  icons/obj/barsigns.dmi
Owners: @ShizCalev, @WJohn

Mob printers no longer care if you can re-enter corpse
  code/game/machinery/martian_printer.dm
Owners: none

squatopia
  code/game/objects/structures/barsigns/vg.dm
  icons/obj/barsigns.dmi
Owners: @ShizCalev, @WJohn

Added music
  code/game/gamemodes/gameticker.dm
Owners: none

Add files via upload
  sound/music/pomf_pomf_pomf.ogg
Owners: @ShizCalev

fixes oopsie
  code/modules/clothing/head/misc.dm
Owners: none

redudant i guess
  code/game/machinery/suit_storage_unit.dm
Owners: none

things
  code/game/machinery/computer/communications.dm
Owners: none

1
  code/game/machinery/computer/communications.dm
Owners: none

we dont neeed this
  code/game/machinery/computer/communications.dm
Owners: none

Revert "we dont neeed this"
  code/game/machinery/computer/communications.dm
Owners: none

Fixed
  code/__HELPERS/unsorted.dm
  code/modules/mob/living/carbon/stripping.dm
Owners: none

Martian ambidextrousness is kinda unnecessary now
  code/modules/mob/living/carbon/complex/martian/martian.dm
Owners: none

Removes far sight
  __DEFINES/global.dm
  __DEFINES/setup.dm
  code/game/dna/genes/vg_powers.dm
  code/game/gamemodes/setupgame.dm
  code/game/objects/items/weapons/dna_injector.dm
  code/modules/mob/living/simple_animal/borer/unlocks.dm
  code/modules/mob/login.dm
Owners: none

Removes remote_view
  __DEFINES/global.dm
  __DEFINES/setup.dm
  code/game/dna/genes/powers.dm
  code/game/gamemodes/setupgame.dm
  code/game/objects/items/weapons/dna_injector.dm
  code/modules/mob/living/carbon/human/life/handle_regular_hud_updates.dm
Owners: none

Removes telekinesis
  __DEFINES/global.dm
  __DEFINES/setup.dm
  code/WorkInProgress/buildmode.dm
  code/__HELPERS/game.dm
  code/_onclick/click.dm
  code/_onclick/other_mobs.dm
  code/_onclick/telekinesis.dm
  code/game/dna/genes/powers.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/vending.dm
  code/game/machinery/wishgranter.dm
  code/game/objects/objs.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/game/objects/structures/button.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/extinguisher.dm
  code/game/objects/structures/fence.dm
  code/game/objects/structures/musician.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/food/cooking_machines.dm
  code/modules/hydroponics/hydro_tray.dm
  code/modules/nano/nanoui.dm
  code/modules/organs/organ_external.dm
  code/modules/power/cable.dm
  code/modules/power/singularity/particle_accelerator/particle_control.dm
  code/modules/power/singularity/singularity.dm
  vgstation13.dme
Owners: none

Removes xray
  __DEFINES/setup.dm
  code/WorkInProgress/buildmode.dm
  code/game/dna/genes/powers.dm
  code/game/gamemodes/setupgame.dm
  code/game/gamemodes/wizard/artifacts.dm
  code/game/machinery/wishgranter.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/potions.dm
  code/game/objects/items/weapons/dice.dm
  code/game/objects/items/weapons/dna_injector.dm
  code/game/objects/structures/window.dm
  code/modules/client/client procs.dm
  code/modules/mob/living/carbon/alien/humanoid/life.dm
  code/modules/mob/living/carbon/alien/larva/life.dm
  code/modules/mob/living/carbon/brain/life.dm
  code/modules/mob/living/carbon/complex/life.dm
  code/modules/mob/living/carbon/human/life/handle_regular_hud_updates.dm
  code/modules/mob/living/carbon/monkey/life.dm
  code/modules/mob/living/silicon/robot/life.dm
  maps/RandomZLevels/wildwest.dm
Owners: none

SE_LENGTH
  __DEFINES/global.dm
Owners: none

Missed wizard potions
  code/game/gamemodes/wizard/spellbook.dm
  code/game/objects/items/potions.dm
Owners: none

Cleans up remaining TK
  code/game/gamemodes/setupgame.dm
  code/game/objects/items/weapons/dice.dm
  code/game/objects/items/weapons/dna_injector.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/maps/spawners/spawners.dm
Owners: none

Attempts to add Lamprey and Castle
  code/__HELPERS/files.dm
  code/datums/gamemode/factions/syndicate/rev.dm
  code/game/gamemodes/gameticker.dm
Owners: none
