Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Update fish_tank.dm
  code/modules/fish/fish_tank.dm
Owners: none

Revealing invisible simple mobs (#32766)
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

ablative, bulletproof and antichrist helmets(adminspawn only) (#32742)
  code/modules/clothing/head/tactical.dm
  icons/mob/head.dmi
  icons/obj/clothing/hats.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

fix
  code/modules/hydroponics/hydro_tray.dm
  code/modules/hydroponics/hydro_tray_process.dm
Owners: none

Update hydro_tray_process.dm
  code/modules/hydroponics/hydro_tray_process.dm
Owners: none

Alt click on lamps to toggle them of and off.
  code/game/objects/items/devices/flashlight.dm
Owners: none

Update hydroponics_mutations.dm
  code/modules/hydroponics/hydroponics_mutations.dm
Owners: none

Runtime fix in hydro_tray_process (#32765)
  code/modules/hydroponics/hydro_tray.dm
  code/modules/hydroponics/hydro_tray_process.dm
  code/modules/hydroponics/hydroponics_mutations.dm
Owners: none

Sanity.
  code/game/objects/items/devices/flashlight.dm
Owners: none

Revamps Wild West
  code/controllers/subsystem/daynightcycle.dm
  code/game/area/Space Station 13 areas.dm
  code/game/atoms_movable.dm
  code/game/jobs/access.dm
  code/game/machinery/doors/mineral.dm
  code/game/objects/structures/docking_port.dm
  code/game/turfs/simulated/floor_types.dm
  code/game/turfs/simulated/walls_mineral.dm
  code/game/turfs/simulated/walls_misc.dm
  code/modules/awaymissions/_awaymission.dm
  code/modules/media/jukebox.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/human/_humanoid.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs.dm
  code/modules/mob/living/simple_animal/hostile/necro.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/recycling/conveyor2.dm
  code/modules/research/xenoarchaeology/finds/finds_misc.dm
  code/modules/spells/changeling/regenerative_stasis.dm
  icons/mob/giantmobs.dmi
  icons/mob/western_mobs.dmi
  maps/RandomZLevels/wildwest.dm
  maps/RandomZLevels/wildwest.dmm
  vgstation13.dme
Owners: @ShizCalev, @WJohn

progress
  __DEFINES/reagents.dm
  __DEFINES/simple_animal_defines.dm
  code/controllers/subsystem/daynightcycle.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/dna_injector.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/structures/mirror.dm
  code/modules/clothing/accessories/accessory.dm
  code/modules/mob/living/simple_animal/hostile/duck.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/retaliate.dm
  code/modules/organs/blood.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/reagent_containers/pill.dm
  icons/mob/western_mobs.dmi
  icons/obj/candle.dmi
  icons/obj/card.dmi
  icons/obj/flora/ausflora.dmi
  icons/obj/stationobjs.dmi
  icons/obj/watercloset.dmi
  icons/turf/meat.dmi
  icons/turf/rock_overlay.dmi
  maps/RandomZLevels/wildwest.dm
  maps/RandomZLevels/wildwest.dmm
Owners: @ShizCalev, @WJohn

less pross mov lights
  code/modules/lighting/light_effect_cast.dm
Owners: none

Revert "less pross mov lights"
  code/modules/lighting/light_effect_cast.dm
Owners: none

Update code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/flashlight.dm
Owners: none

smooth + gult
  code/datums/gamemode/factions/bloodcult/bloodcult_buildings.dm
  code/game/atoms.dm
  code/modules/lighting/light_atom.dm
  code/modules/lighting/light_atom_set.dm
  code/modules/lighting/light_effect.dm
  code/modules/lighting/light_effect_cast.dm
Owners: none

Consistency, folks!
  code/modules/mob/living/carbon/human/human_defense.dm
Owners: none

F
  code/modules/mob/living/carbon/human/human_defense.dm
Owners: none

Update human_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Owners: none

Centre of mass doctrine
  code/modules/mob/mob_helpers.dm
Owners: none

idle bonus
  code/modules/mob/living/carbon/combat.dm
  code/modules/mob/mob_helpers.dm
  code/modules/projectiles/projectile.dm
Owners: none

ffffff
  code/modules/projectiles/projectile.dm
Owners: none

ffffff
  code/modules/mob/living/carbon/combat.dm
Owners: none

Revert "Prevents godmode allowing organ and bone damage (#32719)"
  code/modules/organs/organ_external.dm
  code/modules/organs/organ_internal.dm
Owners: none

Non-humans turn into zombies (#32687)
  code/game/objects/items/potions.dm
  code/game/objects/items/trader.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/simple_animal/hostile/necro.dm
  code/modules/virus2/effect/stage_4.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Improved biological debris field storm (#32745)
  code/game/gamemodes/meteor/meteors.dm
  code/game/objects/effects/spawners/gibspawner.dm
  code/modules/events/meteors.dm
  code/modules/mob/living/carbon/human/human.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Pie bombs
  code/datums/uplink_item.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

Lowers prices in line with c4
  code/datums/uplink_item.dm
Owners: none

un-pies pie
  code/datums/uplink_item.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

bending the knee to the gestapo
  code/game/objects/items/devices/sound_synth.dm
Owners: none

emaggable sound synth
  sound/effects/Discord Notification.mp3
Owners: @ShizCalev

Reformatted special roles menu
  code/modules/client/preferences.dm
  html/browser/common.css
Owners: none

More unnecessary code
  code/modules/client/preferences.dm
Owners: none

Cleanup
  code/modules/client/preferences.dm
Owners: none

bugfixes + leashing
  __DEFINES/setup.dm
  code/modules/awaymissions/_awaymission.dm
  code/modules/awaymissions/gateway.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
  maps/RandomZLevels/wildwest.dm
  maps/RandomZLevels/wildwest.dmm
  sound/music/xfiles.ogg
Owners: @ShizCalev

fixed
  code/modules/hydroponics/hydro_tray_process.dm
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none
