Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

fix vampire revive spell's description (#33163)
  code/modules/spells/general/undeath.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Revived PR (#33139)
  code/game/machinery/doors/door.dm
  sound/machines/access_denied.ogg
Owners: @ShizCalev

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Bombermen can no longer tackle (#33111)
  code/modules/mob/living/carbon/combat.dm
Owners: none

QoL for the RPD alt modes. (#33113)
  code/modules/RCD/RPD.dm
Owners: none

RTG cells will no longer irradiate by default, but if they are broken they will irradiate. (#33054)
  code/game/objects/items/weapons/power_cells.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Adds blue helmets to the Security Vendor's premium section (#33101)
  code/game/machinery/vending.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Mothership Lab Vault: Floor Fixin' (Simulated -> Unsimulated) and Some Addons (#33118)
  maps/randomvaults/dungeons/habitation.dmm
  maps/randomvaults/dungeons/research.dmm
  maps/randomvaults/mothership_lab.dmm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Update stage_2.dm (#33125)
  code/modules/virus2/effect/stage_2.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Invisibility Spray Delay + examine to see if used (#33114)
  code/game/objects/items/weapons/cosmetics.dm
  code/modules/supermatter/supermatter.dm
Owners: none

Farting while unconscious is now properly on cooldown (#33123)
  code/modules/mob/living/carbon/human/emote.dm
Owners: none

Adds Some More Gear To The "Extraterrestrial Black Market" Uplink Section (#33133)
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  maps/randomvaults/mothership_lab.dm
Owners: none

deadeye_nerf (#33120)
  code/modules/mob/living/simple_animal/hostile/human/vox.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Gallon of PCP (#33130)
  __DEFINES/reagents.dm
  code/datums/supplypacks.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
Owners: none

buffs plastellium plastic production (#33134)
  code/modules/hydroponics/seeds.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

boots_now_included (#33131)
  code/datums/supplypacks.dm
Owners: none

Update swords_axes_etc.dm (#33142)
  code/game/objects/items/weapons/swords_axes_etc.dm
Owners: none

Adds a Headline system to newscasters (#33143)
  code/game/machinery/newscaster.dm
  code/game/objects/items/devices/PDA/apps/purchased.dm
Owners: none

[Revival] Emaggable Soundsynth. Corn Syrup has never tasted so sweet. (#33137)
  code/game/objects/items/devices/sound_synth.dm
  icons/obj/device.dmi
Owners: @ShizCalev, @WJohn

slap (#33138)
  code/modules/mob/living/carbon/human/combat.dm
Owners: none

Adds a full range of tatami designs to the Tile Painter (#33147)
  code/modules/RCD/schematics/tile.dm
  icons/turf/floors.dmi
  maps/misc/dojo.dmm
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Some Science-related changes (#33155)
  code/game/objects/items/weapons/stock_parts.dm
  code/game/objects/items/weapons/storage/RPED.dm
  code/modules/events/old_vendotron_event/old_vendotron.dm
  code/modules/mining/surprises/tg.dm
  code/modules/research/designs/engineering.dm
  code/modules/research/designs/stock_parts.dm
  code/modules/research/rdconsole.dm
  code/modules/research/xenoarchaeology/finds/finds.dm
  icons/mob/in-hand/left/misc_tools.dmi
  icons/mob/in-hand/right/misc_tools.dmi
  icons/obj/storage/storage.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

Time Void to Time Lab (#33162)
  code/modules/paperwork/paper.dm
  maps/misc/timevoid.dmm
Owners: none

super duper shotgun (#33157)
  code/modules/projectiles/guns/projectile/shotgun.dm
  icons/mob/in-hand/left/guninhands_left.dmi
  icons/mob/in-hand/right/guninhands_right.dmi
  icons/obj/gun.dmi
  sound/weapons/supershotgun_fire.ogg
  sound/weapons/supershotgun_load.ogg
  sound/weapons/supershotgun_open.ogg
Owners: @ShizCalev, @WJohn

Adds Clown Funerals (#33166)
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/emote.dm
Owners: none

make ai core's common intercom start disabled (#33165)
  maps/tgstation-snow.dmm
Owners: none

update ghost toggle darkness (#33171)
  code/modules/mob/dead/observer/verbs.dm
Owners: none

update ghost hide sprite spell (#33172)
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/dead/observer/spells.dm
Owners: none

fixes bleach bottles (#33173)
  code/modules/reagents/reagent_containers/glass/bottle.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
