Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Fixes botany some more (#25953)
  code/modules/hydroponics/grown_inedible.dm
  code/modules/reagents/reagent_containers/food/snacks/grown.dm
Owners: none

more hard dels (#25952)
  code/game/objects/effects/decals/Cleanable/humans.dm
Owners: none

Fixes gibs hard deleting (#25944)
  code/game/machinery/bots/cleanbot.dm
  code/game/machinery/bots/ed209bot.dm
  code/game/objects/effects/gibs.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

runtimes
  code/game/machinery/bots/ed209bot.dm
  code/modules/research/fabricators.dm
Owners: none

TEC power tweaks (#25947)
  code/ATMOSPHERICS/components/binary_devices/heat_pump.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Makes Honk Serum overdose break miming. (#25941)
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

runtimes (#25955)
  code/game/machinery/bots/ed209bot.dm
  code/modules/research/fabricators.dm
Owners: none

Icon Update
  icons/mob/human.dmi
Owners: @ShizCalev, @WJohn

Revert "meme away (#25936)" (#25939)
  __DEFINES/disease2.dm
  code/modules/events/viral_infection.dm
  code/modules/events/viral_outbreak.dm
  code/modules/virus2/disease2.dm
  code/modules/virus2/helpers.dm
Owners: none

Revert "Revert "meme away (#25936)" (#25939)"
  __DEFINES/disease2.dm
  code/modules/events/viral_infection.dm
  code/modules/events/viral_outbreak.dm
  code/modules/virus2/disease2.dm
  code/modules/virus2/helpers.dm
Owners: none

Gives some of the weaker uplink bundles some more stuff
  code/game/objects/items/weapons/storage/uplink_kits.dm
Owners: none

Xenoarch Core Sampler fixes
  code/modules/research/xenoarchaeology/tools/tools_coresampler.dm
Owners: none

Unretards the vector (#25940)
  code/game/machinery/ammolathe.dm
  code/modules/projectiles/guns/projectile/automatic.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Update uplink_kits.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
Owners: none

whip changes
  __DEFINES/_macros.dm
  code/game/gamemodes/wizard/rightandwrong.dm
  code/game/machinery/vending.dm
  code/game/objects/items/stacks/stack_recipes.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/mob/living/simple_animal/borer/fleshshot.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/hookshot.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/hookshot.dm
  icons/mob/head.dmi
  icons/mob/in-hand/left/swords_axes.dmi
  icons/mob/in-hand/right/swords_axes.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/projectiles_experimental.dmi
  icons/obj/weapons.dmi
  maps/randomvaults/spessmart.dm
  sound/weapons/vampkiller.ogg
Owners: @ShizCalev, @WJohn

whoops
  code/modules/projectiles/guns/hookshot.dm
  code/modules/projectiles/projectile/hookshot.dm
Owners: none

removes the limiters, couldn't figure it out after 3 weeks fuck me
  code/datums/mind.dm
  code/modules/mob/living/simple_animal/hostile/pitbull.dm
  code/modules/spells/aoe_turf/conjure/pitbulls.dm
Owners: none

Aaah
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Revert "Revert "meme away (#25936)" (#25939)" (#25958)
  __DEFINES/disease2.dm
  code/modules/events/viral_infection.dm
  code/modules/events/viral_outbreak.dm
  code/modules/virus2/disease2.dm
  code/modules/virus2/helpers.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

smaller icons and tweaked damage
  code/modules/projectiles/guns/hookshot.dm
  code/modules/projectiles/projectile/hookshot.dm
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/weapons.dmi
Owners: @ShizCalev, @WJohn

fix merge conflict
  icons/mob/animal.dmi
Owners: @ShizCalev, @WJohn

merge fixaroo this shit is like magic
  icons/mob/animal.dmi
Owners: @ShizCalev, @WJohn

re-adds pitbull icons
  icons/mob/animal.dmi
Owners: @ShizCalev, @WJohn

someday I will fix this merge conflict
  icons/mob/animal.dmi
Owners: @ShizCalev, @WJohn

but not fucking today apparently
  icons/mob/animal.dmi
Owners: @ShizCalev, @WJohn

Civilian outfit datums
  code/datums/outfit/civilian.dm
  code/datums/outfit/outfit.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/civilian_chaplain.dm
  code/modules/mob/living/carbon/human/plasmaman/species.dm
  code/modules/mob/living/carbon/species.dm
  vgstation13.dme
Owners: none

Uh, part 2 I guess
  code/game/jobs/job/civilian_chaplain.dm
Owners: none

Fixes cameras hard deleting tracked mobs that were deleted
  code/game/machinery/camera/motion.dm
Owners: none

Removes the key on lostTarget
  code/game/machinery/camera/motion.dm
Owners: none

space_musci
  code/game/gamemodes/gameticker.dm
  sound/music/space music.ogg
Owners: @ShizCalev

adds a _
  sound/music/space_music.ogg
Owners: @ShizCalev

compressed
  sound/music/space_music.ogg
Owners: @ShizCalev

Update civilian.dm
  code/datums/outfit/civilian.dm
Owners: none

Removes Broken Sprite List button
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/BrokenInhands.dm
  vgstation13.dme
Owners: none

More hard dels
  code/modules/bomberman/bomberman.dm
  code/modules/games/cards/playing_cards.dm
Owners: none
