Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

fixes typo (#22396)
  code/game/objects/structures/fullwindow.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/window.dm
Owners: none

Ore machinery optimization (#22392)
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_unloading.dm
  code/modules/mining/materials.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mining/minerals.dm
Owners: none

GlassEclipse (#22389)
  code/modules/research/xenoarchaeology/tools/tools_depthscanner.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Add credits volume client preference. Credits are 25% quieter by default. (#22365)
  SQL/players2.sql
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/credits/credits.html
  code/modules/credits/credits_clientprocs.dm
  code/modules/credits/episode_name.dm
  code/modules/migrations/SS13_Prefs/019-add-credits_vol.dm
  vgstation13.dme
Owners: @Jordie0608

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Go get'em tiger
  code/modules/mob/living/carbon/human/death.dm
Owners: none

removes clipping
  sound/items/lighter1.ogg
Owners: @ShizCalev

people can now longer be unbuckled by other restrained people and pais
  code/game/objects/structures/stool_bed_chair_nest/alien_nests.dm
Owners: none

Make delayed ruleset cost threat
  code/datums/gamemode/dynamic/dynamic.dm
Owners: none

fuck you threat costs, you deserve it
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
Owners: none

Reduces Midround Blob weight and ups threat cost & threshold. (#22234)
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Alien nest fix
  code/game/objects/structures/stool_bed_chair_nest/alien_nests.dm
Owners: none

Make delayed ruleset cost threat (#22439)
  code/datums/gamemode/dynamic/dynamic.dm
Owners: none

added margin of error in the objective-fulfilled check
  code/datums/gamemode/objectives/invade.dm
Owners: none

potass change (#22423)
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

introduces "hairstyles" for slime people
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/reagents/Chemistry-Reagents.dm
  icons/mob/human_face.dmi
Owners: @ShizCalev, @WJohn

99 clowns (#22267)
  code/game/jobs/job/civilian.dm
Owners: none

Chem Grenades can be made with any reagent container. (#22227)
  code/game/objects/items/weapons/grenades/chem_grenade.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fixes cult forever (#22281)
  code/datums/ai_laws.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
Owners: none

Fixes a religion runtime (#22290)
  code/datums/religions.dm
Owners: none

Fixes the crayon decal runtime (#22289)
  code/game/objects/effects/decals/crayon.dm
  code/game/objects/items/crayons.dm
  code/game/objects/structures/vehicles/clowncart.dm
Owners: none

Reopens the span in soreness, removes excess spaces (#22287)
  code/modules/virus2/effect/stage_1.dm
Owners: none

Fixes april fools cargo mimics from making mustard gas and eating all of your cargo (#22288)
  code/controllers/subsystem/supply_shuttle.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fixes a runtime with APCs and malf that involve an AI that has jaunted (#22256)
  code/modules/power/apc.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

fixes female scientists not screaming at all on april fools (#22291)
  code/modules/mob/living/carbon/emote.dm
Owners: none

the next step in anti-clown combat solutions (#22293)
  code/game/objects/structures/crates_lockers/closets/secure/vault.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

fixes clownfools
  code/game/jobs/job/civilian.dm
Owners: none

Revert "Chem Grenades can be made with any reagent container. (#22227)"
  code/game/objects/items/weapons/grenades/chem_grenade.dm
Owners: none

Bitte sei in London (#22314)
  code/datums/gamemode/dynamic/dynamic_rulesets.dm
Owners: none

Less Handy Mannequins (#22322)
  code/game/objects/structures/mannequin.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

genetics changes (#22237)
  code/game/gamemodes/setupgame.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none
