Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

The Manifest Prediction button now appears to new players right away
  code/controllers/subsystem/init/job.dm
Owners: none

Adds MoMMI flavoured adminbus autoborger (#30162)
  code/game/machinery/autoborger.dm
  code/modules/mob/transform_procs.dm
Owners: none

Scientists (also Xenobio/arch) get Robotics access back. Roboticists get RnD access. (#30158)
  code/game/jobs/job/science.dm
Owners: none

Adds/splits off xenoarchaeology request consoles on maps (#30159)
  code/game/centcomm_orders/orders_science.dm
Owners: none

gives rig mod stations the ability to remove a user's rig modules when empty (#30156)
  code/game/machinery/suit_modifier.dm
Owners: none

vox n insect scanner glasses sprites (#30164)
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/scanners.dm
  icons/mob/species/insectoid/eyes.dmi
  icons/mob/species/vox/eyes.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Renouncing your religion is now a button in your IC tab. (#30177)
  code/datums/religions.dm
  code/modules/admin/topic.dm
Owners: none

The Manifest Prediction button now appears to new players right away (#30180)
  code/controllers/subsystem/init/job.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Removing all useless broken zshadow stuff
  code/game/atoms_movable.dm
  code/modules/multiz/zshadow.dm
Owners: none

Maybe now?
  code/modules/multiz/zshadow.dm
Owners: none

Oh weird
  code/modules/multiz/pipes.dm
Owners: none

Adding up/down pipe sprites
  code/modules/multiz/pipes.dm
  icons/obj/pipes.dmi
Owners: @ShizCalev, @WJohn

remove duplicate proc, fix time agent pinpointer
  code/datums/gamemode/role/catbeast.dm
  code/datums/gamemode/role/role.dm
  code/datums/gamemode/role/time_agent.dm
  code/game/gamemodes/nuclear/pinpointer.dm
Owners: none

Add timeslip status effect for stage 1 time agent tardiness
  code/datums/gamemode/role/time_agent.dm
  code/modules/mob/living/carbon/human/life/handle_regular_status_updates.dm
Owners: none

Adding darkness overlay, attempt #1
  code/modules/multiz/turfs.dm
Owners: none

Second attempt, now works
  code/modules/multiz/turfs.dm
Owners: none

Turf tweaks, now much less visually glitchy, plus walls now make blank floors above them for less weirdness
  code/modules/multiz/turfs.dm
Owners: none

Fix, plus keeps this floor in place
  code/modules/multiz/turfs.dm
Owners: none

Really bad fix that stops space looking weird
  code/modules/multiz/turfs.dm
Owners: none

couple of time agent tardiness adjustments
  code/datums/gamemode/role/time_agent.dm
Owners: none

Now everything should work normally, except lighting overlays
  code/modules/multiz/turfs.dm
Owners: none

Updates the map
  maps/test_multiz.dm
  maps/test_multiz.dmm
Owners: none

Consistency
  code/modules/multiz/turfs.dm
Owners: none

Adds new fall damage sound
  code/modules/multiz/movement.dm
  sound/README.md
  sound/effects/pl_fallpain.ogg
Owners: @ShizCalev

Typo
  maps/test_multiz.dm
Owners: none

Jetpack fun
  code/modules/multiz/movement.dm
Owners: none

Better
  code/modules/multiz/movement.dm
Owners: none

Less bad brackets and parantheses pain
  code/modules/multiz/movement.dm
Owners: none

OHhh
  code/modules/multiz/movement.dm
Owners: none

These fly too, brooms next whenever I figure those out
  code/modules/multiz/movement.dm
Owners: none

Removed one useless line of code (#30160)
  code/game/jobs/job_controller.dm
Owners: none

whoops
  code/datums/gamemode/role/time_agent.dm
  code/modules/mob/living/carbon/human/life/handle_regular_status_updates.dm
  code/modules/mob/mob_defines.dm
  vgstation13.dme
Owners: none

whoops 2
  maps/misc/timevoid.dmm
Owners: none

Fixed toxins being 10 times more effective than intended(?)
  code/modules/organs/internal/liver/liver.dm
Owners: none

Fixed toxins being 10 times more effective than intended(?) (#30182)
  code/modules/organs/internal/liver/liver.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Finishing pipe icons
  icons/obj/pipes.dmi
Owners: @ShizCalev, @WJohn

Making it easier to build catwalks and stuff on turfs without clicking the stuff below by mistake
  code/modules/multiz/turfs.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
