Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

In the end, nothing really mattered
  code/modules/events/event_dynamic.dm
Owners: none

Update smartfridge.dm
  code/game/machinery/kitchen/smartfridge.dm
Owners: none

Update blood_pack.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
Owners: none

Update smartfridge.dm
  code/game/machinery/kitchen/smartfridge.dm
Owners: none

Adds beekeeping attire to hydroponics lockers
  code/game/objects/structures/crates_lockers/closets/secure/hydroponics.dm
Owners: none

Changes the sound fokr sending a message over the radio
  code/game/objects/items/devices/radio/headset.dm
  sound/effects/radio_beep.ogg
Owners: @ShizCalev

Adds Holy Jukebox to PietyVend
  code/game/machinery/vending.dm
  code/modules/research/mechanic/flatpack.dm
Owners: none

Update switchtool.dm
  code/game/objects/items/weapons/switchtool.dm
Owners: none

Fixes Swiss Tool tech values (#32438)
  code/game/objects/items/weapons/switchtool.dm
Owners: none

Reenables events when few players (#32490)
  code/modules/events/event_dynamic.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

comment
  code/modules/virus2/effect/stage_1.dm
Owners: none

comment (#32508)
  code/modules/virus2/effect/stage_1.dm
Owners: none

Update smartfridge.dm
  code/game/machinery/kitchen/smartfridge.dm
Owners: none

Update supplypacks.dm
  code/datums/supplypacks.dm
Owners: none

Allows normal traitors to go loud for 7 extra TC
  code/datums/components/uplink.dm
  code/datums/gamemode/gamemode.dm
  code/datums/gamemode/misc_gamemode_procs.dm
  code/datums/gamemode/role/syndicate.dm
  code/datums/helper_datums/command_alerts.dm
  code/datums/uplink_item.dm
Owners: @Cyberboss

File
  sound/AI/intercept_.ogg
Owners: @ShizCalev

Fix
  code/datums/uplink_item.dm
Owners: none

Update ores_coins.dm
  code/modules/mining/ores_coins.dm
Owners: none

WHOOPS TYPO
  code/game/objects/items/weapons/storage/uplink_kits.dm
Owners: none

agony
  code/game/objects/items/weapons/storage/uplink_kits.dm
Owners: none

agony (#32513)
  code/game/objects/items/weapons/storage/uplink_kits.dm
Owners: none

added_bosses_to_globaldm
  __DEFINES/global.dm
Owners: none

Fixed_Spriting_Inconsistency
  icons/mob/animal.dmi
Owners: @ShizCalev, @WJohn

tiny_namechange_request
  maps/randomvaults/brokeufo.dmm
Owners: none

Added_Some_Missing_Lights
  maps/randomvaults/dungeons/research.dmm
Owners: none

more_lights_and_some_gun
  maps/randomvaults/dungeons/habitation.dmm
  maps/randomvaults/dungeons/research.dmm
Owners: none

Added_Advanced_Disintegrator
  code/modules/clothing/spacesuits/grey_rig.dm
  code/modules/projectiles/guns/energy/disintegrator.dm
  code/modules/projectiles/projectile/beams.dm
  icons/mob/in-hand/left/guninhands_left.dmi
  icons/mob/in-hand/right/guninhands_right.dmi
  icons/obj/gun.dmi
  icons/obj/projectiles.dmi
Owners: @ShizCalev, @WJohn

tweaked_again
  code/modules/projectiles/guns/energy/disintegrator.dm
Owners: none

tweaked_advdisintegrator_shotcharge_value
  code/modules/projectiles/guns/energy/disintegrator.dm
Owners: none

renamed_botanist_locker
  maps/randomvaults/dungeons/habitation.dmm
Owners: none

fix
  __DEFINES/global.dm
Owners: none

added_new_bawss_to_global
  __DEFINES/global.dm
  code/modules/mob/living/simple_animal/hostile/human/grey.dm
Owners: none

da_last_bawss
  code/modules/awaymissions/corpse.dm
  code/modules/mob/living/simple_animal/hostile/human/grey.dm
  icons/mob/hostile_humanoid.dmi
  maps/randomvaults/dungeons/habitation.dmm
  maps/randomvaults/dungeons/research.dmm
  maps/randomvaults/mothership_lab.dm
  maps/randomvaults/mothership_lab.dmm
Owners: @ShizCalev, @WJohn

fixes
  code/modules/mob/living/simple_animal/hostile/human/grey.dm
Owners: none

research_deck_bawss_area_update
  maps/randomvaults/dungeons/research.dmm
Owners: none

added_nu_raidertype
  code/modules/mob/living/simple_animal/hostile/human/vox.dm
  code/modules/projectiles/guns/energy/disintegrator.dm
  icons/mob/hostile_humanoid.dmi
  maps/randomvaults/dungeons/habitation.dmm
  maps/randomvaults/dungeons/research.dmm
Owners: @ShizCalev, @WJohn

nurseboss_viewbuff_voxboss_healnerf
  code/modules/mob/living/simple_animal/hostile/human/greynurse.dm
  code/modules/mob/living/simple_animal/hostile/human/vox.dm
Owners: none

added_phase2_to_global
  __DEFINES/global.dm
Owners: none
