Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Volume pumps move gas based on differential pressure (#25856)
  code/ATMOSPHERICS/components/binary_devices/volume_pump.dm
  icons/obj/atmospherics/volume_pump.dmi
Owners: @ShizCalev, @WJohn

Adds the NATO phonetic alphabet as a default language for deathsquads. (#25835)
  __DEFINES/setup.dm
  code/game/striketeams/nanotrasen_deathsquad.dm
  code/modules/mob/language.dm
Owners: none

Fixes viro UI problems, make the medical computer file more readble (#25905)
  code/game/machinery/computer/medical.dm
  code/modules/virus2/disease2.dm
Owners: none

Buckle In & Buckle Out
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
Owners: none

pinhead
  code/modules/admin/topic.dm
  code/modules/events/infestation.dm
Owners: none

Adds Mushman Babies and Diona Nymphs as possibilities to the infestation random event (#25917)
  __DEFINES/setup.dm
  code/modules/admin/topic.dm
  code/modules/events/infestation.dm
Owners: none

thing (#25906)
  code/WorkInProgress/MadmanMartian/blacksmithing/blacksmithing.dm
Owners: none

why didn't you merge mine first my pr was first bro not cool
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/mob/living/carbon/human/plasmaman/species.dm
  icons/mob/species/plasmaman/head.dmi
  icons/mob/species/plasmaman/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Owners: @ShizCalev, @WJohn

why didn't you merge mine first my pr was first bro not cool (#25898)
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/mob/living/carbon/human/plasmaman/species.dm
  icons/mob/species/plasmaman/head.dmi
  icons/mob/species/plasmaman/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Owners: @ShizCalev, @WJohn

Renamed every instance of "plastique" (c4 explosives) to "c4"
  code/datums/gamemode/factions/syndicate/nukeops.dm
  code/datums/uplink_item.dm
  code/datums/wires/explosive.dm
  code/game/objects/items/weapons/explosives.dm
  code/game/objects/items/weapons/storage/secure.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/loadouts.dm
  code/game/striketeams/nanotrasen_deathsquad.dm
  code/game/striketeams/syndicate_elite_squad.dm
  code/modules/clothing/spacesuits/rig.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

fuck you plosky and old test map nobody uses
  maps/test_box.dmm
Owners: none

Treachery mechanic, code touch up, and pitbull bark
  code/modules/mob/living/simple_animal/hostile/pitbull.dm
  code/modules/spells/aoe_turf/conjure/pitbulls.dm
  sound/voice/pitbullbark.ogg
Owners: @ShizCalev

Fixed the verb for vehicles
  code/game/objects/structures/vehicles/vehicle.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/PR-25835-temp.yml
  html/changelogs/PR-25837-temp.yml
  html/changelogs/PR-25856-temp.yml
  html/changelogs/PR-25868-temp.yml
  html/changelogs/PR-25869-temp.yml
  html/changelogs/PR-25889-temp.yml
  html/changelogs/PR-25898-temp.yml
  html/changelogs/PR-25901-temp.yml
  html/changelogs/PR-25904-temp.yml
  html/changelogs/PR-25906-temp.yml
  html/changelogs/PR-25907-temp.yml
  html/changelogs/PR-25911-temp.yml
  html/changelogs/PR-25914-temp.yml
  html/changelogs/PR-25917-temp.yml
  html/changelogs/PR-25918-temp.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/PR-25835-temp.yml
  html/changelogs/PR-25837-temp.yml
  html/changelogs/PR-25856-temp.yml
  html/changelogs/PR-25868-temp.yml
  html/changelogs/PR-25869-temp.yml
  html/changelogs/PR-25889-temp.yml
  html/changelogs/PR-25898-temp.yml
  html/changelogs/PR-25901-temp.yml
  html/changelogs/PR-25904-temp.yml
  html/changelogs/PR-25906-temp.yml
  html/changelogs/PR-25907-temp.yml
  html/changelogs/PR-25911-temp.yml
  html/changelogs/PR-25914-temp.yml
  html/changelogs/PR-25917-temp.yml
  html/changelogs/PR-25918-temp.yml
Owners: none

Some TEC fixes
  code/ATMOSPHERICS/components/binary_devices/heat_pump.dm
  code/ATMOSPHERICS/pipe/construction.dm
Owners: none

Some TEC fixes (#25935)
  code/ATMOSPHERICS/components/binary_devices/heat_pump.dm
  code/ATMOSPHERICS/pipe/construction.dm
Owners: none

meme away
  __DEFINES/disease2.dm
  code/modules/events/viral_infection.dm
  code/modules/events/viral_outbreak.dm
  code/modules/virus2/disease2.dm
  code/modules/virus2/helpers.dm
Owners: none

meme away (#25936)
  __DEFINES/disease2.dm
  code/modules/events/viral_infection.dm
  code/modules/events/viral_outbreak.dm
  code/modules/virus2/disease2.dm
  code/modules/virus2/helpers.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

overlay sprite
  icons/mob/human.dmi
Owners: @ShizCalev, @WJohn

Fixes botany Consequences: Still unforeseen
  code/modules/hydroponics/grown_inedible.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/reagents/reagent_containers/food/snacks/grown.dm
Owners: none

Fixes botany (#25938)
  code/modules/hydroponics/grown_inedible.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/reagents/reagent_containers/food/snacks/grown.dm
Owners: none

Renamed every instance of "plastique" (c4 explosives) to "c4" (#25924)
  code/datums/gamemode/factions/syndicate/nukeops.dm
  code/datums/uplink_item.dm
  code/datums/wires/explosive.dm
  code/game/objects/items/weapons/explosives.dm
  code/game/objects/items/weapons/storage/secure.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/loadouts.dm
  code/game/striketeams/nanotrasen_deathsquad.dm
  code/game/striketeams/syndicate_elite_squad.dm
  code/modules/clothing/spacesuits/rig.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  maps/test_box.dmm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Revert "meme away (#25936)"
  __DEFINES/disease2.dm
  code/modules/events/viral_infection.dm
  code/modules/events/viral_outbreak.dm
  code/modules/virus2/disease2.dm
  code/modules/virus2/helpers.dm
Owners: none

Unretards the vector
  code/modules/projectiles/guns/projectile/automatic.dm
Owners: none

colorful warning for future aspiring coders
  code/game/machinery/ammolathe.dm
Owners: none

Makes Honk Serum overdose break miming.
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

fix compile errors due to #25924
  maps/Dorfstation.dmm
  maps/RandomZLevels/broken/spacebattle.dmm
  maps/misc/voxshuttle.dmm
Owners: none

'
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Fixes gibs hard deleting
  code/game/machinery/bots/cleanbot.dm
  code/game/machinery/bots/ed209bot.dm
  code/game/objects/effects/gibs.dm
Owners: none

Revert "Make the blast cannon a bit better (#25800)"
  code/modules/projectiles/guns/projectile/constructable/blastcannon.dm
Owners: none

i'm retarded
  code/game/machinery/bots/cleanbot.dm
  code/game/machinery/bots/ed209bot.dm
  code/game/objects/effects/gibs.dm
Owners: none

TEC power tweaks
  code/ATMOSPHERICS/components/binary_devices/heat_pump.dm
Owners: none

ugly but it works
  code/modules/mob/dead/observer/observer.dm
Owners: none

more hard dels
  code/game/objects/effects/decals/Cleanable/humans.dm
Owners: none

Fixes botany some more This is exactly what I thought might happen, and yet it didn't occur to me that it was what was happening. Fascinating.
  code/modules/hydroponics/grown_inedible.dm
  code/modules/reagents/reagent_containers/food/snacks/grown.dm
Owners: none

Update
  code/modules/mob/living/carbon/human/life/handle_regular_status_updates.dm
  icons/mob/human.dmi
Owners: @ShizCalev, @WJohn

Fixed buckling out while cuffed
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
Owners: none
