Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

cha cha cha cha changes
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Fix Captain's SSU unit rejecting the Captain's armor.
  code/game/machinery/suit_storage_unit.dm
Owners: none

Makes code compile on 513
  code/__HELPERS/lists.dm
  code/__HELPERS/maths.dm
  code/modules/mob/living/simple_animal/shade_powers.dm
  code/modules/organs/organ_external.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/surgery/butt.dm
  code/modules/surgery/generic.dm
Owners: none

bazinga
  code/_onclick/hud/map_popups.dm
  icons/mob/map_backgrounds.dmi
Owners: @ShizCalev, @WJohn

wait shit fuck
  code/_onclick/hud/map_popups.dm
Owners: none

Forgot one
  icons/mob/map_backgrounds.dmi
Owners: @ShizCalev, @WJohn

Map popups (#24352)
  code/_onclick/hud/map_popups.dm
  icons/mob/map_backgrounds.dmi
  interface/skin.dmf
  vgstation13.dme
Owners: @ShizCalev, @WJohn

Parking Garage and Spots on Snaxi
  code/game/objects/structures/signs.dm
  code/game/objects/structures/vehicles/snowmobile.dm
  code/game/turfs/simulated/snow.dm
  code/game/turfs/unsimulated/snow.dm
  icons/obj/decals.dmi
  icons/turf/floors.dmi
Owners: @ShizCalev, @WJohn

Update rsvault.dmm
  maps/randomvaults/rsvault.dmm
Owners: none

rsvault update
  maps/randomvaults/rsvault.dmm
  rsvault.dmm
  vgstation13.dme
Owners: none

Update fix
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Owners: @ShizCalev, @WJohn

recent map update
  maps/Dorfstation.dmm
  maps/dorfstation.dm
Owners: none

Update rsvault.dmm
  maps/randomvaults/rsvault.dmm
Owners: none

update
  html/changelog.html
  html/changelogs/.all_changelog.yml
  interface/skin.dmf
  rsvault.dmm
  vgstation13.dme
Owners: none

Fixes a few bugs related to mutual cuffing
  code/_onclick/mutual_cuff.dm
  vgstation13.dme
Owners: none

Fixes a goof
  code/game/objects/items/weapons/table_rack_parts.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Your Secret's Safe With Me
  code/__HELPERS/secret.dm
  code/modules/mob/new_player/new_player.dm
  vgstation13.dme
Owners: none

href update
  code/__HELPERS/secret.dm
  code/modules/mob/new_player/new_player.dm
Owners: none

Sounds are Wakeful
  code/game/sound.dm
Owners: none

Tweak numbers
  code/game/sound.dm
Owners: none

broken tubes
  code/modules/power/lighting.dm
Owners: none

HIHG EFFICIENT
  code/modules/power/lighting.dm
Owners: none

whitespace and comments
  code/modules/power/lighting.dm
Owners: none

compiling is good
  code/modules/power/lighting.dm
Owners: none

god damn it
  code/modules/power/lighting.dm
Owners: none

god double damn it
  code/modules/power/lighting.dm
Owners: none

AIs
  code/modules/mob/living/silicon/ai/ai.dm
  icons/mob/AI.dmi
Owners: @ShizCalev, @WJohn

conditional ambience and new AI ones
  code/controllers/subsystem/ambient_sound.dm
  code/game/area/Space Station 13 areas.dm
  code/game/area/ambience_datums.dm
  code/game/area/areas.dm
  sound/ambience/ambimalf1.ogg
  sound/ambience/ambimalf2.ogg
  sound/ambience/ambimalf3.ogg
  sound/ambience/ambimalf4.ogg
Owners: @ShizCalev

missed formatting changes
  code/game/area/Space Station 13 areas.dm
Owners: none

oops
  code/game/area/Space Station 13 areas.dm
Owners: none

Re-typed Captain's armor to Captain's rig armor
  code/datums/gamemode/factions/vox_shoal.dm
  code/game/gamemodes/steal_items.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/awaymissions/corpse.dm
  code/modules/clothing/spacesuits/captain.dm
Owners: none

custom icon for captains ssu
  code/game/machinery/suit_storage_unit.dm
  icons/obj/suitstorage.dmi
Owners: @ShizCalev, @WJohn

some important stuff
  code/modules/clothing/spacesuits/captain.dm
Owners: none

lightbulbs can be removed by people wearing insulated gloves or who's active hand is robotic
  code/modules/clothing/gloves/color.dm
  code/modules/power/lighting.dm
Owners: none

Adds Derelict versions of the R&D console and R&D server so it doesn't have to use duplicates of the station ones.
  code/game/machinery/computer/buildandrepair.dm
  code/modules/research/designs/boards/computer_science.dm
  code/modules/research/rdconsole.dm
  code/modules/research/server.dm
Owners: none
