Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Revert "May fix the login failure issue on 516 (#37537)"
  code/modules/client/client procs.dm
Owners: none

Update code/game/machinery/alarm.dm
  code/game/machinery/alarm.dm
Owners: none

Fixes compile for norwood
  code/modules/spells/targeted/norwood.dm
Owners: none

quick refactor
  code/game/objects/structures/ladders.dm
Owners: none

Moves Art Storage/Restores Old Library
  maps/tgstation.dmm
Owners: none

West fixes
  code/modules/reagents/random_reagent_effect.dm
Owners: none

Art Storage/Library for Metaclub Station
  maps/metaclub.dmm
Owners: none

first
  code/controllers/subsystem/mapping.dm
  code/modules/procedural mapping/planetGenerator/biomes/biome.dm
  code/modules/procedural mapping/planetGenerator/biomes/desert.dm
  code/modules/procedural mapping/planetGenerator/planetGenerator.dm
  code/modules/procedural mapping/planetGenerator/planetoid.dm
  vgstation13.dme
Owners: @Cyberboss

take 1
  code/datums/gamemode/factions/vox_shoal.dm
  code/datums/gamemode/objectives/abduct.dm
Owners: none

Revert "Merge branch 'Bleeding-Edge' into directional_mech_ports"
  __DEFINES/tgs.dm
  code/game/objects/effects/spawners/grille_window_spawner.dm
  code/game/turfs/simulated/shuttle.dm
  code/modules/flufftext/Dreaming.dm
  code/modules/hydroponics/hydroponics_mutations.dm
  code/modules/mob/living/carbon/monkey/vox.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/api.dm
  html/changelog.html
  html/changelogs/.all_changelog.yml
  icons/mecha/mecha.dmi
  tools/travis/travis_utils.py
Owners: @ShizCalev, @WJohn

Revert "moved the dir helper function to atom level"
  code/game/atoms.dm
  code/game/machinery/machinery.dm
  code/game/mecha/mech_bay.dm
Owners: none

Revert "rotate verbs on ports and map updates"
  code/game/mecha/mech_bay.dm
  icons/mecha/mech_bay.dmi
  maps/LampreyStation.dmm
  maps/RoidStation.dmm
  maps/bagelstation.dmm
  maps/horizon.dmm
  maps/line.dmm
  maps/lowfatbagel.dmm
  maps/metaclub.dmm
  maps/tgstation-sec.dmm
  maps/tgstation.dmm
  maps/xoq.dmm
Owners: @ShizCalev, @WJohn

I think this reverts without breaking everything?
  code/game/mecha/mech_bay.dm
Owners: none

default 1
  code/datums/gamemode/objectives/abduct.dm
Owners: none

The TGS thing
  .vscode/tasks.json
  __DEFINES/_macros.dm
  code/tgs_event_handler.dm
  code/world.dm
  vgstation13.dme
Owners: none

Further segment the world/New() proc
  code/world.dm
Owners: none

Fixes an issue here
  __DEFINES/tgui.dm
Owners: none

sneed
  code/game/objects/items/weapons/cards_ids.dm
Owners: none

sneed2
  code/game/objects/items/weapons/cards_ids.dm
Owners: none

oops
  code/game/objects/items/weapons/cards_ids.dm
Owners: none

inhale shiptest
  __DEFINES/_macros.dm
  __DEFINES/areas.dm
  __DEFINES/map.dm
  __DEFINES/ruins.dm
  __DEFINES/setup.dm
  code/__HELPERS/lists.dm
  code/controllers/subsystem/mapping.dm
  code/game/area/areas.dm
  code/modules/procedural mapping/planetGenerator/area.dm
  code/modules/procedural mapping/planetGenerator/biome.dm
  code/modules/procedural mapping/planetGenerator/biomes/biome.dm
  code/modules/procedural mapping/planetGenerator/biomes/desert.dm
  code/modules/procedural mapping/planetGenerator/desertGenerator.dm
  code/modules/procedural mapping/planetGenerator/planetGenerator.dm
  code/modules/procedural mapping/planetGenerator/planet_types.dm
  code/modules/procedural mapping/planetGenerator/planetoid.dm
  code/modules/procedural mapping/planetGenerator/turf.dm
  vgstation13.dme
Owners: @Cyberboss

Fridges were using wrong dir
  maps/derelicts/derelict_cult.dmm
  maps/derelicts/derelict_pool.dmm
Owners: none

Bloodstone Melee Vulnerability
  code/datums/gamemode/factions/bloodcult/bloodcult_buildings.dm
Owners: none

the beach episode
  code/controllers/subsystem/mapping.dm
  code/modules/procedural mapping/planetGenerator/BeachGenerator.dm
  code/modules/procedural mapping/planetGenerator/area.dm
  code/modules/procedural mapping/planetGenerator/biome.dm
  code/modules/procedural mapping/planetGenerator/planet_types.dm
  vgstation13.dme
Owners: @Cyberboss

ai only
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

snow beach desert xeno
  __DEFINES/ruins.dm
  code/controllers/subsystem/mapping.dm
  code/modules/procedural mapping/planetGenerator/area.dm
  code/modules/procedural mapping/planetGenerator/generators/beach.dm
  code/modules/procedural mapping/planetGenerator/generators/desert.dm
  code/modules/procedural mapping/planetGenerator/generators/snow.dm
  code/modules/procedural mapping/planetGenerator/generators/xeno.dm
  code/modules/procedural mapping/planetGenerator/planet.dm
  code/modules/procedural mapping/planetGenerator/planet_types.dm
  code/modules/procedural mapping/planetGenerator/turf.dm
  maps/randomvaults/mothership_lab.dm
  vgstation13.dme
Owners: @Cyberboss

Add logging for mobs being bumped into grille/suppermatter
  code/__HELPERS/mobs.dm
  code/game/objects/structures/grille.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
Owners: none

Fixes ghosted mobs duplicating their attack logs
  code/datums/mind.dm
  code/modules/mob/dead/observer/observer.dm
Owners: none

Uses SECONDS define in place of deciseconds in a few places
  code/game/machinery/computer/HolodeckControl.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/flasher.dm
  code/game/machinery/igniter.dm
  code/game/machinery/metaldetector.dm
  code/game/objects/items/devices/PDA/apps/messenger.dm
  code/game/objects/items/devices/PDA/cart/civilian.dm
  code/game/objects/items/devices/PDA/radio.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/game/shuttles/vox.dm
  code/modules/html_interface/voting/voting.dm
Owners: none

client procs into client_procs
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
Owners: none

.dme
  vgstation13.dme
Owners: none

game/centcomm_orders => datums/centcomm_orders
  code/datums/centcomm_orders/centcomm_orders.dm
  code/datums/centcomm_orders/orders_cargo.dm
  code/datums/centcomm_orders/orders_engineering.dm
  code/datums/centcomm_orders/orders_medical.dm
  code/datums/centcomm_orders/orders_science.dm
  code/datums/centcomm_orders/orders_service.dm
  vgstation13.dme
Owners: none

code/defines/procs => code/game/procs
  code/game/procs/AStar.dm
  code/game/procs/biohazard_alert.dm
  code/game/procs/captain_announce.dm
  code/game/procs/command_alert.dm
  code/game/procs/statistics.dm
  vgstation13.dme
Owners: none

Moves around the rest of code/defines.
  code/game/objects/effects/misc_effects.dm
  code/game/objects/misc_weapons.dm
  code/game/vox_sounds.dm
  code/libs/byondtools.dm
  vgstation13.dme
Owners: none

C:/Program Files/Git/obj/structure/signpost into misc_structures.dm
  code/game/objects/effects/misc_effects.dm
  code/game/objects/structures/misc_structures.dm
Owners: none

game/events into game/adminbus_events to distinguish from random events
  code/game/adminbus_events/naturify.dm
  vgstation13.dme
Owners: none

game/dna => modules/dna. 1] Moving files
  code/modules/dna/dna2.dm
  code/modules/dna/dna2_domutcheck.dm
  code/modules/dna/dna2_helpers.dm
  code/modules/dna/dna_modifier.dm
  code/modules/dna/genes/disabilities.dm
  code/modules/dna/genes/gene.dm
  code/modules/dna/genes/goon_disabilities.dm
  code/modules/dna/genes/goon_powers.dm
  code/modules/dna/genes/monkey.dm
  code/modules/dna/genes/powers.dm
  code/modules/dna/genes/speech.dm
  code/modules/dna/genes/vg_disabilities.dm
  code/modules/dna/genes/vg_powers.dm
Owners: none

game/dna => modules/dna 2. defines up top
  __DEFINES/dna2.dm
  code/modules/dna/dna2.dm
  code/modules/dna/dna2_domutcheck.dm
  vgstation13.dme
Owners: none

game/dna => modules/dna : .dme
  vgstation13.dme
Owners: none

game/shuttles into modules/shuttles
  code/modules/shuttles/bagel.dm
  code/modules/shuttles/brokeufo.dm
  code/modules/shuttles/cargo.dm
  code/modules/shuttles/emergency.dm
  code/modules/shuttles/lightship.dm
  code/modules/shuttles/mining.dm
  code/modules/shuttles/misc.dm
  code/modules/shuttles/research.dm
  code/modules/shuttles/salvage.dm
  code/modules/shuttles/security.dm
  code/modules/shuttles/syndicate.dm
  code/modules/shuttles/trade.dm
  code/modules/shuttles/vox.dm
  vgstation13.dme
Owners: none
