Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

APCs now either have their maintenance panel open, or their cover open, not both
  code/modules/power/apc.dm
Owners: none

Fixes ickock (#20295)
  code/datums/emotes.dm
  code/modules/mob/emote.dm
Owners: none

Updated update_colour calls
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/species_powers.dm
  code/modules/mob/mob.dm
Owners: none

dynamic 1.01
  code/datums/gamemode/dynamic/dynamic.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_latejoin.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
Owners: none

better
  code/datums/gamemode/dynamic/dynamic_rulesets_latejoin.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
Owners: none

adds a check that allows medals and other accessories to be put on the jumpsuit regardless of ownsership
  code/modules/clothing/under/chameleon.dm
Owners: none

Working proof of concept
  code/game/dna/dna_modifier.dm
  code/game/gamemodes/gameticker.dm
  code/modules/credits/credits.dm
  code/modules/credits/credits.html
  code/modules/medical/cloning.dm
  code/modules/medical/computer/cloning.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/say.dm
  code/world.dm
  interface/skin.dmf
  sound/music/Frolic_Luciano_Michelini.ogg
  vgstation13.dme
Owners: @ShizCalev

small cleanup
  code/modules/clothing/under/chameleon.dm
Owners: none

Updates test_box (#20297)
  code/modules/awaymissions/corpse.dm
  maps/test_box.dmm
Owners: none

AAAAAUUUGGGHHHgit add .! MY KEYS! MY KEYS ARE RED HOT! DOMINIC YOU RAT! YOU WEREN'T USING THE OVEN TO BAKE COOKIES! YOU WERE HEATING MY KEYS UP TO GIVE ME THE OL' SPICY KEYCHAIN!
  code/game/objects/items.dm
  code/modules/research/xenoarchaeology/tools/bunsen_burner.dm
Owners: none

Fixed unremovable acid'd items in inventory (#20270)
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Adds image support for radials (#20246)
  code/_onclick/hud/radial.dm
Owners: none

Removed juicer
  code/game/machinery/kitchen/juicer.dm
  vgstation13.dme
Owners: none

Removed unused closets
  code/game/objects/closets/ert.dm
  code/game/objects/closets/secure/civilian.dm
  code/game/objects/closets/secure/research.dm
Owners: none

Removed unused closets (#20317)
  code/game/objects/closets/ert.dm
  code/game/objects/closets/secure/civilian.dm
  code/game/objects/closets/secure/research.dm
Owners: none

Removed juicer (#20316)
  code/game/machinery/kitchen/juicer.dm
  vgstation13.dme
Owners: none

Wardrobe refactor
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
Owners: none

trader, cash, exile, fitness
  code/game/objects/items/trader.dm
  code/game/objects/items/weapons/cash.dm
  code/game/objects/items/weapons/implants/exile2.dm
  code/game/objects/structures/crates_lockers/closets/fitness.dm
Owners: none

Drew the rest of the owl
  code/game/objects/items/devices/uplinks.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/l3closet.dm
  code/game/objects/structures/crates_lockers/closets/malfunction.dm
  code/game/objects/structures/crates_lockers/closets/secure/bar.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/chaplain.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/game/objects/structures/crates_lockers/closets/secure/hydroponics.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/syndicate.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/Economy/debit_card.dm
Owners: none

thingy
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
Owners: none

Removed death sting
  code/datums/gamemode/role/changeling.dm
  code/game/gamemodes/changeling/changeling_powers.dm
Owners: none

Robots
  code/game/objects/effects/overlays.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/silicon/robot/robot_movement.dm
Owners: none

Removes an extra argument in a proc
  code/game/machinery/camera/camera.dm
Owners: none

now with more cleanup
  code/modules/clothing/under/chameleon.dm
Owners: none

Fixes the description for changeling Digital Camouflage so it doesn't indicate that you're valid while active.
  code/datums/gamemode/role/changeling.dm
  code/game/gamemodes/changeling/changeling_powers.dm
Owners: none

woopsy "
  code/game/gamemodes/changeling/changeling_powers.dm
Owners: none

SoC Cost - 40. Phylactery Cost - 20.
  code/game/gamemodes/wizard/artifacts.dm
Owners: none

[consistency] Fixes the description for changeling Digital Camouflage so it doesn't indicate that you're valid while active. (#20321)
  code/datums/gamemode/role/changeling.dm
  code/game/gamemodes/changeling/changeling_powers.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Added vector code and sprites.
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/mob/in-hand/left/guninhands_left.dmi
  icons/mob/in-hand/right/guninhands_right.dmi
  icons/obj/gun.dmi
Owners: @ShizCalev, @WJohn

Seems to be fully functional, yet ugly
  code/game/gamemodes/gameticker.dm
  code/modules/credits/credits.dm
  code/modules/credits/credits.html
  code/modules/mob/login.dm
  code/world.dm
  sound/music/Frolic_Luciano_Michelini_Short.ogg
Owners: @ShizCalev

Removed var and modified some output text.
  __DEFINES/setup.dm
  code/game/objects/items.dm
  code/modules/mob/inventory.dm
  code/modules/research/xenoarchaeology/tools/bunsen_burner.dm
Owners: none

Actually fixed issues with vehicle keys
  code/game/objects/structures/vehicles/vehicle.dm
Owners: none

Rename macros
  code/defines/obj/weapon.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/instruments.dm
  code/game/objects/items/stacks/cable.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/courtroom.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/items/weapons/explosives.dm
  code/game/objects/items/weapons/glowstick.dm
  code/game/objects/items/weapons/kitchen.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/melee/misc.dm
  code/game/objects/items/weapons/null_rod.dm
  code/game/objects/items/weapons/paint.dm
  code/game/objects/items/weapons/power_cells.dm
  code/game/objects/items/weapons/shard.dm
  code/game/objects/items/weapons/shields.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/items/weapons/storage/bible.dm
  code/game/objects/items/weapons/storage/briefcase.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/game/objects/items/weapons/swords_axes_etc.dm
  code/game/objects/items/weapons/tools.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/items/weapons/weaponry.dm
  code/game/verbs/suicide.dm
  code/modules/fish/fish_items.dm
  code/modules/hydroponics/grown_inedible.dm
  code/modules/paperwork/pen.dm
  code/modules/projectiles/guns/projectile/constructable/swords.dm
  code/modules/projectiles/guns/projectile/rocketlauncher.dm
  code/modules/reagents/reagent_containers/syringes.dm
Owners: none

count_set_bitflags helper
  __DEFINES/setup.dm
  __DEFINES/unit_tests.dm
  code/__HELPERS/maths.dm
  code/modules/unit_tests/_unit_test.dm
  vgstation13.dme
Owners: none

Beats me
  code/modules/credits/credits.html
  code/modules/mob/login.dm
  code/modules/mob/new_player/login.dm
Owners: none

Removed unreachable code
  code/modules/power/apc.dm
Owners: none

Fixed RCD suicide_act
  __DEFINES/setup.dm
  code/game/verbs/suicide.dm
  code/modules/RCD/engie.dm
Owners: none

Fixed chemmaster UI not updating on altclick
  code/modules/reagents/machinery/chem_master.dm
Owners: none

Nothing personnal kid
  code/datums/gamemode/role/role.dm
  code/modules/projectiles/guns/energy/special.dm
Owners: none
