Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

Adds bluespace shaker sprites, courtesy of Falcon2346
  icons/mob/in-hand/right/drinkingglass.dmi
Owners: @ShizCalev, @WJohn

Adds the bluespace shaker to research.
  code/modules/research/designs/bluespace.dm
Owners: none

wip
  code/game/machinery/door_control.dm
  code/game/machinery/requests_console.dm
  icons/lighting/special.dmi
Owners: @ShizCalev, @WJohn

more moody lights
  code/game/machinery/airlock_control.dm
  code/game/machinery/computer/aifixer.dm
  code/game/machinery/computer/arcade/arcade.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/computer/climate.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/pda_terminal.dm
  code/game/machinery/embedded_controller/airlock_controllers.dm
  code/game/machinery/embedded_controller/embedded_controller_base.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/turfs/simulated/shuttle.dm
  code/modules/library/computers/remote_gallery_access.dm
  code/modules/media/broadcast/receivers/radio.dm
  code/modules/reagents/machinery/chem_master.dm
  code/modules/research/xenoarchaeology/machinery/artifact_analyser.dm
  icons/lighting/special.dmi
Owners: @ShizCalev, @WJohn

woops
  code/game/machinery/computer/security.dm
  icons/lighting/special.dmi
Owners: @ShizCalev, @WJohn

changes pathing for bluespaceshaker
  code/modules/research/designs/bluespace.dm
Owners: none

Generalizes code for shakers, adds bluespace shakers.
  code/modules/reagents/reagent_containers/food/drinks.dm
Owners: none

Makes the reaction container for shakers larger, to accomodate bluespace shakers.
  code/modules/reagents/reagent_containers/food/drinks.dm
Owners: none

Lost Crate
  code/game/objects/items/trader.dm
  code/modules/trader/crates/lostcrate.dm
  vgstation13.dme
Owners: none

small fix and new sprites
  code/modules/trader/crates/lostcrate.dm
Owners: none

Just needs testing
  code/modules/trader/crates/lostcrate.dm
  code/modules/trader/trade_datums.dm
  icons/obj/items_weird.dmi
Owners: @ShizCalev, @WJohn

brig medic hud
  code/datums/outfit/medical.dm
  code/modules/clothing/glasses/hud.dm
Owners: none

Prevent flax oil from trying to match the color of glue (#35684)
  code/modules/painting/paint_reagents.dm
Owners: none

hub entry shows the round time, shuttle time, map, next map moved the emergency shuttle timer proc off status displays
  code/controllers/shuttle_controller.dm
  code/game/machinery/status_display.dm
  code/hub.dm
Owners: none

green screen
  code/game/machinery/kitchen/snackbarmachine.dm
Owners: none

Horizon polish and fixes
  code/game/objects/items/trash.dm
  code/modules/paperwork/photography.dm
  maps/horizon.dm
Owners: none

arf
  code/game/objects/items/trash.dm
Owners: none

Fix DMAPI updater action
  .github/workflows/update_tgs_dmapi.yml
Owners: none

Don't create a new label when the DMAPI updater action runs
  .github/workflows/update_tgs_dmapi.yml
Owners: none

Bluespace Shakers (#35101)
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/research/designs/bluespace.dm
  icons/mob/in-hand/left/drinkingglass.dmi
  icons/mob/in-hand/right/drinkingglass.dmi
  icons/obj/bottleflip.dmi
  icons/obj/drinks.dmi
Owners: @ShizCalev, @WJohn

Horizon polish and fixes (#35694)
  code/game/objects/items/trash.dm
  code/modules/paperwork/photography.dm
  maps/horizon.dm
Owners: none

roundstart wagehuds (#35686)
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Owners: none

medihud updates (#35685)
  __DEFINES/setup.dm
  code/datums/hud/medical_hud.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  icons/mob/hud.dmi
Owners: @ShizCalev, @WJohn

Don't create a new label when the DMAPI updater action runs (#35696)
  .github/workflows/update_tgs_dmapi.yml
Owners: none

Pajama fix
  icons/mob/head.dmi
Owners: @ShizCalev, @WJohn

Pajama Hat Alignment (#35702)
  icons/mob/head.dmi
Owners: @ShizCalev, @WJohn

Archive Hotfix + QoL
  code/datums/helper_datums/command_alerts.dm
  code/game/gamemodes/endgame/scoreboard/misc_score.dm
  code/game/gamemodes/endgame/scoreboard/scoreboard.dm
  code/game/machinery/disk_duplicator.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  code/modules/library/lib_machines.dm
  code/modules/research/designs/data.dm
  code/modules/research/research.dm
Owners: none

Archive Hotfix + QoL (#35705)
  code/datums/helper_datums/command_alerts.dm
  code/game/gamemodes/endgame/scoreboard/misc_score.dm
  code/game/gamemodes/endgame/scoreboard/scoreboard.dm
  code/game/machinery/disk_duplicator.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  code/modules/library/lib_machines.dm
  code/modules/research/designs/data.dm
  code/modules/research/research.dm
Owners: none

Corrects a path in documentation
  .github/workflows/update_tgs_dmapi.yml
Owners: none

Corrects a path in documentation (#35706)
  .github/workflows/update_tgs_dmapi.yml
Owners: none

New Libraries
  icons/turf/floors_wood.dmi
Owners: @ShizCalev, @WJohn

creatine cricket part 1
  code/modules/mob/living/simple_animal/cricket.dm
Owners: none

creatine cricket meats
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
Owners: none

including the creatine cricket file
  vgstation13.dme
Owners: none

Create creatinecricket.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/creatinecricket.dm
Owners: none

sounds for the creatine bros
  sound/effects/creatine_cricket_chirp.ogg
  sound/effects/cricket_hiss.ogg
Owners: @ShizCalev

icons for the creatine cricket and cricket king
  icons/mob/animal.dmi
Owners: @ShizCalev, @WJohn

Update fax.dm
  code/modules/paperwork/fax.dm
Owners: none

kettle temp
  code/modules/reagents/reagent_containers/glass.dm
Owners: none

kettle steam offset and fixes
  code/game/atoms.dm
  code/modules/admin/admin_verbs.dm
  code/modules/food/cooking_machines.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  code/modules/reagents/reagent_containers/food/drinks/drinkingglass.dm
  code/modules/reagents/reagent_containers/glass.dm
  vgstation13.dme
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
