Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

science goggle fix and prescriptions fix
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/glasses/scanners.dm
Owners: none

hub shows starting/restarting status, time to start, and the time is elapsed time rather than station time
  code/hub.dm
Owners: none

add proc for getting elapsed game time in hh:mm or hh:mm:ss
  code/__HELPERS/time.dm
Owners: none

Update hub.dm
  code/hub.dm
Owners: none

observer sechud multihud bugfix
  code/modules/mob/dead/observer/verbs.dm
Owners: none

Fixes secborgs having partial security huds
  code/modules/mob/living/silicon/robot/robot_verbs.dm
Owners: none

Update TGS DMAPI
  __DEFINES/tgs.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
Owners: none

HUD Glasses/Goggles Bugfixes and Tweaks (#35754)
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/glasses/scanners.dm
  code/modules/mob/dead/observer/verbs.dm
  code/modules/mob/living/silicon/robot/robot_verbs.dm
Owners: none

reagent split into files (#35753)
  __DEFINES/reagents.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/reagents/heart_medication.dm
  code/modules/reagents/reagents/reagents_basic.dm
  code/modules/reagents/reagents/reagents_bio.dm
  code/modules/reagents/reagents/reagents_dan.dm
  code/modules/reagents/reagents/reagents_drink.dm
  code/modules/reagents/reagents/reagents_drug.dm
  code/modules/reagents/reagents/reagents_ethanol.dm
  code/modules/reagents/reagents/reagents_food.dm
  code/modules/reagents/reagents/reagents_material.dm
  code/modules/reagents/reagents/reagents_medical.dm
  code/modules/reagents/reagents/reagents_misc.dm
  code/modules/reagents/reagents/reagents_paint.dm
  code/modules/reagents/reagents/reagents_plant.dm
  code/modules/reagents/reagents/reagents_reactive.dm
  code/modules/reagents/reagents/reagents_religious.dm
  code/modules/reagents/reagents/reagents_tools.dm
  code/modules/reagents/reagents/reagents_toxin.dm
  code/modules/reagents/reagents/reagents_xenoarch.dm
  code/modules/reagents/reagents/vg.dm
  code/modules/research/xenoarchaeology/chemistry.dm
  vgstation13.dme
Owners: none

Fixes monkey clothing melee armor (#35751)
  code/modules/mob/living/carbon/combat.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/living/living_defense.dm
Owners: none

Moody Lights polish (#35750)
  code/game/atoms.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/machinery.dm
  code/game/mecha/mech_bay.dm
  code/modules/library/computers/accounting.dm
  code/modules/library/lib_machines.dm
  icons/lighting/moody_lights.dmi
  icons/mecha/mech_bay.dmi
  icons/obj/computer.dmi
  icons/obj/library.dmi
Owners: @ShizCalev, @WJohn

CE Belt Preequip (#35743)
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
Owners: none

Hallucinations Don't Fake Doorshock (#35745)
  code/game/machinery/doors/airlock.dm
Owners: none

Painting/scoreboard maintenance (#35737)
  code/game/gamemodes/endgame/scoreboard/misc_score.dm
  code/modules/admin/topic.dm
  code/modules/html_interface/paintTool/custom_painting_datum.dm
  code/modules/painting/paintings_custom.dm
Owners: none

map edits, new blue genetics airlocks, rcd datum
  code/game/machinery/doors/airlock.dm
  code/game/objects/structures/door_assembly.dm
  code/modules/RCD/schematics/engi.dm
  icons/obj/doors/door_assembly.dmi
  icons/obj/doors/doorgenetics.dmi
  icons/obj/doors/doorgeneticsglass.dmi
  maps/randomvaults/dungeons/research.dmm
  maps/tgstation-snow.dmm
Owners: @ShizCalev, @WJohn

add top 10 splash screen contest finalists as splash screens
  icons/splashworks/title_contest1.gif
  icons/splashworks/title_contest10.gif
  icons/splashworks/title_contest2.gif
  icons/splashworks/title_contest3.png
  icons/splashworks/title_contest4.png
  icons/splashworks/title_contest5.gif
  icons/splashworks/title_contest7.png
  icons/splashworks/title_contest8.png
  icons/splashworks/title_contest9.gif
Owners: @ShizCalev, @WJohn

add correct #10 position splash screen, remove raider in morgue, re-order screens based on ranking
  icons/splashworks/title_contest10.gif
  icons/splashworks/title_contest3.png
  icons/splashworks/title_contest4.png
  icons/splashworks/title_contest7.png
  icons/splashworks/title_contest8.gif
  icons/splashworks/title_contest8.png
  icons/splashworks/title_contest9.gif
  icons/splashworks/title_contest9.png
Owners: @ShizCalev, @WJohn

made joyride 4 times slower
  icons/splashworks/title_contest10.gif
Owners: @ShizCalev, @WJohn

Red Core, First Edition
  code/datums/outfit/civilian.dm
  code/game/atoms.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/dice.dm
  code/game/objects/structures.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/library/gamemaster_items.dm
  code/modules/library/lib_machines.dm
  code/modules/painting/easel.dm
  code/modules/painting/paintings_custom.dm
  code/modules/paperwork/papers_preformatted.dm
  icons/obj/library.dmi
  icons/obj/objects_64x64.dmi
  icons/obj/toy.dmi
  sound/weapons/dicetower.ogg
  vgstation13.dme
Owners: @ShizCalev, @WJohn

finish
  code/game/machinery/vending.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/library/gamemaster_items.dm
  code/modules/library/redcore.dm
  code/modules/paperwork/papers_preformatted.dm
  icons/obj/toy.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

CE Contacts
  code/datums/action.dm
  code/modules/clothing/glasses/scanners.dm
Owners: none

noprot and into locker
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/clothing/glasses/scanners.dm
Owners: none

Nearsighted
  code/modules/clothing/glasses/scanners.dm
Owners: none

Free Sync
  code/modules/research/rdconsole.dm
Owners: none

Update stylesheet.dm
  __DEFINES/stylesheet.dm
Owners: none

Update weapon.dm
  code/defines/obj/weapon.dm
Owners: none

Update message.dm
  code/game/machinery/computer/message.dm
Owners: none

Add landline.dm
  code/game/machinery/landline.dm
Owners: none

Update requests_console.dm
  code/game/machinery/requests_console.dm
Owners: none

Update message_server.dm
  code/modules/research/message_server.dm
Owners: none

Update browserOutput.css
  goon/browserassets/css/browserOutput.css
Owners: none

Update vgstation13.dme
  vgstation13.dme
Owners: none

Delete icons/obj/items.dmi
  icons/obj/items.dmi
Owners: @ShizCalev, @WJohn

Delete icons/obj/terminals.dmi
  icons/obj/terminals.dmi
Owners: @ShizCalev, @WJohn

Add items.dmi and terminals.dmi
  icons/obj/items.dmi
  icons/obj/terminals.dmi
Owners: @ShizCalev, @WJohn

Add sounds
  sound/items/bananaphone_pickup.ogg
  sound/items/bananaphone_ring.ogg
  sound/items/cable_plug.mp3
  sound/items/cable_unplug.mp3
  sound/items/telephone_dial_440hz.mp3
  sound/items/telephone_end_call_440hz.mp3
  sound/items/telephone_pickup.ogg
  sound/items/telephone_ring.ogg
Owners: @ShizCalev

better reach
  code/_onclick/adjacent.dm
  code/modules/library/gamemaster_items.dm
Owners: none

Update dynamic_rulesets_roundstart.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

Bug fix and small tweak
  code/modules/randomMaps/vault_definitions.dm
Owners: none

not if broken
  code/modules/power/solars/panel.dm
Owners: none
