Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

cleanup
  code/modules/mob/living/say.dm
  code/modules/mob/mob.dm
Owners: none

theres nooobody heeere...
  code/controllers/subsystem/ambient_sound.dm
  code/game/area/ambience_datums.dm
  code/game/area/areas.dm
  sound/ambience/nobodyhere.ogg
Owners: @ShizCalev

capital
  code/game/area/areas.dm
Owners: none

more likely to actually show up
  code/game/area/areas.dm
Owners: none

cleanliness
  code/modules/virus2/effect/stage_4.dm
Owners: none

sanity
  code/modules/virus2/effect/stage_4.dm
Owners: none

reanimates right
  code/modules/virus2/effect/stage_4.dm
Owners: none

some stuff
  code/modules/virus2/effect/stage_4.dm
Owners: none

snaxi particles
  __DEFINES/setup.dm
  code/game/objects/effects/particles_system.dm
  code/game/turfs/unsimulated/snow.dm
  icons/effects/effects_particles.dmi
Owners: @ShizCalev, @WJohn

dont need this
  code/game/objects/effects/particles_system.dm
Owners: none

Implements code suggestions, also fixes radiation proc not dropping your feathers.
  code/datums/helper_datums/butchering.dm
  code/game/objects/items/stacks/feathers.dm
  code/game/objects/items/stacks/stack_recipes.dm
  code/modules/hydroponics/seeds.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life/handle_mutations_and_radiation.dm
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/mob/living/carbon/monkey/vox.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/reagents/reagents/reagents_food.dm
Owners: none

Update snaxi.dm
  maps/snaxi.dm
Owners: none

Update snaxi.dm
  maps/snaxi.dm
Owners: none

incorrect temp
  code/game/objects/items/devices/flashlight.dm
Owners: none

powerful plasma
  code/game/machinery/chemHandC.dm
Owners: none

something that covers this too
  code/modules/virus2/effect/stage_4.dm
Owners: none

Fixes RPEDs not being able to hold borg components
  code/game/objects/items/weapons/storage/bags.dm
Owners: none

Cyborg recharge station examining
  code/game/machinery/rechargestation.dm
Owners: none

Update wiz_robe.dm
  code/modules/clothing/suits/wiz_robe.dm
Owners: none

off by one my ass
  code/modules/hydroponics/hydroponics_mutations.dm
Owners: none

in hands cookin
  code/game/objects/items/candle.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/incense.dm
  code/game/objects/items/robot/robot_items/robot_axe.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/game/objects/items/weapons/switchtool.dm
  code/game/objects/items/weapons/tools.dm
  code/modules/food/cooking_machines.dm
  code/modules/mining/mine_items.dm
  code/modules/reagents/reagent_containers.dm
Owners: none

moving this right on back
  code/game/objects/items/weapons/tools.dm
Owners: none

vox hair styles
  code/modules/mob/new_player/sprite_accessories.dm
  icons/mob/hair_styles.dmi
Owners: @ShizCalev, @WJohn

vox hair color fix
  code/modules/client/preferences/pref_datums_character.dm
Owners: none

Remove regenerative_stasis cooldown
  code/modules/spells/changeling/regenerative_stasis.dm
Owners: none

plasmemes
  code/modules/organs/blood.dm
Owners: none

Add a check on lingrevive
  code/modules/spells/changeling/regenerative_stasis.dm
Owners: none

plugin bugs
  code/game/machinery/Sleeper.dm
  code/modules/mob/living/simple_animal/hostile/hog.dm
Owners: none

Additional fixes
  code/game/machinery/Sleeper.dm
  code/modules/mob/living/simple_animal/hostile/hog.dm
Owners: none

bangbang
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/minigun.dm
Owners: none

pump shotties
  code/modules/projectiles/guns/projectile/shotgun.dm
Owners: none

Update simple_animal.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Owners: none

optimization
  code/modules/mob/living/simple_animal/simple_animal.dm
Owners: none

Adds a PDA messaging cooldown of 1 second.
  code/game/objects/items/devices/PDA/apps/messenger.dm
Owners: none

cleaner
  code/game/objects/items/devices/PDA/apps/messenger.dm
Owners: none

removal
  code/game/objects/items/devices/PDA/apps/messenger.dm
Owners: none

should help for unit testing
  code/game/gamemodes/gameticker.dm
Owners: none

spraythrower
  code/modules/projectiles/projectile/special.dm
  code/modules/reagents/reagent_containers/spray.dm
Owners: none

pr to revisit later
  __DEFINES/reagents.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagents/reagents_ethanol.dm
Owners: none

vest instead of hos coat for aliens
  code/datums/outfit/security.dm
Owners: none
