Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Increase rocket speed to normal projectile values
  code/modules/projectiles/projectile/rocket.dm
Owners: none

fixes library checkout computers not being wrenchable
  code/modules/library/computers/checkout.dm
Owners: none

modified: code/game/machinery/cryo.dm modified: code/modules/recycling/conveyor2.dm
  code/game/machinery/cryo.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/recycling/conveyor2.dm
Owners: none

Makes the clown roid into a vault
  code/game/objects/items/devices/mat_synth.dm
  code/modules/mob/living/silicon/mommi/mommi_modules.dm
  code/modules/randomMaps/vault_definitions.dm
  maps/randomvaults/clownroid.dmm
Owners: none

properly cleaned this time. Made the clownroid's area into a vault
  maps/randomvaults/clownroid.dmm
Owners: none

Fixes SoC turning people into piles of ash (#23267)
  code/modules/mob/transform_procs.dm
Owners: none

Ghosts can follow mechs (#23260)
  code/_onclick/observer.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Reduces a lot of stuns (#23093)
  code/game/objects/items/devices/PDA/PDA.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/energy.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

fixes library checkout computers not being wrenchable (#23271)
  code/modules/library/computers/checkout.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Meteors will now target the general center of the station like rods, massively increasing the amount that will cross the station
  code/game/gamemodes/meteor/meteors.dm
Owners: none

Revert "Reduces a lot of stuns (#23093)"
  code/game/objects/items/devices/PDA/PDA.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/energy.dm
Owners: none

Try Shifty's solution
  code/game/gamemodes/meteor/meteors.dm
Owners: none

Again
  code/game/gamemodes/meteor/meteor_universe.dm
  code/game/gamemodes/meteor/meteors.dm
  code/modules/events/meteors.dm
Owners: none

Load coins into railguns + unatomic changes
  code/modules/mining/ores_coins.dm
  code/modules/projectiles/guns/projectile/constructable/gunsmithing.dm
  code/modules/projectiles/guns/projectile/constructable/railgun.dm
  icons/obj/weaponsmithing.dmi
Owners: @ShizCalev, @WJohn

remove comments
  code/modules/projectiles/guns/projectile/constructable/railgun.dm
Owners: none

coins as screwdrivers, general unfucking
  code/modules/projectiles/guns/projectile/constructable/railgun.dm
Owners: none

bullet changes
  code/modules/projectiles/projectile/bullets.dm
Owners: none

modified: code/modules/admin/admin_verbs.dm modified: code/modules/mob/say.dm modified: code/modules/power/singularity/singularity.dm modified: code/world.dm
  code/modules/admin/admin_verbs.dm
  code/modules/mob/say.dm
  code/modules/power/singularity/singularity.dm
  code/world.dm
Owners: none

i love alt clicks
  code/game/objects/storage/coat.dm
Owners: none

Update coat.dm
  code/game/objects/storage/coat.dm
Owners: none

modified: code/game/machinery/cryo.dm modified: code/modules/recycling/conveyor2.dm
  code/game/machinery/cryo.dm
  code/modules/recycling/conveyor2.dm
Owners: none

adds missing poncho
  icons/obj/clothing/suits.dmi
Owners: @ShizCalev, @WJohn

Fixes bee species not being initialized properly
  __DEFINES/global.dm
  code/modules/mob/living/simple_animal/bees/bees_datums.dm
  code/world.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Saw something weird while playing with the teleporters ingame today. Looked at the documentation, and orange uses usr as its center by default.
  code/game/machinery/teleporter.dm
Owners: none

Adds internal component upgrade uses to the teleporters
  code/game/machinery/teleporter.dm
Owners: none

Adds internal component upgrade uses to the teleporters
  code/game/machinery/teleporter.dm
Owners: none

plural sanity
  code/game/machinery/teleporter.dm
Owners: none

modified: code/modules/power/singularity/singularity.dm
  code/modules/power/singularity/singularity.dm
Owners: none

some splicer stuff
  code/modules/virus2/centrifuge.dm
  code/modules/virus2/diseasesplicer.dm
  code/modules/virus2/items_devices.dm
  icons/obj/virology.dmi
  nano/templates/disease_splicer.tmpl
Owners: @ShizCalev, @WJohn

fix
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
Owners: none

Airflow sucking you no longer continues after you've finally gotten up and tried to move away, or have made yourself unmovable (magboots on, magbites consumed, etc.)
  code/ZAS/Airflow.dm
  code/ZAS/ConnectionGroup.dm
Owners: none

Refactors get_area_name and jump to node blob verb now shows area where each blob node is located
  code/__HELPERS/game.dm
  code/game/gamemodes/blob/powers.dm
Owners: @ChangelingRain

Get_area_by_name
  code/__HELPERS/game.dm
Owners: none
