Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

parenthesis
  code/game/machinery/turrets.dm
Owners: none

fix vendor puncutation + other punctuation errors found in grep
  code/datums/gamemode/factions/syndicate/nukeops.dm
  code/datums/gamemode/factions/vox_shoal.dm
  code/datums/gamemode/role/malf/hackabilities.dm
  code/game/machinery/vending.dm
  code/game/objects/structures/fullwindow.dm
  code/game/objects/structures/window.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/assembly/logic/write.dm
  code/modules/events/money_spam.dm
  code/modules/nano/JSON Reader.dm
  code/modules/power/solars/panel.dm
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
Owners: none

Update turrets.dm
  code/game/machinery/turrets.dm
Owners: none

a_few_more_suggestions
  config/names/grey_first_female(h).txt
  config/names/grey_first_male.txt
Owners: none

fr*nch
  code/game/machinery/vending.dm
Owners: none

crate hiding
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/mob/living/living.dm
Owners: none

better check for resting in crate
  code/modules/mob/living/living.dm
Owners: none

fix horrible snaxi vendor placement, fix punctuation in same vending machine + other places (#34772)
  code/datums/gamemode/factions/syndicate/nukeops.dm
  code/datums/gamemode/factions/vox_shoal.dm
  code/datums/gamemode/role/malf/hackabilities.dm
  code/game/objects/structures/fullwindow.dm
  code/game/objects/structures/window.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/assembly/logic/write.dm
  code/modules/events/money_spam.dm
  code/modules/nano/JSON Reader.dm
  code/modules/power/solars/panel.dm
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

allows washing outerwear with crayons to transform them into different suits
  code/game/machinery/washing_machine.dm
Owners: none

assigns colors to purple/blue/IAA suit jacket
  code/modules/clothing/suits/jobs.dm
Owners: none

Flair Bartending
  __DEFINES/setup.dm
  code/datums/body_archive.dm
  code/datums/outfit/civilian.dm
  code/datums/outfit/security.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/job.dm
  code/game/objects/structures/dorfpod.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/food/drinks/drinkingglass.dm
  icons/mob/in-hand/left/drinkingglass.dmi
  icons/mob/in-hand/right/drinkingglass.dmi
  icons/obj/bottleflip.dmi
  icons/obj/drinks.dmi
  sound/effects/woosh.ogg
Owners: @ShizCalev, @WJohn

woops
  code/modules/mob/living/carbon/human/life.dm
Owners: none

better
  sound/effects/woosh.ogg
  sound/effects/woosh.wav
Owners: @ShizCalev

quieter yet
  code/modules/reagents/reagent_containers/food/drinks.dm
Owners: none

fix job prefs panel
  code/datums/outfit/civilian.dm
  code/datums/outfit/security.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/security.dm
Owners: none

clumsy
  code/modules/reagents/reagent_containers/food/drinks.dm
Owners: none

welding_shield_and_rig_cleanup
  code/datums/supplypacks.dm
  code/modules/clothing/spacesuits/grey_rig.dm
  icons/mob/head.dmi
  icons/obj/clothing/hats.dmi
  maps/randomvaults/dungeons/habitation.dmm
Owners: @ShizCalev, @WJohn

Say vomit-stained, oil-stained, fuel-stained, etc. in item examine descriptions.
  code/__HELPERS/lists.dm
  code/game/atoms.dm
  code/game/objects/effects/decals/Cleanable/aliens.dm
  code/game/objects/effects/decals/Cleanable/fuel.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/effects/decals/Cleanable/robots.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/structures/mannequin.dm
  code/modules/mob/living/carbon/complex/examine.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/monkey/examine.dm
Owners: none

Tweak.
  code/game/atoms.dm
  code/game/objects/effects/decals/Cleanable/aliens.dm
Owners: none

workflows
  .github/workflows/ci.yml
Owners: none

full removal of islandstation from code
  __DEFINES/__compile_options.dm
  code/datums/next_map.dm
  code/game/shuttles/island.dm
  maps/_map_override.dm
  maps/island.dm
Owners: none

remove island from dme
  vgstation13.dme
Owners: none

Returns old splash code, alters polyacid to burn damage
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
Owners: none

Revert unatomic changes
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Clamp HSV value to [55, 200].
  code/__HELPERS/icons.dm
  code/game/atoms.dm
Owners: none

an oil-stained chief medical officer's jumpsuit
  code/__HELPERS/text.dm
  code/game/atoms.dm
  code/game/objects/structures/mannequin.dm
  code/modules/mob/living/carbon/complex/examine.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/monkey/examine.dm
Owners: none

Update medsci.dm
  code/modules/clothing/under/jobs/medsci.dm
Owners: none

.
  code/game/atoms.dm
Owners: none

Bloody hands tweaks.
  code/modules/detectivework/detective_work.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/surgery/other.dm
  code/modules/surgery/surgery.dm
Owners: none

Update examine.dm
  code/modules/mob/living/carbon/human/examine.dm
Owners: none

Fix stained hands.
  __DEFINES/colors.dm
  code/game/atoms.dm
  code/modules/mob/living/carbon/human/examine.dm
Owners: none

7th revision, corrected Directive 7-12 AI code and added mention of Directive 7-10. Also some vampire tweaks.
  code/game/objects/items/weapons/manuals.dm
Owners: none

Fix blood-stained hands.
  __DEFINES/colors.dm
  code/game/atoms.dm
  code/modules/mob/living/carbon/human/examine.dm
Owners: none

Update text.dm
  code/__HELPERS/text.dm
Owners: none

grisly not grizzly
  code/game/objects/items/weapons/manuals.dm
Owners: none

roboticists now get access to ringer with rnd deskbell frequency
  code/game/objects/items/devices/PDA/PDA_types.dm
Owners: none

gfdgdfgdfgdf
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
Owners: none

well that's that
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
Owners: none

alrighty
  code/datums/gamemode/dynamic/dynamic.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_latejoin.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_midround.dm
Owners: none
