Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

adds check to lock_atom()
  code/game/atoms_movable.dm
Owners: none

Fucking fuck mcfuckfuck fucking fuuuck
  code/game/gamemodes/changeling/changeling_powers.dm
Owners: none

Fucking fuck mcfuckfuck fucking fuuuck (#19557)
  code/game/gamemodes/changeling/changeling_powers.dm
Owners: none

helter fixes
  code/game/machinery/alarm.dm
  code/game/objects/structures/inflatable.dm
Owners: none

fixes the visible_message when putting people into shelters, adds click dragging into shelters
  code/game/objects/structures/inflatable.dm
Owners: none

Enable the pulltoggle preference migration in the DME.
  vgstation13.dme
Owners: none

holoman shelter runtime
  code/game/objects/structures/inflatable.dm
Owners: none

haunted arcade
  __DEFINES/lighting.dm
  code/game/machinery/computer/arcade/arcade.dm
  code/game/machinery/computer/arcade/arcade_game.dm
  icons/obj/computer.dmi
Owners: @ShizCalev, @WJohn

Lightswitches glow slightly in the dark (fixes #18195)
  code/game/machinery/lightswitch.dm
  icons/obj/power.dmi
Owners: @ShizCalev, @WJohn

okay i guess we're removing 012 again
  vgstation13.dme
Owners: none

You're a machine
  code/game/machinery/lightswitch.dm
Owners: none

requested changes
  code/game/objects/structures/inflatable.dm
Owners: none

Revert "Enable the pulltoggle preference migration in the DME."
  vgstation13.dme
Owners: none

Use INTEGER instead of TEXT for storing preferences. Plus other changes.
  SQL/players2.sql
  __DEFINES/global.dm
  code/game/jobs/job_controller.dm
  code/modules/client/preferences.dm
  code/modules/migrations/SS13_Prefs/001-create.dm
  code/modules/migrations/SS13_Prefs/013-add-bank-pref.dm
Owners: @Jordie0608

String represent of bank security level numbers is now shown.
  __DEFINES/global.dm
  code/game/jobs/job_controller.dm
  code/modules/client/preferences.dm
Owners: none

Humans can no longer be martians (#19572)
  code/game/machinery/lightswitch.dm
  icons/obj/power.dmi
Owners: @ShizCalev, @WJohn

Fixed typos and added suggestions
  __DEFINES/global.dm
  code/modules/client/preferences.dm
Owners: none

fix explanation
  __DEFINES/global.dm
Owners: none

clarify which account is secure
  code/game/jobs/job_controller.dm
Owners: none

Adds bank account security prefs (#19547)
  SQL/players2.sql
  __DEFINES/global.dm
  code/game/jobs/job_controller.dm
  code/modules/Economy/Accounts.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/migrations/SS13_Prefs/001-create.dm
  code/modules/migrations/SS13_Prefs/013-add-bank-pref.dm
  vgstation13.dme
Owners: @Jordie0608

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Changeling fixes
  code/game/gamemodes/changeling/changeling_powers.dm
Owners: none

Some QoL
  code/datums/gamemode/role/changeling.dm
  code/game/gamemodes/changeling/changeling_powers.dm
Owners: none

Adds medical secure crates
  code/datums/supplypacks.dm
  code/game/objects/structures/crates_lockers/crates.dm
  icons/obj/storage/storage.dmi
Owners: @ShizCalev, @WJohn

Malf fixes
  code/modules/power/apc.dm
Owners: none

Makes the supermatter crystal actually generate more power than shards (#19480)
  code/modules/supermatter/supermatter.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

fixed conflicts and removed my unnecessary bugfix.
  code/game/objects/items/weapons/surgery_tools.dm
  vgstation13.dme
Owners: none

switches tiny_test back to box
  vgstation13.dme
Owners: none

Network Alert: ALL SYSTEMS NOMINAL
  code/modules/mob/living/silicon/pai/software.dm
Owners: none

diona blood restricted
  code/modules/mob/living/carbon/monkey/diona.dm
Owners: none

EXTREMELY risky no-compile web update
  code/modules/mob/living/carbon/monkey/diona.dm
Owners: none

Human
  code/modules/mob/living/carbon/monkey/diona.dm
Owners: none

use items on extractor
  code/__HELPERS/unsorted.dm
Owners: none

wielding animals
  code/modules/mob/living/holders.dm
  code/modules/mob/living/simple_animal/borer.dm
Owners: none

offhand handles itself
  code/game/objects/items/weapons/twohanded.dm
Owners: none

more edge cases
  code/game/objects/items.dm
  code/game/objects/items/weapons/twohanded.dm
Owners: none

cell desc
  code/game/objects/items/weapons/power_cells.dm
  code/modules/power/cell.dm
Owners: none

Update cell.dm
  code/modules/power/cell.dm
Owners: none

quiet space
  code/game/say.dm
  code/modules/mob/living/say.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
