Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

dynamic balance
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

dazdazdza
  code/datums/gamemode/dynamic/dynamic.dm
Owners: none

Compromise on ERT name length
  code/game/striketeams/emergency_response_team.dm
Owners: none

Removes a compile warning
  code/WorkInProgress/pomf/spacepods/equipment.dm
Owners: none

Removes a compile warning (#22003)
  code/WorkInProgress/pomf/spacepods/equipment.dm
Owners: none

agh
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

Some Balance to Dynamic Mode (#22000)
  code/datums/gamemode/dynamic/dynamic.dm
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Choco coins are now premium items
  code/game/machinery/vending.dm
Owners: none

e
  code/game/gamemodes/wizard/rightandwrong.dm
Owners: none

FIXES LIGHTNING
  code/modules/spells/general/lightning.dm
Owners: none

Supply Consoles no longer require cargo access to use.
  code/game/machinery/computer/cargo.dm
Owners: none

lol
  code/datums/supplypacks.dm
Owners: none

Compromise on ERT name length (#22002)
  code/game/striketeams/emergency_response_team.dm
Owners: none

FIXES LIGHTNING (#22007)
  code/modules/spells/general/lightning.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

adds professionalism
  code/datums/supplypacks.dm
Owners: none

Supply Consoles no longer require cargo access to use 2: SOLDERING EDITION
  code/game/machinery/computer/cargo.dm
Owners: none

Some cult fixes (#21978)
  code/datums/gamemode/factions/bloodcult/bloodcult.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_buildings.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/datums/gamemode/objectives/bloodcult.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Makes greys acid resistant more consistent, makes it into a define (#21961)
  __DEFINES/setup.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/species.dm
  code/modules/reagents/Chemistry-Reagents.dm
Owners: none

Fixes having both polyacid and phenol making plastic. (#21960)
  code/modules/reagents/Chemistry-Holder.dm
Owners: none

Adds descriptions to all of the virology symptoms. (#21959)
  code/modules/virus2/disease2.dm
  code/modules/virus2/effect/effect.dm
  code/modules/virus2/effect/stage_1.dm
  code/modules/virus2/effect/stage_2.dm
  code/modules/virus2/effect/stage_3.dm
  code/modules/virus2/effect/stage_4.dm
  code/modules/virus2/effect/stage_special.dm
Owners: none

Cult actually requires ennemies to fight (#21946)
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

Update items_devices.dm
  code/modules/virus2/items_devices.dm
Owners: none

Flavour lines for cultist conversion (#21665)
  __DEFINES/game.dm
  code/datums/gamemode/factions/bloodcult/bloodcult.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_flavourlines.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/game/jobs/jobs.dm
  vgstation13.dme
Owners: none

Fixes an irregularity with the antibody scanner's scanning (#21966)
  code/modules/virus2/items_devices.dm
Owners: none

Voice noises (#21687)
  code/controllers/configuration.dm
  code/game/sound.dm
  code/modules/client/client procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/migrations/SS13_Prefs/016-add-voice.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/say.dm
  config-example/game_options.txt
  sound/misc/Vocal1.ogg
  sound/misc/Vocal2.ogg
  sound/misc/Vocal3.ogg
  sound/misc/Vocal4.ogg
  sound/misc/Vocal5.ogg
  vgstation13.dme
Owners: @ShizCalev

The character preference window will now tell you what color your skin tone is instead of just a numerical value (#21998)
  code/modules/client/preferences.dm
Owners: none

Makes the life of powergame genetics harder.
  code/game/dna/dna2.dm
Owners: none

e
  interface/interface.dm
  interface/skin.dmf
Owners: none

coder war now
  code/game/machinery/cryo.dm
Owners: none

lying people are placed instantly
  code/game/machinery/cryo.dm
Owners: none

adds the stuff
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  interface/interface.dm
Owners: none

hmm
  code/modules/mob/living/carbon/human/human_defines.dm
Owners: none

Explosives
  code/game/gamemodes/wizard/rightandwrong.dm
  code/game/objects/items/weapons/storage/boxes.dm
Owners: none

Slight description changes
  code/game/gamemodes/wizard/artifacts.dm
Owners: none

Adds tier 4 stock parts (#21852)
  code/game/objects/items/weapons/stock_parts.dm
  code/modules/mining/surprises/tg.dm
  code/modules/projectiles/guns/projectile/constructable/gunsmithing.dm
  code/modules/research/xenoarchaeology/finds/finds.dm
  icons/obj/stock_parts.dmi
  icons/obj/weaponsmithing.dmi
Owners: @ShizCalev, @WJohn

at => by
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
