Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

aja
  code/game/objects/structures/crates_lockers/closets.dm
Owners: none

POMF
  code/modules/research/xenoarchaeology/finds/finds.dm
Owners: none

compile
  code/datums/religions.dm
Owners: none

Fixes newscasters deleting photos when made into frame
  code/game/machinery/newscaster.dm
Owners: none

job split
  code/datums/datacore.dm
  code/datums/outfit/science.dm
  code/game/jobs/job/science.dm
  code/game/jobs/jobs.dm
  code/modules/mob/new_player/preferences_setup.dm
Owners: none

spawn points
  code/game/jobs/job/science.dm
Owners: none

ugh
  code/__HELPERS/logging.dm
  code/modules/mob/living/damage_procs.dm
Owners: none

fix critlogs
  code/modules/mob/living/damage_procs.dm
Owners: none

derp
  code/modules/mob/living/damage_procs.dm
Owners: none

adminspawncookie REdux
  code/modules/admin/topic.dm
Owners: none

assert
  code/__HELPERS/logging.dm
Owners: none

Fixes admin PM mute bypass (#30004)
  code/modules/admin/verbs/adminhelp.dm
Owners: @Cyberboss

Fixes newscasters deleting photos when made into frame (#30008)
  code/game/machinery/newscaster.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

drop dat cardboard
  code/game/machinery/kitchen/microwave.dm
Owners: none

Adds extra modes to some assemblies
  code/modules/assembly/proximity.dm
  code/modules/assembly/timer.dm
Owners: none

Oversight
  code/modules/assembly/timer.dm
Owners: none

compile now?
  code/datums/religions.dm
Owners: none

oversight in one religion
  code/datums/religions.dm
Owners: none

Makes attack logs carry over via cloning (#29877)
  code/game/dna/dna_modifier.dm
  code/game/objects/structures/dorfpod.dm
  code/modules/medical/cloning.dm
  code/modules/medical/computer/cloning.dm
  code/modules/mob/mob_defines.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

POMF (#30006)
  code/modules/research/xenoarchaeology/finds/finds.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

radstorm harvesting (#29998)
  code/modules/events/radiation_storm.dm
Owners: none

Removesspacesfromspeechwhileonhyperzines (#30001)
  code/modules/mob/living/say.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Fixes various coffins issues and changes how buckling in one works (#30005)
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/coffin.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

le fishe au chocolat
  code/modules/reagents/reagent_containers/food/mobcube.dm
Owners: none

Adds baby carp cubes and carp pheromone bottles. Not mapped anywhere currently. (#29994)
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/reagents/reagent_containers/food/mobcube.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  icons/obj/food.dmi
Owners: @ShizCalev, @WJohn

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

drop dat cardboard (#30013)
  code/game/machinery/kitchen/microwave.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Available maps are determined by code
  code/__HELPERS/files.dm
  code/controllers/mc/admin.dm
  code/game/gamemodes/gameticker.dm
  code/modules/html_interface/voting/voting.dm
  maps/next_map.dm
  vgstation13.dme
Owners: none

Fixed github actions
  code/datums/next_map.dm
  vgstation13.dme
Owners: none

help me
  code/game/machinery/flasher.dm
Owners: none

Fixes Traitors not having access to their role exclusive uplink items
  code/game/objects/items/devices/uplinks.dm
Owners: none

rename
  code/game/objects/items/weapons/storage/boxes.dm
Owners: none

Mapped carp cubes.
  maps/test_box.dmm
Owners: none

progress
  __DEFINES/process.dm
  __DEFINES/subsystem.dm
  code/ATMOSPHERICS/atmospherics.dm
  code/ATMOSPHERICS/components/binary_devices/binary_atmos_base.dm
  code/ATMOSPHERICS/components/trinary_devices/trinary_base.dm
  code/ATMOSPHERICS/pipes.dm
  code/TriDimension/multiz.dmi
  code/controllers/mc/controller.dm
  code/controllers/mc/failsafe.dm
  code/controllers/mc/master.dm
  code/game/turfs/turf.dm
  code/modules/multiz/_HELPERS.dm
  code/modules/multiz/basic.dm
  code/modules/multiz/movement.dm
  code/modules/multiz/open_space_controller.dm
  code/modules/multiz/pipes.dm
  code/modules/multiz/structures.dm
  code/modules/multiz/turfs.dm
  code/modules/multiz/ventcrawl.dm
  code/modules/multiz/zshadow.dm
  icons/obj/stairs.dmi
  icons/turf/open_space.dmi
  maps/_map.dm
  maps/backup/test_asteroid.dmm
  maps/test_multiz.dm
  maps/test_multiz.dmm
  vgstation13.dme
Owners: @ShizCalev, @WJohn
