Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

i swear it's useless
  code/defines/obj.dm
Owners: none

step
  code/datums/gamemode/dynamic/dynamic_rulesets_roundstart.dm
  code/game/jobs/job_controller.dm
Owners: none

keep the list clean
  code/modules/client/preferences.dm
Owners: none

streamlined holoweights
  code/game/machinery/computer/HolodeckControl.dm
  code/game/objects/structures/fitness.dm
Owners: none

Disable snaxi
  code/datums/next_map.dm
Owners: none

AME Polish
  code/modules/power/antimatter/control.dm
  code/modules/power/antimatter/shielding.dm
  icons/obj/machines/new_ame.dmi
Owners: @ShizCalev, @WJohn

was it really that simple?
  code/modules/power/antimatter/control.dm
  code/modules/power/antimatter/shielding.dm
Owners: none

tank asset added
  code/modules/reagents/reagent_dispenser.dm
  icons/obj/objects.dmi
Owners: @ShizCalev, @WJohn

typo fix
  code/datums/outfit/science.dm
Owners: none

typo fix (#30038)
  code/datums/outfit/science.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Mechanics have access to the engines
  code/game/jobs/job/engineering.dm
Owners: none

emptied beakers, fixed description
  code/modules/reagents/reagent_dispenser.dm
  icons/obj/objects.dmi
Owners: @ShizCalev, @WJohn

typos
  code/modules/reagents/reagent_dispenser.dm
Owners: none

consistency
  code/modules/reagents/reagent_dispenser.dm
  icons/obj/objects.dmi
Owners: @ShizCalev, @WJohn

more polish
  code/modules/power/antimatter/containment_jar.dm
  code/modules/power/antimatter/control.dm
  code/modules/power/antimatter/shielding.dm
  icons/am_engine.dmi
  icons/mob/in-hand/left/misc_tools.dmi
  icons/mob/in-hand/right/misc_tools.dmi
  icons/obj/machines/am_engine.dmi
  icons/obj/machines/antimatter-old.dmi
  icons/obj/machines/antimatter.dmi
  icons/obj/machines/new_ame.dmi
Owners: @ShizCalev, @WJohn

inhand and gauge
  code/modules/power/antimatter/containment_jar.dm
  icons/obj/machines/new_ame.dmi
Owners: @ShizCalev, @WJohn

better
  icons/mob/in-hand/left/misc_tools.dmi
  icons/mob/in-hand/right/misc_tools.dmi
Owners: @ShizCalev, @WJohn

amelab dm
  code/game/gamemodes/blob/blobs/core.dm
  code/game/gamemodes/blob/blobs/node.dm
  code/game/gamemodes/blob/theblob.dm
  code/game/machinery/suit_storage_unit.dm
  maps/randomvaults/objects.dm
Owners: @ChangelingRain

amelab dmm
  maps/randomvaults/amelab.dmm
Owners: none

swap rok
  maps/randomvaults/mining/angie_lair.dmm
Owners: none

fix
  maps/randomvaults/mining/abandoned_digsite.dmm
  maps/randomvaults/mining/crashed_pod.dmm
  maps/randomvaults/mining/crashed_tradeship.dmm
  maps/randomvaults/mining/geode.dmm
Owners: none

add and replace
  code/modules/mining/surprises/vg.dm
  maps/randomvaults/mining/huggernest.dmm
Owners: none

alien
  maps/randomvaults/mining/huggernest.dmm
Owners: none

fix voting
  code/modules/html_interface/voting/voting.dm
Owners: none

ptptpptptbnrpnrppnrpp
  nano/templates/ame.tmpl
Owners: none

fix voting (#30048)
  code/modules/html_interface/voting/voting.dm
Owners: none

adds a power monitoring console and polishes some descriptions
  maps/randomvaults/amelab.dmm
Owners: none

smes
  maps/randomvaults/amelab.dmm
  maps/randomvaults/objects.dm
Owners: none

bin
  maps/randomvaults/amelab.dmm
Owners: none

I swear this is my last polish
  maps/randomvaults/amelab.dmm
Owners: none

Fixhandcuffedswap
  code/modules/organs/organ.dm
Owners: none

Only maps that exist on the server can be voted for
  code/datums/next_map.dm
Owners: none

Fixhandcuffedswap (#30050)
  code/modules/organs/organ.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Only maps that exist on the server can be voted for (#30051)
  code/datums/next_map.dm
Owners: none

fix typo
  maps/randomvaults/objects.dm
Owners: none

suit construction
  code/datums/supplypacks.dm
  code/game/objects/items/devices/rigbuilding.dm
  code/modules/clothing/spacesuits/rig.dm
  icons/obj/device.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

fabricator interface (broken WIP)
  code/game/mecha/mech_fabricator.dm
  code/modules/research/designs/boards/misc.dm
  nano/templates/exofab.tmpl
Owners: none

bugfix and exploit prevention
  code/game/gamemodes/blob/blobs/core.dm
  code/game/gamemodes/meteor/meteors.dm
Owners: @ChangelingRain
