Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

fixes
  code/controllers/subsystem/mapping.dm
  code/game/machinery/computer/communications.dm
  code/game/turfs/turf.dm
Owners: @Cyberboss

port
  maps/defficiency.dmm
Owners: none

makes bert work on planets only
  code/game/objects/items/devices/exploration.dm
Owners: none

i forgor this
  code/modules/mob/living/carbon/human/species/plasmaman.dm
Owners: none

oops
  code/game/objects/items/devices/exploration.dm
Owners: none

changes it to green to better contrast plasma
  icons/effects/tile_effects.dmi
Owners: @ShizCalev, @WJohn

fix
  code/modules/research/designs/data.dm
Owners: none

pausing
  code/controllers/subsystem/mob.dm
  code/game/gamemodes/gameticker.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/mobs_panel.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/debug.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/login.dm
  code/modules/mob/living/logout.dm
  vgstation13.dme
Owners: none

remove unused var
  code/game/machinery/alarm.dm
  code/game/machinery/cryo.dm
  code/modules/power/battery.dm
  code/modules/sound/sound_emitter.dm
Owners: none

remove unused var
  code/modules/sound/sound_emitter.dm
Owners: none

whoa fuck
  code/controllers/subsystem/sounds.dm
Owners: none

remove unnecessary spawn
  code/controllers/subsystem/sounds.dm
Owners: none

add missing event reg/dereg
  code/modules/sound/sound_emitter.dm
Owners: none

Update explosion.dm
  code/game/objects/explosion.dm
Owners: none

clean up dangling ref
  code/modules/sound/sound_emitter.dm
  code/modules/sound/sound_listener_context/sound_listener_context.dm
Owners: none

Update explosion.dm
  code/game/objects/explosion.dm
Owners: none

Persistence files cleanup
  code/controllers/subsystem/init/persistence/persistence_map.dm
  code/controllers/subsystem/init/persistence/persistence_task_ape_mode.dm
  code/controllers/subsystem/init/persistence/persistence_task_crewscore.dm
  code/controllers/subsystem/init/persistence/persistence_task_dynamic_ruleset_weights.dm
  code/controllers/subsystem/init/persistence/persistence_task_forwards_fulfilled.dm
  code/controllers/subsystem/init/persistence/persistence_task_highscores.dm
  code/controllers/subsystem/init/persistence/persistence_task_hub_settings.dm
  code/controllers/subsystem/init/persistence/persistence_task_latest_dynamic_rulesets.dm
  code/controllers/subsystem/init/persistence/persistence_task_lotto_jackpot.dm
  code/controllers/subsystem/init/persistence/persistence_task_researcharchive.dm
  code/controllers/subsystem/init/persistence/persistence_task_round_count.dm
  code/controllers/subsystem/init/persistence/persistence_task_round_end_data.dm
  code/controllers/subsystem/init/persistence/persistence_task_vote.dm
  code/controllers/subsystem/init/persistence/persistence_task_vox_raiders.dm
  code/controllers/subsystem/init/persistence/persistence_tasks.dm
  code/controllers/subsystem/init/persistence_misc.dm
  code/datums/gamemode/dynamic/dynamic.dm
  code/datums/gamemode/factions/vox_shoal.dm
  code/game/gamemodes/endgame/scoreboard/misc_score.dm
  code/game/machinery/computer/tetris.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/apes.dm
  code/modules/credits/credits.dm
  code/modules/html_interface/voting/voting.dm
  code/modules/unit_tests/highscores.dm
  vgstation13.dme
Owners: none

runtimes
  code/controllers/subsystem/mob.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/login.dm
  code/modules/mob/living/logout.dm
Owners: none

reduces opacity a lil
  icons/effects/tile_effects.dmi
Owners: @ShizCalev, @WJohn

minor adjustments
  maps/defficiency.dmm
Owners: none

Makes handheld camera bug TVs use new security camera UI
  code/game/objects/items/devices/handtv.dm
Owners: none

sanity
  code/game/objects/items/devices/handtv.dm
Owners: none

Update handtv.dm
  code/game/objects/items/devices/handtv.dm
Owners: none

Update handtv.dm
  code/game/objects/items/devices/handtv.dm
Owners: none

Update handtv.dm
  code/game/objects/items/devices/handtv.dm
Owners: none

use 64bit node
  tools/bootstrap/node_.ps1
Owners: none

use node_module instead of pnp, add clean task
  .vscode/tasks.json
  tgui/.yarnrc.yml
  tgui/rspack.config.cjs
  tools/build/build.js
  tools/build/lib/yarn.js
Owners: none

tgui bundle update
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui-say.bundle.js
  tgui/public/tgui.bundle.js
  tgui/yarn.lock
Owners: none

might as well hit this while i'm here
  tgui/README.md
Owners: none

fix custom religion and tidy up
  tgui/packages/tgui/interfaces/ChooseReligion.tsx
Owners: none

fix a fuck ton of tgui errors and warnings
  tgui/packages/tgui-panel/settings/SettingsGeneral.tsx
  tgui/packages/tgui-panel/settings/TextHighlight.tsx
  tgui/packages/tgui/interfaces/CameraConsole.tsx
  tgui/packages/tgui/interfaces/Gps.tsx
  tgui/packages/tgui/interfaces/MSGS.tsx
  tgui/packages/tgui/interfaces/MechaControlConsole.tsx
  tgui/packages/tgui/interfaces/Merch.tsx
  tgui/packages/tgui/interfaces/PCMC.tsx
  tgui/packages/tgui/interfaces/PlanetScanner.tsx
  tgui/packages/tgui/interfaces/PowerMonitor.tsx
  tgui/packages/tgui/interfaces/RoboticsControlConsole.tsx
  tgui/packages/tgui/interfaces/Uplink.tsx
  tgui/packages/tgui/stories/Input.stories.tsx
  tgui/packages/tgui/stories/ProgressBar.stories.tsx
  tgui/packages/tgui/stories/Themes.stories.tsx
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Owners: none

migration for node version
  tools/bootstrap/node_.ps1
Owners: none

Makes supply shuttle ordering atom checks consistent with sending
  code/controllers/subsystem/supply_shuttle.dm
Owners: none

WHAT IM RUINING TODAY
  code/game/objects/structures/signs.dm
  icons/obj/decals.dmi
  maps/defficiency.dmm
Owners: @ShizCalev, @WJohn

bump spacemandmm to 1.11
  .github/workflows/ci.yml
Owners: none

add rundebug config for launching both
  .vscode/launch.json
Owners: none

wait for dreamdaemon
  .vscode/launch.json
  .vscode/tasks.json
  bin/connect-to-local-wait.ps1
Owners: none

im going to bed
  .vscode/launch.json
  .vscode/tasks.json
  bin/connect-to-local-wait.ps1
Owners: none

first
  __DEFINES/map.dm
  code/__HELPERS/game.dm
  code/controllers/subsystem/daynightcycle.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/weather.dm
  code/datums/climate.dm
  code/datums/helper_datums/teleport.dm
  code/datums/shuttle.dm
  code/datums/sun.dm
  code/game/area/areas.dm
  code/game/atoms.dm
  code/game/machinery/computer/shuttle_computers.dm
  code/game/machinery/planet_scanner.dm
  code/game/machinery/telecomms/broadcaster.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/game/objects/items/devices/pcmc.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/turfs/simulated/shuttle.dm
  code/game/turfs/unsimulated/snow.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/climate_panel.dm
  code/modules/admin/level_manager.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/debug.dm
  code/modules/cmc/crew.dm
  code/modules/mining/mine_turfs.dm
  code/modules/power/solars/control.dm
  code/modules/power/solars/panel.dm
  code/modules/procedural mapping/planetGenerator/biome.dm
  code/modules/procedural mapping/planetGenerator/generators/urban.dm
  code/modules/procedural mapping/planetGenerator/planet.dm
  code/modules/procedural mapping/planetGenerator/planet_types.dm
  code/modules/procedural mapping/planetGenerator/story_generator/_story_generator.dm
  code/modules/procedural mapping/planetGenerator/turf.dm
  code/modules/telesci/gps.dm
  maps/_map.dm
  maps/junglestation.dm
  maps/virtual_z.dm
  vgstation13.dme
Owners: @Cyberboss

i should never see this code
  code/modules/food/recipes_microwave.dm
Owners: none
