Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

Fixed chemmask defines (#19726)
  code/modules/clothing/masks/chemmask.dm
Owners: none

Fixed duplicated jukebox defines (#19727)
  __DEFINES/jukebox.dm
  __DEFINES/setup.dm
  code/datums/wires/jukebox.dm
  code/modules/media/jukebox.dm
  code/modules/media/tapedeck.dm
  vgstation13.dme
Owners: none

Fixed conflicting simple_animal defines
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/hostile/wolf.dm
Owners: none

Unfuck overlay layer defines (#19728)
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/alien/humanoid/update_icons.dm
  code/modules/mob/living/carbon/monkey/update_icons.dm
Owners: none

#warning -> #warn, episode 2, season finale
  code/datums/feedback.dm
  code/defines/procs/biohazard_alert.dm
  code/modules/mob/living/simple_animal/borer.dm
  code/modules/randomMaps/vaults.dm
Owners: none

Fixed conflicting simple_animal defines (#19729)
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/hostile/wolf.dm
Owners: none

#warning -> #warn, episode 2, season finale (#19730)
  code/datums/feedback.dm
  code/defines/procs/biohazard_alert.dm
  code/modules/mob/living/simple_animal/borer.dm
  code/modules/randomMaps/vaults.dm
Owners: none

Role datums RoleTopic unfuck
  code/datums/gamemode/role/changeling.dm
  code/datums/gamemode/role/role.dm
  code/datums/gamemode/role/syndicate.dm
  code/datums/gamemode/role/vampire_role.dm
  code/game/gamemodes/changeling/changeling_powers.dm
Owners: none

Ghetto spacesuit helmets now have flashbang protection (again?)
  code/modules/clothing/spacesuits/rig.dm
Owners: none

Adds AI newLife and Death sounds
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/death.dm
  sound/machines/WXP_shutdown.ogg
  sound/machines/WXP_startup.ogg
Owners: @ShizCalev

Showcase stands can be (un)anchored with a wrench
  code/defines/obj.dm
  maps/RandomZLevels/unused/stationCollision.dmm
  maps/ministation.dmm
Owners: none

Body scanner can now be (un)anchored with a wrench
  code/game/machinery/adv_med.dm
Owners: none

Fixed deathnettle being consumed on failed attacks
  code/modules/hydroponics/grown_inedible.dm
Owners: none

broker
  code/game/jobs/job/whitelisted.dm
  code/modules/telesci/rcs.dm
Owners: none

Added chat message when hitting grilles
  code/game/objects/structures/grille.dm
Owners: none

Fixed deathnettle being consumed on failed attacks (#19739)
  code/modules/hydroponics/grown_inedible.dm
Owners: none

Showcase stands can be (un)anchored with a wrench (#19736)
  code/defines/obj.dm
  maps/RandomZLevels/unused/stationCollision.dmm
  maps/ministation.dmm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

grille/broken/New() calls parent
  code/game/objects/structures/grille.dm
Owners: none

sneaky coding
  code/game/machinery/adv_med.dm
Owners: none

aghost with matter synth
  code/game/machinery/antiquemattersynth.dm
Owners: none

grille/broken/New() calls parent (#19742)
  code/game/objects/structures/grille.dm
Owners: none

brain names
  code/modules/mob/living/carbon/brain/brain_item.dm
Owners: none

port cancelling
  code/modules/admin/topic.dm
Owners: none

vendor unlock
  code/game/machinery/vending.dm
Owners: none

[Role Datums] Scoreboard (#19692)
  code/datums/gamemode/dynamic/dynamic.dm
  code/datums/gamemode/factions/faction.dm
  code/datums/gamemode/factions/legacy_cult/cult.dm
  code/datums/gamemode/factions/syndicate/traitor.dm
  code/datums/gamemode/gamemode.dm
  code/datums/gamemode/role/role.dm
  code/game/gamemodes/gameticker.dm
  code/game/gamemodes/scoreboard.dm
  icons/effects/blood.dmi
  icons/logos.dmi
Owners: @ShizCalev, @WJohn

Cult 2.0 tweaks (#19694)
  code/datums/gamemode/factions/legacy_cult/cult.dm
  code/datums/gamemode/role/legacy_cultist.dm
Owners: none

vendor unlock (#19746)
  code/game/machinery/vending.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

port cancelling (#19745)
  code/modules/admin/topic.dm
Owners: none

brain names (#19744)
  code/modules/mob/living/carbon/brain/brain_item.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

aac fixed
  code/modules/atmos_automation/implementation/scrubbers.dm
  code/modules/atmos_automation/implementation/vent_pump.dm
Owners: none

soulblade
  code/datums/gamemode/factions/bloodcult/bloodcult_buildings.dm
  code/modules/mob/living/simple_animal/shade.dm
  icons/obj/cult.dmi
  icons/obj/cult_64x64.dmi
Owners: @ShizCalev, @WJohn

forge & spire
  code/_onclick/hud/radial.dm
  code/datums/gamemode/factions/bloodcult/bloodcult.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_buildings.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_runes.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_runespells.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_spells.dm
  code/datums/gamemode/factions/legacy_cult/cult_items.dm
  code/datums/gamemode/factions/legacy_cult/cult_structures.dm
  code/datums/gamemode/factions/legacy_cult/hell_universe.dm
  code/datums/gamemode/factions/legacy_cult/soulstone.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/machinery.dm
  code/game/machinery/vending.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/shuttle_engines.dm
  code/modules/admin/admin_verbs.dm
  code/modules/food/cooking_machines.dm
  code/modules/library/computers/base.dm
  code/modules/mining/surprises/tg.dm
  code/modules/mob/living/simple_animal/hostile/bat.dm
  code/modules/mob/living/simple_animal/hostile/creature.dm
  code/modules/mob/living/simple_animal/hostile/faithless.dm
  code/modules/power/lighting.dm
  code/modules/research/xenoarchaeology/machinery/artifact_analyser.dm
  code/modules/spells/aoe_turf/conjure/construct.dm
  code/modules/spells/spell_code.dm
  icons/effects/effects.dmi
  icons/mob/in-hand/left/swords_axes.dmi
  icons/mob/in-hand/right/swords_axes.dmi
  icons/obj/cult.dmi
  icons/obj/cult_64x64.dmi
  icons/obj/cult_radial.dmi
  sound/effects/forge.ogg
  sound/effects/forge_over.ogg
Owners: @ShizCalev, @WJohn

perforate
  code/_onclick/hud/hud.dm
  code/_onclick/hud/other_mobs.dm
  code/datums/alt_control.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_buildings.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  code/datums/gamemode/factions/legacy_cult/soulstone.dm
  code/datums/ui_icons.dm
  code/game/turfs/turf.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/living/simple_animal/shade_powers.dm
  code/modules/projectiles/projectile.dm
  icons/mob/screen1_shade_bars.dmi
  icons/mob/screen1_shade_fullscreen.dmi
  icons/mob/screen_spells.dmi
  icons/obj/cult.dmi
  icons/obj/cult_64x64.dmi
Owners: @ShizCalev, @WJohn

fixes
  code/datums/gamemode/factions/bloodcult/bloodcult.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  code/modules/mob/living/simple_animal/shade_powers.dm
Owners: none

mend boil
  code/_onclick/hud/other_mobs.dm
  code/datums/alt_control.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/living/simple_animal/shade_powers.dm
  code/modules/research/xenoarchaeology/finds/finds.dm
  icons/mob/belt.dmi
  icons/mob/belt_mirror.dmi
  icons/mob/screen1_shade.dmi
  icons/mob/screen_spells.dmi
  vgstation13.dme
Owners: @ShizCalev, @WJohn

fix conflicts
  icons/logos.dmi
Owners: @ShizCalev, @WJohn

conflicts duh
  code/datums/gamemode/factions/bloodcult/bloodcult_items.dm
  icons/obj/cult_64x64.dmi
  maps/test_box.dmm
Owners: @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn
