Repository vgstation-coders/vgstation13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ChangelingRain, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev, @WJohn

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# ChangelingRain

/code/__DEFINES/clockcult.dm @ChangelingRain
/code/datums/antagonists/datum_clockcult.dm @ChangelingRain
/code/game/gamemodes/blob/ @ChangelingRain
/code/game/gamemodes/clock_cult/ @ChangelingRain
/code/game/gamemodes/miniantags/revenant/ @ChangelingRain
/code/game/objects/effects/temporary_visuals/ @ChangelingRain
/code/modules/reagents/chemistry/reagents/blob_reagents.dm @ChangelingRain

# Cyberboss

/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/icons/ @ShizCalev @WJohn

Chemical storage
  code/modules/research/rdconsole.dm
  nano/templates/rndconsole.tmpl
Owners: none

Line cutdown
  nano/templates/rndconsole.tmpl
Owners: none

DA variables
  code/modules/research/rdconsole.dm
Owners: none

override
  __DEFINES/__compile_options.dm
Owners: none

scoreboard and remove debug hud element
  code/_onclick/mindUI/bloodcult/cultist.dm
  code/datums/gamemode/factions/bloodcult/bloodcult.dm
Owners: none

syntax
  code/datums/gamemode/factions/bloodcult/bloodcult.dm
Owners: none

oh
  code/datums/gamemode/factions/bloodcult/bloodcult_buildings.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_rituals.dm
Owners: none

Deconstructive analyzer menu
  code/modules/research/rdconsole.dm
  nano/templates/rndconsole.tmpl
Owners: none

stashed changes
  code/datums/gamemode/factions/bloodcult/bloodcult.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_buildings.dm
  code/datums/gamemode/factions/bloodcult/bloodcult_rituals.dm
  code/datums/gamemode/role/cultist.dm
Owners: none

Simplifying some menus
  code/modules/research/rdconsole.dm
  nano/templates/rndconsole.tmpl
Owners: none

fix warning
  code/datums/gamemode/role/cultist.dm
Owners: none

Holy Hand Grenade Plays Song before Boom
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

Compile fix
  code/modules/research/rdconsole.dm
Owners: none

Update Chemistry-Recipes.dm
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

Revert "borg banned spiderbots"
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
Owners: none

volume pump icons
  code/ATMOSPHERICS/components/binary_devices/volume_pump.dm
Owners: none

Re-adds metroids.
  code/modules/mob/living/carbon/metroid/death.dm
  code/modules/mob/living/carbon/metroid/emote.dm
  code/modules/mob/living/carbon/metroid/examine.dm
  code/modules/mob/living/carbon/metroid/extractSubtypes.bat
  code/modules/mob/living/carbon/metroid/hud.dm
  code/modules/mob/living/carbon/metroid/life.dm
  code/modules/mob/living/carbon/metroid/login.dm
  code/modules/mob/living/carbon/metroid/metroid.dm
  code/modules/mob/living/carbon/metroid/parseSubtypes.py
  code/modules/mob/living/carbon/metroid/powers.dm
  code/modules/mob/living/carbon/metroid/say.dm
  code/modules/mob/living/carbon/metroid/subtypes.dm
  code/modules/mob/living/carbon/metroid/subtypes/adamantine.dm
  code/modules/mob/living/carbon/metroid/subtypes/black.dm
  code/modules/mob/living/carbon/metroid/subtypes/blue.dm
  code/modules/mob/living/carbon/metroid/subtypes/bluespace.dm
  code/modules/mob/living/carbon/metroid/subtypes/cerulean.dm
  code/modules/mob/living/carbon/metroid/subtypes/darkblue.dm
  code/modules/mob/living/carbon/metroid/subtypes/darkpurple.dm
  code/modules/mob/living/carbon/metroid/subtypes/electric.dm
  code/modules/mob/living/carbon/metroid/subtypes/gold.dm
  code/modules/mob/living/carbon/metroid/subtypes/green.dm
  code/modules/mob/living/carbon/metroid/subtypes/grey.dm
  code/modules/mob/living/carbon/metroid/subtypes/lightpink.dm
  code/modules/mob/living/carbon/metroid/subtypes/metal.dm
  code/modules/mob/living/carbon/metroid/subtypes/oil.dm
  code/modules/mob/living/carbon/metroid/subtypes/orange.dm
  code/modules/mob/living/carbon/metroid/subtypes/pink.dm
  code/modules/mob/living/carbon/metroid/subtypes/purple.dm
  code/modules/mob/living/carbon/metroid/subtypes/pyrite.dm
  code/modules/mob/living/carbon/metroid/subtypes/red.dm
  code/modules/mob/living/carbon/metroid/subtypes/sepia.dm
  code/modules/mob/living/carbon/metroid/subtypes/silver.dm
  code/modules/mob/living/carbon/metroid/subtypes/yellow.dm
  code/modules/mob/living/carbon/metroid/update_icons.dm
  icons/mob/metroids.dmi
Owners: @ShizCalev, @WJohn

Examine messages
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/mob.dm
Owners: none

Rewrite
  code/modules/mob/mob.dm
Owners: none

Radio headset sounds
  __DEFINES/preferences.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  sound/effects/radio_chatter.ogg
Owners: @ShizCalev

Aminoblatella, a cockroach-flavoured member of the Aminomicin family. (#32312)
  __DEFINES/reagents.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Recipes.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Typos
  code/modules/research/rdconsole.dm
Owners: none

Makes this more flexible
  code/modules/research/rdconsole.dm
  nano/templates/rndconsole.tmpl
Owners: none

Two singularities in the world can link on some occasions (#32193)
  code/game/objects/items.dm
  code/game/objects/objs.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/power/singularity/singularity.dm
  code/modules/telesci/bscrystal.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Prevent event trigger when few players (#32285)
  code/modules/events/event_dynamic.dm
  code/modules/events/event_manager.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Admin-only custom proc call reagent: Procizine (#32337)
  __DEFINES/reagents.dm
  code/game/machinery/scp_294.dm
  code/game/objects/items/trader.dm
  code/modules/admin/admin_verbs.dm
  code/modules/projectiles/guns/procgun.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  code/modules/reagents/reagent_containers/pill.dm
Owners: none

Fixed a bug that caused the whisper for prayers to be delayed by a few seconds (#32349)
  code/modules/ext_scripts/discord.dm
  code/modules/ext_scripts/irc.dm
Owners: none

fixes vox hairs not setting properly on vox monkeymen (#32355)
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/mob/hair_styles.dmi
Owners: @ShizCalev, @WJohn

Update say.dm (#32360)
  code/modules/mob/living/say.dm
Owners: none

Fixed a bug that made the all-in-one grinder always consume all stacks (#32361)
  code/modules/reagents/machinery/reagentgrinder.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

clowns can pull out funny objects when digging in a surgical incision (#32368)
  code/game/objects/items/toys.dm
  code/modules/organs/organ_external.dm
  code/modules/surgery/implant.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

borg banned spiderbots (#32385)
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
Owners: none

[ci skip] Automatic changelog update.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Update code/ATMOSPHERICS/components/binary_devices/valve.dm
  code/ATMOSPHERICS/components/binary_devices/valve.dm
Owners: none

fix ais not being able to toggle digital valves (#32386)
  code/ATMOSPHERICS/components/binary_devices/valve.dm
Owners: none
